<head>
        <title>
        </title>
        <!-- Latest compiled and minified CSS -->
        <style>
    #mytable {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    #mytable td, #mytable th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    #mytable tr:nth-child(even){background-color: #f2f2f2;}
    #mytable tr:hover {background-color: #ddd;}
    #mytable th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #69051e;
      color: white;
    }
    .button {
      background-color: #69051e; 
      border: none;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 1px 1px;
      cursor: pointer;
      border-radius: 3px;
    }
    </style>
    </head>
    <body>
    <center>
    <div><img src="http://cyrocal.xyz/cyronics_iot_logo.png" style="height:40px"></div>
    <center></div><br><h3 style="text-align:center;"> Shift Performance Report(SPR) for 31-01-2021(SHIFT - B)</h3><br></center><center><div class="container" style="width:300px" ><table id="mytable"><tr><th > MACHINE </th><th > REPORT </th></tr><tr><td>JSW 350T</td><td><a href="http://65.0.90.213/SPR_view/31-01-2021/B/JSW 350T"><button type="button" class="button">VIEW</button></a></td></tr><tr><td>JSW 650T</td><td><a href="http://65.0.90.213/SPR_view/31-01-2021/B/JSW 650T"><button type="button" class="button">VIEW</button></a></td></tr><tr><td>JSW 550T-II</td><td><a href="http://65.0.90.213/SPR_view/31-01-2021/B/JSW 550T-II"><button type="button" class="button">VIEW</button></a></td></tr><tr><td>JSW 450T-II</td><td><a href="http://65.0.90.213/SPR_view/31-01-2021/B/JSW 450T-II"><button type="button" class="button">VIEW</button></a></td></tr><tr><td>JSW 550T-I</td><td><a href="http://65.0.90.213/SPR_view/31-01-2021/B/JSW 550T-I"><button type="button" class="button">VIEW</button></a></td></tr><tr><td>JSW 450T-III</td><td><a href="http://65.0.90.213/SPR_view/31-01-2021/B/JSW 450T-III"><button type="button" class="button">VIEW</button></a></td></tr><tr><td>JSW 450T</td><td><a href="http://65.0.90.213/SPR_view/31-01-2021/B/JSW 450T"><button type="button" class="button">VIEW</button></a></td></tr></table></div></center></body>
