{% extends "template.html" %}

{% block content %}

<style type="text/css">
  
.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}
</style>




<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
			    <div class="col-md-4" >

<div class="card text-end" style="width: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: 20px;">
	 <div class="card-header card text-dark bg-light mb-3 "><h5 class="card-title">LIVE</h5></div>
 
    <div class="table-responsive">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Forklifts</th>
      <th scope="col">Status</th>
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Forklift 1</th>
      <td>Live</td>
    
     
    </tr>
    <tr>
      <th scope="row">Forklift 2</th>
      <td>Idle</td>
      
     
    </tr>
    <tr>
      <th scope="row">Forklift 3</th>
      <td>Live</td>
   
    </tr>
  </tbody>

</table>
   </div>

</div>

<div class="card text-end" style="width: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: 20px;">
	 <div class="card-header"><h5 class="card-title">Stores</h5></div>
  <div class="card-body">

 <div class="table-responsive">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Forklifts</th>
      <th scope="col">Status</th>
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Forklift 1</th>
      <td>Live</td>
    
     
    </tr>
    <tr>
      <th scope="row">Forklift 2</th>
      <td>Idle</td>
      
     
    </tr>
    <tr>
      <th scope="row">Forklift 3</th>
      <td>Live</td>
   
    </tr>
  </tbody>

</table>
   </div>



    
  </div>
</div>

<div class="card text-end" style="width: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: 20px;">
	<div class="card-header"><h5 class="card-title">Dispatch</h5></div>
  <div class="card-body">
   
   <div class="table-responsive">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Forklifts</th>
      <th scope="col">Status</th>
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Forklift 1</th>
      <td>Live</td>
    
     
    </tr>
    <tr>
      <th scope="row">Forklift 2</th>
      <td>Idle</td>
      
     
    </tr>
    <tr>
      <th scope="row">Forklift 3</th>
      <td>Live</td>
   
    </tr>
  </tbody>

</table>
   </div>

   
  </div>
</div>


				</div>
				<div class="col-md-8">

            
   <div id="map" style="height: 60vh;"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
   

				</div>
				
			</div>
		</div>
	</div>
</div>

 <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.google.com/maps/api/js?libraries=&key=AIzaSyBdPjJAJf-Wd9pUDKgZ35gpY3g6rPWb8e0"></script>
        <script type="text/javascript">
      // let map;
// function initMap() {
//   map = new google.maps.Map(document.getElementById("map"), {
//     center: { lat: 18.5488, lng: 73.8276 },
//     zoom: 14,
//   });
// }

let map, infoWindow;

const iconBase =
    "static/img/";
  const icons = {
      icon: iconBase + "forklift.png",
    };

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 18.5488, lng: 73.8276},
    zoom: 6,
  });


  infoWindow = new google.maps.InfoWindow();
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
        	console.log(position);
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };
          addMarker(pos.lat, pos.lng, '')
          function addMarker(lat, lng, info) {
            var pt = new google.maps.LatLng(lat, lng);
            new google.maps.Marker({
              position: pt,
              icon: icons.icon,
              map,
              title: "",
            });
          //   infoWindow.setPosition(pt);
          // infoWindow.setContent("Location found.");
          // infoWindow.open(map);
            map.setCenter(pt);
            map.setZoom(30);
          }
          // infoWindow.setPosition(pos);
          // infoWindow.setContent("Location found.");
          // infoWindow.open(map);
          // map.setCenter(pos);
        },
        () => {
          handleLocationError(true, infoWindow, map.getCenter());
        }
      );
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  // });
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(
    browserHasGeolocation
      ? "Error: The Geolocation service failed."
      : "Error: Your browser doesn't support geolocation."
  );
  infoWindow.open(map);
}


// function addMarker(lat, lng, info) {
//   var pt = new google.maps.LatLng(lat, lng);
//   bounds.extend(pt);
// }

window.onload = function() {
initMap();
console.log("HELLO")
};
    </script>  
{% endblock %}