{% extends "template.html" %}

{% block content %}






<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
			    <div class="col-md-4">
				</div>
				<div class="col-md-8">
				</div>
				
			</div>
		</div>
	</div>
</div>
{% endblock %}