{% extends "template.html" %}
{% block content %}

	<style>

:root {
  --windows-blue: #365ec8;
  --bluish: #3091c9;
  --warm-blue: #5460dc;
  --white: #ffffff;
  --dusk-blue: #28499f;
  --bluey-grey: #85a5c2;
  --light-sky-blue: #d4e3f0;
  --lipstick: #bb166b;
  --bluish-grey-20: rgba(115, 137, 156, 0.2);
  --topaz: #16b8bb;
  --aquamarine: #00d7af;
  --metallic-blue: #546593;
  --bluish-grey: #73899c;
  --very-light-pink: #d7d7d7;
  --gray-medium: rgba(205, 205, 210, 0.5);
  --text: #77777a;
  ---style: #002251;
}
	
	
.CARD_HEADER_FONT {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.93px;
  text-align: center;
  color: var(--windows-blue);
}
.Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
  .Alert-font {
  font-family: Manrope;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.61;
  letter-spacing: 0.38px;
  color: var(--dusk-blue);
}

.form-control.base {
  border-radius: 5px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  background-color: #fbfbfb;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--windows-blue)
  
  }

.form-control.base::-webkit-input-placeholder {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--windows-blue);
   border:none;
}	


table.dataTable thead {
    background-color: var(--dusk-blue);
    font-family: Manrope;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: 0.38px;
    color: var(--white);
  }

table.dataTable tbody,table.dataTable select{
    width: 136px;
    height: 11px;
    font-family: Manrope;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.33px;
    color: var(--windows-blue);
  }

  
  div.dataTables_filter label,div.dataTables_length label,div.dataTables_length select,div.dataTables_info,div.dataTables_paginate,div.dataTables_paginate_button{
    font-family: Manrope;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.33px;
    color: var(--windows-blue);
  }
	</style>
 




<div class="row no-gutters  mg-t-10 justify-content-end">
        
       <div class="d-flex flex-row-reverse ">

       <!-- <button onclick="download_csv()">Download CSV</button> -->
        <button class="btn btn-sm Rectangle "  onclick="download_csv()" id="download_csv">Export CSV</button>&nbsp;&nbsp;
       

      </div>
	  
	   <!-- onClick="showAndroidToast_download('Start Task!')" -->
	  <script type="text/javascript">
    
    function showAndroidToast_download(toast) {
        Download.showToast(toast);
    }

	</script>

</div>

<div class="row no-gutters  mg-t-10">

<div class="col-12 col-lg-6 p-2 mg-2">

  <div class="row pd-10">

         <div class="col-3 Alert-font">
         From 
       </div>
          <div class="form-group col-9 ">
         
          <input type="date" class="form-control base" id="dateMask_old" placeholder="dd/MM/YYYY">
          </div>

          <div class="col-3 Alert-font">
           To 
         </div>
      
        <div class="form-group col-9">

        <input type="date" id="dateMask" class="form-control base" placeholder="dd/MM/YYYY">
      </div>
      <div class="col-12">
     
       <button class="btn btn-block Rectangle"  type="button" value="dateMask" onclick="date_wise(this)">SEARCH </button>
     </div>  

</div>      

         
</div>  
</div>    
      
      <div class="d-flex justify-content-end">
        <span class="tx-danger" id="warning"></span>
    </div>
      <hr>
      <div class="card">
          <div class="card-header CARD_HEADER_FONT ">
            ATTENDANCE  RECORDS
          </div><!-- card-header -->
          <div class="card-body ht-lg-350" style="overflow: scroll;">
          <div class="row">
          <div class="col-12">

            <table id="example" class="display text-dark" width="100%"></table>


          </div>
          </div>   
          </div>
      </div>
    </div>
</div> 

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-header CARD_HEADER_FONT ">
            Declaration Details
          </div><!-- card-header -->
            
      <div  id="card_body_html">
      
      
      
      
        
      
      </div>


              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-block Rectangle" data-dismiss="modal">CLOSE</button>
        </div>
      </div>
    </div>
  </div>
 
<link href="  https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" rel="stylesheet">

  <link href="{{url_for('static',filename='lib1/jt.timepicker/jquery.timepicker.css')}}" rel="stylesheet">
  <script src="{{url_for('static',filename='lib/jt.timepicker/jquery.timepicker.js')}}"></script>
  <script src="{{url_for('static',filename='lib/jquery.maskedinput/jquery.maskedinput.js')}}"></script>
  
  


  


<script>
  
  

var socket=io.connect('http://'+document.domain+":"+location.port)
//$('#dateMask').mask('99/99/9999');
$.fn.dataTableExt.sErrMode = 'throw' //this line of code to prevent warning dialog by datatable

var main_array=[];

socket.on("filename",function(filename){

console.log(filename);
showAndroidToast_download(filename);


});

socket.on("reciv_attendance",function(dataSet){

  console.log(dataSet);
  
  for(var k =0;k<dataSet.length;k++){
   sub_array=[]
   sub_array.push(dataSet[k][0]) 
   sub_array.push(dataSet[k][1])
   sub_array.push(dataSet[k][2])
   sub_array.push(dataSet[k][3]) 
   sub_array.push(dataSet[k][4]) 

   sub_array.push(dataSet[k][6]) 
   sub_array.push(dataSet[k][7])
   sub_array.push(dataSet[k][8])
   sub_array.push(dataSet[k][9])
   sub_array.push(dataSet[k][10])
   

   main_array.push(sub_array)

  }
 

    $('#example').DataTable( {
        responsive: true,
        data: dataSet,
        destroy: true,
        "order": [[ 1, "desc" ]],
        

        columns: [
            { title: "Employee Name" },
            { title: "Employee Number" },
            
            { title: "Date" },
            { title: "Time" },
            { title: "Employee Type" },
            { title: "Employee ID" },

            { title: "Epass Status" },

            { title: "Temperature" },
            { title: "Attendance" },
            { title: "View" },
            { title: "Action" },

        ]
    } );


})



 
$(document).ready(function() {
    socket.emit("attendance_data",'null')
} );


function modal_fun(x){
	var date = document.getElementById("dateMask").value;
    socket.emit("modal_attendance",{"number" : String(x.value),"date": date} )
}

function freeze(x){
  x.classList.remove("btn-primary");
  x.classList.add("btn-danger");
  x.innerHTML = "UNFREEZE";
  x.onclick = function() { unfreeze(x);}
  console.log("Freezing " + String(x.value) )
  socket.emit("freeze_account",{"number" : String(x.value)} )
}

function unfreeze(x){
  x.classList.remove("btn-danger");
  x.classList.add("btn-primary");
  x.innerHTML = "FREEZE";
  x.onclick = function() { freeze(x);}
  console.log("Unfreezing " + String(x.value) )
  
  socket.emit("unfreeze_account",{"number" : String(x.value)} )

}


 function toDate(dateStr) {

  var parts = dateStr.split("/")
  console.log("----------")
  console.log(new Date());
   //document.getElementById("dateMask_old").value = "2014-02-09" ;
  console.log("----------")
  return new Date(parts[2], parts[1] - 1, parts[0])
}

socket.on("set_date",function(data){

console.log(data)

document.getElementById("dateMask").value = data["to_date"]
document.getElementById("dateMask_old").value = data["from_date"]

  toDate(data["from_date"]);
//	document.getElementById("dateMask").value = toDate(data["to_date"]);


});




socket.on("modal_data",function(data){


// Old Sign Ups
if ("redzone" in data ){


                inner_html = "";
                inner_html += '<form>';
               inner_html += ' <div class="form-group tx-black">';
                 inner_html += ' <div class= "pb-2">1. Have you experienced fever since yesterday ? </div>';
                  inner_html += '<div class="col-12 form-check ">';
                   inner_html += ' <input class="form-check-input" type="radio" name="exampleRadios" id="fever_no" value="option1" disabled="disabled">';
                   inner_html += ' <label class="form-check-label" for="exampleRadios1">';
                  inner_html += 'No';
                    inner_html += '</label>';
                  inner_html += '</div>';
                  inner_html += '<div class=" col-12 form-check">';
                    inner_html += '<input class="form-check-input" type="radio" name="exampleRadios" id="fever_yes" value="option2"  disabled="disabled">';
                    inner_html += '<label class="form-check-label" for="exampleRadios2">';
                      inner_html += 'Yes';
                    inner_html += '</label>';
                  inner_html += '</div>';
                                              
              inner_html += '</div>';
              
             inner_html += '   <hr>';

                inner_html += ' <div class="form-group tx-black">';
                  inner_html += '<div class= "pb-2">2. Have you experienced cough since yesterday ?</div>';
                  inner_html += '<div class="col-12 form-check ">';
                   inner_html += ' <input class="form-check-input" type="radio" name="exampleRadios11" id="cough_no" value="option1" disabled="disabled">';
                   inner_html += ' <label class="form-check-label" for="exampleRadios1">';
                  inner_html += 'No';
                   inner_html += ' </label>';
                 inner_html += ' </div>';
                  inner_html += '<div class=" col-12 form-check">';
                  inner_html += '  <input class="form-check-input" type="radio" name="exampleRadios11" id="cough_yes" value="option2" disabled="disabled">';
                   inner_html += ' <label class="form-check-label" for="exampleRadios2">';
                   inner_html += '   Yes';
                   inner_html += ' </label>';
                  inner_html += '</div>';
                                              
              inner_html += '</div>';
                inner_html += '<hr>';
                
              inner_html += '   <div class="form-group tx-black">';
                inner_html += '  <div class= "pb-2">3. Have you experienced difficulty in breathing since yesterday ?</div>';
                 inner_html += ' <div class="col-12 form-check ">';
                  inner_html += '  <input class="form-check-input" type="radio" name="exampleRadios22" id="breathing_no" value="option1" disabled="disabled">';
                   inner_html += ' <label class="form-check-label" for="exampleRadios1">';
                  inner_html += 'No';
                   inner_html += ' </label>';
                  inner_html += '</div>';
                  inner_html += '<div class=" col-12 form-check">';
                    inner_html += '<input class="form-check-input" type="radio" name="exampleRadios22" id="breathing_yes" value="option2" disabled="disabled">';
                    inner_html += '<label class="form-check-label" for="exampleRadios2">';
                      inner_html += 'Yes';
                    inner_html += '</label>';
                  inner_html += '</div>';
                                              
              inner_html += '</div>';
                inner_html += '<hr>';
                
               
                
              inner_html += '   <div class="form-group tx-black">';
                 inner_html += ' <div class= "pb-2">4. Have you been to red-containment zone since yesterday ?</div>';
               inner_html += '   <div class="col-12 form-check ">';
                 inner_html += '   <input class="form-check-input" type="radio" name="exampleRadios33" id="redzone_no" value="option1" disabled="disabled">';
                    inner_html += '<label class="form-check-label" for="exampleRadios1">';
                 inner_html += ' No';
                    inner_html += '</label>';
                  inner_html += '</div>';
                  inner_html += '<div class=" col-12 form-check">';
                   inner_html += ' <input class="form-check-input" type="radio" name="exampleRadios33" id="redzone_yes" value="option2" disabled="disabled">';
                   inner_html += ' <label class="form-check-label" for="exampleRadios2">';
                      inner_html += 'Yes';
                    inner_html += '</label>';
                  inner_html += '</div>';
                                              
             inner_html += ' </div>';
               inner_html += ' <hr>';
                
                
                  inner_html += ' </form>';


document.getElementById("card_body_html").innerHTML = inner_html ;


    temp_dict = {
        'redzone':['redzone_no','redzone_yes'],
        'breathing':['breathing_no','breathing_yes'],
        'cough':['cough_no','cough_yes'],
        'fever':['fever_no','fever_yes'],
        }
        console.log(data)
    for(key in data){  
      
    if(data[key] == "no"){
        console.log(data[key])
        document.getElementById(temp_dict[key][0]).checked = true;
    }
  if (data[key] == "yes" ){
        document.getElementById(temp_dict[key][1]).checked = true;
    }

    
    }
  }


  else{



    dataSet = data ;
    console.log(dataSet);

  //global_dataset = dataSet;
    inner_html = "";
  for(var question_counter=0 ; question_counter < dataSet.length ; question_counter++){
    
    var data = dataSet[question_counter]['question'];
    //console.log(data);
  
    
    if(data['type']=='Options'){
    
    number = question_counter +1 ;
    inner_html += '<div class="form-group ">' ; 
    inner_html += '<label for="scan_unit" class="Have-you-experien">'+ number  + ". " + data['que'] + '</label>' ;
    
    for (var i= 0;i<data['options'].length ; i++){
    
    inner_html += '<div class="form-check pl-5">' ;
    if (data["correct/better_option"] == data['options'][i]){ 
      inner_html += '<input class="form-check-input '+data['q_id'] +'" type="radio" name="'+data['q_id'] +'" value="'+data['options'][i] +'" checked disabled> ';  
    }
    else {
      inner_html += '<input class="form-check-input '+data['q_id'] +'" type="radio" name="'+data['q_id'] +'" value="'+data['options'][i] +'"  disabled> ';
    }
    inner_html += '<label class="form-check-label Have-you-experien"> '+ data['options'][i]  ; 
    inner_html += '</label>' ; 
    inner_html += '</div>' ;
    
    }
  
    inner_html += '</div>'; 
    
    
    inner_html += '</div>';
    inner_html += '<hr class="hr_style" >' ;

    }
    
    else if(data['type']=='Single Entry'){
    
     number = question_counter +1 ;
    inner_html += '<div class="form-group ">' ; 
    inner_html += '<label for="scan_unit" class="Have-you-experien">'+ number  + ". " + data['que'] + '</label>' ;
    
    inner_html += '<div class="form-group">' ;
    inner_html += '<input type="text" class="form-control" id="'+ data['q_id']+' " readonly>' ; 
    inner_html += '</div>';
    
    
    inner_html += '</div>'; 
    
   
    
    inner_html += '</div>';
    inner_html += '<hr class="hr_style" >' ;
    
  
    
    }
  
    else if(data['type']=='Multiple_Options'){
    
    //console.log(data);
    
    number = question_counter + 1 ;
    inner_html += '<div class="form-group ">' ; 
    inner_html += '<label for="scan_unit" class="Have-you-experien">'+ number  + ". " + data['que'] + '</label>' ;
    
    for (var i= 0;i<data['options'].length ; i++){
    
    inner_html += '<div class="form-check pl-5">' ;
    
    
    var flag = 0; 
    for(var j=0 ; j < data["correct/better_option"].length ; j++ ) {
      if (data["correct/better_option"][j] == data['options'][i]){  
        flag = 1; 
        console.log(data["correct/better_option"][j]);
      }
    }
    
      if (flag == 1 ){  
        inner_html += '<input class="form-check-input '+data['q_id'] +'" type="checkbox" name="'+data['q_id'] +'" value="'+data['options'][i] +'" checked disabled> '; 
        
      }
      else {
        inner_html += '<input class="form-check-input '+data['q_id'] +'" type="checkbox" name="'+data['q_id'] +'" value="'+data['options'][i] +'" disabled> ';
      }
    
    
    inner_html += '<label class="form-check-label Have-you-experien"> '+ data['options'][i]  ; 
    inner_html += '</label>' ; 
    inner_html += '</div>' ;
    
    }
    
    inner_html += '</div>'; 
    
    

    }
  
}

//console.log(inner_html);
//inner_html += ' <button type="button" onclick=get_changes() class="btn btn-secondary  btn-block"> Save </button>' ;   
document.getElementById("card_body_html").innerHTML = inner_html ;




  }

});


/*
function date_wise(x){
  input = (document.getElementById(x.value).value)
  pattern = /(((0|1)[0-9]|2[0-9]|3[0-1])\/(0[1-9]|1[0-2])\/((19|20)\d\d))$/;

  if(pattern.test(input)){
    socket.emit("date_wise_attendance",input)
    document.getElementById("warning").innerText= ""
  }else{
    document.getElementById("warning").innerText= "Please Insert Correct Date!"
  }

}*/

function date_wise(){
  to_date = document.getElementById("dateMask").value 
  from_date = document.getElementById("dateMask_old").value
  console.log({"to_date":to_date,"from_date":from_date})
  socket.emit("attendance_data",{"to_date":to_date,"from_date":from_date})
}




//fun create csv file

 
function download_csv() {

var table = $('#example').DataTable();
 
var plainArray = table.data().toArray();
	
console.log(plainArray)
	
socket.emit("attendance_data_csv",plainArray);

	/*var csv = 'Name,Date,Time,Type,Epass Status,Temperature,Attendance \n';
	
	for (var j=0;j<plainArray.length;i++){
		for (var i=0;i<7;i++){
			csv += plainArray[j][i]
			csv +=","
		}
		csv += ","
	}
	console.log(csv); */
    /*var csv = 'Name,Date,Time,Type,Epass Status,Temperature,Attendance \n';
    main_array.forEach(function(row) {
            csv += row.join(',');
            csv += "\n";
    });
	
  //alert(csv);
    console.log(csv);
    var hiddenElement = document.createElement('a');
    hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
    hiddenElement.target = '_blank';
    hiddenElement.download = 'Attendance.csv';
    hiddenElement.click();*/
}

</script>




{% endblock %}