{% extends "template.html" %}

{% block content %}



<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
   .Rectangle_without_color {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  
  }

</style>
  

          
          
    

  

      <div class="card mg-t-20 ">
          
          
          
          <div class="card-body ">
           
           <!-- ====================== Row Start ================================== -->
          <div class='row '>

           

          <div class='col-lg-4 col-md-12'>
            
                <div class="form-group">
                <label for="ORDER NUMBER (RIGHT)" class="tx-black">Order Number (Right)</label>
                <input type="text" class="form-control form-control-sm" id='ORDER NUMBER (RIGHT)' placeholder="-" readonly>
               </div>
          
          </div>

           <div class='col-lg-4 col-md-12'>
            
                <div class="form-group">
                <label for="ORDER NUMBER (LEFT)" class="tx-black">Order Number (Left)</label>
                <input type="text" class="form-control form-control-sm" id='ORDER NUMBER (LEFT)' placeholder="-" readonly>
               </div>
          
          </div>

          <div class='col-lg-4 col-md-12 '>
            
                <div class="form-group">
                <label for="console" class="tx-black"> Status </label>
                <div class="btn btn-sm Retangle btn-primary btn-block" id="console"> Status : -- </div>
               </div>
          
          </div>
  
          
          </div>
      <!-- ====================== Row End ================================== -->
              
          <div class='row '>

            <div class='col-lg-4 col-md-12'>
            
                <div class="form-group">
                <label for="machine_name" class="tx-black">Machine Name</label>
                <input type="text" class="form-control form-control-sm" id='machine_name' placeholder="-" readonly>
               </div>
          
          </div>

          <div class='col-lg-4 col-md-12'>
            
                <div class="form-group">
                <label for="part_number" class="tx-black">Part Number</label>
                <input type="text" class="form-control form-control-sm" id='part_number' placeholder="-" readonly>
               </div>
          
          </div>

          <div class='col-lg-4 col-md-12 '>
            
                <div class="form-group">
                <label for="number_of_cavities" class="tx-black"> Number of Cavities </label>
               <input type="text" class="form-control form-control-sm" id='number_of_cavities' placeholder="-" readonly>
               </div>
          
          </div>
  
          
          </div>


      
         <!-- ====================== Row End ================================== -->


      <div class='row '>

            <div class='col-lg-4 col-md-12'>
            
                <div class="form-group">
                <label for="model" class="tx-black">Model</label>
                <input type="text" class="form-control form-control-sm" id='model' placeholder="-" readonly>
               </div>
          
          </div>

          <div class='col-lg-4 col-md-12'>
            
                <div class="form-group">
                <label for="part_name" class="tx-black">Part Name</label>
                <input type="text" class="form-control form-control-sm" id='part_name' placeholder="-" readonly>
               </div>
          
          </div>

          <div class='col-lg-4 col-md-12 '>
            
                <div class="form-group">
                <label for="part_weight" class="tx-black"> Part Weight (G) </label>
               <input type="number" class="form-control form-control-sm" id='part_weight' placeholder="-" >
               </div>
          
          </div>
  
          
          </div>

   <!-- ====================== Row End ================================== -->


    
       



           <div class='row pt-2 pb-2'>
      
            
          <div class='col-lg-4 col-md-12'>
           <button id="submit_availability" class="btn btn-block Rectangle" onclick="save_details()">SAVE</button>
          <small id="button_help"> </small>
              </div>
            
         </div>   
         
         <hr>
         <div class="pb-3 pt-3">
                  <div class="tx-dark tx-15 tx-bold"> ENERGY CONSUMPTION DETAILS </div>
              </div>

         
        <div class='row '>

            <div class='col-lg-4 col-md-12'>
            
                <div class="form-group">
                <label for="energy_start" class="tx-black">ENERGY START (KWH) </label>
                <input type="number" step="any" class="form-control form-control-sm" id='energy_start' placeholder="-">
               </div>
          
          </div>

          <div class='col-lg-4 col-md-12'>
            
                <div class="form-group">
                <label for="energy_end" class="tx-black">ENERGY END (KWH)</label>
                <input type="number" step="any" class="form-control form-control-sm" id='energy_end' placeholder="-">
               </div>
          
          </div>

          <div class='col-lg-4 col-md-12 '>
          
          <div class="form-group">
                <label for="energy_difference" class="tx-black">DIFFERENCE (KWH)</label>
                <input type="number"  step="any" class="form-control form-control-sm" id='energy_difference' placeholder="-" readonly>
               </div>


          </div>          
        </div> 

        <div class='row pt-2 pb-2'>

         <div class='col-lg-4 col-md-12'>
          <button id="energy_button" class="btn btn-block Rectangle" onclick="add_energy_details()">SAVE</button>
          <small id="energy_console"> </small>
              </div>

        </div>

       

         <div class='row pt-2 pb-2'>
      
            
          <div class='col-lg-12 col-md-12'>

          <table id = "energy_table" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%">
          <thead class = "bg-dark tx-white">
            <tr>
              <th>ENERGY START</th>
              <th>ENERGY STOP</th>
              <th>ENERGY DIFFERENCE</th>
              <th>TIMESTAMP</th>
          </tr></thead>
          <tbody id="energy_table_body">
            
            


          </tbody>
          </table> 
          </div>
            
         </div>   


          <hr>


               
          </div><!-- card-body -->
        </div><!-- card -->




			     



        <div class="card mg-t-5">
          
  
          <div class="card-body ">

          	<div class='row'>

           
           <!-- ====================== Row Start ================================== -->


           <div class='col-lg-4  col-12 '>
            <center>

                <div class="card" style="width: 18rem;border-radius: 5px; box-shadow: 0 2px 6px 0 var(--bluish-grey); ">
                  <div class="card-body">
                    <center>
                    <div class="card-title tx-15">ACTUAL SHOTS</div>
                    <hr>
                    <span id="actual_shots" class="tx-primary card-text tx-100">--</span>
                   </center>
                  </div>
                </div>


            <!-- <span id="actual_shots"> --- </span> --> 
				    <!-- <div class=" col-12 pb-5 tx-100 tx-primary"> -->
			 	    <!-- </div> -->
          </center>
           </div><!-- card-body -->

           
           <div class='col-lg-4  col-12 '>
              <center>
                <div class="card" style="width: 18rem;border-radius: 5px; box-shadow: 0 2px 6px 0 var(--bluish-grey); ">
                  <div class="card-body">
                    <center>
                    <div class="card-title tx-15">IDEAL SHOTS</div>
                    <hr>
                    <span id="ideal_shots" class="tx-primary card-text tx-100">--</span>
                   </center>
                  </div>
                </div>
              </center>

            <!-- <span id="actual_shots"> --- </span> --> 
            <!-- <div class=" col-12 pb-5 tx-100 tx-primary"> -->
            <!-- </div> -->
           </div><!-- card-body -->

           <div class='col-lg-4  col-12 '>
              <center>
                <div class="card" style="width: 18rem;border-radius: 5px; box-shadow: 0 2px 6px 0 var(--bluish-grey); ">
                  <div class="card-body">
                    <center>
                    <div class="card-title tx-15">PLANNED SHOTS</div>
                    <hr>
                    <span id="planned_shots" class="tx-primary card-text tx-100">--</span>
                   </center>
                  </div>
                </div>
                </center>

            <!-- <span id="actual_shots"> --- </span> --> 
            <!-- <div class=" col-12 pb-5 tx-100 tx-primary"> -->
            <!-- </div> -->
           </div><!-- card-body -->
 			

     


				
           </div><!-- card-body -->
        




        </div><!-- card -->
      </div>

        <div class='row '>

       <div class='col-lg-12 col-md-12'>
        <div class="card ht-550"  style="border-radius: 5px; box-shadow: 0 2px 6px 0 var(--bluish-grey);" >
            <div class="pd-x-25 pd-t-10 card-title tx-15">PLANNED SHOTS</div>
         
        <div class="card-body pd-x-50">



          <div id="cycle_chart" style="height: 450px"></div>


        </div><!-- card-body -->
      </div><!-- card -->
    </div>
  </div>

<!-- ===================================================================================== -->
            <div class="pl-2 pt-3">
                  <div class="tx-dark tx-15 tx-bold"> SHOT DATA HISTORY </div>
              </div>


            <div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
              <div id="table_button2">

              </div>

                <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
                   <div class="input-group">
                     <input type="text" id="datatable2_search" class="form-control" placeholder="Search" >
                    </div>
               </div>

                   
              <table id="datatable2" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
                          
             </table>
             
             <hr>
            <!-- ===================================================================================== -->

          

	  <footer class="br-footer">
      <div class="footer-left">
        <div class="mg-b-2">Copyright &copy; 2020.Cyronics. All Rights Reserved.</div>
       
      </div>
      
     
    </footer>
   
	
	
	
    <!-- ########## END: MAIN PANEL ########## -->



  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

    

  </body>
</html>

<script>
  var flag = [0]
  var shot_target = 0
  var chk
  var flag_machine_name 
  var order_number_left = '{{order_number_left}}';
  var order_number_right = '{{order_number_right}}';
   
   var query_data = {};
  // query_data["machine"] = flag_machine_name;
   query_data["order_number_left"] = order_number_left;
   query_data["order_number_right"] = order_number_right;
  
  //var socket=io.connect('http://127.0.0.1:5000/')
  var socket=io.connect('http://'+document.domain+":"+location.port)


function get_production_order_details_by_machine() {

	//document.getElementById("mac_name").innerText = flag_machine_name
    console.log("Get Production Order By Machine");
    //socket.emit("get_production_order_details_by_machine",flag_machine_name);
     socket.emit("get_shot_details_by_machine_history",query_data);


} 
function draw_chart(json){

console.log("starting_chart_loop");
// code to convert dictionary in chart data 
chart_data = {
  "timestamp" :[],
  "Ideal" : [],
  "Actual" : [],
  "Machine" : [],

}
for (var i =0 ; i < json["SHOT_DETAILS"].length;i++){
    chart_data["timestamp"].push(json["SHOT_DETAILS"][i]["timestamp"].replace(",", "\n"))
    chart_data["Ideal"].push(json["CYCLE TIME"])
    chart_data["Machine"].push(json["SHOT_DETAILS"][i]["CYCLE TIME"])
    chart_data["Actual"].push(json["SHOT_DETAILS"][i]["CALCULATED CYCLE TIME"])


}
console.log(chart_data);


var dom = document.getElementById("cycle_chart");
var myChart = echarts.init(dom);

option = null;
option = {

   
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:  ['Ideal Cycle Time(s)',"Machine Cycle Time(s)" , "Actual Cycle Time(s)"]
    },
    grid: {
        left: '10%',
        right: '10%',
        bottom: '3%',
        containLabel: false
    },
    
    xAxis: {
        type: 'category',
        data: chart_data["timestamp"],
        axisLabel : {
          formatter: '{value} IST'
        },
    },
    yAxis : [
      {
        type : 'value',
        axisLabel : {
          formatter: '{value} sec'
        },
        name: 'Cycle Time (sec)',
        nameLocation: 'middle',
        nameGap: 60
      }
    ],
  
   dataZoom: [{
        type: 'slider',
        height: 20,
        bottom: 20,
        borderColor: 'transparent',
        backgroundColor: '#e2e2e2',
        handleIcon: 'M10.7,11.9H9.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4h1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7v-1.2h6.6z M13.3,22H6.7v-1.2h6.6z M13.3,19.6H6.7v-1.2h6.6z', // jshint ignore:line
        handleSize: 20,
        handleStyle: {
            shadowBlur: 6,
            shadowOffsetX: 1,
            shadowOffsetY: 2,
            shadowColor: '#aaa'
        }
    }, {
        type: 'inside'
    }],
  grid: {
        bottom: 100
    },
  toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
        ,title: 'Save As picture',
            },
            restore: {title: 'restore',},
            saveAsImage: {
      title: 'Save As picture',
      }
        }
    },
    series: [
  {
        data: chart_data["Machine"],
        type: 'line',
    color:"blue",
    name:"Machine Cycle Time(s)"
    
    },
  {
        data: chart_data["Actual"],
        type: 'bar',
    color:"teal",
    name:"Actual Cycle Time(s)"
    
    },
    {
    data: chart_data["Ideal"],
    type: 'line',
    color:"red",
    name: 'Ideal Cycle Time(s)'
    
    },
  ]
};

   
   if (option && typeof option === "object") {
    myChart.setOption(option, true);
}

    




}


function fill_data(data){





  console.log("Shot History Data");
  
data = data["SHOT_DETAILS"];
console.log(data);
console.log(" ----------------------- ")


str= "";
str +='<thead class="bg-dark tx-white">\
            <tr>\
              <th >SR.NO.</th>\
              <th >START COUNT</th>\
              <th >TIMESTAMP</th>\
              <th >JSW CYCLE TIME (SEC)</th>\
              <th >ACTUAL CYCLE TIME (SEC)</th>\
            </tr>\
          </thead>'

//Application Code,Issue Date,Job Name,PICKMOID,Qty,Status,Time
str+="<tbody>";
//alert(phrase_id);
try {
for(var i=0;i<data.length;i++){
  //console.log(jobs[i]["_id"]);
        str += "<tr>";
        str+='<td>'+(i+1)+'</td>'; 
        str+='<td>'+data[i]['SHOT COUNT']+'</td>'; 
        str+='<td>'+data[i]['timestamp']+'</td>';
        str+='<td>'+data[i]['CYCLE TIME']+'</td>';
        if ("CALCULATED CYCLE TIME" in data[i]){ 
          str+='<td>'+data[i]['CALCULATED CYCLE TIME']+'</td>';
        }
        else {
         str+='<td>--</td>'; 
        }
        str+="</tr>";

}

}
catch(e){

}

str+="</tbody>";
document.getElementById("datatable2").innerHTML=str;

$('#datatable2').dataTable().fnDestroy();

 var table = $('#datatable2').DataTable( {
        //"scrollX": true,
        lengthChange: false,
        "dom": 'lrtip',
        //scrollCollapse: true,
        //"autoWidth": false,
 "initComplete": function (settings, json) {  
    $("#datatable2").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");            
  },

        


buttons: [
            {
                extend: 'collection',
                text: 'Export',
                autoClose: true,
                buttons: [
                {
                extend:    'copy',
                text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                titleAttr: 'Copy'
                },
                {
                extend:    'excel',
                text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                titleAttr: 'Excel'
                },
                {
                extend:    'pdf',
                text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                titleAttr: 'PDF'
                },
                {
                extend:    'print',
                text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                titleAttr: 'PDF'
                },
                {
                extend:    'csv',
                text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                titleAttr: 'CSV'
                },
                {
                extend:    'colvis',
                text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                titleAttr: 'Columns'
                },
                ]
            }
        ]

    } );
    table.buttons( 0, null ).containers().appendTo( '#table_button2' );

 // #myInput is a <input type="text"> element
$('#datatable2_search').on( 'keyup', function () {
    table.search( this.value ).draw();
    console.log("working")
} );


}



$( document ).ready(function() {
  if(window.localStorage.getItem('machine_name') != null){
    flag_machine_name = window.localStorage.getItem('machine_name')
    //document.getElementById("machine_name").value = flag_machine_name
    //document.getElementById("mac_name").innerText = flag_machine_name
    //gets_dt();
    //chk=setInterval(gets_dt,10000);
  
    //emit socket to get production order running on a particular machine
    //console.log("Get Production Order By Machine");
    console.log("Get Production Order By Machine");
  
    //socket.emit("get_production_order_details_by_machine",flag_machine_name);
    socket.emit("get_shot_details_by_machine_history",query_data);
    

    setInterval(get_production_order_details_by_machine,60000);


  }else{
    alert("Please Select a Machine")
  }
})





function local_storage_machin(machine){
  window.localStorage.setItem('machine_name', String(machine.innerText));
  flag_machine_name = window.localStorage.getItem('machine_name')
  document.getElementById("machine_name").value = flag_machine_name
 // document.getElementById("mac_name").innerText = flag_machine_name
  //clearInterval(chk)
  //gets_dt();

  //emit socket to get production order running on a particular machine
  //console.log("Get Production Order By Machine");
  //socket.emit("get_production_order_details_by_machine",flag_machine_name);
  //socket.emit("get_shot_details_by_machine",flag_machine_name);
  window.location.reload();

  //setInterval(get_production_order_details_by_machine,60000);
  //chk=setInterval(gets_dt,10000);
}


socket.on("console",function(data){

  if (data == "Production Order In Process"){
  document.getElementById("console").classList.remove("btn-primary");  
  document.getElementById("console").classList.add("btn-teal");
  document.getElementById("console").classList.remove("btn-dark")
  document.getElementById("console").innerHTML = "In Process" ; 

  }
  else {
  document.getElementById("console").classList.remove("btn-primary");  
  document.getElementById("console").classList.add("btn-dark");
  document.getElementById("console").classList.remove("btn-teal")
  document.getElementById("console").innerHTML = data ; 

  }
  
});


socket.on("send_production_order",function(json){


console.log("LOGGING PRODUCTION ORDER");
console.log(json);

if ('ORDER NUMBER (RIGHT)' in json) {

document.getElementById('ORDER NUMBER (RIGHT)').value=json['ORDER NUMBER (RIGHT)']
document.getElementById('ORDER NUMBER (LEFT)').value=json['ORDER NUMBER (LEFT)']
document.getElementById('machine_name').value=json['MACHINE']
document.getElementById('part_number').value=json['PART NUMBER']
document.getElementById('model').value=json['MODEL']
//document.getElementById('ACTUAL_START').value=json['ACTUAL_START']
//document.getElementById('ACTUAL_STOP').value=json['ACTUAL_STOP']
//document.getElementById('PLANNED_STOP').value=json['PLANNED_STOP']
//document.getElementById('PLANNED_START').value=json['PLANNED_START']
document.getElementById('planned_shots').innerHTML=json['NEW QTY']

document.getElementById('part_name').value=json['PART NAME']

}
else{

document.getElementById('ORDER NUMBER (RIGHT)').value="-"
document.getElementById('ORDER NUMBER (LEFT)').value="-"
document.getElementById('machine_name').value="-"
document.getElementById('part_number').value="-"
document.getElementById('model').value="-"
//document.getElementById('ACTUAL_START').value="-"
//document.getElementById('ACTUAL_STOP').value="-"
//document.getElementById('PLANNED_STOP').value="-"
//document.getElementById('PLANNED_START').value="-"
document.getElementById('planned_shots').innerHTML="--"
document.getElementById('part_name').value=""


}



if ("ACTUAL QTY" in json ){
//if (json['ACTUAL QTY'] != "" ) {
//}
}
else {
}

if ("PART WEIGHT" in json){
  document.getElementById("part_weight").value  = json["PART WEIGHT"];
  console.log("PART WEIGHT FOUND.");
}
else{
  document.getElementById('part_weight').value="-"
  console.log("PART WEIGHT NOT FOUND.");
}
if ("NUMBER OF CAVITIES" in json ) {

document.getElementById("number_of_cavities").value  = json["NUMBER OF CAVITIES"];


}
else {

 document.getElementById('number_of_cavities').value ="--"

}

if (  "SHOT_DETAILS" in json ) {
  console.log(json["SHOT_DETAILS"])
  fill_data(json)
  draw_chart(json)
  document.getElementById('actual_shots').innerHTML=(json["SHOT_DETAILS"]).length
  document.getElementById('ideal_shots').innerHTML=json["EXPECTED SHOTS"];



} 
else {
document.getElementById('actual_shots').innerHTML="--"

str= "";
str +='<thead class="bg-dark tx-white">\
            <tr>\
              <th >SR.NO.</th>\
              <th >START COUNT</th>\
              <th >TIMESTAMP</th>\
              <th >CYCLE TIME</th>\
            </tr>\
          </thead>'

str+="<tbody>";
str += "<tr>";
str+='<td> - </td>'; 
str+='<td> - </td>'; 
str+='<td> - </td>';
str+='<td> - </td>';
str+="</tr>";
str+="</tbody>";


document.getElementById("datatable2").innerHTML=str;

$('#datatable2').dataTable().fnDestroy();

var table = $('#datatable2').DataTable( {
        //"scrollX": true,
        lengthChange: false,
        "dom": 'lrtip',
        //scrollCollapse: true,
        //"autoWidth": false,
 "initComplete": function (settings, json) {  
    $("#datatable2").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");            
  },

        


buttons: [
            {
                extend: 'collection',
                text: 'Export',
                autoClose: true,
                buttons: [
                {
                extend:    'copy',
                text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                titleAttr: 'Copy'
                },
                {
                extend:    'excel',
                text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                titleAttr: 'Excel'
                },
                {
                extend:    'pdf',
                text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                titleAttr: 'PDF'
                },
                {
                extend:    'print',
                text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                titleAttr: 'PDF'
                },
                {
                extend:    'csv',
                text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                titleAttr: 'CSV'
                },
                {
                extend:    'colvis',
                text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                titleAttr: 'Columns'
                },
                ]
            }
        ]

    } );
    table.buttons( 0, null ).containers().appendTo( '#table_button2' );

 // #myInput is a <input type="text"> element
$('#datatable2_search').on( 'keyup', function () {
    table.search( this.value ).draw();
    console.log("working")
} );

}




if ( "ENERGY DETAILS" in json ) {
var str = "";

for(var i=0;i < json["ENERGY DETAILS"].length;i++){

str += "<tr>";
str+='<td>'+ json["ENERGY DETAILS"][i]["energy_start"]+'</td>'; 
str+='<td>'+ json["ENERGY DETAILS"][i]["energy_end"]+'</td>'; 
str+='<td>'+ json["ENERGY DETAILS"][i]["energy_difference"]+'</td>';
str+='<td>'+ json["ENERGY DETAILS"][i]["timestamp"]+'</td>';
str+="</tr>";
}



document.getElementById("energy_table_body").innerHTML = str;
}
else{

document.getElementById("energy_start").value = ""
document.getElementById("energy_end").value = ""
document.getElementById("energy_difference").value = ""

}








/*document.getElementById('acheived1').value = json["total_part"]
document.getElementById('details').value=json['details']
document.getElementById("progress2").setAttribute('aria-valuenow',shot_completion);
document.getElementById("progress2").setAttribute('style','width:'+Number(shot_completion)+'%');
document.getElementById("progress2").innerHTML = String(shot_completion) + "%"
document.getElementById("part_number").value = json["part_number"]*/
document.getElementById("button_help").innerHTML = ""



});

function save_details(){

to_send = {}

to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value 
to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value 
to_send["NUMBER OF CAVITIES"] = document.getElementById("number_of_cavities").value 
to_send["PART WEIGHT"] = document.getElementById("part_weight").value 





energy_details = {}
energy_details["energy_start"] = document.getElementById("energy_start").value 
energy_details["energy_end"] = document.getElementById("energy_end").value 
try {
energy_details["energy_difference"] = parseFloat(energy_details["energy_end"]) - parseFloat(energy_details["energy_start"] )  
energy_details["energy_difference"] = energy_details["energy_difference"].toFixed(2);
}
catch(e){
energy_details["energy_difference"] = "-"

}
to_send["ENERGY DETAILS"] = energy_details


console.log("Recording Part Weight and Number of Cavities");

socket.emit("save_part_weight_and_cavities",to_send);
document.getElementById("button_help").innerHTML = "Saved successfully!"


}


function add_energy_details(){

to_send = {}

to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value 
to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value 


energy_details = {}
energy_details["energy_start"] = document.getElementById("energy_start").value 
energy_details["energy_end"] = document.getElementById("energy_end").value 
try {
energy_details["energy_difference"] = parseFloat(energy_details["energy_end"]) - parseFloat(energy_details["energy_start"] )  
energy_details["energy_difference"] = energy_details["energy_difference"].toFixed(2);
}
catch(e){
energy_details["energy_difference"] = 0.0;

}
to_send["energy_details"] = energy_details

// validate energy inputs
if (energy_details["energy_start"] == "-" || energy_details["energy_start"] == "" || energy_details["energy_end"] == ""  || energy_details["energy_end"] == "-"){

  alert("Incorrect or Incomplete input! Try Again!");


} 
else{
    document.getElementById("energy_difference").value = energy_details["energy_difference"];
    socket.emit("save_energy_details",to_send);
    alert("Start: " + energy_details["energy_start"] + " | End: " + energy_details["energy_end"] + " | Difference:" + energy_details["energy_difference"]);
    socket.emit("get_shot_details_by_machine_history",flag_machine_name);
    console.log("energy -------- updated")

}




//socket.emit("save_energy_details",to_send);
//document.getElementById("energy_difference").value = energy_details["energy_difference"];
//document.getElementById("energy_console").innerHTML = "Energy details saved successfully!"
//console.log("energy -------- updated")
}





  </script>

  
  


{% endblock %}
