{% extends "template.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }

  .Rectangle_dark {

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--bluish-grey);

  }


  .Rectangle_without_color {

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;

  }

  th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width:100%;
        margin: 0 auto;
    }


</style>
<form onsubmit='return false'>
<div class="pt-3">
            <div class="tx-dark tx-15 tx-bold">BIN NUMBER DETAILS</div>
          </div>
</br>
<b><label id="pno">PART NUMBER: </label></b>
</br>
</br>

				<table class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" id="binnumbertable">
						<thead class="bg-dark tx-white">
								<tr>

                                <th>SR NO.</th>

								<th>BIN NUMBER</th>

                               </tr>
                            </thead>
                            <tbody id="tablebody">

                            </tbody>
						</table>


<script type="text/javascript">
$.fn.dataTable.ext.errMode = 'none';
var socket = io.connect('http://'+document.domain+':'+location.port);

socket.on('connect', function() {
	 console.log('bin number details page');
});

var partno = '{{part_number}}';

var newStr = partno.split('___').join('/')
partnumber = newStr;

console.log("Partnumber" ,partnumber);

document.getElementById("pno").innerHTML += partnumber;

socket.emit("bin_number_details_page",partnumber);

socket.on('sent_bin_number_details', function(data) {

console.log("Bin number data received !");

console.log(data);

inner_html="";

for(var j=0; j< data.length;j++){

    var newStr = String(data[j]);

    newStr = newStr.replace("'", "");

	inner_html += '<tr>';
    inner_html += '<td>'+String(j+1)+'</td>';
	inner_html += '<td>'+newStr+'</td>';

	inner_html += '</tr>';

}

document.getElementById("tablebody").innerHTML = inner_html;

$(document).ready(function () {
$('#binnumbertable').DataTable();
$('.dataTables_length').addClass('bs-select');
});

});

</script>

</form>

{% endblock %}







