{% extends "template.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }

  .Rectangle_dark {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--bluish-grey);

  }


  .Rectangle_without_color {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  
  }



</style>
          <div class="pt-3">
            <div class="tx-dark tx-15 tx-bold">ALL DONE PRODUCTION ORDERS</div>
          </div>

<div class="d-flex justify-content-end mg-t-10">
  <!--<div class="p-2 btn btn-sm Rectangle" onclick="myCreateFunction()" >IMPORT</div>&nbsp;-->
 <!--  <div class="p-2 btn btn-sm Rectangle" data-toggle="modal" data-target="#exampleModal" >IMPORT</div>&nbsp;&nbsp;&nbsp;  -->

  
  

</div>



<!------------------------------------------------------------------------------------------------------------------ -->



<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
  <div id="table_button_2">

  </div>

    <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
       <div class="input-group">
         <input type="text" id="datatable3_search" class="form-control" placeholder="Search" >
        </div>
   </div>

       
  <table id="datatable3" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
              
 </table>
 
 <hr>
</div>

<!------------------------------------------------------------------------------------------------------------------ -->




<script>
//var socket=io.connect('http://127.0.0.1:5000/')
var socket=io.connect('http://'+document.domain+":"+location.port)


socket.emit("get_done_production_orders");



$.fn.dataTable.ext.errMode = 'none';

var valid_orders = [];





socket.on("sent_done_production_orders",function(data){


  console.log(data);
  


// ================================================================================================================================
// DONE PRODUCTION ORDERS 

var str="";

counter = 0 ;
str +='  <thead class="bg-dark tx-white">\
            <tr>\
              <th >SR.NO.</th>\
              <th >MACHINE</th>\
              <th >PRIORITY</th>\
              <th >STATUS</th>\
              <th >PLANNED_START_TIME </th>\
              <th >PLANNED_STOP_TIME </th>\
              <th >ACTION </th>\
              <th >ACTUAL_START_TIME </th>\
              <th >ACTUAL_STOP_TIME </th>\
              <th >MODEL</th>\
              <th >PART NUMBER</th>\
              <th >ORDER NUMBER (RIGHT)</th>\
              <th >ORDER NUMBER (LEFT)</th>\
              <th >PART_NAME/MATERIAL</th>\
              <th >MATERIAL_DESCRIPTION/DETATILS</th>\
              <th >COLOR</th>\
              <th >PLAN QTY</th>\
			  <th>DOWNTIME ANALYSIS</th>\
			  <th>MC REJECTIONS</th>\
			  <th>SHOT DETAILS</th>\
            </tr>\
          </thead>'


//Application Code,Issue Date,Job Name,PICKMOID,Qty,Status,Time
str+="<tbody>";
//alert(phrase_id);

try { 

for(var i=0;i<data.length;i++){
  //console.log(jobs[i]["_id"]);


  if ( data[i]["ACTION"] ==  "Done" ) {
  		str+= "<tr>";
        str+='<td>'+ (i+1) +'</td>'; 
        str+='<td>'+data[i]['MACHINE']+'</td>'; 
        str+='<td>'+data[i]['PRIORITY']+'</td>';
        if (data[i]['STATUS'] == "Planned" ) {
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-primary">'+data[i]['STATUS']+'</div></td>';
      }
      else if(data[i]['STATUS'] == "Live" ){
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-teal">'+data[i]['STATUS']+'</div></td>';

      }
      else{
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-dark">'+data[i]['STATUS']+'</div></td>';

      }
        str+='<td>'+ data[i]['PLANNED_START'] +'</td>';
        str+='<td>'+ data[i]['PLANNED_STOP']  +'</td>';

      if (data[i]['ACTION'] == "Start" ) {
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-primary" id="'+data[i]["ORDER NUMBER (LEFT)"]+','+data[i]["ORDER NUMBER (RIGHT)"] +'" onclick="open_modal(this)">'+data[i]['ACTION']+'</div></td>';
      }

      else if(data[i]['ACTION'] == "Done" ){
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-dark id="'+data[i]["ORDER NUMBER (LEFT)"]+','+data[i]["ORDER NUMBER (RIGHT)"]+'" onclick="">'+data[i]['ACTION']+'</div></td>';

      }
      else if (data[i]['ACTION'] == "In Process" ){
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-teal" id="'+data[i]["ORDER NUMBER (LEFT)"]+','+data[i]["ORDER NUMBER (RIGHT)"] +'" onclick="open_modal(this)">'+data[i]['ACTION']+'</div></td>';
                }

        str+='<td>'+ data[i]['ACTUAL_START'] +'</td>';
        str+='<td>'+ data[i]['ACTUAL_STOP']  +'</td>';
        

        str+='<td>'+data[i]['MODEL']+'</td>';
        str+='<td>'+data[i]['PART NUMBER']+'</td>';
        str+='<td>'+data[i]['ORDER NUMBER (RIGHT)']+'</td>';
        str+='<td>'+data[i]['ORDER NUMBER (LEFT)']+'</td>';
        str+='<td>'+data[i]['PART NAME']+'</td>';
        str+='<td>'+data[i]['MATERIAL']+'</td>';
        str+='<td>'+data[i]['COLOR']+'</td>';
        str+='<td>'+data[i]['NEW QTY']+'</td>';
		str+='<td><div class="btn btn-sm Rectangle_without_color btn-dark" id="'+data[i]["ORDER NUMBER (LEFT)"]+','+data[i]["ORDER NUMBER (RIGHT)"] +','+data[i]["MACHINE"]+'" onclick="goto_downtime_details(this)">VIEW</div></td>';
		str+='<td><div class="btn btn-sm Rectangle_without_color btn-dark" id="'+data[i]["ORDER NUMBER (LEFT)"]+','+data[i]["ORDER NUMBER (RIGHT)"] +','+data[i]["MACHINE"]+'" onclick="goto_rejection_details(this)">VIEW</div></td>';
		str+='<td><div class="btn btn-sm Rectangle_without_color btn-dark" id="'+data[i]["ORDER NUMBER (LEFT)"]+','+data[i]["ORDER NUMBER (RIGHT)"] +','+data[i]["MACHINE"]+'" onclick="goto_basic_details(this)">VIEW</div></td>';
        str+="</tr>";

    }
}

}
catch(e){

}

str+="</tbody>";
document.getElementById("datatable3").innerHTML=str;


if ( i > 0 )
{

$('#datatable3').dataTable().fnDestroy();

 var table3 = $('#datatable3').DataTable( {
        //"scrollX": true,
        lengthChange: false,
        "dom": 'lrtip',
        "deferRender": true,
        "initComplete": function (settings, json) {  
    $("#datatable3").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");            
  },
      

buttons: [
            {
                extend: 'collection',
                text: 'Export',
                autoClose: true,
                buttons: [
                {
                extend:    'copy',
                text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                titleAttr: 'Copy'
                },
                {
                extend:    'excel',
                text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                titleAttr: 'Excel'
                },
                {
                extend:    'pdf',
                text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                titleAttr: 'PDF'
                },
                {
                extend:    'print',
                text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                titleAttr: 'PDF'
                },
                {
                extend:    'csv',
                text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                titleAttr: 'CSV'
                },
                {
                extend:    'colvis',
                text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                titleAttr: 'Columns'
                },
                ]
            }
        ]


    } );
    table3.buttons( 0, null ).containers().appendTo( '#table_button2' );

 // #myInput is a <input type="text"> element
$('#datatable3_search').on( 'keyup', function () {
    table3.search( this.value ).draw();
    console.log("working")
} );

}

  
});



function goto_basic_details(element){

console.log(element.id);
var id = element.id;
var res = id.split(",");
console.log(res);



window.location.href = 'http://' + document.domain + ":" + location.port +"/basic_details/"+res[0]+","+res[1];
}

function goto_downtime_details(element){

console.log(element.id);
var id = element.id;
var res = id.split(",");
console.log(res);



window.location.href = 'http://' + document.domain + ":" + location.port +"/downtime_details/"+res[0]+","+res[1];
}

function goto_rejection_details(element){

console.log(element.id);
var id = element.id;
var res = id.split(",");
console.log(res);



window.location.href = 'http://' + document.domain + ":" + location.port +"/rejection_details/"+res[0]+","+res[1];
}



</script>


{% endblock %}
  
 
   
