﻿ {% extends "template.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
   .Rectangle_without_color {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  
  }

.dataTables_scrollHeadInner{  width:100% !important; }
.dataTables_scrollHeadInner table{  width:100% !important; }


</style>

    <div class="br-pagebody">

		
		
		  <div class="d-flex">
             <div class="p-2"> </div>

            <div class="btn-group ml-auto p-2">
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split Rectangle_without_color btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
             </button>

              <button type="button" class="btn Rectangle_without_color btn-primary"><span class="tx-bold" id="mac_name">None</span> </button>
              
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 550T-I</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 550T-II</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 450T-I</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 450T-II</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 450T-III</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 650T</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 350T</a>                
            </div>
          </div>
        </div>
    
          <div>
              <h6 class="card-title tx-uppercase tx-12 mg-b-0 tx-white">
                
              </h6>
        </div>
        



      
    
    <div>
      <h6 class="card-title tx-uppercase tx-12 mg-b-0 tx-white">
     
      </h6>
</div>
	</nav>

    <div class="br-section-wrapper">

	
	

      <div class='row '>

            <div class='col-lg-4 col-md-12'>
            
                <div class="form-group">
                <label for="ORDER NUMBER (LEFT)" class="tx-black">Order Number (Left)</label>
                <input type="text" class="form-control form-control-sm" id='ORDER NUMBER (LEFT)' placeholder="-" readonly>
               </div>
          
          </div>

          <div class='col-lg-4 col-md-12'>
            
                <div class="form-group">
                <label for="ORDER NUMBER (RIGHT)" class="tx-black">Order Number (Right)</label>
                <input type="text" class="form-control form-control-sm" id='ORDER NUMBER (RIGHT)' placeholder="-" readonly>
               </div>
          
          </div>

          <div class='col-lg-4 col-md-12 '>
            
                <div class="form-group">
                <label for="console" class="tx-black"> Status </label>
                <div class="btn btn-sm Retangle btn-primary btn-block" id="console"> Status : -- </div>
               </div>
          
          </div>
  
          
          </div>








        <div class='row '>

            <div class='col-lg-6 col-md-12'>
            
                <div class="form-group">
                <label for="PLANNED_START" class="tx-black">Planned Start Time</label>
                <input type="text" class="form-control form-control-sm" id='PLANNED_START' placeholder="-" readonly>
               </div>
          
          </div>

          <div class='col-lg-6 col-md-12'>
            
                <div class="form-group">
                <label for="PLANNED_STOP" class="tx-black">Planned End Time </label>
                <input type="text" class="form-control form-control-sm" id='PLANNED_STOP' placeholder="-" readonly>
               </div>
          
          </div>

        
          
          </div>


          <div class='row '>

            <div class='col-lg-6 col-md-12'>
            
                <div class="form-group">
                <label for="model" class="tx-black">Actual Start Time</label>
                <input type="text" class="form-control form-control-sm" id='ACTUAL_START' placeholder="-" readonly>
               </div>
          
          </div>

          <div class='col-lg-6 col-md-12'>
            
                <div class="form-group">
                <label for="part_name" class="tx-black">Actual End Time </label>
                <input type="text" class="form-control form-control-sm" id='ACTUAL_STOP' placeholder="-" readonly>
               </div>
          
          </div>

        
          
          </div>



    
	
     
 <!-- ====================== Row End ================================== -->
     
	 	   <div class="card-header">
             <div class="tx-dark tx-15 tx-bold">LIVE PRODUCTION ORDER - DOWNTIME RECORDS </div>
           
          </div><!-- card-header --> 
		    
		<div class='row '>
			<div class='col-lg-4 col-6'>
			<label>Start Time :</label>
			</div>
			<div class='col-lg-4 col-6'>
		    <label>End Time :</label>
      </div>
     
			</div>
			
		  <div class='row '>
				
				<div class="col-lg-4 col-6 ">
				<div class="input-group">
				  <span class="input-group-addon"><i class="fa fa-clock-o tx-16 lh-0 op-6"></i></span>
          <input id="start_time" type="text" class="form-control form-control-sm" placeholder="Set time">
          <span class="input-group-addon bg-dark btn" onclick="get_current_time_start()"><a><i class="fa fa-play text-success" style="font-size:16px;" aria-hidden="true" ></i></a></span>


				  <!--<button class="btn btn-primary " onclick="get_start_time()">Get</button>-->
				  
				</div><!-- input-group -->
				</div>
				
				<div class="col-lg-4 col-6 ">
				<div class="input-group">
				  <span class="input-group-addon"><i class="fa fa-clock-o tx-16 lh-0 op-6"></i></span>
				  <input id="stop_time" type="text" class="form-control" placeholder="Set time">
          <!--<button  class="btn btn-primary " onclick="get_end_time()">Get</button>-->
          <span class="input-group-addon bg-dark btn" onclick="get_current_time_stop()" ><a><i class="fa fa-stop text-danger" style="font-size:16px;" aria-hidden="true" ></i></a></span>

				  
				</div><!-- input-group -->
        </div>
      
				
			  
			   
			  </div>  
		  
		  <div class='row pt-2 pb-2'>
		  
			  <div class='col-lg-1 col-2'>
			  <h6 class="tx-gray-800 tx-bold tx-14  pt-2">Reason</h6>
			  </div>
			  <div class='col-lg-3 col-10'>
				 <select class="form-control form-control-sm" data-placeholder="Choose Reason" id="reasonlist">
          <option value="Startup Time">Startup Time </option>
          <option value="Mould Change">Mould Change</option>
          <option value="Power Cut">Power Cut</option>
          <option value="Holiday Startup">Holiday Startup</option>
          <option value="Breakdown">Breakdown</option>
          <option value="Trial">Trial</option>
          <option value="No Plan">No Plan </option>
          
          
				 </select>
				  <!-- <script language="javascript" type="text/javascript">
          var reason=["Startup Time","Mould Change Time","Power Cut","Holiday Startup Time","Breakdown Trial","No Plan"];

          //var reason = ['Startup Time', 'Mould Time', 'Power Cut', 'Holiday Startup', 'Breakdown Trial', 'No Plan'];
          var reasonvar = document.getElementById('reasonlist');
          for (var i = 0; i <= reason.length - 1; i++) {
            var opt = document.createElement('option');
            opt.innerHTML = reason[i];
            opt.value = reason[i];
            reasonvar.appendChild(opt);
          }
        </script> -->
			  </div>
			  
			  
		  
		 </div>

		 <div class='row pt-2 pb-2'>
		  
			  <div class='col-lg-1 col-2'>
			  <h6 class="tx-gray-800 tx-bold tx-14  pt-2">Details</h6>
			  </div>
			  <div class='col-lg-3 col-10'>
				 <textarea rows="3" class="form-control form-control-sm" placeholder="Optional Details" id =details></textarea>
			  </div>
			  
		 </div> 	
		
		 <div class='row pt-2 pb-2'>
		  
			  <div class='col-lg-1 col-2'>
			  <h6 class="tx-gray-800 tx-bold tx-14 pt-2"></h6>
			  </div>
			  <div class='col-lg-3 col-10'>
				 <button id="submit_availability" class="btn btn-block Rectangle_without_color btn-primary" onclick="get_downtime_record()"> RECORD </button>
			  </div>
        <div class='col-lg-3 col-10'>
        <small id="console_2"></small>
			  </div>
       

		 </div> 	

       <div class='row pt-2 pb-2'>
         <div class='col-lg-1 col-2'>
        <h6 class="tx-gray-800 tx-bold tx-14 pt-2"></h6>
        </div>

        <div class='col-lg-3 col-10'>
         <button  class="btn btn-block Rectangle_without_color btn-dark" onclick="window.location.reload();" > REFRESH </button>
        </div>
    
    </div>    

    </div>
  </div>


  <div class="br-pagebody ">

    <div class="br-section-wrapper">

       
      
         
         
        <div class="row">
            
            <div class='col-lg-7 col-md-12 border '>
                    <div>

             <div class="tx-dark tx-15 tx-bold"> DOWNTIME ANALYSIS </div>
           
          
                   <div id="Barchart1" style="height: 320px"></div>
                </div>		
            </div><!--br-section-wrapper-->
			
			
            <div class='col-lg-5 col-md-12 border '>
                    <div>
          
             <div class="tx-dark tx-15 tx-bold">RUNTIME ANALYSIS </div>
           
          
                   <div id="donught1" style="height: 320px"></div>
                   </div>
            </div>
			
			
          </div>
          <br>

<!-- ===================================================================================== -->
<div class="pt-3">
      <div class="tx-dark tx-15 tx-bold"> DOWNTIME HISTORY </div>
  </div>


<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
  <div id="table_button2">

  </div>

    <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
       <div class="input-group">
         <input type="text" id="datatable2_search" class="form-control" placeholder="Search" >
        </div>
   </div>

       
  <table id="datatable2" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
              
 </table>
 
 <hr>
<!-- ===================================================================================== -->



          </div>
           <!--  <div class="row tx-white">

            
              <div class="col-lg-3 col-12 card bg-dark " >
              <div class="card-header Rectangle_without_color bg-dark  tx-white ">CYCLE TIME</div>
              <div class="card-body">
                <h5 class="card-title tx-center tx-50 tx-bold tx-white"> <span id="Current Cycle Time"> -- </span> /  <span id = "Ideal Cycle Time" > -- </span>  </h5>
                <p class="card-text"> Current Cycle Time / Ideal Cycle Time </p>
              </div>
            </div>
            <div class="col-lg-1 col-12"></div>


              <div class="col-lg-3 col-12 card bg-dark " >
              <div class="card-header Rectangle_without_color bg-dark  tx-white ">PRODUCTION RATE</div>
              <div class="card-body">
                <h5 class="card-title tx-center tx-50 tx-bold tx-white"> <span id="Current Produciton Rate"> -- </span> /  <span id = "Ideal Produciton Rate" > -- </span>  </h5>
                <p class="card-text"> Current Produciton Rate  / Ideal Produciton Rate </p>
              </div>
            </div>

              <div class="col-lg-1 col-12"></div>


              <div class="col-lg-3 col-12 card bg-dark " >
              <div class="card-header Rectangle_without_color bg-dark  tx-white ">ACHEIVED SHOTS / HOUR </div>
              <div class="card-body">
                <h5 class="card-title tx-center tx-50 tx-bold tx-white"> <span id="Current Shots per Hour"> -- </span> /  <span id = "Ideal Shots per Hour" > -- </span>  </h5>
                <p class="card-text"> Current Shots per Hour / Ideal Shots per Hour </p>
              </div>
            </div>




         </div> -->
   




  <footer class="br-footer">
      <div class="footer-left">
        <div class="mg-b-2">Copyright &copy; 2020.Cyronics. All Rights Reserved.</div>
       
      </div>
      
     
    </footer>
 

  <!----------------------MODALS=====-------------------->

  <div id="modaldemo3" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
        <div class="modal-body pd-0">
          <div class="row no-gutters">
            <div class="col-lg-6 bg-warning">
              <div class="pd-40">

                <i class="fa fa-pause-circle tx-70 tx-white lh-1 mg-t-80 d-inline-block"></i>
                <h4 class="tx-white mg-b-20">Reason for Pause. Please select the reason according to reason </h4>




              </div>
            </div><!-- col-6 -->
            <div class="col-lg-6 bg-white">
              <div class="pd-30">
                <button type="button" class="close tx-40 tx-danger" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="pd-x-30 pd-y-10">
                  <b>Please Select Reason :</br></b>
                  <label class="ckbox">
                    <input type="checkbox">
                    <span>Shift Stop</span>
                  </label>
                  <label class="ckbox">
                    <input type="checkbox">
                    <span>Management</span>
                  </label>
                  <label class="ckbox">
                    <input type="checkbox">
                    <span>Misc</span>
                  </label>
                  <label class="ckbox">
                    <input type="checkbox">
                    <span>Alarms</span>
                  </label><label class="ckbox">
                    <input type="checkbox">
                    <span>Machine Error</span>
                  </label>

                  <div class="form-group">
                    Reason for pause
                    <input class="form-control ht-100 border-warning" placeholder="Details of pause" type="textarea">
                  </div><!-- form-group -->


                  <button class="btn btn-outline-warning pd-y-12 btn-block">Send for review </button>

                  <div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a></div>
                </div>
              </div><!-- pd-20 -->
            </div><!-- col-6 -->
          </div><!-- row -->

        </div><!-- modal-body -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->



  <div id="modaldemo4" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
        <div class="modal-body pd-0">
          <div class="row no-gutters">
            <div class="col-lg-6 bg-danger">
              <div class="pd-40">

                <i class="fa fa-stop-circle tx-70 tx-white lh-1 mg-t-80 d-inline-block"></i>
                <h4 class="tx-white mg-b-20">Reason for stop. Please select the Reason according to reason </h4>




              </div>
            </div><!-- col-6 -->
            <div class="col-lg-6 bg-white">
              <div class="pd-30">
                <button type="button" class="close tx-40 tx-danger" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="pd-x-30 pd-y-10">
                  <b>Please Select Reason :</br></b>
                  <label class="ckbox">
                    <input type="checkbox">
                    <span>Shift Stop</span>
                  </label>
                  <label class="ckbox">
                    <input type="checkbox">
                    <span>Management</span>
                  </label>
                  <label class="ckbox">
                    <input type="checkbox">
                    <span>Misc</span>
                  </label>
                  <label class="ckbox">
                    <input type="checkbox">
                    <span>Alarms</span>
                  </label><label class="ckbox">
                    <input type="checkbox">
                    <span>Machine error</span>
                  </label>

                  <div class="form-group">
                    Reason for stop
                    <input class="form-control ht-100 border-danger" placeholder="Details of stop" type="textarea">
                  </div><!-- form-group -->


                  <button class="btn btn-outline-danger pd-y-12 btn-block">Send for review </button>

                  <div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a></div>
                </div>
              </div><!-- pd-20 -->
            </div><!-- col-6 -->
          </div><!-- row -->

        </div><!-- modal-body -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->




  <div id="modaldemo6" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
        <div class="modal-body pd-0">
          <div class="row no-gutters">
            <div class="col-lg-6 bg-primary">
              <div class="pd-40">

                <p class="tx-white tx-13">
                  <span class="tx-uppercase tx-medium d-block mg-b-15">START SHIFT</span></p>
                <span class="op-7 tx-white">Start Shift for OEE Monitoring,Anlytics and Design</span></p>
              </div>
            </div><!-- col-6 -->
            <div class="col-lg-6 bg-white">
              <div class="pd-30">
                <button type="button" class="close tx-40 tx-danger" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="pd-x-30 pd-y-10">
                  <b>
                    <h3 class="tx-inverse  mg-b-5">Welcome back!</h3>
                  </b>
                  <p>No active shifts Found.Please enter details to continue.</p>
                  <br>
                  <div class="form-group">
                    <input type="text" id="tid" name="email" class="form-control pd-y-12" placeholder="Enter Shift ID"
                      autocomplete="off">
                    <p id="em"></p>
                  </div><!-- form-group -->
                  <div class="form-group">
                    <input type="text" id="con" name="contact" class="form-control pd-y-12"
                      placeholder="Enter QA Incharge">
                    <p id="cont"></p>
                  </div><!-- form-group -->
                  <div class="form-group mg-b-20">
                    <input type="password" id="pass" name="password" class="form-control pd-y-12"
                      placeholder="Enter Shift Incharge">
                    <p id="ps"></p>
                    <!--<a href="" class="tx-12 d-block mg-t-10">Forgot password?</a>-->
                  </div><!-- form-group -->

                  <button class="btn btn-primary pd-y-12 btn-block" onclick="validate();">START Shift</button>


                </div>
              </div><!-- pd-20 -->
            </div><!-- col-6 -->
          </div><!-- row -->

        </div><!-- modal-body -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->





  <!----------------modal here-------------->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>


  <!-- ########## END: MAIN PANEL ########## -->
  <!--<script src="{{url_for('static',filename='socket.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/jquery/jquery.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/popper.js/popper.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/bootstrap/bootstrap.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/moment/moment.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/jquery-ui/jquery-ui.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/jquery-switchbutton/jquery.switchButton.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/peity/jquery.peity.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/highlightjs/highlight.pack.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/select2/js/select2.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/jquery-toggles/toggles.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/jt.timepicker/jquery.timepicker.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/spectrum/spectrum.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/jquery.maskedinput/jquery.maskedinput.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/bootstrap-tagsinput/bootstrap-tagsinput.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/ion.rangeSlider/js/ion.rangeSlider.min.js')}}"></script>

  <script src="{{url_for('static',filename='js/bracket.js')}}"></script>

  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/echarts.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/echarts-gl.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/ecStat.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/dataTool.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/china.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/world.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/bmap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/simplex.js')}}"></script> -->

<!--<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=xfhhaTThl11qYVrqLZii6w8qE5ggnhrY&__ec_v__=20190126"></script>-->
  

  <!-- ************************************************************************************************************************************************** -->


<script>
	var downtime_analysis = {
					  "Startup Time" :"0",
					  "Mould Change":"0",
					  "Power Cut":"0",
					  "Holiday Startup":"0",
					  "Breakdown Trial":"0",
					  "NoPlan ":"0",
					  "total_time":"100",
					 "total_downtime": "0",
					"total_runtime": "0",
					"optimum_cycle_time":"",
					"achieved_cycle_time":"",
					"ideal_production_rate":"",
					"achieved_production_rate":"",
					"achieved_shots_per_hour":"30" }
	   

		  var downtimelist=[]
		  var count=['Startup Time', 'Mould Change', 'Power Cut', 'Holiday Startup', 'Breakdown Trial', 'No Plan ']
		  var downtimelist1=[]
//=================================================================================================================                            
		  function change_data(downtime_analysis){

			  const keys = Object.keys(downtime_analysis);
			  for (let index = 0; index < 6; index++)
				   {
					  downtimelist.push(downtime_analysis[keys[index]]);
					}
			  

			  const md = Object.keys(downtime_analysis);
			  for (let i = 0; i < md.length; i++) 
				  {
						downtimelist1.push(downtime_analysis[md[i]]);
				  }
			
			}       
		  
//=============================================================================================================================                             
  change_data(downtime_analysis);
//=============================================================================================================================                             
</script>
                     
<script>	
//=================================================Bar Chart Downtime Reason ====================================================	
					  var dom = document.getElementById("Barchart1");
                      var myChart = echarts.init(dom);
                      var app = {};
                      option = null;
                      option = {

                        responsive: true,

                        title: {
                          text: '',
                        },
                        tooltip: {
                          trigger: 'axis'
                        },
                        legend: {
                                        data: []
                          },
                        
                        calculable: true,
                        xAxis: [
                          {
                            type: 'category',
                            data: this.count
                          }
                        ],
                        yAxis: [
                          {
                            type: 'value'
                          }
                        ],
                        series: [
                          {
                            name: 'Downtime Reason',
                            color: '#05b080',
                            type: 'bar',
                            data: this.downtimelist,
                            markPoint: {
                              data: [
                                { type: 'max', name: 'h1' },
                                { type: 'min', name: 'h2' }
                              ]
                            },
                            markLine: {
                              data: [
                                { type: 'average', name: 'h3' }
                              ]
                            }
                          },
                       
                        ]
                      };
                      ;
                      if (option && typeof option === "object") {
                        myChart.setOption(option, true);
                      }
//=============================================================================================================================                             
                   

//========================================= Runtime Analysis===================================================================                            

                      var dom2 = document.getElementById("donught1");
                      var myChart2 = echarts.init(dom2);
                      var app = {};
                      option2 = null;
                      app.title = '';
                      
                      option2 = {
                        responsive:true,
                          tooltip: {
                              trigger: 'item',
                              formatter: "{a} <br/>{b}: {c} ({d}%)"
                          },

                          grid: {
                              left: '0',
                              right: '0',
                              bottom: '0',
                              top:'0',
                              containLabel: true
                          },
                        
                          series: [
                              {
                                  name:'downtime_analysis',
                                  type:'pie',
                                  radius: ['30%', '70%'],
                                  avoidLabelOverlap: true,
                                  label: {
                                      normal: {
                                          show: true,
                                          position: 'outside'
                                      },
                                      emphasis: {
                                          show: true,
                                          textStyle: {
                                              fontSize: '10',
                                              fontWeight: 'bold'
                                          }
                                      }
                                  },
                                  labelLine: {
                                      normal: {
                                          show: true
                                      }
                                  },
                                  data:[
                                      {value:this.downtimelist1[6], name:'Total Time'},
                                      {value:this.downtimelist1[7], name:'Total Downtime'},
                                      {value:this.downtimelist1[8], name:'Total Runtime'},
                                      
                                  ]
                              }
                          ]
                      };
                      
				  myChart2.setOption(option2, true);

  var socket=io.connect('http://'+document.domain+":"+location.port)

   var chk;
   var chks; 
   var flag_machine_name

  function get_current_time_start(){
    socket.emit('get_current_time_start')
  }
    
socket.on("send_current_time_start",function(s){

document.getElementById("start_time").value=s["current_time"] ;
console.log("Received Start Time");

});


function get_current_time_stop(){
    socket.emit('get_current_time_stop')
  }
    
socket.on("send_current_time_stop",function(s){

document.getElementById("stop_time").value=s["current_time"] ;
console.log("Received Stop Time");

});

  function get_downtime_record(){
    
    console.log("Sending Downtime Record!");
    to_send = {}
    to_send['ORDER NUMBER (RIGHT)'] = document.getElementById('ORDER NUMBER (RIGHT)').value;
    to_send['ORDER NUMBER (LEFT)']= document.getElementById('ORDER NUMBER (LEFT)').value;
    to_send['start_time']=document.getElementById("start_time").value;
    to_send['stop_time']=document.getElementById("stop_time").value;
    to_send['reasonlist']=document.getElementById("reasonlist").value;
    to_send['details']=document.getElementById("details").value;
    to_send['Mode'] = "Operator Input"
    to_send['status'] = "Accept"

    socket.emit("get_downtime_record",to_send );
    
  
  }

  socket.on("console_2",function(s){

document.getElementById("console_2").innerHTML=s ;
console.log("Received console_2");

});





function get_down(){
  socket.emit("get_down",flag_machine_name)
  
    }

    socket.on("received_down_data", function (json) {
        //console.log(json);
        document.getElementById('runtime').value = json['runtime'];
        document.getElementById('total_time').value = json['total_time'];
        document.getElementById('opti_cycle_time').value = json['opti_cycle_time'];
        document.getElementById('cycle_ideal').innerHTML = '<h6 class="tx-bold tx-14 tx-primary mg-b-1">' + json['opti_cycle_time'] + '</h6>';
        document.getElementById('prod_ideal').innerHTML = '<h6 class="tx-bold tx-14 tx-primary mg-b-1">' + json['prod_ideal'] + '</h6>';
        document.getElementById('shots_ideal').innerHTML = '<h6 class="tx-bold tx-14 tx-primary mg-b-1">' + json['ideal_shots'] + '</h6>';

        if (parseInt(json['achieved_cycle_time']) < parseInt(json['opti_cycle_time'])) {
            document.getElementById("achieved_cycle").innerHTML = '<h6 class="tx-bold tx-14 tx-success mg-b-1">' + json['achieved_cycle_time'] + '</h6>';
        }
        else if (parseInt(json['achieved_cycle_time']) > parseInt(json['opti_cycle_time'])) {
            document.getElementById("achieved_cycle").innerHTML = '<h6 class="tx-bold tx-14 tx-danger mg-b-1">' + json['achieved_cycle_time'] + '</h6>';

        }
        else {
            document.getElementById("achieved_cycle").innerHTML = '<h6 class="tx-bold tx-14 tx-primary mg-b-1">' + json['achieved_cycle_time'] + '</h6>';
        }


        if (parseInt(json['achieved_prod']) < parseInt(json['prod_ideal'])) {
            document.getElementById("prod_achieved").innerHTML = '<h6 class="tx-bold tx-14 tx-danger mg-b-1">' + json['achieved_prod'] + '</h6>';
        }
        else if (parseInt(json['achieved_cycle_time']) > parseInt(json['opti_cycle_time'])) {
            document.getElementById("prod_achieved").innerHTML = '<h6 class="tx-bold tx-14 tx-success mg-b-1">' + json['achieved_prod'] + '</h6>';

        }
        else {
            document.getElementById("prod_achieved").innerHTML = '<h6 class="tx-bold tx-14 tx-primary mg-b-1">' + json['achieved_prod'] + '</h6>';
        }
        if (parseInt(json['shots_per_hour']) < parseInt(json['ideal_shots'])) {
            document.getElementById("shots_achd").innerHTML = '<h6 class="tx-bold tx-14 tx-danger mg-b-1">' + json['shots_per_hour'] + '</h6>';
        }
        else if (parseInt(json['shots_per_hour']) > parseInt(json['ideal_shots'])) {
            document.getElementById("shots_achd").innerHTML = '<h6 class="tx-bold tx-14 tx-success mg-b-1">' + json['shots_per_hour'] + '</h6>';

        }
        else {
            document.getElementById("shots_achd").innerHTML = '<h6 class="tx-bold tx-14 tx-primary mg-b-1">' + json['shots_per_hour'] + '</h6>';
        }

        xx = ['total_start_up', 'total_mould_change_time', 'total_power_cut', 'total_holiday_startup', 'total_breakdown', 'total_no_plan']
        series_data = []
        for (i = 0; i < count.length; i++) {
            series_data.push(json[xx[i]])

        }

        option.xAxis[0].data = count
        option.series[0].data = series_data
        myChart.setOption(option, true); // bar chart Updater


        option2.series[0].data[0].value = json["total_time"]
        option2.series[0].data[1].value = parseInt(parseFloat(json["total_time"])- parseFloat(json["runtime"]))
        option2.series[0].data[2].value = json["runtime"]
        myChart2.setOption(option2, true); // Run time analysis



    });
  var stopwatch_hr=00;
  var stopwatch_min=0;
  var stopwatch_sec=00;



function get_current(){
  document.getElementById("current_downtime").value=String(stopwatch_min);
  stopwatch_min+=1;

  
}




$( document ).ready(function() {
  if(window.localStorage.getItem('machine_name') != null){
    flag_machine_name = window.localStorage.getItem('machine_name')
    //document.getElementById("machine_name").value = flag_machine_name
    document.getElementById("mac_name").innerText = flag_machine_name


    console.log("Get Production Order By Machine");
    socket.emit("get_production_order_details_by_machine",flag_machine_name);


    

  }else{
    alert("Please Select a Machine")
  }
})

function local_storage_machin(machine){
  window.localStorage.setItem('machine_name', String(machine.innerText));
  flag_machine_name = window.localStorage.getItem('machine_name')
  //document.getElementById("machine_name").value = flag_machine_name
  document.getElementById("mac_name").innerText = flag_machine_name

  console.log("Get Production Order By Machine");
  socket.emit("get_production_order_details_by_machine",flag_machine_name);

}



socket.on("send_production_order",function(json){


console.log("LOGGING PRODUCTION ORDER");
console.log(json);


document.getElementById('ORDER NUMBER (RIGHT)').value=json['ORDER NUMBER (RIGHT)']
document.getElementById('ORDER NUMBER (LEFT)').value=json['ORDER NUMBER (LEFT)']


document.getElementById('ACTUAL_START').value=json['ACTUAL_START']
document.getElementById('ACTUAL_STOP').value=json['ACTUAL_STOP']



document.getElementById('PLANNED_STOP').value=json['PLANNED_STOP']
document.getElementById('PLANNED_START').value=json['PLANNED_START']

//document.getElementById("Ideal Produciton Rate").innerHTML = json['PRD/HR']
//document.getElementById("Ideal Cycle Time").innerHTML = json['CYCLE TIME']
//document.getElementById("Ideal Shots per Hour").innerHTML = ( 3600 / json['CYCLE TIME'] )


if ("DOWNTIME" in json) {
fill_data(json);

}



to_send = {};
  
to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value 
to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value 





socket.emit("update_downtime_charts",to_send);
console.log("Downtime Chart Update Requested ! ")

});


function save_details(){

to_send = {}

to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value 
to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value 
to_send["NUMBER OF CAVITIES"] = document.getElementById("number_of_cavities").value 
to_send["PART WEIGHT"] = document.getElementById("part_weight").value 

console.log("Recording Part Weight and Number of Cavities");

socket.emit("save_part_weight_and_cavities",to_send);
document.getElementById("button_help").innerHTML = "Saved successfully!"


}


socket.on("console",function(data){

  if (data == "Production Order In Process"){
  document.getElementById("console").classList.remove("btn-primary");  
  document.getElementById("console").classList.add("btn-teal");
  document.getElementById("console").classList.remove("btn-dark")
  document.getElementById("console").innerHTML = "In Process" ; 

  }
  else {
  document.getElementById("console").classList.remove("btn-primary");  
  document.getElementById("console").classList.add("btn-dark");
  document.getElementById("console").classList.remove("btn-teal")
  document.getElementById("console").innerHTML = "Not Found" ; 

  }
  
});

// =============================================================================

// ========================================================= DOWNTIME HISTORY =============================================================

function accept_downtime(element){

  var ids = element.id ;
  var ids = ids.split("--");
  to_send = {};
    
  to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value 
  to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value 

  to_send["status"] = "Accept"
  to_send["start_time"] = ids[1]
  to_send["stop_time"] = ids[2]

socket.emit("change_downtime_status",to_send)



  element.onclick = function(){ reject_downtime(element); } ; 
  element.classList.add("btn-primary");
  element.classList.remove("btn-dark")
  element.innerHTML = "ACCEPTED"

}

function reject_downtime(element){

  
  var ids = element.id ;
  var ids = ids.split("--");
  to_send = {};
    
  to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value 
  to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value 

  to_send["status"] = "Reject"
  to_send["start_time"] = ids[1]
  to_send["stop_time"] = ids[2]


socket.emit("change_downtime_status",to_send)

 element.onclick = function(){ accept_downtime(element); } ; 
  element.classList.add("btn-dark");
  element.classList.remove("btn-primary")
  element.innerHTML = "REJECTED"

}

function change_downtime_type(element){

  var ids = element.id ;
  var ids = ids.split("--");
  console.log(ids);
 
 to_send = {};
    
  to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value 
  to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value 

  to_send["reasonlist"] = element.value;
  to_send["start_time"] = ids[1]
  to_send["stop_time"] = ids[2]

socket.emit("change_downtime_type",to_send)

}




function fill_data(data){

  console.log("Downtime History Data");
  
data = data["DOWNTIME"];
console.log(data);
console.log(" ----------------------- ")


str= "";
str +='<thead class="bg-dark tx-white">\
            <tr>\
              <th >SR.NO.</th>\
              <th >START TIME</th>\
              <th >STOP TIME</th>\
              <th >REASON</th>\
              <th >DETAILS</th>\
              <th >MODE</th>\
              <th >ACTION</th>\
            </tr>\
          </thead>'

//Application Code,Issue Date,Job Name,PICKMOID,Qty,Status,Time
str+="<tbody>";
//alert(phrase_id);
try {
for(var i=0;i<data.length;i++){
  //console.log(jobs[i]["_id"]);
        str += "<tr>";
        str+='<td>'+(i+1)+'</td>'; 
        str+='<td>'+data[i]['start_time']+'</td>'; 
        str+='<td>'+data[i]['stop_time']+'</td>';
        //str+='<td>'+data[i]['reasonlist']+'</td>';
        ['Startup Time', 'Mould Change', 'Power Cut', 'Holiday Startup', 'Breakdown Trial', 'No Plan ']
 
        //str+='<td>'+data[i]['Mode']+'</td>';
        str +='<td>\
          <select onchange="change_downtime_type(this)" id="--'+data[i]["start_time"] + '--'+ data[i]["stop_time"]+'" class="form-control form-control-sm" style="width:100% !important;">\
             <option value ="' +data[i]['reasonlist']+'" >'+data[i]['reasonlist']+'</option>\
             <option value="Startup Time">Startup Time </option>\
             <option value="Mould Change">Mould Change </option>\
             <option value="Power Cut">Power Cut</option>\
             <option value="Holiday Startup">Holiday Startup </option>\
             <option value="Breakdown Trial">Breakdown Trial </option>\
             <option value="No Plan">No Plan</option>\
             <option value="Software">Software</option>\
          </select>\
          </td>';

        str+='<td>'+data[i]['details']+'</td>';

        if (data[i]["Mode"] == "Software"){
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-warning" disabled > Software </div></td>'

        }
        else {
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-teal" disabled > Operator Input </div></td>'          
        }


        //str+='<td>'+data[i]['status']+'</td>';
        if (data[i]["status"] == "Accept"){
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-primary" id="--'+data[i]["start_time"] + '--'+ data[i]["stop_time"]+'" onclick="reject_downtime(this)"> ACCEPTED </div></td>'

        }
        else{
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-dark" id="--'+data[i]["start_time"] + '--'+ data[i]["stop_time"]+'" onclick="accept_downtime(this)"> REJECTED </div></td>'

        }
        

        str+="</tr>";
}

}
catch(e){

}

str+="</tbody>";
document.getElementById("datatable2").innerHTML=str;

 var table = $('#datatable2').DataTable( {
        //"scrollX": true,
        lengthChange: false,
        "dom": 'lrtip',
        //scrollCollapse: true,
        //"autoWidth": false,
 "initComplete": function (settings, json) {  
    $("#datatable2").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");            
  },

        


buttons: [
            {
                extend: 'collection',
                text: 'Export',
                autoClose: true,
                buttons: [
                {
                extend:    'copy',
                text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                titleAttr: 'Copy'
                },
                {
                extend:    'excel',
                text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                titleAttr: 'Excel'
                },
                {
                extend:    'pdf',
                text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                titleAttr: 'PDF'
                },
                {
                extend:    'print',
                text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                titleAttr: 'PDF'
                },
                {
                extend:    'csv',
                text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                titleAttr: 'CSV'
                },
                {
                extend:    'colvis',
                text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                titleAttr: 'Columns'
                },
                ]
            }
        ]

    } );
    table.buttons( 0, null ).containers().appendTo( '#table_button2' );

 // #myInput is a <input type="text"> element
$('#datatable2_search').on( 'keyup', function () {
    table.search( this.value ).draw();
    console.log("working")
} );


}




socket.on("downtime_chart_update",function(data){

  console.log("Downtime Chart Update ");
  console.log(data);
  console.log(" ----------------------- ")


option = null;
option = {

responsive: true,

title: {
  text: '',
},
tooltip: {
  trigger: 'axis'
},
legend: {
                data: []
  },

calculable: true,
xAxis: [
  {
    type: 'category',
    data: data["downtime_types"]
  }
],
yAxis: [
  {
    type: 'value'
  }
],
series: [
  {
    name: 'Downtime Reason',
    color: '#05b080',
    type: 'bar',
    data: data['downtime_time'],
    markPoint: {
      data: [
        { type: 'max', name: 'h1' },
        { type: 'min', name: 'h2' }
      ]
    },
    markLine: {
      data: [
        { type: 'average', name: 'h3' }
      ]
    }
  },

]
};
;
if (option && typeof option === "object") {
myChart.setOption(option, true);
}

// =============================================== Update Run Time =========================

option2 = {
      responsive:true,
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },

        grid: {
            left: '0',
            right: '0',
            bottom: '0',
            top:'0',
            containLabel: true
        },
      
        series: [
            {
                name:'downtime_analysis',
                type:'pie',
                radius: ['30%', '70%'],
                avoidLabelOverlap: true,
                label: {
                    normal: {
                        show: true,
                        position: 'outside'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '10',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: true
                    }
                },
                data:data['pie_chart_data']
            }
        ]
    };
    
myChart2.setOption(option2, true); 



  
});
        

 </script>




{% endblock %}
  
