 {% extends "template.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
   .Rectangle_without_color {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  
  }

.dataTables_scrollHeadInner{  width:100% !important; }
.dataTables_scrollHeadInner table{  width:100% !important; }


</style>

   
   

            
       
	
 <div class="card mg-t-20 ">
          
          <div class="card-hea</div><!-- card-header -->


          <div class="card-body ">
           
	

      <div class='row '>

           

          <div class='col-lg-4 col-md-12'>
            
                <div class="form-group">
                <label for="ORDER NUMBER (RIGHT)" class="tx-black">Order Number (Right)</label>
                <input type="text" class="form-control form-control-sm" id='ORDER NUMBER (RIGHT)' placeholder="-" readonly>
               </div>
          
          </div>

           <div class='col-lg-4 col-md-12'>
            
                <div class="form-group">
                <label for="ORDER NUMBER (LEFT)" class="tx-black">Order Number (Left)</label>
                <input type="text" class="form-control form-control-sm" id='ORDER NUMBER (LEFT)' placeholder="-" readonly>
               </div>
          
          </div>

          <div class='col-lg-4 col-md-12 '>
            
                <div class="form-group">
                <label for="console" class="tx-black"> Status </label>
                <div class="btn btn-sm Retangle btn-primary btn-block" id="console"> Status : -- </div>
               </div>
          
          </div>
  
          
          </div>








        <div class='row '>

            <div class='col-lg-6 col-md-12'>
            
                <div class="form-group">
                <label for="PLANNED_START" class="tx-black">Planned Start Time</label>
                <input type="text" class="form-control form-control-sm" id='PLANNED_START' placeholder="-" readonly>
               </div>
          
          </div>

          <div class='col-lg-6 col-md-12'>
            
                <div class="form-group">
                <label for="PLANNED_STOP" class="tx-black">Planned End Time </label>
                <input type="text" class="form-control form-control-sm" id='PLANNED_STOP' placeholder="-" readonly>
               </div>
          
          </div>

        
          
          </div>


          <div class='row '>

            <div class='col-lg-6 col-md-12'>
            
                <div class="form-group">
                <label for="model" class="tx-black">Actual Start Time</label>
                <input type="text" class="form-control form-control-sm" id='ACTUAL_START' placeholder="-" readonly>
               </div>
          
          </div>

          <div class='col-lg-6 col-md-12'>
            
                <div class="form-group">
                <label for="part_name" class="tx-black">Actual End Time </label>
                <input type="text" class="form-control form-control-sm" id='ACTUAL_STOP' placeholder="-" readonly>
               </div>
          
          </div>

        
          
          </div>



    
	<hr>
     
 <!-- ====================== Row End ================================== -->

 <div class="tx-dark tx-15 tx-bold">LIVE PRODUCTION ORDER - DOWNTIME RECORDS </div>
  
<div class='row '>


      <div class='col-lg-6  col-12 pt-2'>
      

       
        <div class='row '> 
        <div class="col-12">   
        <label for="input-group-1" class="tx-black"> Downtime Start</label>
         <div class="input-group" id="input-group-1">
          <span class="input-group-addon"><i class="fa fa-clock-o tx-16 lh-0 op-6"></i></span>
          <input id="start_time" type="text" class="form-control form-control-sm" placeholder="Set time">
          <button class="input-group-addon bg-dark btn" onclick="get_current_time_start()" id="start_downtime_button" >
            <i class="fa fa-play text-success" style="font-size:16px;" aria-hidden="true"></i></button>
         </div> 
       </div>
        </div>
      

        <div class='row pt-2'> 
        <div class="col-12"> 
        <label for="input-group-2" class="tx-black"> Downtime Stop</label>  
         <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-clock-o tx-16 lh-0 op-6"></i></span>
          <input id="stop_time" type="text" class="form-control" placeholder="Set time">
          <button class="input-group-addon bg-dark btn" onclick="get_current_time_stop()" id="stop_downtime_button">
            <i class="fa fa-stop text-danger" style="font-size:16px;" aria-hidden="true"  ></i></button>

         </div> 
       </div>
        </div>



        <div class='row pt-2'>
      
        <div class='col-12'>
          <label for="reasonlist" class="tx-black"> Downtime Reason</label>   
          <select class="form-control form-control" data-placeholder="Choose Reason" id="reasonlist">
          <option value="Startup Time">Startup Time </option>
          <option value="Mould Change">Mould Change</option>
          <option value="Power Cut">Power Cut</option>
          <option value="Holiday Startup">Holiday Startup</option>
          <option value="Breakdown">Breakdown</option>
          <option value="Trial">Trial</option>
          <option value="No Plan">No Plan </option>
          
          
         </select>
        </div>
      </div>



      <div class='row pt-2'>
        <div class='col-12'>
          <label for="details" class="tx-black"> Downtime Details ( Optional )</label>   
         <textarea rows="3" class="form-control form-control-sm" placeholder="Optional Details" id ="details"></textarea>
        </div>
        
     </div>   




     
     <div class='row pt-2'>
        <div class="col-12">
          <div class="row">
            <div class='col-lg-6 col-12'>
             <button  class="btn btn-block Rectangle_without_color btn-dark" onclick="clear_downtime_record()" > REFRESH </button>
             </div>
        
            <div class='col-lg-6 col-12'>
             <button id="submit_availability" class="btn btn-block Rectangle_without_color btn-primary" onclick="get_downtime_record()"> RECORD </button>
            </div>
          </div>

          <div class='col-12'>
            <small id="console_2"></small>
          </div>
      
      </div>   

      
            

</div>



</div>
<div class='col-lg-6  col-12  pt-2 ' style="border-radius: 5px; box-shadow: 0 2px 6px 0 var(--bluish-grey);">

 <div class="tx-dark p-2 tx-15 tx-bold"> CURRENT DOWNTIME TIMER </div>
 <center>
  <div class=" col-12 p-5 tx-100 tx-primary">

  <span id="downtime_timer">  00:00:00 </span> 
    
  </div>
</center>


 </div>
 
  </div> <!-- Row End -->

   <!-- ====================== Row End ================================== -->
 

     <div class='row pt-3'>

       <div class='col-lg-12 col-md-12'>
        <div class="card ht-550"  style="border-radius: 5px; box-shadow: 0 2px 6px 0 var(--bluish-grey);" >
            <div class="pd-x-25 pd-t-10 card-title tx-15">DOWNTIME ANALYSIS</div>
         
        <div class="card-body pd-x-50">


          <div id="Barchart1" style="height: 450px"></div>
          <!-- <div id="cycle_chart" style="height: 450px"></div> -->


        </div><!-- card-body -->
      </div><!-- card -->
    </div>
  </div>

 <!-- <div class="row pt-2">
  <div class="col-12">
    <div class="row">
            
            <div class='col-12 border '>
                   

             <div class="tx-dark p-2 tx-15 tx-bold"> DOWNTIME ANALYSIS </div>
           
          
                   
                  
            </div>
    
      </div>
    </div>
  </div>


  </div> -->


<!-- ===================================================================================== -->
<div class="pt-3">
  <div class="col-12">
      <div class="tx-dark tx-15 tx-bold"> DOWNTIME HISTORY </div>
  </div>
</div>

<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
  <div id="table_button2">

  </div>

    <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
       <div class="input-group">
         <input type="text" id="datatable2_search" class="form-control" placeholder="Search" >
        </div>
   </div>

       
  <table id="datatable2" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
              
 </table>
 
 <hr>
<!-- ===================================================================================== -->



 </div>


  <footer class="br-footer">
      <div class="footer-left">
        <div class="mg-b-2">Copyright &copy; 2020.Cyronics. All Rights Reserved.</div>
       
      </div>
      
     
    </footer>

  <!----------------modal here-------------->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>


  <!-- ************************************************************************************************************************************************** -->

<!-- SCRIPT added for Buttons -->

<!------------------------------ -->



                     
<script>	
//=================================================Bar Chart Downtime Reason ====================================================	
					 
//=============================================================================================================================                             
                   

  var socket=io.connect('http://'+document.domain+":"+location.port)

   var chk;
   var chks; 
   var flag_machine_name

 var order_number_left = '{{order_number_left}}';
  var order_number_right = '{{order_number_right}}';
   
   var query_data = {};
  // query_data["machine"] = flag_machine_name;
   query_data["order_number_left"] = order_number_left;
   query_data["order_number_right"] = order_number_right;



  function get_current_time_start(){
    

    //GET PRODUCTION ORDER LEFT AND RIGHT IN DATA 
    data = { 

    "ORDER NUMBER (LEFT)" : document.getElementById("ORDER NUMBER (LEFT)").value,
    "ORDER NUMBER (RIGHT)" : document.getElementById("ORDER NUMBER (RIGHT)").value,

    }
    //GET DOWNTIME DETAILS 
    downtime_status = { 
      "downtime_start"  : "",
      "downtime_stop"  :"",
      "downtime_status" : "true",
      "downtime_type" : document.getElementById("reasonlist").value,
    }
    //SOCKET IO
    socket.emit('get_current_time_start',{ "data" : data , "downtime_status" : downtime_status } )
  

  }


function get_current_time_stop(){

    //GET PRODUCTION ORDER LEFT AND RIGHT IN DATA 
    data = { 

    "ORDER NUMBER (LEFT)" : document.getElementById("ORDER NUMBER (LEFT)").value,
    "ORDER NUMBER (RIGHT)" : document.getElementById("ORDER NUMBER (RIGHT)").value,

    }

    //GET DOWNTIME DETAILS 
    downtime_status = { 
      "downtime_start"  : "",
      "downtime_stop"  :"",
      "downtime_status" : "true",
      "downtime_type" : document.getElementById("reasonlist").value,
    }

    socket.emit('get_current_time_stop',{"data" : data , "downtime_status" : downtime_status })
    
    clearInterval(timer_interval);

  }



socket.on("send_current_downtime_status",function( current_status ){

console.log("Received Downtime STATUS");

document.getElementById("start_time").value=current_status["downtime_start"] ;
document.getElementById("stop_time").value=current_status["downtime_stop"] ;
document.getElementById("reasonlist").value=current_status["downtime_type"] ;


  // if downtime status is true 
  if (current_status["downtime_status"] == "true" ){

    
    // calculate duration

    var momentDate = moment(current_status["downtime_start"], 'DD/MM/YYYY, H:m:s');
    var downtime_start_datetime = momentDate.toDate();
    console.log(downtime_start_datetime);

    // START TIMER if downtime stop is not present  
    if (current_status["downtime_stop"] == "" ){
        
        // ENABLE - DISABLE BUTTONS
          console.log(" Disabled Downtime Button ");
          document.getElementById("start_downtime_button").disabled = true ;
          document.getElementById("stop_downtime_button").disabled = false;




        var currentDate = moment();
        var downtime_stop_datetime = currentDate.toDate();
        console.log(downtime_stop_datetime);

        var seconds = (downtime_stop_datetime.getTime() - downtime_start_datetime.getTime()) / 1000 ;
        var duration = moment.duration(seconds, 'seconds');
        console.log(duration);
        console.log(duration["_data"]["hours"] +":" + duration["_data"]["minutes"] +":" + duration["_data"]["seconds"] )
        var interval = 1;
        timer_interval = setInterval(function () {
            
            duration = moment.duration(duration.asSeconds() + interval, 'seconds');    
            //.asSeconds() 
            var timestring = duration["_data"]["hours"] +":" + duration["_data"]["minutes"] +":" + duration["_data"]["seconds"];
            document.getElementById("downtime_timer").innerHTML = timestring;

        }, 1000);

    }
    else {

        // ENABLE - DISABLE BUTTONS
        console.log(" Disabled Downtime Button ");
        document.getElementById("start_downtime_button").disabled = true ;
        document.getElementById("stop_downtime_button").disabled =  true ;



        var currentDate =  moment(current_status["downtime_stop"], 'DD/MM/YYYY, H:m:s');
        var downtime_stop_datetime = currentDate.toDate();
        console.log(downtime_stop_datetime);

        var seconds = (downtime_stop_datetime.getTime() - downtime_start_datetime.getTime()) / 1000 ;
        var duration = moment.duration(seconds, 'seconds');

        var timestring = duration["_data"]["hours"] +":" + duration["_data"]["minutes"] +":" + duration["_data"]["seconds"];
        document.getElementById("downtime_timer").innerHTML = timestring;
    }

  }
  // if downtime status is false 
  else {

  // ENABLE - DISABLE BUTTONS
  console.log(" Disabled Downtime Button ");
  document.getElementById("start_downtime_button").disabled = false ;
  document.getElementById("stop_downtime_button").disabled = true;
  document.getElementById("downtime_timer").innerHTML = "00:00:00"


  }


});

  function get_downtime_record(){
    
    console.log("Sending Downtime Record!");
    to_send = {}
    to_send['ORDER NUMBER (RIGHT)'] = document.getElementById('ORDER NUMBER (RIGHT)').value;
    to_send['ORDER NUMBER (LEFT)']= document.getElementById('ORDER NUMBER (LEFT)').value;
    to_send['start_time']=document.getElementById("start_time").value;
    to_send['stop_time']=document.getElementById("stop_time").value;
    to_send['reasonlist']=document.getElementById("reasonlist").value;
    to_send['details']=document.getElementById("details").value;
    to_send['Mode'] = "Operator Input"
    to_send['status'] = "Accept"

    if( to_send['reasonlist'] == ""){

      document.getElementById("console_2").innerHTML = "Please select Downtime Reason to submit."

    }
    else if(to_send['stop_time'] == ""){
  
      document.getElementById("console_2").innerHTML = "Please check if Stop Time is in correct format."

    }
    else if(to_send['start_time'] == ""){
  
      document.getElementById("console_2").innerHTML = "Please check if Start Time is in correct format."

    }
    else{

    console.log("Downtime Record socket sent!");
    socket.emit("get_downtime_record",to_send );
    
    }
  
  }

  socket.on("console_2",function(s){

document.getElementById("console_2").innerHTML=s ;
console.log("Received console_2");

});


function clear_downtime_record(){
    
//GET PRODUCTION ORDER LEFT AND RIGHT IN DATA 
    data = { 

    "ORDER NUMBER (LEFT)" : document.getElementById("ORDER NUMBER (LEFT)").value,
    "ORDER NUMBER (RIGHT)" : document.getElementById("ORDER NUMBER (RIGHT)").value,

    }

    //GET DOWNTIME DETAILS 
    downtime_status = { 
      "downtime_start"  : "",
      "downtime_stop"  :"",
      "downtime_status" : "true",
      "downtime_type" : document.getElementById("reasonlist").value,
    }

    socket.emit('get_current_time_clear',{"data" : data , "downtime_status" : downtime_status })
    console.log("Cleared Downtime status")

}



$( document ).ready(function() {
  
    //document.getElementById("machine_name").value = flag_machine_name
    //document.getElementById("mac_name").innerText = flag_machine_name


    console.log("Get Production Order By Machine");
    socket.emit("get_production_order_details_by_order_number",query_data);


    

  
})



socket.on("send_production_order",function(json){


console.log("LOGGING PRODUCTION ORDER");
console.log(json);

if ('MACHINE' in json){
document.getElementById('ORDER NUMBER (RIGHT)').value=json['ORDER NUMBER (RIGHT)']
document.getElementById('ORDER NUMBER (LEFT)').value=json['ORDER NUMBER (LEFT)']


document.getElementById('ACTUAL_START').value=json['ACTUAL_START']
document.getElementById('ACTUAL_STOP').value=json['ACTUAL_STOP']



document.getElementById('PLANNED_STOP').value=json['PLANNED_STOP']
document.getElementById('PLANNED_START').value=json['PLANNED_START']

//document.getElementById("Ideal Produciton Rate").innerHTML = json['PRD/HR']
//document.getElementById("Ideal Cycle Time").innerHTML = json['CYCLE TIME']
//document.getElementById("Ideal Shots per Hour").innerHTML = ( 3600 / json['CYCLE TIME'] )
}
else {


document.getElementById('ORDER NUMBER (RIGHT)').value="";
document.getElementById('ORDER NUMBER (LEFT)').value="";


document.getElementById('ACTUAL_START').value="";
document.getElementById('ACTUAL_STOP').value="";


document.getElementById('PLANNED_STOP').value="";
document.getElementById('PLANNED_START').value="";
document.getElementById('details').value="";

//initialize chart to blank
 var dom = document.getElementById("Barchart1");
    var myChart = echarts.init(dom);
    var app = {};


          
    var downtime_reasons = ["Startup Time","Mould Change","Power Cut","Holiday Startup","Breakdown","Trial","No Plan"];

  

    option = null;
    option = {

    responsive: true,

    title: {
      text: '',
    },legend: {
        data:  ['Downtime Reasons']
    },
   
    grid: {
            left: '10%',
            right: '10%',
            bottom: '10%',
            top:'10%',
            containLabel: true
        },
    tooltip: {
      trigger: 'axis'
    },
    legend: {
                    data: []
      },

    calculable: true,
    xAxis: [
      {
        type: 'category',
        data: downtime_reasons,
        name: "DOWNTIME REASONS",
        nameLocation: 'middle',
        nameGap: 50,
		axisLabel: {
        interval: 0,
        rotate: 30 
      }
      }
    ],
    yAxis: [
      {
        type : 'value',
        axisLabel : {
          formatter: '{value} min'
        },
        name: 'Downt Time (minutes)',
        nameLocation: 'middle',
        nameGap: 60
      }
    ],
    series: [
      {
        name: 'Downtime Reason',
        color: '#05b080',
        type: 'bar',
        data: []
        
       
      },

    ]
    };
    ;
    if (option && typeof option === "object") {
    myChart.setOption(option, true);
    }


   


str="";
str +='<thead class="bg-dark tx-white">\
            <tr>\
              <th >SR.NO.</th>\
              <th >START TIME</th>\
              <th >STOP TIME</th>\
              <th >REASON</th>\
              <th >DETAILS</th>\
              <th >MODE</th>\
              <th >ACTION</th>\
            </tr>\
          </thead>'


str+="<tbody>";
str+="</tbody>";
document.getElementById("datatable2").innerHTML=str;

}

if ("DOWNTIME" in json) {
fill_data(json);
chart_update(json);

}




to_send = {};
  
to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value 
to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value 





socket.emit("update_downtime_charts",to_send);
console.log("Downtime Chart Update Requested ! ")

socket.emit("get_current_downtime_status",to_send);


});


function save_details(){

to_send = {}

to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value 
to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value 
to_send["NUMBER OF CAVITIES"] = document.getElementById("number_of_cavities").value 
to_send["PART WEIGHT"] = document.getElementById("part_weight").value 

console.log("Recording Part Weight and Number of Cavities");

socket.emit("save_part_weight_and_cavities",to_send);
document.getElementById("button_help").innerHTML = "Saved successfully!"


}


socket.on("console",function(data){

  if (data == "Production Order In Process"){
  document.getElementById("console").classList.remove("btn-primary");  
  document.getElementById("console").classList.add("btn-teal");
  document.getElementById("console").classList.remove("btn-dark")
  document.getElementById("console").innerHTML = "In Process" ; 

  }
  else {
  document.getElementById("console").classList.remove("btn-primary");  
  document.getElementById("console").classList.add("btn-dark");
  document.getElementById("console").classList.remove("btn-teal")
  document.getElementById("console").innerHTML = "Not Found" ; 

  }
  
});

// =============================================================================

// ========================================================= DOWNTIME HISTORY =============================================================

function accept_downtime(element){

  var ids = element.id ;
  var ids = ids.split("--");
  to_send = {};
    
  to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value 
  to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value 

  to_send["status"] = "Accept"
  to_send["start_time"] = ids[1]
  to_send["stop_time"] = ids[2]

socket.emit("change_downtime_status",to_send)



  element.onclick = function(){ reject_downtime(element); } ; 
  element.classList.add("btn-primary");
  element.classList.remove("btn-dark")
  element.innerHTML = "ACCEPTED"

}

function reject_downtime(element){

  
  var ids = element.id ;
  var ids = ids.split("--");
  to_send = {};
    
  to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value 
  to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value 

  to_send["status"] = "Reject"
  to_send["start_time"] = ids[1]
  to_send["stop_time"] = ids[2]


socket.emit("change_downtime_status",to_send)

 element.onclick = function(){ accept_downtime(element); } ; 
  element.classList.add("btn-dark");
  element.classList.remove("btn-primary")
  element.innerHTML = "REJECTED"

}

function change_downtime_type(element){

  var ids = element.id ;
  var ids = ids.split("--");
  console.log(ids);
 
 to_send = {};
    
  to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value 
  to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value 

  to_send["reasonlist"] = element.value;
  to_send["start_time"] = ids[1]
  to_send["stop_time"] = ids[2]

socket.emit("change_downtime_type",to_send)

}




function fill_data(data){

  console.log("Downtime History Data");
  
data = data["DOWNTIME"];
console.log(data);
console.log(" ----------------------- ")


str= "";
str +='<thead class="bg-dark tx-white">\
            <tr>\
              <th >SR.NO.</th>\
              <th >START TIME</th>\
              <th >STOP TIME</th>\
              <th >REASON</th>\
              <th >DETAILS</th>\
              <th >MODE</th>\
              <th >ACTION</th>\
            </tr>\
          </thead>'

//Application Code,Issue Date,Job Name,PICKMOID,Qty,Status,Time
str+="<tbody>";
//alert(phrase_id);
try {
for(var i=0;i<data.length;i++){
  //console.log(jobs[i]["_id"]);
        str += "<tr>";
        str+='<td>'+(i+1)+'</td>'; 
        str+='<td>'+data[i]['start_time']+'</td>'; 
        str+='<td>'+data[i]['stop_time']+'</td>';
        //str+='<td>'+data[i]['reasonlist']+'</td>';
        ['Startup Time', 'Mould Change', 'Power Cut', 'Holiday Startup', 'Breakdown Trial', 'No Plan ']
 
        //str+='<td>'+data[i]['Mode']+'</td>';
        str +='<td>\
          <select onchange="change_downtime_type(this)" id="--'+data[i]["start_time"] + '--'+ data[i]["stop_time"]+'" class="form-control form-control-sm" style="width:90% !important;">\
             <option value ="' +data[i]['reasonlist']+'" >'+data[i]['reasonlist']+'</option>\
             <option value="Startup Time">Startup Time </option>\
             <option value="Mould Change">Mould Change </option>\
             <option value="Power Cut">Power Cut</option>\
             <option value="Holiday Startup">Holiday Startup </option>\
             <option value="Breakdown Trial">Breakdown Trial </option>\
             <option value="No Plan">No Plan</option>\
             <option value="Software">Software</option>\
          </select>\
          </td>';

        str+='<td>'+data[i]['details']+'</td>';

        if (data[i]["Mode"] == "Software"){
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-warning" disabled > Software </div></td>'

        }
        else {
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-teal" disabled > Operator Input </div></td>'          
        }


        //str+='<td>'+data[i]['status']+'</td>';
        if (data[i]["status"] == "Accept"){
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-primary" id="--'+data[i]["start_time"] + '--'+ data[i]["stop_time"]+'" onclick="reject_downtime(this)"> ACCEPTED </div></td>'

        }
        else{
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-dark" id="--'+data[i]["start_time"] + '--'+ data[i]["stop_time"]+'" onclick="accept_downtime(this)"> REJECTED </div></td>'

        }
        

        str+="</tr>";
}

}
catch(e){

}

str+="</tbody>";
document.getElementById("datatable2").innerHTML=str;

 var table = $('#datatable2').DataTable( {
        //"scrollX": true,
        lengthChange: false,
        "dom": 'lrtip',
        //scrollCollapse: true,
        //"autoWidth": false,
 "initComplete": function (settings, json) {  
    $("#datatable2").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");            
  },

        


buttons: [
            {
                extend: 'collection',
                text: 'Export',
                autoClose: true,
                buttons: [
                {
                extend:    'copy',
                text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                titleAttr: 'Copy'
                },
                {
                extend:    'excel',
                text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                titleAttr: 'Excel'
                },
                {
                extend:    'pdf',
                text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                titleAttr: 'PDF'
                },
                {
                extend:    'print',
                text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                titleAttr: 'PDF'
                },
                {
                extend:    'csv',
                text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                titleAttr: 'CSV'
                },
                {
                extend:    'colvis',
                text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                titleAttr: 'Columns'
                },
                ]
            }
        ]

    } );
    table.buttons( 0, null ).containers().appendTo( '#table_button2' );

 // #myInput is a <input type="text"> element
$('#datatable2_search').on( 'keyup', function () {
    table.search( this.value ).draw();
    console.log("working")
} );


}



function chart_update(data){



var json =data["DOWNTIME"];
    var dom = document.getElementById("Barchart1");
    var myChart = echarts.init(dom);
    var app = {};


          
    values_for_chart = []
    var downtime_reasons = ["Startup Time","Mould Change","Power Cut","Holiday Startup","Breakdown","Trial","No Plan"];
    for(i=0; i<downtime_reasons.length;i++){
       var value = 0;
       
       for(j=0 ; j < json.length; j++){

           if(json[j]["reasonlist"] == downtime_reasons[i]){

              var strt = json[j]["start_time"];
				var stp = json[j]["stop_time"];

				start = Date.parse(strt.substring(3,5) +"/"+ strt.substring(0,2) + strt.substring(5,)) ; //format conversion. 
				stop = Date.parse(stp.substring(3,5) +"/"+ stp.substring(0,2) + stp.substring(5,)) ;    //format conversion.

				downtime_in_min = (((stop - start)/1000)/60).toFixed(2);

                value += downtime_in_min;


           }
         }
         
     values_for_chart.push(value);
   }





  console.log("Downtime Chart Update ");
  console.log(values_for_chart);
  console.log(" ----------------------- ")


    option = null;
    option = {

    responsive: true,

    title: {
      text: '',
    },
    legend: {
        data:  ['Downtime Reasons']
    },
    grid: {
            left: '10%',
            right: '10%',
            bottom: '10%',
            top:'10%',
            containLabel: true
        },
    tooltip: {
      trigger: 'axis'
    },
  toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
        ,title: 'Save As picture',
            },
            restore: {title: 'restore',},
            saveAsImage: {
      title: 'Save As picture',
      },
        }
    },
    calculable: true,
    xAxis: [
      {
        type: 'category',
        data: downtime_reasons,
        name: "DOWNTIME REASONS",
        nameLocation: 'middle',
        nameGap: 50,
		axisLabel: {
        interval: 0,
        rotate: 30 
      }
      }
    ],
    yAxis: [
      {
        type : 'value',
        axisLabel : {
          formatter: '{value} min'
        },
        name: 'Cycle Time (minutes)',
        nameLocation: 'middle',
        nameGap: 60
      }
    ],
    series: [
      {
        name: 'Downtime Reason',
        color: '#05b080',
        type: 'bar',
        data: values_for_chart,
        
      },

    ]
    };
    ;
    if (option && typeof option === "object") {
    myChart.setOption(option, true);
    }

}
        

 </script>




{% endblock %}
  
