{% extends "template_cbm.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
</style>
    <div class="br-pagebody">

      <div class="row">
        <div class="card col-lg-12 col-sm-12 col-md-12 ht-lg-500 bg-white bd-1 bd-dark mg-t-20">
          <div class="row mg-t-15">
            <div class="col-lg-3 col-sm-2 col-md-2 d-flex align-items-center">
              <div>
                <h6 class="tx-dark">Events</h6>
              </div>

            </div>
            <div class="col-lg-9 col-sm-10 col-md-10 d-flex align-items-center justify-content-end">

              <div class="d-flex align-items-center">
                <span class="tx-dark">Plant</span>&nbsp;&nbsp;
                <span>
                  <select class="form-control form-control-sm">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </span>
              </div>&nbsp;&nbsp;&nbsp;

              <div class="d-flex align-items-center">
                <span class="tx-dark">Machine</span>&nbsp;&nbsp;
                <span>
                  <select class="form-control form-control-sm">
                    <option selected>Choose...</option>
                    <option value="JSW 550-I">JSW 550-I</option>
                    <option value="JSW 550-II">JSW 550-II</option>
                    <option value="JSW 450-I">JSW 450-I</option>
                    <option value="JSW 450-II">JSW 450-II</option>
                    <option value="JSW 450-III">JSW 450-III</option>
                    <option value="JSW 650">JSW 650</option>
                  </select>
                </span>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;

              <div>
                <button class="btn btn-teal btn-sm"><i class="fa fa-search fa-lg"></i></button>
              </div>&nbsp;&nbsp;
              <div>
                <button class="btn btn-teal btn-sm" data-toggle="modal" data-target="#modaldemo3"><i
                    class="fa fa-plus fa-lg"></i></button>
              </div>

            </div>
          </div>


          <div id="modaldemo3" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content tx-size-sm">
                <div class="modal-header pd-x-20 bg-gray-400">
                  <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold ">New Event</h6>
                  <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body pd-20">
                  <div class="row tx-size-sm">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                      <form>
                        <div class="form-group row">
                          <label for="event_name" class="col-sm-5 col-form-label tx-dark ">Event Name</label>
                          <div class="col-sm-7">
                            <input type="text" class="form-control form-control-sm" id="event_name" placeholder="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="event_description" class="col-sm-5 col-form-label tx-dark">Event
                            Description</label>
                          <div class="col-sm-7">
                            <textarea type="textarea" class="form-control form-control-sm" id="event_description"
                              placeholder=""></textarea>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="rules" class="col-sm-5 col-form-label tx-dark">Applicable Rules</label>
                          <div class="col-sm-7">
                            <select class="form-control form-control-sm" id="rules" onclick="rules_text(this)">


                            </select>
                            <textarea type="textarea" class="form-control form-control-sm" onchange="modal_table()"
                              id="rules1" placeholder=""></textarea>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="authority" class="col-sm-5 col-form-label tx-dark">Authority</label>
                          <div class="col-sm-7">
                            <textarea type="textarea" class="form-control form-control-sm" id="authority"
                              placeholder=""></textarea>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="date" class="col-sm-5 col-form-label tx-dark">Date</label>
                          <div class="col-sm-7 input-group">
                            <input id="dateMask" type="text" class="form-control form-control-sm"
                              placeholder="DD/MM/YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar tx-16 lh-0 op-6"></i></span>
                          </div>
                        </div>




                      </form>

                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6">

                      <form>
                        <div class="form-group row">
                          <label for="machine" class="col-sm-5 col-form-label tx-dark ">Machine</label>
                          <div class="col-sm-7">
                            <select class="form-control form-control-sm" id="machine">
                              <option selected>Choose...</option>
                              <option value="JSW 550-I">JSW 550-I</option>
                              <option value="JSW 550-II">JSW 550-II</option>
                              <option value="JSW 450-I">JSW 450-I</option>
                              <option value="JSW 450-II">JSW 450-II</option>
                              <option value="JSW 450-III">JSW 450-III</option>
                              <option value="JSW 650">JSW 650</option>
                            </select>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="Plant" class="col-sm-5 col-form-label tx-dark ">Plant</label>
                          <div class="col-sm-7">
                            <select class="form-control form-control-sm" id="Plant">
                              <option selected>Choose...</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="Importance" class="col-sm-5 col-form-label tx-dark ">Importance</label>
                          <div class="col-sm-7">
                            <select class="form-control form-control-sm" id="Importance">
                              <option selected>Choose...</option>
                              <option class="tx-danger" value="High">High</option>
                              <option class="tx-warning" value="Medium">Medium</option>
                              <option class="tx-primary" value="Low">Low</option>
                            </select>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="logTime" class="col-sm-5 col-form-label tx-dark ">Time Log</label>
                          <div class="col-sm-7">
                            <div class="input-group">
                              <input id="logTime" type="text" class="form-control form-control-sm" value="00" disabled>
                              <span class="input-group-addon"><i class="fa fa-clock-o tx-16 lh-0 op-6"></i></span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="deadline" class="col-sm-5 col-form-label tx-dark ">Deadline</label>
                          <div class="col-sm-7">
                            <div class="input-group">
                              <input id="stopTime" type="text" class="form-control form-control-sm" placeholder="HH:MM">
                              <span class="input-group-addon"><i class="fa fa-clock-o tx-16 lh-0 op-6"></i></span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="report" class="col-sm-5 col-form-label tx-dark">Report</label>
                          <div class="col-sm-7">
                            <textarea type="textarea" class="form-control form-control-sm" id="report"
                              placeholder=""></textarea>
                          </div>
                        </div>



                      </form>

                    </div>

                  </div>

                  <div class="row tx-size-sm">
                    <div class="col-12 d-flex justify-content-center">

                      <div class="table-responsive-sm table-responsive-md table-responsive-xs ht-lg-150 wd-lg-700"
                        style="overflow: auto;">
                        <table class="table table-sm table-hover table-bordered">
                          <thead class="bg-gray-400">
                            <tr class="bd bd-2 bd-dark">
                              <th scope="col">Rules</th>
                              <th scope="col" colspan="2">Danger</th>
                              <th scope="col" colspan="2">Warning</th>
                              <th scope="col" colspan="2">OK</th>
                            </tr>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Min</th>
                              <th scope="col">Max</th>
                              <th scope="col">Min</th>
                              <th scope="col">Max</th>
                              <th scope="col">Min</th>
                              <th scope="col">Max</th>
                            </tr>

                          </thead>
                          <tbody id="modal_table">

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </div><!-- modal-body -->
                <div class="modal-footer d-flex justify-content-center">
                  <button type="button" class="btn btn-teal tx-size-xs" onclick="modal_submit()">Submit</button>
                </div>
              </div>
            </div><!-- modal-dialog -->
          </div><!-- modal -->


          <!-------------------------Modal for solution button----------------------->

          <div id="modal_solution" class="modal fade">
            <div class="modal-dialog modal-lg wd-lg-500" role="document">
              <div class="modal-content tx-size-sm">
                <div class="modal-header pd-x-20 bg-gray-400">
                  <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold ">Solution</h6>
                  <button type="button" class="close" id="close_solution" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body pd-20">
                  <div class="row tx-size-sm">
                    <div class="col-12">
                      <form>
                        <div class="form-group tx-dark">
                          <label for="exampleFormControlTextarea1">Solution -:</label>
                          <textarea class="form-control" id="solution" rows="6"></textarea>
                          <span class="tx-danger">* </span><span class="tx-info tx-size-xs">Please Click on Submit
                            Button To Update The Solution</span>
                        </div>
                      </form>
                    </div>
                  </div>
                </div><!-- modal-body -->
                <div class="modal-footer d-flex justify-content-center">
                  <button type="button" class="btn btn-teal btn-sm tx-size-xs"
                    onclick="solution_emit()">Update</button>
                </div>
              </div>
            </div><!-- modal-dialog -->
          </div><!-- modal -->


          <!--------------------------end of modal of solution------------------------>


          <!-------------------------Modal for status button----------------------->

          <div id="modal_status" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content tx-size-sm">
                <div class="modal-header pd-x-20 bg-gray-400">
                  <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold ">Status Details</h6>
                  <button type="button" class="close" id="close_status" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body pd-20">
                  <div class="row tx-size-sm">
                    <div class="col-12">
                      <span id="status_html">


                      </span>


                    </div>
                  </div>
                </div><!-- modal-body -->
                <div class="modal-footer d-flex justify-content-center">

                </div>
              </div>
            </div><!-- modal-dialog -->
          </div><!-- modal -->


          <!--------------------------end of modal of status------------------------>

          <!----------------------------------Modal For Avator1----------------------->

          <div id="assign_to" class="modal fade">
            <div class="modal-dialog modal-lg wd-lg-500" role="document">
              <div class="modal-content tx-size-sm">
                <div class="modal-header pd-x-20 bg-gray-400">
                  <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold ">Assign To</h6>
                  <button type="button" class="close" id="close_assign" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body pd-20">
                  <div class="row tx-size-sm">
                    <div class="col-12">
                      <form>
                        <div class="form-group tx-dark">
                          <label for="exampleFormControlTextarea1">Assign To -:</label>
                          <textarea class="form-control" id="assign" rows="6"></textarea>
                          <span class="tx-danger">* </span><span class="tx-info tx-size-xs">Please Click on Submit
                            Button To Update The Assignment</span>
                        </div>
                      </form>
                    </div>
                  </div>
                </div><!-- modal-body -->
                <div class="modal-footer d-flex justify-content-center">
                  <button type="button" class="btn btn-teal btn-sm tx-size-xs"
                    onclick="assign_emit()">Update</button>
                </div>
              </div>
            </div><!-- modal-dialog -->
          </div><!-- modal -->

          <!---------------------------------end of assign_to Avator Modal-------------------->


          <!----------------------------------Modal For Avator2----------------------->

          <div id="report_to" class="modal fade">
            <div class="modal-dialog modal-lg wd-lg-500" role="document">
              <div class="modal-content tx-size-sm">
                <div class="modal-header pd-x-20 bg-gray-400">
                  <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold ">Report To</h6>
                  <button type="button" class="close" id="close_solution" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body pd-20">
                  <div class="row tx-size-sm">
                    <div class="col-12">
                      <form>
                        <div class="form-group tx-dark">
                          <label for="exampleFormControlTextarea1">Report To -:</label>
                          <textarea class="form-control" id="reportto" rows="6"></textarea>
                          <span class="tx-danger">* </span><span class="tx-info tx-size-xs">Please Click on Submit
                            Button To Update The Reporting</span>
                        </div>
                      </form>
                    </div>
                  </div>
                </div><!-- modal-body -->
                <div class="modal-footer d-flex justify-content-center">
                  <button type="button" class="btn btn-teal btn-sm tx-size-xs"
                    onclick="report_emit()">Update</button>
                </div>
              </div>
            </div><!-- modal-dialog -->
          </div><!-- modal -->

          <!---------------------------------end of report_to Avator2 Modal-------------------->


          <div class="row mg-t-50">
            <div class="col-12">
              <span class="tx-dark">New Events: <span class="tx-dark">11</span></span>
            </div>
          </div>

          <div class="row mg-t-5 ">
            <div class="col-12 bd-1 bd-dark">

              <div id = "resp" class="table-responsive-sm table-responsive-md table-responsive-xs table-responsive" style="overflow:auto;">
                <table  class="table table-sm table-hover">
                  <thead class="bg-gray-400">
                    <tr class="bd-2 bd-dark">
                      <th scope="col">Event Name</th>
                      <th scope="col">Importance</th>
                      <th scope="col">Description</th>
                      <th scope="col">Status</th>
                      <th scope="col">Log Time</th>
                      <th scope="col">Deadline</th>
                      <th scope="col">Assign To</th>
                      <th scope="col">Solution</th>
                      <th scope="col">Report</th>
                    </tr>
                  </thead>
                  <tbody  id="table">
                    <tr>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class=""><span class="btn btn-outline-success btn-xs  pd-y-1">Ok</span></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"><span><i class="fa fa-user fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<i
                            class="fa fa-user fa-lg" aria-hidden="true"></i></span></td>
                      <td class="tx-dark"><span class="btn btn-secondary btn-xs pd-y-1">View</span></td>
                      <td class="tx-dark"><span><i class="fa fa-user fa-lg" aria-hidden="true"></i></span></td>
                    </tr>
                    <tr>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class=""><span class="btn btn-outline-success btn-xs  pd-y-1">Ok</span></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"><span><i class="fa fa-user fa-lg" aria-hidden="true"></i></span></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                    </tr>
                    <tr>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class=""><span class="btn btn-outline-warning btn-xs pd-y-1">Warning</span></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"><span><i class="fa fa-user fa-lg" aria-hidden="true"></i></span></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                    </tr>
                    <tr>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class=""><span class="btn btn-outline-danger btn-xs  pd-y-1">Danger</span></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                    </tr>
                    <tr>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class=""><span class="btn btn-outline-danger btn-xs  pd-y-1">Danger</span></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                    </tr>
                    <tr>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class=""><span class="btn btn-outline-success btn-xs  pd-y-1">Ok</span></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                      <td class="tx-dark"></td>
                    </tr>
                   


                  </tbody>
                </table>
              </div>



            </div>
          </div>

        </div>
      </div>


    </div><!-- br-pagebody -->
  </div><!-- br-mainpanel -->
  <!-- ########## END: MAIN PANEL ########## -->

  <script src="{{url_for('static',filename='socket.js')}}"></script>

  <script src="{{url_for('static',filename='lib1/jquery/jquery.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/popper.js/popper.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/bootstrap/bootstrap.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/moment/moment.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/jquery-ui/jquery-ui.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/jquery-switchbutton/jquery.switchButton.js')}}"></script>
  <script src="{{url_for('static',filename='lib1/peity/jquery.peity.js')}}"></script>

  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/echarts.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/echarts-gl.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/ecStat.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/dataTool.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/china.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/world.js')}}"></script>
  <!--<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=xfhhaTThl11qYVrqLZii6w8qE5ggnhrY&__ec_v__=20190126"></script>-->
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/bmap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/simplex.js')}}"></script>
  <link href="{{url_for('static',filename='lib1/jt.timepicker/jquery.timepicker.css')}}" rel="stylesheet">
  <script src="{{url_for('static',filename='lib/jt.timepicker/jquery.timepicker.js')}}"></script>
  <script src="{{url_for('static',filename='lib/jquery.maskedinput/jquery.maskedinput.js')}}"></script>

  <script src="{{url_for('static',filename='js/bracket.js')}}"></script>



</body>
<script>
  var socket = io.connect('http://' + document.domain + ":" + location.port)
  var iter

  $('#tpBasic').timepicker();
  $('#dateMask').mask('99/99/9999');
  $('#logTime1').mask('99:99');
  $('#stopTime').mask('99:99');

  $('.fc-datepicker').datepicker({
    showOtherMonths: true,
    selectOtherMonths: true
  });

  $('#datepickerNoOfMonths').datepicker({
    showOtherMonths: true,
    selectOtherMonths: true,
    numberOfMonths: 2
  });

</script>

<script>

  function rules_text(x) {
    if (x.value != "Choose...") {
      document.getElementById('rules1').value = document.getElementById('rules1').value + x.value + ","
      modal_table()
    }
  }

  $(document).ready(function () {
    socket.emit("get_rules")
    socket.emit('get_event')

    socket.emit("cron_data","JSW 550-I")
  socket.emit('get_event')
    
    iter = setInterval(iterator,10000)
    $('[data-toggle="tooltip"]').tooltip();
  });

  socket.on("get_rules", function (x) {
    var str = "<option selected>Choose...</option>";
    rules = (JSON.parse(x))
    for (i = 0; i < Object.keys(rules).length; i++) {
      str += '<option>' + rules[i]["rule_name"] + '</option>'
    }

    document.getElementById("rules").innerHTML = str
  })


  function modal_submit() {
    dict = {
      "event_name": document.getElementById('event_name').value,
      "event_description": document.getElementById('event_description').value,
      "applicable_rule": document.getElementById('rules1').value,
      "authority": document.getElementById('authority').value,
      "date": document.getElementById('dateMask').value,
      "machine": document.getElementById('machine').value,
      "plant": document.getElementById('Plant').value,
      "importance": document.getElementById('Importance').value,
      "time_log": 0,
      "deadline": document.getElementById('stopTime').value,
      "report": document.getElementById('report').value,
      "status": "---",
      "pre_status":"null",
      "solution": "There is no solution",
      "MTBF":[],
      "Total_ok":[],
      "Total_danger":[],
      "Total_warning":[],
    }


    obj = {}
    list_obj = []
    var totalRowCount = 0;
    var rowCount = 0;
    var table = document.getElementById("modal_table");
    var rows = table.getElementsByTagName("tr")
    if (rows.length > 0) {
      for (var i = 0; i < rows.length; i++) {

        obj[document.getElementById("modal_table").rows[i].cells[0].innerText] = {
          danger: { min: document.getElementById("modal_table").rows[i].cells[1].innerText, max: document.getElementById("modal_table").rows[i].cells[2].innerText },
          warning: { min: document.getElementById("modal_table").rows[i].cells[3].innerText, max: document.getElementById("modal_table").rows[i].cells[4].innerText },
          ok: { min: document.getElementById("modal_table").rows[i].cells[5].innerText, max: document.getElementById("modal_table").rows[i].cells[6].innerText }
        }
        list_obj.push(obj)
        obj = {}
      }



      dict["rules_dict"] = list_obj
      socket.emit("event_insert", dict)
      document.getElementById('close').click()


    }
  }


  var events
  socket.on("retrive_event", function (x) {

    events = (JSON.parse(x))
    console.log(events)
    table_rows = ""
    for (i = 0; i < Object.keys(events).length; i++) {
      //console.log(events[i]["status_details"])
      table_rows += '<tr>\
  <td class="tx-dark">'+ events[i]['event_name'] + '</td>'

      if (events[i]["importance"] == "High") {
        table_rows += '<td><span class="tx-danger"><i class="fa fa-circle " aria-hidden="true"></i></span></td>'
      } else if (events[i]["importance"] == "Medium") {
        table_rows += '<td><span class="tx-warning"><i class="fa fa-circle " aria-hidden="true"></i></span></td>'
      } else if (events[i]["importance"] == "Low") {
        table_rows += '<td><span class="tx-primary"><i class="fa fa-circle " aria-hidden="true"></i></span></td>'
      }




      table_rows += '<td class="tx-dark">' + events[i]['event_description'] + '</td>'

      if (events[i]["status"] == "OK") {
        table_rows += '<td data-toggle="modal" data-target="#modal_status" onclick="status_details(' + i + ')"><span class="btn btn-outline-success btn-xs  pd-y-1">Ok</span></td>'
        
      } else if (events[i]["status"] == "Danger") {
        table_rows += '<td data-toggle="modal" data-target="#modal_status" onclick="status_details(' + i + ')"><span class="btn btn-outline-danger btn-xs  pd-y-1">Danger</span></td>'
      } else if (events[i]["status"] == "Warning") {
        table_rows += '<td data-toggle="modal" data-target="#modal_status" onclick="status_details(' + i + ')"><span class="btn btn-outline-warning btn-xs  pd-y-1">Warning</span></td>'
      } else if (events[i]["status"] == "Unknown" || events[i]["status"] == "---") {
        table_rows += '<td data-toggle="modal" data-target="#modal_status" onclick="status_details(' + i + ')"><span class="btn btn-outline-primary btn-xs  pd-y-1" >Unknown</span></td>'
      }

      table_rows += '<td class="tx-dark">' + String(events[i]['time_log'])+ '</td>\
  <td class="tx-dark">'+ String(events[i]['deadline']).replace(".", ":") + '</td>\
  <td class="tx-dark"><span><a href="#" data-toggle="modal" data-target="#assign_to" onclick="assign_to_btn('+ i + ')"><i class="fa fa-user fa-lg" aria-hidden="true"></i></a></span></td>\
  <td class="tx-dark"><span class="btn btn-secondary btn-xs pd-y-1" data-toggle="modal" data-target="#modal_solution" onclick="solution_btn('+ i + ')">View</span></td>\
  <td class="tx-dark"><span><a href="#" data-toggle="modal" data-target="#report_to" onclick="report_to_btn('+ i + ')"><i class="fa fa-user fa-lg" aria-hidden="true"></i></a></span></td>\
  </tr>'
    }
    document.getElementById('table').innerHTML = table_rows



    for (j = 0; j < 6; j++) {
      table_rows += '<tr>\
                      <td class="tx-dark"></td>\
                      <td class="tx-dark"></td>\
                      <td class="tx-dark"></td>\
                      <td class=""></td>\
                      <td class="tx-dark"></td>\
                      <td class="tx-dark"></td>\
                      <td class="tx-dark"></td>\
                      <td class="tx-dark"></td>\
                      <td class="tx-dark">-</td>\
                    </tr>'

    }
    document.getElementById("table").innerHTML = table_rows
  })


  function modal_table() {
    strr = ""
    xx = (document.getElementById("rules1").value).split(",")
    for (i = 0; i < xx.length; i++) {
      if (xx[i] != "") {
        strr += ' <tr>\
                              <td class="tx-dark">'+ xx[i] + '</td>\
                              <td class="tx-dark" contenteditable="true"></td>\
                              <td class="tx-dark" contenteditable="true"></td>\
                              <td class="tx-dark" contenteditable="true"></td>\
                              <td class="tx-dark" contenteditable="true"></td>\
                              <td class="tx-dark" contenteditable="true"></td>\
                              <td class="tx-dark" contenteditable="true"></td>\
                            </tr>'
      }
    }
    document.getElementById("modal_table").innerHTML = strr
  }

  var rules_arr = []
  function rule_table() {

  }

  socket.on("event_with_rule", function (y) {

    //console.log(y)
    for(j = 0; j < y.length; j++){

    comparison = []
    for_status = []
    x = y[j]
    //console.log(x)
    //console.log([Object.keys(x[1][2][0][0])[0]])
    var table1 = document.getElementById("table");
    var rows1 = table1.getElementsByTagName("tr")
    if (rows1.length > 0) {

      for (var i = 0; i < rows1.length; i++) {

        if (document.getElementById("table").rows[i].cells[0].innerText == x[1][2][1]) {

          for (var t = 0; t < x[0].length; t++) {
            for_status.push([[Object.keys(x[1][2][0][t])[0]], x[0][t][1], x[0][t][0]])
            rules_output = []
            //--------------------------------------1-------------------------------  
            if (parseFloat(x[1][2][0][t][Object.keys(x[1][2][0][t])[0]].warning.min) <= x[0][t][0] && parseFloat(x[1][2][0][t][Object.keys(x[1][2][0][t])[0]].warning.max) >= x[0][t][0]) {
              rules_output.push("warning")
            }
            //-------------------------------------2---------------------------

            if (parseFloat(x[1][2][0][t][Object.keys(x[1][2][0][t])[0]].danger.min) <= x[0][t][0] && parseFloat(x[1][2][0][t][Object.keys(x[1][2][0][t])[0]].danger.max) >= x[0][t][0]) {
              rules_output.push("danger")
            }

            //--------------------------------------3---------------------------------

            if (parseFloat(x[1][2][0][t][Object.keys(x[1][2][0][t])[0]].ok.min) <= x[0][t][0] && parseFloat(x[1][2][0][t][Object.keys(x[1][2][0][t])[0]].ok.max) >= x[0][t][0]) {
              rules_output.push("ok")
            }
            //---------------------------------------compare output--------------------------
            if (rules_output.indexOf("danger") != -1) {
              comparison.push("danger")

            } else if (rules_output.indexOf("warning") != -1) {
              comparison.push("warning")

            } else if (rules_output.indexOf("ok") != -1) {
              comparison.push("ok")

            } else {
              comparison.push("--")
            }

          }


          if (comparison.indexOf("danger") != -1) {
            //document.getElementById("table").rows[i].cells[3].innerHTML = '<span class="btn btn-outline-danger btn-xs  pd-y-1">danger</span>'
            socket.emit("event_status", [document.getElementById("table").rows[i].cells[0].innerText, "JSW 550-I", "Danger", for_status])

          } else if (comparison.indexOf("warning") != -1) {
            //document.getElementById("table").rows[i].cells[3].innerHTML = '<span class="btn btn-outline-warning btn-xs  pd-y-1">warning</span>'
            socket.emit("event_status", [document.getElementById("table").rows[i].cells[0].innerText, "JSW 550-I", "Warning", for_status])

          } else if (comparison.indexOf("ok") != -1) {
            //document.getElementById("table").rows[i].cells[3].innerHTML = '<span class="btn btn-outline-success btn-xs  pd-y-1">OK</span>'
            socket.emit("event_status", [document.getElementById("table").rows[i].cells[0].innerText, "JSW 550-I", "OK", for_status])

          } else {
            //document.getElementById("table").rows[i].cells[3].innerHTML = '<span class="btn btn-outline-primary btn-xs  pd-y-1">Unknown</span>'
            socket.emit("event_status", [document.getElementById("table").rows[i].cells[0].innerText, "JSW 550-I", "Unknown", for_status])
          }


        }

      }

    }

  }
  })

  var for_update
  function solution_btn(x) {
    i = parseInt(x)

    if (events[i]["solution"]) {
      document.getElementById('solution').value = events[i]["solution"]
    } else {
      document.getElementById('solution').value = "There is no Solution available"
    }
    for_update = [events[i]["date"], String(events[i]["machine"]), String(events[i]["event_name"])]
  }


  var for_assign
  function assign_to_btn(x) {
    i = parseInt(x)

    if (events[i]["authority"]) {
      document.getElementById('assign').value = events[i]["authority"]
    } else {
      document.getElementById('assign').value = "There is No Authority To Report"
    }
    for_assign = [events[i]["date"], String(events[i]["machine"]), String(events[i]["event_name"])]
  }


  var for_report
  function report_to_btn(x) {
    i = parseInt(x)

    if (events[i]["report"]) {
      document.getElementById('reportto').value = events[i]["report"]
    } else {
      document.getElementById('reportto').value = "There is No Authority To Report"
    }
    for_report = [events[i]["date"], String(events[i]["machine"]), String(events[i]["event_name"])]
  }

  function solution_emit() {
    for_update.push(document.getElementById('solution').value)
    socket.emit('solution', for_update)
    document.getElementById('close_solution').click()
    location.reload();
  }

  function assign_emit() {
    for_assign.push(document.getElementById('assign').value)
    socket.emit('assign_to', for_assign)
    document.getElementById('close_assign').click()
    location.reload();
  }

  function report_emit() {
    for_report.push(document.getElementById('reportto').value)
    socket.emit('report_to', for_report)
    document.getElementById('close_solution').click()
    location.reload();
  }

  function status_details(x) {
    str = ""

    for (k = 0; k < (events[x]["status_details"]).length; k++) {

      str += ' <div class="d-flex justify-content-between align-items-center tx-dark">\
                        <div class="form-group mb-2">\
                          <span>Rule Name :</span>\
                          <input type="text" readonly class="form-control form-control-sm"  value="'+ events[x]["status_details"][k][0][0] + '">\
                        </div>\
                        <div class="form-group mx-sm-3 mb-2">\
                          <span>Rule :</span>\
                          <input type="text" readonly class="form-control form-control-sm" value="'+ events[x]["status_details"][k][1] + '">\
                        </div>\
                       \
                        <div class="form-group mx-sm-3 mb-2">\
                          <span>Value :</span>\
                          <input type="text" readonly class="form-control form-control-sm" value="'+ events[x]["status_details"][k][2] + '">\
                        </div>\
                      </div><br>'
    }

    document.getElementById("status_html").innerHTML = str
  }



function iterator(){

  socket.emit("cron_data","JSW 550-I")
  socket.emit('get_event')
}
</script>
{% endblock %}
