{% extends "main_template.html" %}

{% block content %}


<style type="text/css">
  
.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}
</style>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
   <div id="map" style="height: 60vh;"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.google.com/maps/api/js?libraries=&key=AIzaSyBdPjJAJf-Wd9pUDKgZ35gpY3g6rPWb8e0"></script>
    <!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdPjJAJf-Wd9pUDKgZ35gpY3g6rPWb8e0&callback=initMap&libraries=&v=weekly"></script>
 -->
    <script type="text/javascript">
      // let map;
// function initMap() {
//   map = new google.maps.Map(document.getElementById("map"), {
//     center: { lat: 18.5488, lng: 73.8276 },
//     zoom: 14,
//   });
// }

let map, infoWindow;

 if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(position => {
                    lat = position.coords.latitude;
                    long = position.coords.longitude;
                    // geocodeLatLng(lat,long);
                    coords_data.push(lat);
                    coords_data.push(long);
                    // geocodeLatLng(geocoder,coords_data);
                  });
  } else {
    console.error("Geolocation is not supported by this browser!");
  }


const iconBase =
    "static/img/";
  const icons = {
      icon: iconBase + "forklift.png",
    };

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 18.5488, lng: 73.8276},
    zoom: 6,
  });


  infoWindow = new google.maps.InfoWindow();
  // const locationButton = document.createElement("button");
  // locationButton.textContent = "Pan to Current Location";
  // locationButton.classList.add("custom-map-control-button");
  // map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
  // locationButton.addEventListener("click", () => {
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };
          addMarker(pos.lat, pos.lng, '')
          function addMarker(lat, lng, info) {
            var pt = new google.maps.LatLng(lat, lng);
            new google.maps.Marker({
              position: pt,
              icon: icons.icon,
              map,
              title: "",
            });
          //   infoWindow.setPosition(pt);
          // infoWindow.setContent("Location found.");
          // infoWindow.open(map);
            map.setCenter(pt);
            map.setZoom(30);
          }
          // infoWindow.setPosition(pos);
          // infoWindow.setContent("Location found.");
          // infoWindow.open(map);
          // map.setCenter(pos);
        },
        () => {
          handleLocationError(true, infoWindow, map.getCenter());
        }
      );
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  // });
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(
    browserHasGeolocation
      ? "Error: The Geolocation service failed."
      : "Error: Your browser doesn't support geolocation."
  );
  infoWindow.open(map);
}


// function addMarker(lat, lng, info) {
//   var pt = new google.maps.LatLng(lat, lng);
//   bounds.extend(pt);
// }

window.onload = function() {
initMap();
console.log("HELLO")
};
    </script>

{% endblock %}