{% extends "template_fleet.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
</style>
    <div class="br-pagebody">


        <div class="row">
            <div class="card col-lg-12 col-sm-12 col-md-12 ht-lg-750 bg-white bd-1 bd-dark mg-t-20">
                <div class="row mg-t-15">
                    <div class="col-lg-3 col-sm-2 col-md-2 d-flex align-items-center">
                        <div>
                            <h6 class="tx-dark">Predictive Analysis</h6>
                        </div>

                    </div>
                    <div class="col-lg-9 col-sm-10 col-md-10 d-flex align-items-center justify-content-end">

                        <div class="d-flex align-items-center">
                            <span class="tx-dark">Plant</span>&nbsp;&nbsp;
                            <span>
                              <select class="form-control form-control-sm">
                                      <option selected>Choose...</option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                    </select>
                            </span>
                        </div>&nbsp;&nbsp;&nbsp;
        
                        <div class="d-flex align-items-center">
                            <span class="tx-dark">Machine</span>&nbsp;&nbsp;
                            <span>
                              <select class="form-control form-control-sm">
                                      <option selected>Choose...</option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                    </select>
                            </span>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;

                        <div>
                            <button class="btn btn-teal btn-sm" ><i class="fa fa-search fa-lg"></i></button>
                        </div>&nbsp;&nbsp;
                        <div>
                            <button class="btn btn-teal btn-sm" data-toggle="modal" data-target=""><i class="fa fa-plus fa-lg"></i></button>
                        </div>

                    </div>
                </div>


                <div id="modaldemo3" class="modal fade">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content tx-size-sm">
                      <div class="modal-header pd-x-20 bg-gray-400">
                        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold ">New Event</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body pd-20">
                        <div class="row tx-size-sm">
                          <div class="col-lg-6 col-sm-6 col-md-6">
                            <form>
                              <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label tx-dark ">Asset</label>
                                <div class="col-sm-7">
                                  <input type="text" class="form-control form-control-sm" id="staticEmail" placeholder="">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="inputPassword" class="col-sm-5 col-form-label tx-dark">Event Description</label>
                                <div class="col-sm-7">
                                  <textarea type="textarea" class="form-control form-control-sm" id="inputPassword" placeholder=""></textarea>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="rules" class="col-sm-5 col-form-label tx-dark">Applicable Rules</label>
                                <div class="col-sm-7">
                                  <textarea type="textarea" class="form-control form-control-sm" id="rules" placeholder=""></textarea>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="authority" class="col-sm-5 col-form-label tx-dark">Authority</label>
                                <div class="col-sm-7">
                                  <textarea type="textarea" class="form-control form-control-sm" id="authority" placeholder=""></textarea>
                                </div>
                              </div>
                            </form>
                            
                          </div>

                          <div class="col-lg-6 col-sm-6 col-md-6">

                            <form>
                              <div class="form-group row">
                                <label for="machine" class="col-sm-5 col-form-label tx-dark ">Machine</label>
                                <div class="col-sm-7">
                                  <select class="form-control form-control-sm" id="machine">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="Plant" class="col-sm-5 col-form-label tx-dark ">Plant</label>
                                <div class="col-sm-7">
                                  <select class="form-control form-control-sm" id="Plant">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="Importance" class="col-sm-5 col-form-label tx-dark ">Importance</label>
                                <div class="col-sm-7">
                                  <select class="form-control form-control-sm" id="Importance">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                                </div>
                              </div>

                              

                          <div class="form-group row">
                            <label for="report" class="col-sm-5 col-form-label tx-dark">Report</label>
                            <div class="col-sm-7">
                              <textarea type="textarea" class="form-control form-control-sm" id="report" placeholder=""></textarea>
                            </div>
                          </div>
                          

                              
                              </form>
                            
                          </div>
                        </div>
                      </div><!-- modal-body -->
                      <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-teal tx-size-xs">Submit</button>
                      </div>
                    </div>
                  </div><!-- modal-dialog -->
                </div><!-- modal -->

                <div class="row mg-t-10">

                    <div class='col-lg-6 col-md-12 col-sm-12 border pd-5'>
                        <div class="tx-dark"><span class="mg-l-10"> Predicted Faults vs Actual</span><hr>
                       <div id="container" style="height: 280px"></div>
                    </div>
                    </div>	
                    
                    <div class='col-lg-6 col-md-12 col-sm-12 border pd-5 '>
                        <div class="tx-dark"><span class="mg-l-10">Reliability Index</span><hr>
                       <div id="container1" style="height: 280px"></div>
                    </div>
                    </div>

                    
                </div>

                <div class="row mg-t-5">

                    <div class='col-lg-6 col-md-12 col-sm-12 border pd-5'>
                        <div class="tx-dark"><span class="mg-l-10">Major Factors Leading to Faults</span><hr>
                       <div id="container3" style="height: 280px"></div>
                    </div>
                    </div>	
                    
                    <div class='col-lg-6 col-md-12 col-sm-12 border pd-5 '>
                        <div class="tx-dark"><span class="mg-l-10">Mean Time between Failures</span><hr>
                       <div id="container2" style="height: 280px"></div>
                    </div>
                    </div>

                </div>
            
        </div>
        </div>
      

    </div><!-- br-pagebody -->

    <footer class="br-footer">
        <div class="footer-left">
          <div class="mg-b-2">Copyright &copy; 2020.Cyronics. All Rights Reserved.</div>
         
        </div>
        
       
      </footer>

  </div><!-- br-mainpanel -->
  <!-- ########## END: MAIN PANEL ########## -->

  <script src="{{url_for('static',filename='socket.js')}}"></script>

    <script src="{{url_for('static',filename='lib1/jquery/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/popper.js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/bootstrap/bootstrap.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/moment/moment.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/peity/jquery.peity.js')}}"></script>

    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/echarts.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/echarts-gl.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/ecStat.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/dataTool.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/china.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/world.js')}}"></script>
  <!--<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=xfhhaTThl11qYVrqLZii6w8qE5ggnhrY&__ec_v__=20190126"></script>-->
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/bmap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/simplex.js')}}"></script>
  <link href="{{url_for('static',filename='lib1/jt.timepicker/jquery.timepicker.css')}}" rel="stylesheet">
  <script src="{{url_for('static',filename='lib/jt.timepicker/jquery.timepicker.js')}}"></script>

    <script src="{{url_for('static',filename='js/bracket.js')}}"></script>
    	  
	 
 
<script>
  $('#tpBasic').timepicker();

</script>
<script>
    
    var dom = document.getElementById("container");
       var myChart = echarts.init(dom);
       var app = {};
       option = null;
       option = {

        responsive: true,

           grid:{
               top:'10%',
               bottom:'10%',
           },
           tooltip : {
               trigger: 'axis'
           },
           
           calculable : true,
           xAxis : [
               {
                   type : 'category',
                   data : ['1','2','3','4','5','6','7','8','9','10','11','12']
               }
           ],
           yAxis : [
               {
                   type : 'value'
               }
           ],
           series : [
               {
                   name:'TestBed1',
                   color: '#05b080',
                   type:'bar',
                   data:[2, 5, 7, 23, 25, 76, 135, 162, 32, 20, 6, 3],
                   markPoint : {
                       data : [
                           {type : 'max', name: 'h1'},
                           {type : 'min', name: 'h2'}
                       ]
                   },
                   markLine : {
                       data : [
                           {type : 'average', name: 'h3'}
                       ]
                   }
               },
               {
                   name:'TestBed2',
                   type:'bar',
                   color: '#4f4b4a',
                   data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
                   markPoint : {
                       data : [
                           {name : 'h4', value : 182.2, xAxis: 7, yAxis: 183},
                           {name : 'h5', value : 2.3, xAxis: 11, yAxis: 3}
                       ]
                   },
                   markLine : {
                       data : [
                           {type : 'average', name : 'h6'}
                       ]
                   }
               }
           ]
       };
       ;
       if (option && typeof option === "object") {
           myChart.setOption(option, true);
       }
//=========================================================graph1 end================================================


var dom1 = document.getElementById("container1");
       var myChart1 = echarts.init(dom1);
       var app = {};
       option1 = null;
       option1 = {

        responsive: true,

        grid:{
               top:'10%',
               bottom:'10%',
           },
           
           tooltip : {
               trigger: 'axis'
           },
           
           calculable : true,
           xAxis : [
               {
                   type : 'category',
                   data : ['1','2','3','4','5','6','7','8','9','10','11','12']
               }
           ],
           yAxis : [
               {
                   type : 'value'
               }
           ],
           series : [
               {
                   name:'TestBed1',
                   color: '#05b080',
                   type:'bar',
                   data:[2, 5, 7, 23, 25, 76, 135, 162, 32, 20, 6, 3],
                   markPoint : {
                       data : [
                           {type : 'max', name: 'h1'},
                           {type : 'min', name: 'h2'}
                       ]
                   },
                   markLine : {
                       data : [
                           {type : 'average', name: 'h3'}
                       ]
                   }
               },
               {
                   name:'TestBed2',
                   type:'bar',
                   color: '#4f4b4a',
                   data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
                   markPoint : {
                       data : [
                           {name : 'h4', value : 182.2, xAxis: 7, yAxis: 183},
                           {name : 'h5', value : 2.3, xAxis: 11, yAxis: 3}
                       ]
                   },
                   markLine : {
                       data : [
                           {type : 'average', name : 'h6'}
                       ]
                   }
               }
           ]
       };
       ;
       if (option1 && typeof option1 === "object") {
           myChart1.setOption(option1, true);
       }

//==========================================================graph2 end=======================================================

var dom2 = document.getElementById("container2");
       var myChart2 = echarts.init(dom2);
       var app = {};
       option2 = null;
       option2 = {

        responsive: true,

        grid:{
               top:'10%',
               bottom:'10%',
           },

           tooltip : {
               trigger: 'axis'
           },
           
           calculable : true,
           xAxis : [
               {
                   type : 'category',
                   data : ['1','2','3','4','5','6','7','8','9','10','11','12']
               }
           ],
           yAxis : [
               {
                   type : 'value'
               }
           ],
           series : [
               {
                   name:'TestBed1',
                   color: '#05b080',
                   type:'bar',
                   data:[2, 5, 7, 23, 25, 76, 135, 162, 32, 20, 6, 3],
                   markPoint : {
                       data : [
                           {type : 'max', name: 'h1'},
                           {type : 'min', name: 'h2'}
                       ]
                   },
                   markLine : {
                       data : [
                           {type : 'average', name: 'h3'}
                       ]
                   }
               },
               {
                   name:'TestBed2',
                   type:'bar',
                   color: '#4f4b4a',
                   data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
                   markPoint : {
                       data : [
                           {name : 'h4', value : 182.2, xAxis: 7, yAxis: 183},
                           {name : 'h5', value : 2.3, xAxis: 11, yAxis: 3}
                       ]
                   },
                   markLine : {
                       data : [
                           {type : 'average', name : 'h6'}
                       ]
                   }
               }
           ]
       };
       ;
       if (option2 && typeof option2 === "object") {
           myChart2.setOption(option2, true);
       }
//===========================================================graph4 end===========================================

var dom3 = document.getElementById("container3");
    var myChart3 = echarts.init(dom3);
    var app = {};
    option3 = null;
    option3 = {
        responsive: true,

        grid:{
               top:'10%',
               bottom:'10%',
               left:'10%',
               right:'10%',
           },
        
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        
        series : [
            {
                name: 'Reason',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:335, name:'A'},
                    {value:310, name:'B'},
                    {value:234, name:'C'},
                    {value:135, name:'D'},
                    {value:1548, name:'E'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    ;
    if (option3 && typeof option3 === "object") {
        myChart3.setOption(option3, true);
    }

//============================================pie chart end here=================================================

</script>
{% endblock %}
