
{% extends "template.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    --dark-grey : #505050;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }

.Rectangle_dark {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--metallic-blue);

  }
  .card-header-font{

  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  


  }

  .border {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
  }
  .popover-title {
    color: blue;
    font-size: 15px;
}
.popover-content {
    color: red;
    font-size: 10px;
}
.card_style{
  height:60px; 
  background-color:var(--dusk-blue);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
.machinename_style{
font-family: Montserrat;
margin: auto;
}
</style>

     
      <div class="pt-3">
            <div class="tx-dark tx-15 tx-bold">FACTORY OVERVIEW </div>
          </div>

<div class="d-flex justify-content-end mg-t-5 mg-b-5">
  <!--<div class="p-2 btn btn-sm Rectangle" onclick="myCreateFunction()" >IMPORT</div>&nbsp;-->
 <!--  <div class="p-2 btn btn-sm Rectangle" data-toggle="modal" data-target="#exampleModal" >IMPORT</div>&nbsp;&nbsp;&nbsp;  -->

  <div class="p-2 mg-2 tx-dark" id= "last_update_time" > Last Update :  </div>&nbsp;&nbsp;
  <div class="p-2 mg-2 btn btn-sm Rectangle" id="auto_refresh" onclick="auto_refresh_toggle()">AUTO REFRESH : ON</div>



</div>

  <div class='row '>

       <div class='col-lg-12 col-md-12'>
        <div class="card ht-550"  style="border-radius: 5px; box-shadow: 0 2px 6px 0 var(--bluish-grey);" >
         
         
        <div class="card-body pd-x-50">



          <div id="overview_chart" style="height: 450px"></div>


        </div><!-- card-body -->
      </div><!-- card -->
    </div>
  </div>








<!----       hard-code --------------------->

<div id='template_card' style="display: none;">
        <div class="col-12 col-md-6 col-lg-4 mg-0 pd-1" style="border-top: 1px">
          <div class="card bg-dark text-white" style="height:100%;box-shadow: 0 2px 6px 0 var(--bluish-grey);">
         
             <div class="card-header card-header-font M" style="border-radius: 9px 9px 0px 0px; "> JSW 450T-I </div>

          <div class="card-body " >
            
               
                <p class=" tx-30 tx-center tx-bold tx-warning pd-b-0 mg-b-1 E"> 100 %</p>


              <p class="tx-center">Efficiency </p>
                
           <div class="row">
            
                <p class="col-4 tx-center tx-20 tx-bold tx-warning pd-b-0 mg-b-1 A">100%</p>
                
                <p class="col-4 tx-center tx-20 tx-bold tx-warning pd-b-0 mg-b-1 P">100%</p>
              
                <p class="col-4 tx-center tx-20 tx-bold tx-warning pd-b-0 mg-b-1 Q">100%</p>
               
        
              </div>
              <div class="row">
                <p class="col-4 tx-center pd-b-0 mg-b-0">Availability</p>
                
                <p class="col-4 tx-center pd-b-0 mg-b-1">Productivity</p>
              
                <p class="col-4 tx-center pd-b-0 mg-b-1">Quality</p>
                    

              </div>
            </div>
              <div class="card-footer " style="height:30%;background-color: var(--dark-grey); border-radius: 0px 0px 9px 9px; ">
            
            <p class="tx-center card-header-font PART"> PART : </p>
          </div>

          </div>
          
       </div>  
</div>



<div class="row mg-t-20 " id="all_cards">
      





  </div>


      


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
<script>                   
var socket = io.connect('http://' + document.domain + ":" + location.port)



socket.emit("get_heirarchy_data");
var auto_refresh_interval = 0;

auto_refresh_interval = setInterval(function() {
    console.log("periodic_update");
    socket.emit("get_heirarchy_data");

}, 60000);


  function auto_refresh_toggle(){

      var text = document.getElementById("auto_refresh").innerHTML ;
      // console.log(text);
      if (text == "AUTO REFRESH : ON"){
        document.getElementById("auto_refresh").classList.remove("Rectangle");
        document.getElementById("auto_refresh").classList.add("Rectangle_dark");
        document.getElementById("auto_refresh").innerHTML = "AUTO REFRESH : OFF" ;

        // stop interval 
        // When you want to cancel it:
        clearInterval(auto_refresh_interval);


      }
      else {
          document.getElementById("auto_refresh").classList.remove("Rectangle_dark");
         document.getElementById("auto_refresh").classList.add("Rectangle");
        document.getElementById("auto_refresh").innerHTML = "AUTO REFRESH : ON" ;


          auto_refresh_interval = setInterval(function() {
            console.log("periodic_update");
              socket.emit("get_heirarchy_data");
          }, 60000);

      }
}











socket.on("send_heirarchy_data",function(json){

console.log("Received Active Heirarchy Data.");
console.log(json);


document.getElementById("last_update_time").innerHTML = "Last Update : "  + json["update_time"]

var myChart = echarts.init(document.getElementById('overview_chart'));
  var option = {
    tooltip: {
      trigger: 'item',
      triggerOn: 'mousemove',
    },
     toolbox: {
        feature: {
            saveAsImage: {
      title: 'Save',
      },
        }
    },
    series: [{
      type: 'tree',
      data: [json["data_json"]],
      label: {
                    position: 'left',
                    verticalAlign: 'bottom',
                    align: 'right',
                    fontSize: 12
                },

                leaves: {
                    label: {
                        position: 'right',
                        verticalAlign: 'middle',
                        align: 'left'
                    }
                },


      
      top: '1%',
      left: '5%',
      bottom: '1%',
      right: '20%',
      symbol: 'emptyCircle',
      symbolSize: 7,
      initialTreeDepth: 2,
      emphasis: {
            focus: 'descendant'
        },
      expandAndCollapse: true,
      animationDuration: 550,
      animationDurationUpdate: 750

    }]
  };

  myChart.setOption(option);




// unclean way to fill the card templates 

data_cards = json["data_json"]["children"][2]["children"]
console.log(data_cards);

document.getElementById("all_cards").innerHTML = "";
for(var i =0 ; i < data_cards.length ; i++){

 inner_html = "";
 try {
 //console.log(data_cards[i]["children"][0]["value"]);

 document.getElementById("template_card").getElementsByClassName("M")[0].innerHTML =  data_cards[i]["name"];
 document.getElementById("template_card").getElementsByClassName("M")[0].classList.remove("bg-secondary");
 document.getElementById("template_card").getElementsByClassName("M")[0].style.backgroundColor = data_cards[i]["itemStyle"]["borderColor"];
 
 //document.getElementById("template_card").getElementsByClassName("M")[0].classList.add("bg-primary");
 
 document.getElementById("template_card").getElementsByClassName("E")[0].innerHTML = String(data_cards[i]["children"][0]["value"]) + " %";
 document.getElementById("template_card").getElementsByClassName("A")[0].innerHTML = String(data_cards[i]["children"][1]["value"]) + " %";
 document.getElementById("template_card").getElementsByClassName("P")[0].innerHTML = String(data_cards[i]["children"][2]["value"]) + " %";
 document.getElementById("template_card").getElementsByClassName("Q")[0].innerHTML = String(data_cards[i]["children"][3]["value"]) + " %";

 document.getElementById("template_card").getElementsByClassName("PART")[0].innerHTML = data_cards[i]["part_name"];

 inner_html = document.getElementById("template_card").innerHTML;
 document.getElementById("all_cards").innerHTML += inner_html ;


}
catch(e){

 document.getElementById("template_card").getElementsByClassName("M")[0].innerHTML =  data_cards[i]["name"]; 
 //document.getElementById("template_card").getElementsByClassName("M")[0].classList.remove("bg-primary");

 //document.getElementById("template_card").getElementsByClassName("M")[0].classList.add("bg-secondary");
 document.getElementById("template_card").getElementsByClassName("M")[0].style.backgroundColor = data_cards[i]["itemStyle"]["borderColor"];
 
 document.getElementById("template_card").getElementsByClassName("E")[0].innerHTML = "-- %";
 document.getElementById("template_card").getElementsByClassName("A")[0].innerHTML = "-- %";
 document.getElementById("template_card").getElementsByClassName("P")[0].innerHTML = "-- %";
 document.getElementById("template_card").getElementsByClassName("Q")[0].innerHTML = "-- %";

 document.getElementById("template_card").getElementsByClassName("PART")[0].innerHTML = data_cards[i]["part_name"];


 inner_html = document.getElementById("template_card").innerHTML;
 document.getElementById("all_cards").innerHTML += inner_html ;

}


}




});












</script>



{% endblock %}
