{% extends "template.html" %}

{% block content %}

<nav class="navbar navbar-light bg-light" style=" margin-bottom: 80px;">
  <div class="container-fluid">
  	 <a class="navbar-brand text-dark bg-light"><h5>Work Allocation</h5> 

		<div style="display: flex; align-items: center; padding: 20px 10px;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>		
		</div>
  	 </a>

    <form class="d-flex"> 
      <input type="month" id="bdaymonth" name="bdaymonth"  placeholder="yyyy--mm">
  <input type="submit">
</form>
  </div>
</nav>




<div class="row row-cols-1 row-cols-md-3 g-4" >
  <div class="col">
    <div class="card h-100" style="width: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">

   <!--- bar chart--->
      
      <div class="card-body" style=" border: solid 1px;" >
        <h5 class="card-title">Average Runing Time in hrs  </h5>
           <div class="card  mg-t-20 " style="border-radius: 5px; box-shadow: 0 2px 6px 0 var(--bluish-grey);">

                <div class="card-header bg-transparent pd-x-25 pd-y-15 bd-b-0 d-flex justify-content-between align-items-center">
                </div><!-- card-header -->
                <div class="card-body pd-x-25 pd-b-5 pd-t-0">
                    <div id="container" style="height: 300px"></div>

                 <div><small id="rejection_chart_update_status" class="tx-black"> </small></div>   

                </div><!-- card-body -->
            </div><!-- card -->

   <!---  end bar chart--->

      </div>
    </div>
  </div>


  <div class="col">
    <div class="card h-100" style="width: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
      <div class="card-body" style=" border: solid 1px;">
        <h5 class="card-title">Daily Alarms</h5>
  
   <div class="card-body">
        
          

                <div class="card-header bg-transparent pd-x-25 pd-y-15 bd-b-0 d-flex justify-content-between align-items-center">
                </div><!-- card-header -->
                <div class="card-body pd-x-25 pd-b-5 pd-t-0">
                    <div id="containers" style="height: 300px"></div>

                 <div><small id="rejection_chart_update_status" class="tx-black"> </small></div>   

                </div><!-- card-body -->
            </div><!-- card -->
        
      </div>
    </div>
  </div>

<div class="col">
    <div class="card h-100" style="width: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
      <div class="card-body" style=" border: solid 1px;">
        <h5 class="card-title">Average Alocated Jobs</h5>
  
   <div class="card-body">
        
          

                <div class="card-header bg-transparent pd-x-25 pd-y-15 bd-b-0 d-flex justify-content-between align-items-center">
                </div><!-- card-header -->
                <div class="card-body pd-x-25 pd-b-5 pd-t-0">
                    <div id="contain" style="height: 300px"></div>

                 <div><small id="rejection_chart_update_status" class="tx-black"> </small></div>   

                </div><!-- card-body -->
            </div><!-- card -->
        
      </div>
    </div>
  </div>



  </div>
</div>

<script>
	

var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    
    var rejection_categories =  ["AIR BUBBLE", "GAS MARK", "BLACK DOT", "PATCH MARK", "PIN MARK", "SCRATCH", "MOISTURE",
                           "BLACK FLOW", "BLACK MARK", "WILD LINE"];
    


   
 
  
  
    option = null;
    option = {

    responsive: true,

    title: {
      text: '',
    },
    tooltip: {
      trigger: 'axis'
    },
    legend: {
                    data: []
      },

    calculable: true,
    xAxis: [
      {
        type: 'category',
        name:'SUB-CATEGORIES',
        nameLocation: 'middle',
        nameGap: 80,
        data: rejection_categories,
        axisLabel: {
        interval: 0,
        rotate: 30 ,
        fontSize: 12 
      }
    }
    ],
    grid: {
            left: '10%',
            right: '10%',
            bottom: '10%',
            top:'10%',
            containLabel: true
        },
    yAxis: [
      {
        type: 'value',
        nameLocation: 'middle',
        nameGap: 50,
        name:'WEIGHT (KG.)'
      }
    ],
    series: [
      {
        name: 'WEIGHT (KG.)',
        
        color: '#05b080',
        type: 'bar',
        data: [1,2,3,4,5,6,7,8,9,10]
        
        
      },

    ],
     toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
        ,title: 'Save As picture',
            },
            restore: {title: 'restore',},
            saveAsImage: {
      title: 'Save As picture',
      },
        }
    },
    };
    ;
    if (option && typeof option === "object") {
    myChart.setOption(option, true);
    }

var dom = document.getElementById("containers");
    var myChart = echarts.init(dom);
    
    var rejection_categories =  ["AIR BUBBLE", "GAS MARK", "BLACK DOT", "PATCH MARK", "PIN MARK", "SCRATCH"];
    


   
 
  
  
    option = null;
    option = {

    responsive: true,

    title: {
      text: '',
    },
    tooltip: {
      trigger: 'axis'
    },
    legend: {
                    data: []
      },

    calculable: true,
    xAxis: [
      {
        type: 'category',
        name:'SUB-CATEGORIES',
        nameLocation: 'middle',
        nameGap: 80,
        data: rejection_categories,
        axisLabel: {
        interval: 0,
        rotate: 30 ,
        fontSize: 12 
      }
    }
    ],
    grid: {
            left: '10%',
            right: '10%',
            bottom: '10%',
            top:'10%',
            containLabel: true
        },
    yAxis: [
      {
        type: 'value',
        nameLocation: 'middle',
        nameGap: 50,
        name:'WEIGHT (KG.)'
      }
    ],
    series: [
      {
        name: 'WEIGHT (KG.)',
        
        color: '#05b080',
        type: 'bar',
        data: [1,2,3,4,5,6]
        
        
      },

    ],
     toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
        ,title: 'Save As picture',
            },
            restore: {title: 'restore',},
            saveAsImage: {
      title: 'Save As picture',
      },
        }
    },
    };
    ;
    if (option && typeof option === "object") {
    myChart.setOption(option, true);
    }

var dom = document.getElementById("contain");
    var myChart = echarts.init(dom);
    
    var rejection_categories =  ["AIR BUBBLE", "GAS MARK", "BLACK DOT", "PATCH MARK", "PIN MARK", "SCRATCH", "MOISTURE",
                           "BLACK FLOW", "BLACK MARK", "WILD LINE"];
    


   
 
  
  
    option = null;
    option = {

    responsive: true,

    title: {
      text: '',
    },
    tooltip: {
      trigger: 'axis'
    },
    legend: {
                    data: []
      },

    calculable: true,
    xAxis: [
      {
        type: 'category',
        name:'SUB-CATEGORIES',
        nameLocation: 'middle',
        nameGap: 80,
        data: rejection_categories,
        axisLabel: {
        interval: 0,
        rotate: 30 ,
        fontSize: 12 
      }
    }
    ],
    grid: {
            left: '10%',
            right: '10%',
            bottom: '10%',
            top:'10%',
            containLabel: true
        },
    yAxis: [
      {
        type: 'value',
        nameLocation: 'middle',
        nameGap: 50,
        name:'WEIGHT (KG.)'
      }
    ],
    series: [
      {
        name: 'WEIGHT (KG.)',
        
        color: '#05b080',
        type: 'bar',
        data: [1,2,3,4,5,6,7,8,9,10]
        
        
      },

    ],
     toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
        ,title: 'Save As picture',
            },
            restore: {title: 'restore',},
            saveAsImage: {
      title: 'Save As picture',
      },
        }
    },
    };
    ;
    if (option && typeof option === "object") {
    myChart.setOption(option, true);
    }


</script>

{% endblock %}