{% extends "template_indoor.html" %}

{% block content %}


    <div class="br-pagebody">
      <div class="br-section-wrapper">
        
        
            <nav
        class="navbar navbar-expand-md  navbar-dark bg-dark pt-2 pd-x-10 pd-sm-x-20  pd-sm-t-10 ">
      

        <div class="input-group input-group-sm wd-lg-200 ">
          <input type="text" class="form-control form-control-sm" id="bin_no"  placeholder="Bin Number">
          <div class="input-group-append">
            <button class="btn btn-warning btn-sm" type="button" onclick="history_bin_no('bin_no')"><i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>&nbsp;&nbsp;&nbsp;


        <div class="input-group input-group-sm wd-lg-200">
          <select class="form-control form-control-sm" id="gate_no">
            <option selected disabled>Gate Number...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-warning btn-sm" type="button" onclick="history_gate('gate_no')"><i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>&nbsp;&nbsp;&nbsp;

        <div class="input-group input-group-sm wd-lg-200">
          <select class="form-control form-control-sm" id="area">
            <option selected disabled>Location...</option>
            <option value="Empty Trolley Storage">Empty Trolley Storage</option>
            <option value="Empty Bin Storage">Empty Bin Storage</option>
            <option value="Production Area">Production Area</option>
            <option value="FG Storage">FG Storage</option>
            <option value="Dispatch Preparation">Dispatch Preparation</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-warning btn-sm" type="button" onclick="history_location('area')"><i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        

        <div>
        </div>
      </nav>

      <div class="row tx-dark no-gutters widget-1 shadow-base">  
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="card ht-lg-400 border border-dark" style="overflow: scroll;">
              <table class="table table-sm table-hover" style="width:100%;overflow: scroll;">
                <thead class="tx-dark bg-gray-200">
                  <tr>
                    <th>Sr.No.</th>
                    <th>Bin Number</th>
                    <th>RFID Code</th>
                    <th>Order No</th>
                    <th>Material Code</th>
                    <th>Invoice No</th>
                  </tr>
                </thead>
                <tbody id="table" style="overflow-y: scroll;">

                </tbody>
              </table>
  
            </div>
          </div>

          
          

        </div>

          <!--===================== bar chart Rejection Type =============================================================-->
       


          <div id="container1" style="height: 350px"></div>

      <!--===================== end bar chart Rejection Type =============================================================-->

        <!-- ########## END: MAIN PANEL ########## -->
      </div>
      <footer class="br-footer">
        <div class="footer-left">
          <div class="mg-b-2">Copyright &copy; 2020.Cyronics. All Rights Reserved.</div>


        </div>

      </footer>
    </div>
  </div><!-- br-mainpanel -->



  <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>

  <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>

  <script src="{{ url_for('static', filename='echarts_js/echarts.min.js')}}"></script>
  <script src="{{ url_for('static', filename='echarts_js/echarts-gl.min.js')}}"></script>
  <script src="{{ url_for('static', filename='echarts_js/ecStat.min.js')}}"></script>
  <script src="{{ url_for('static', filename='echarts_js/dataTool.min.js')}}"></script>
  <script src="{{ url_for('static', filename='echarts_js/china.js')}}"></script>
  <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>
  <script src="{{ url_for('static', filename='echarts_js/bmap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>
  <script src="{{ url_for('static', filename='echarts_js/simplex.js')}}"></script>

  <script src="{{url_for('static',filename='SvgZoom.js')}}"></script>
  <script src="{{url_for('static',filename='svg-pan-zoom.js')}}"></script>
  <script src="{{url_for('static',filename='koel_js/heatmap.js')}}"></script>



<script>
  var socket = io.connect('http://' + document.domain + ":" + location.port)

  function history_bin_no(ids){
    data = String(document.getElementById(String(ids)).value)
    socket.emit("history_bin",data)
  }

  function history_gate(ids){
    data = String(document.getElementById(String(ids)).value)
    socket.emit("history_gate",data)
  }

  function history_location(ids){
    data = String(document.getElementById(String(ids)).value)
    socket.emit("table_data",data)

  }


  socket.on("returned_table_data",function(data){
  if(data.length == 0){
    alert("There is No Data Available For This Input!")
  }
  str = ""
  for(i=0; i<data.length;i++){
    str += '<tr>\
                  <td>'+parseInt(i+1)+'</td>\
                  <td>'+data[i]["bin_number"]+'</td>\
                  <td>'+data[i]["rf_id"]+'</td>\
                  <td>'+data[i]["order_id"]+'</td>\
                  <td>'+data[i]["material_code"]+'</td>\
                  <td>'+data[i]["invoice_no"]+'</td>\
                </tr>'
  }
  document.getElementById("table").innerHTML = str
})

socket.emit("all_data",{"rd":5})
</script>

 <script>

    var rejection_analysis = {
      "Empty Bin Storage": "113",
      "Empty Trolley Storage": "22",
      "FG Storage": "42",
      "Dispatch Preparation": "51",
      "In-Tranist": "61",
      "Production Area": "71",
      
    }
    var x = []
    var y1 = ["Empty Bin Storage", "Empty Trolley Storage" , "FG Storage" ,"Dispatch Preparation" , "In-Transit","Production Area"];
    //===============================================================Function ==================================================================================
    function change_data(rejection_analysis) {
      const md = Object.keys(rejection_analysis);
      for (let i = 0; i < md.length; i++) {
        x.push(rejection_analysis[md[i]]);
        //console.log(x[i]);


      }
    }
    //=========================================================================================================================================================
    //===============================================================Call ====================================================================================


    change_data(rejection_analysis);

//=========================================================================================================================================================

  </script>
  <script>
    //============================================== Bar Chart Rejection ====================================
    var dom_rej_bar = document.getElementById("container1");
    var myChart_rej_bar = echarts.init(dom_rej_bar);
    var app = {};
    option_rej_bar = null;

    option_rej_bar = {

      responsive: true,

      title: {
        text: '',
      },
      tooltip: {
        trigger: 'axis'
      },
      legend: {
        data: []
      },
      
      calculable: true,
      xAxis: [
        {
          type: 'category',
          data: this.y1
        }
      ],
      yAxis: [
        {
          type: 'value'
        }
      ],
      series: [
        {
          name: 'Bin Quantity',
          color: '#ef6c00',
          type: 'bar',
          data: this.x,
          markPoint: {
            data: [
              { type: 'max', name: 'h1' },
              { type: 'min', name: 'h2' }
            ]
          },
          markLine: {
            data: [
              { type: 'average', name: 'h3' }
            ]
          }
        },
      ]
    };
    ;
    if (option_rej_bar && typeof option_rej_bar === "object") {
      myChart_rej_bar.setOption(option_rej_bar, true);
    }

 //===================================================================================================================================== 


  </script>


{% endblock %}
