{% extends "template_cbm.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
</style>
    <div class="br-pagebody">


        <div class="row">
            <div class="card col-lg-12 col-sm-12 col-md-12 ht-500 bg-white bd-1 bd-dark mg-t-20">
                <div class="row mg-t-15">
                    <div class="col-lg-3 col-sm-2 col-md-2 d-flex align-items-center">
                        <div>
                            <h6 class="tx-dark">KPI</h6>
                        </div>

                    </div>
                    <div class="col-lg-9 col-sm-10 col-md-10 d-flex align-items-center justify-content-end">

                        <div class="d-flex align-items-center">
                            <span class="tx-dark">Plant</span>&nbsp;&nbsp;
                            <span>
                              <select class="form-control form-control-sm">
                                      <option selected>Choose...</option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                    </select>
                            </span>
                        </div>&nbsp;&nbsp;&nbsp;
        
                        <div class="d-flex align-items-center">
                            <span class="tx-dark">Machine</span>&nbsp;&nbsp;
                            <span>
                              <select class="form-control form-control-sm">
                                      <option selected>Choose...</option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                    </select>
                            </span>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;

                        <div>
                            <button class="btn btn-teal btn-sm" ><i class="fa fa-search fa-lg"></i></button>
                        </div>&nbsp;&nbsp;
                        <div>
                            <button class="btn btn-teal btn-sm" data-toggle="modal" data-target="#modaldemo3"><i class="fa fa-plus fa-lg"></i></button>
                        </div>

                    </div>
                </div>


                <div id="modaldemo3" class="modal fade">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content tx-size-sm">
                      <div class="modal-header pd-x-20 bg-gray-400">
                        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold ">New Event</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body pd-20">
                        <div class="row tx-size-sm">
                          <div class="col-lg-6 col-sm-6 col-md-6">
                            <form>
                              <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label tx-dark ">Asset</label>
                                <div class="col-sm-7">
                                  <input type="text" class="form-control form-control-sm" id="staticEmail" placeholder="">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="inputPassword" class="col-sm-5 col-form-label tx-dark">Event Description</label>
                                <div class="col-sm-7">
                                  <textarea type="textarea" class="form-control form-control-sm" id="inputPassword" placeholder=""></textarea>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="rules" class="col-sm-5 col-form-label tx-dark">Applicable Rules</label>
                                <div class="col-sm-7">
                                  <textarea type="textarea" class="form-control form-control-sm" id="rules" placeholder=""></textarea>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="authority" class="col-sm-5 col-form-label tx-dark">Authority</label>
                                <div class="col-sm-7">
                                  <textarea type="textarea" class="form-control form-control-sm" id="authority" placeholder=""></textarea>
                                </div>
                              </div>
                            </form>
                            
                          </div>

                          <div class="col-lg-6 col-sm-6 col-md-6">

                            <form>
                              <div class="form-group row">
                                <label for="machine" class="col-sm-5 col-form-label tx-dark ">Machine</label>
                                <div class="col-sm-7">
                                  <select class="form-control form-control-sm" id="machine">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="Plant" class="col-sm-5 col-form-label tx-dark ">Plant</label>
                                <div class="col-sm-7">
                                  <select class="form-control form-control-sm" id="Plant">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="Importance" class="col-sm-5 col-form-label tx-dark ">Importance</label>
                                <div class="col-sm-7">
                                  <select class="form-control form-control-sm" id="Importance">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                                </div>
                              </div>

                              

                          <div class="form-group row">
                            <label for="report" class="col-sm-5 col-form-label tx-dark">Report</label>
                            <div class="col-sm-7">
                              <textarea type="textarea" class="form-control form-control-sm" id="report" placeholder=""></textarea>
                            </div>
                          </div>
                          

                              
                              </form>
                            
                          </div>
                        </div>
                      </div><!-- modal-body -->
                      <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-teal tx-size-xs">Submit</button>
                      </div>
                    </div>
                  </div><!-- modal-dialog -->
                </div><!-- modal -->

                <div class="row mg-t-50">
                    
                </div>

                <div class="row mg-t-5 ">
                    <div class="col-12 bd-1 bd-dark ht-250">
                      
                            <div class="table-responsive-sm table-responsive-md table-responsive-xs" style="overflow: auto;">
                                <table class="table table-sm table-hover">
                                    <thead class="bg-gray-400">
                                      <tr class="bd-2 bd-dark">
                                        <th scope="col">KPI</th>
                                        <th scope="col"></th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Availability Factor</th>
                                        <th scope="col">Mean Time Between Failures</th>
                                        <th scope="col">Reliability Factor</th>
                                      </tr>
                                    </thead>
                                    <tbody  style="height: 50px;overflow-y: scroll;">
                                      <tr>
                                        <td class="tx-dark"></td>   
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class=""><span class="btn btn-outline-success btn-xs  pd-y-1">Ok</span></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                      </tr>
                                      <tr>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class=""><span class="btn btn-outline-success btn-xs  pd-y-1">Ok</span></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td> 
                                        <td class="tx-dark"></td>
                                      </tr>
                                      <tr>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class=""><span class="btn btn-outline-warning btn-xs pd-y-1">Warning</span></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        
                                        <td class="tx-dark"></td>
                                      </tr>
                                      <tr>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class=""><span class="btn btn-outline-danger btn-xs  pd-y-1">Danger</span></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        
                                        <td class="tx-dark"></td>
                                      </tr>
                                      <tr>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class=""><span class="btn btn-outline-danger btn-xs  pd-y-1">Danger</span></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        
                                        <td class="tx-dark"></td>
                                      </tr>
                                      <tr>
                                        <td class="tx-dark"></td> 
                                        <td class="tx-dark"></td>  
                                        <td class="tx-dark"></td>
                                        <td class=""><span class="btn btn-outline-success btn-xs  pd-y-1">Ok</span></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        
                                        <td class="tx-dark"></td>
                                      </tr>
                                      <tr>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class=""><span class="btn btn-outline-success btn-xs  pd-y-1">Ok</span></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td> 
                                        
                                        <td class="tx-dark"></td>
                                      </tr>
                                      <tr>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class=""><span class="btn btn-outline-warning btn-xs pd-y-1">Warning</span></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        
                                        <td class="tx-dark"></td>
                                      </tr>
                                      
                                      
                                    </tbody>
                                  </table>
                                </div>

                        
                        
                    </div>
                </div>
            
        </div>
        </div>
      

    </div><!-- br-pagebody -->

    <footer class="br-footer">
        <div class="footer-left">
          <div class="mg-b-2">Copyright &copy; 2020.Cyronics. All Rights Reserved.</div>
         
        </div>
        
       
      </footer>

  </div><!-- br-mainpanel -->
  <!-- ########## END: MAIN PANEL ########## -->

  <script src="{{url_for('static',filename='socket.js')}}"></script>

    <script src="{{url_for('static',filename='lib1/jquery/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/popper.js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/bootstrap/bootstrap.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/moment/moment.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/peity/jquery.peity.js')}}"></script>

    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/echarts.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/echarts-gl.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/ecStat.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/dataTool.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/china.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/world.js')}}"></script>
  <!--<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=xfhhaTThl11qYVrqLZii6w8qE5ggnhrY&__ec_v__=20190126"></script>-->
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/bmap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/simplex.js')}}"></script>
  <link href="{{url_for('static',filename='lib1/jt.timepicker/jquery.timepicker.css')}}" rel="stylesheet">
  <script src="{{url_for('static',filename='lib/jt.timepicker/jquery.timepicker.js')}}"></script>

    <script src="{{url_for('static',filename='js/bracket.js')}}"></script>
    	  
	 
 
<script>
  $('#tpBasic').timepicker();

</script>


{% endblock %}
