
{% extends "template.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: hsl(223, 37%, 64%);
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
</style>


<nav class="navbar navbar-expand-md  navbar-dark bg-white pt-2 pd-x-10 pd-sm-x-20  pd-sm-t-10 d-flex justify-content-between">   
          
    <div>
      <!--<div class="btn-group">
        <button type="button" class="btn Rectangle_without_color btn-primary">MACHINES</button>
        <button type="button" class="btn dropdown-toggle dropdown-toggle-split Rectangle_without_color btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 550T-I</a>
          <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 550T-II</a>
          <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 450T-I</a>
          <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 450T-II</a>
          <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 450T-III</a>
          <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 650T</a>
          <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 350T</a>                
      </div>
    </div>-->
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle wd-150" data-toggle="dropdown">MACHINES &nbsp;&nbsp;</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 550T-I</a>
            <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 550T-II</a>
            <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 450T-I</a>
            <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 450T-II</a>
            <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 450T-III</a>
            <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 650T</a>
            <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 350T</a> 
        </div>
      </div>
    
  </div>

    <div>
        <h6 class="card-title tx-uppercase tx-12 mg-b-0 tx-dark">
          <span>Machine: &nbsp;<span id="mac_name">None</span></span>
        </h6>
  </div>
</nav> 

<div class="row tx-dark" >
    <div class='col-12' id="refresh_console">
      Last Updated - <b>NA</b> with a Refresh Rate - <b>NA</b> seconds.
    </div>
</div>



<div  id="style-2" style="height:75vh !important ; overflow-y: auto !important;overflow-x: hidden ;">
   
    <!--chart show here-->
    <div class="row" >
        <!--1st part-->
        <div class="col-12 col-md-12 col-lg-6" >
            <table id="table-sparkline" class="table table-bordered tx-dark tx-bold ">
                <thead>
                <tr class="bg-dark tx-white tx-bold" >
                    <th style="width:15%"> PARAMETER </th>
                    <th style="width:15%"> VALUE </th>
                    <th style="width:40%"> TREND </th>
                    <th style="width:20%"> SOURCE </th>

                </tr>
                </thead>
                <tbody id="1st_table">
                 
                </tbody>
            </table>
            


        </div>
        <!--2nd part-->
        
        
        <div class="col-12 col-md-12 col-lg-6 " >
            <table id="" class="table table-bordered tx-dark tx-bold" >
                <thead>
                  <tr class="bg-dark tx-white tx-bold" >
                    <th style="width:15%" > PARAMETER </th>
                    <th style="width:15%" >VALUE</th>
                    <th style="width:40%" >TREND</th>
                    <th style="width:20%" >SOURCE</th>

                </tr>
                </thead>
                <tbody id="2nd_table">
                 
                </tbody>
            </table>

          
        </div>


    </div>





</div><!--section wrapper-->

    <!-- ########## END: MAIN PANEL ########## -->
    <script src="{{url_for('static',filename='socket.js')}}"></script>

    <script src="{{url_for('static',filename='lib1/jquery/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/popper.js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/bootstrap/bootstrap.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/moment/moment.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/peity/jquery.peity.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/echarts.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/echarts-gl.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/ecStat.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/dataTool.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/china.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/world.js')}}"></script>
   <!--<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=xfhhaTThl11qYVrqLZii6w8qE5ggnhrY&__ec_v__=20190126"></script>-->
   <script type="text/javascript" src="{{url_for('static',filename='echarts_js/bmap.min.js')}}"></script>
   <script type="text/javascript" src="{{url_for('static',filename='echarts_js/simplex.js')}}"></script>
   <link href="{{url_for('static',filename='lib1/jt.timepicker/jquery.timepicker.css')}}" rel="stylesheet">
   <script src="{{url_for('static',filename='js/bracket.js')}}"></script>
   <script src="{{url_for('static',filename='js/ej2.min.js')}}" type="text/javascript"></script>
<!--added new  -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    
<script>

        var flag_machine_name;
        var live_machines;
        var selected_live_machines;
        $( document ).ready(function() {
        if(window.localStorage.getItem('machine_name') != null){
            flag_machine_name = window.localStorage.getItem('machine_name')
            document.getElementById("mac_name").innerText = flag_machine_name
            //console.log("Get Production Order By Machine"); 
           // Continue_data_retrive(flag_machine_name);
           //clearInterval(selected_live_machines)
           get_live_data_from_db(flag_machine_name)
           live_machines= setInterval(get_live_data_from_db,refresh_rate,flag_machine_name);

        }
        else{
            alert("Please Select a Machine");
        }
        })

        function local_storage_machin(machine){
        
                window.localStorage.setItem('machine_name', String(machine.innerText));
                flag_machine_name = window.localStorage.getItem('machine_name')
                live_m=window.localStorage.getItem('machine_name');
                document.getElementById("mac_name").innerText = flag_machine_name
                clearInterval(live_machines);
                clearInterval(selected_live_machines);
                 get_live_data_from_db(flag_machine_name)
                selected_live_machines=setInterval(get_live_data_from_db,refresh_rate,live_m);

        
        }
</script>
    
    
    
    
    <script>
        var socket = io.connect('http://' + document.domain + ":" + location.port)
        socket.emit("get_live_data")
        socket.emit("get_chart_refresh_rate")
        var refresh_rate = 60000
         socket.on("send_chart_refresh_rate",function(data){
            refresh_rate = data["refresh_rate"]*1000;
            console.log("REFRESH RATE RECEIVED")
            console.log(refresh_rate)
            console.log("-------------------")
            
            
         });



     </script>



    <script>
    function draw_chart(given_live_graph){
        ej.base.enableRipple(window.ripple)
        

        // sample data--------------------------------
	      var given_data=given_live_graph;
       
        var data1_graph=[];
        var data2_graph=[];  
        var data1=[];
        var data2=[];
        var graph_ids=[]
        var counter=1;
        for(var j=0;j<given_data.length;j++){
            var gid="#graph"+j.toString();
            graph_ids.push(gid);
            
            if(counter%2==0){
                data2.push(given_data[j])
            }
            if(counter%2!=0){
                data1.push(given_data[j])
            }
            counter=counter+1;
        }
          //console.log("alll_ids");
          //console.log(graph_ids);

        // create datasource from backend 
        for(var n=0;n<given_data.length;n++){
            graph_data={};
            main_list=[];
            var data_array=given_data[n]["trend"];
            var color=given_data[n]["color"];
            var border=given_data[n]["border"];
           for(var m=0;m<data_array.length;m++){
                        data_dict={};
                        data_dict["x"]=m+1;
                        data_dict["yval"]=data_array[m];
                        main_list.push(data_dict)
            }
           
          
            graph_data["graph_color"]=color;
            graph_data["graph_border"]=border;
            graph_data["graph_array"]=main_list;
            data2_graph.push(graph_data);


        }
       //---------------------
      
      //----------------fill 1st table----------------------
        var str="";
        var id_counter=0;
        for(var i=0;i<data1.length;i++){
            
            str+="<tr>";
            str+='<td>'+data1[i]['parameter'] +" <small>"+ data1[i]['unit']+'</small></td>';
            str+='<td>'+data1[i]['current_value']+'</td>';
            str+='<td id="graph'+ id_counter.toString()+'" class="spark"></td>';
            id_counter=id_counter+2;
            str+='<td>'+data1[i]['source'] + '<br><small>Last Update - '+data1[i]["Last_Update"]+'</small></td>';
            str+='</tr>';
         }
        
        document.getElementById("1st_table").innerHTML=str;

        //-------------------------------------------------------   
           

           


//---------------------------------fill 2nd table-------------------------------
        var st="";
        var counter_id=1;
        for(var k=0;k<data2.length;k++){
            st+="<tr>";
            st+='<td>'+data2[k]['parameter'] +" <small>"+ data2[k]['unit']+'</small></td>';
            st+='<td>'+data2[k]['current_value']+'</td>';
            st+='<td id="graph'+ counter_id.toString()+'"></td>';
            counter_id=counter_id+2;
            st+='<td>'+data2[k]['source']+ '<br><small>Last Update - '+data2[k]["Last_Update"]+'</small></td>';
            st+='</tr>';
        }
          
        document.getElementById("2nd_table").innerHTML=st;

//---------------------------------------------------------------------------------------
        

       //------------------------start filling graph------------------------------
      var liveload = function(args) {
                var livetheme = location.hash.split('/')[1];
                livetheme = livetheme ? livetheme : 'Material';
                args.sparkline.theme = (livetheme.charAt(0).toUpperCase() + livetheme.slice(1));
                
                };

      var accounts = [];
      for(var h=0;h<data2_graph.length;h++){
                graph_array=data2_graph[h]['graph_array'];
                graph_color=data2_graph[h]['graph_color'];
                border_color=data2_graph[h]['graph_border'];

                //console.log(graph_color);
            //var accounts = [];
            accounts[h] = new ej.charts.Sparkline({
                                        height: '50px',
                                        width: '90%',
                                        // custom code start
                                        load: liveload,
                                        // custom code end
                                        /*axisSettings: {
                                            minY: 0, maxY: 150
                                        },*/
                                        containerArea: {
                                            background: 'white',
                                            
                                        },
                                        border: {
                                            color: '#0358a0',
                                            width: 1
                                        },
                                        fill: '#e8f2fc',
                                        type: 'Area',
                                        valueType: 'Numeric',
                                        dataSource: [
                                            { x: 0, yval: 50 },
                                            { x: 1, yval: 30 },
                                            { x: 2, yval: 20 },
                                            { x: 3, yval: 30 },
                                            { x: 4, yval: 50 },
                                            { x: 5, yval: 40 },
                                            { x: 6, yval: 20 },
                                            { x: 7, yval: 10 },
                                            { x: 8, yval: 30 },
                                            { x: 9, yval: 10 },
                                            { x: 10, yval: 40 },
                                            { x: 11, yval: 50 },
                                            { x: 12, yval: 10 },
                                            { x: 13, yval: 30 },
                                            { x: 14, yval: 50 },
                                            { x: 15, yval: 20 },
                                            { x: 16, yval: 10 },
                                            { x: 17, yval: 40 },
                                            { x: 18, yval: 30 },
                                            { x: 19, yval: 40 }
                                        ],
                                        xName: 'x', yName: 'yval'
                                });
                                accounts[h].appendTo(graph_ids[h]);
                                accounts[h].dataSource=graph_array;
                                accounts[h].fill=graph_color;
                                accounts[h].border.color=border_color;
                                accounts[h].refresh();
                                //console.log(accounts[h]);
                     
                           
  }
    }
  //-------------------------------------graph end-----------------------------------

  
           
               
                    
                 

    
        


                
        
        
    </script>

    <script>

     
     function get_live_data_from_db(live_machine){
       
        machine_detail={}
        machine_detail["machine_name"]=live_machine;
        console.log("live machine",machine_detail);
        //socket.emit("get_live_data")
        socket.emit("get_PQCR_chart_data",  { "machine" : live_machine } )
        
     }

    </script>

    
    
    
    <!-- socket on event here  from backend-->
    <script>


     


          var given_data = [

{"parameter": "INJECTION PRESSURE", "current_value": "NA", "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
         "source": "Software", "color": "#e8f2fc", "border": "#0358a0" , "unit" : "[MPa]", "Last_Update" : "NA"  },
        {"parameter":"INJECTION SPEED" , "current_value": "NA",
         "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], "source": "Software", "color": "#e0f9d1",
         "border": "#27ad66" , "unit" : "NA", "Last_Update" : "NA"},
        {"parameter": "INJECTION POSITION", "current_value": "NA", "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
         "source": "Software", "color": "#e8f2fc", "border": "#0358a0" , "unit" : "[mm]","Last_Update" : "NA"},
        {"parameter": "HOLDING PRESSURE" , "current_value": "NA", "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
         "source": "Software", "color": "#e0f9d1", "border": "#27ad66" , "unit" : "[MPa]" ,"Last_Update" : "NA"},
        {"parameter": "HOLDING TIME" , "current_value": "NA", "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
         "source": "Software", "color": "#F2D8C7", "border": "#AA907A", "unit" : "NA","Last_Update" : "NA"},
        {"parameter": "BARREL TEMP 1" , "current_value": "NA", "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
         "source": "Software", "color": "#e8f2fc", "border": "#0358a0", "unit" : "[°C]","Last_Update" : "NA"},
        {"parameter": "BARREL TEMP 2", "current_value": "NA", "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
         "source": "Software", "color": "#e8f2fc", "border": "#0358a0", "unit" : "[°C]","Last_Update" : "NA"},
        {"parameter": "BARREL TEMP 3", "current_value": "NA", "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
         "source": "Software", "color": "#e0f9d1", "border": "#27ad66", "unit" : "[°C]","Last_Update" : "NA"},
        {"parameter": "BARREL TEMP 4", "current_value": "NA", "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
         "source": "Software", "color": "#e8f2fc", "border": "#0358a0", "unit" : "[°C]","Last_Update" : "NA"},
        {"parameter": "BARREL TEMP 5" , "current_value": "NA",
         "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], "source": "Software", "color": "#e0f9d1",
         "border": "#27ad66" , "unit" : "[°C]" ,"Last_Update" : "NA" },
        {"parameter": "HOT RUNNER TEMP", "current_value": "NA", "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
         "source": "Software", "color": "#F2D8C7", "border": "#AA907A" , "unit" : "[°C]","Last_Update" : "NA"},
        {"parameter": "REFILLING PRESSURE", "current_value": "NA", "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0,0],
         "source": "Software", "color": "#e8f2fc", "border": "#0358a0" ,"unit" : "[°C]" ,"Last_Update" : "NA"},
        {"parameter": "FILL TIME", "current_value": "NA",
         "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], "source": "Software", "color": "#e0f9d1",
         "border": "#27ad66" ,"unit" : "[s]" , "Last_Update" : "NA"},
        {"parameter": "CUSHION", "current_value": "NA", "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
         "source": "Software", "color": "#e8f2fc", "border": "#0358a0" , "unit" : "[mm]" ,"Last_Update" : "NA" },
        {"parameter": "MATERIAL PRE HEATING TEMP", "current_value": "NA", "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
         "source": "Software", "color": "#e0f9d1", "border": "#27ad66","unit" : "[°C]","Last_Update" : "NA"},
        {"parameter": "REFILLING TIME" , "current_value": "NA", "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
         "source": "Software", "color": "#F2D8C7", "border": "#AA907A","unit" : "[s]" ,"Last_Update" : "NA"},
        {"parameter": "N2 GAS PRESSURE", "current_value": "NA", "trend": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
         "source": "Software", "color": "#F2D8C7", "border": "#AA907A","unit" : "[MPa]","Last_Update" : "NA"}]


          
        draw_chart(given_data);
        socket.on("send_PQCR_chart_data",function(data){
         //console.log("get live data");
         //console.log(given_live_graph);
        str =  'Last Updated - <b>' +data["Last_Update"] + '</b> &nbsp;with a Refresh Rate - <b>' +data["refresh_rate"] + '</b>  &nbsp; seconds and Trend Activity for - <b>' + data["time_period"] + '</b>  &nbsp; seconds.';
        document.getElementById("refresh_console").innerHTML = str ;
        given_live_graph = data["trend_record"];
        console.log(given_live_graph);

         draw_chart(given_live_graph);
        });
    </script>



 
  </body>
</html>




{% endblock %}
