{% extends "template.html" %}

{% block content %}

<div class="col-12 mb-4 pt-4">
	<div class="d-flex align-items-center justify-content-between">
		<h4>Summary<span class="ml-1" style="font-size: 1.1rem; opacity: 0.8;">(ABC Goods Transport Services)</span></h4>
	</div>

	<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="row">

				<div class="col-md-4">
                  
         <div class="d-flex mb-3 flex-column flex-md-row" style=" border: solid 1px;">
	<div class="d-flex mr-5  summary-item-wrapper" data-gacategory="Overview" data-galabel="Summary Filter" data-gaaction="Click">
		<div style="background-color: rgb(85, 191, 160); display: flex; align-items: center; padding: 20px 10px;"><img src="/static/img/status/forklift.png" alt="Active Vehicle" width="20">
		</div>
		   <a href="#">
		   	<div class="summary-item-count d-flex flex-column justify-content-center px-3 py-2">
		   	<span class="count">1</span>

		   	<span class="text-muted">Active Vehicle</span>
		   </div>
	       </a>
	   </div>
                 </div>
 </div>


<div class="col-md-4">
					<div class="d-flex mb-3 flex-column flex-md-row" style=" border: solid 1px;">

			<div class="d-flex mr-5  summary-item-wrapper" data-gacategory="Overview" data-galabel="Summary Filter" data-gaaction="Click" >
		<div style="background-color: rgb(248, 193, 70); display: flex; align-items: center; padding: 20px 10px;"><img src="/static/img/status/forklift.png" alt="Idle Vehicle" width="20">
		</div>
		<a href="#">


			<div class="summary-item-count d-flex flex-column justify-content-center px-3 py-2"><span class="count">0</span><span class="text-muted">Idle Vehicle</span></div></a>
		</div>
</div>
</div>
			
			
	<div class="col-md-4">

       					<div class="d-flex mb-3 flex-column flex-md-row" style=" border: solid 1px;">

			<div class="d-flex mr-5  summary-item-wrapper" data-gacategory="Overview" data-galabel="Summary Filter" data-gaaction="Click" >
		<div style="background-color: rgb(255, 86, 57); display: flex; align-items: center; padding: 20px 10px;"><img src="/static/img/status/warning.png" alt="Alarm" width="20">
		</div>
		<a href="#">


			<div class="summary-item-count d-flex flex-column justify-content-center px-3 py-2"><span class="count">0</span><span class="text-muted">Alarm</span></div></a>
		</div>
</div>
</div>

	
		<div class="col-md-6">
		</div>
	</div>
</div>

</div>


  <div class="row row-cols-auto g-4" style="margin-bottom: 20px;">


<div class="col-md-4 mb-5 tabular-card-wrapper"  style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: 20px;"><div class="content"><h6 class="p-3 mb-0 table-main-heading d-flex flex-column align-items-start justify-content-center "><span>Vehicles Not On Job</span><span class="small mt-2"></span></h6></div><div data-gacategory="Overview" data-galabel="Select Row-Vehicles Not On Job" data-gaaction="Click"><div class="react-bs-table-container"><div class="react-bs-table react-bs-table-bordered" style="height: 232px; overflow-y: auto;"><div class="react-bs-container-header table-header-wrapper"><table class="table table-hover table-bordered fleetx-table"><colgroup><col><col></colgroup><thead><tr><th class="" data-is-only-head="false" title="Days Count" data-field="key" style="text-align: left; font-weight: 400;">Days Count<div></div></th><th class="" data-is-only-head="false" title="Vehicle Count" data-field="value" style="text-align: left; font-weight: 400;">Vehicle Count<div></div></th></tr></thead></table></div><div class="react-bs-container-body" style="height: 186px;"><table class="table table-striped table-bordered table-hover fleetx-table"><colgroup><col><col></colgroup><tbody><tr class=""><td tabindex="1" class="" style="text-align: left; font-weight: 600;">0-15</td><td tabindex="2" class="" style="text-align: left; font-weight: 600;"><div class="d-flex pos-rel align-items-center"><span class="sc-fzoxnE GqMIW">0</span></div></td></tr><tr class=""><td tabindex="3" class="" style="text-align: left; font-weight: 600;">15-30</td><td tabindex="4" class="" style="text-align: left; font-weight: 600;"><div class="d-flex pos-rel align-items-center"><span class="sc-fzoMdx uYzkI">0</span></div></td></tr><tr class=""><td tabindex="5" class="" style="text-align: left; font-weight: 600;">30-60</td><td tabindex="6" class="" style="text-align: left; font-weight: 600;"><div class="d-flex pos-rel align-items-center"><span class="sc-fzoWqW cdKMsY">0</span></div></td></tr><tr class=""><td tabindex="7" class="" style="text-align: left; font-weight: 600;">&gt;60</td><td tabindex="8" class="" style="text-align: left; font-weight: 600;"><div class="d-flex pos-rel align-items-center"><span class="sc-fzplgP bHmBtJ">0</span></div></td></tr></tbody></table></div></div><div class="s-alert-wrapper"></div></div></div></div>



<div class="col-12 col-md-4 mb-5 g-4 simple-card" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: 20px;"><div class="content" style=" border: solid 1px;"><h6 class="mb-0 p-3 d-flex flex-column align-items-start justify-content-center card-main-heading "><span>Job Status</span><span class="small mt-2"></span></h6></div><div class="text-center p-0 card-element card"><div class="card-block px-1 px-md-4"><div class="d-flex flex-column" style="height: 100%;"><div class="d-flex justify-content-between"><div class="d-flex my-md-5 flex-column align-items-center multicolumn-wrapper mb-md-4 mb-md-0" data-gacategory="Overview" data-galabel="Widget Job Status" data-gaaction="Click"><h2 style="color: rgb(85, 191, 160);">0</h2><span>Early</span><span></span></div><div class="d-flex my-md-5 flex-column align-items-center multicolumn-wrapper mb-md-4 mb-md-0" data-gacategory="Overview" data-galabel="Widget Job Status" data-gaaction="Click"><h2 style="color: rgb(248, 193, 70);">0</h2><span>LATE</span><span></span></div><div class="d-flex my-md-5 flex-column align-items-center multicolumn-wrapper mb-md-4 mb-md-0" data-gacategory="Overview" data-galabel="Widget Job Status" data-gaaction="Click"><h2 style="color: rgb(85, 191, 160);">0</h2><span>ONTIME</span><span></span></div></div></div></div></div></div>


<div class="col-12 col-md-4 mb-5 g-4 simple-card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: 20px;">
	<div class="content"><h6 class="mb-0 p-3 d-flex flex-column align-items-start justify-content-center card-main-heading " style="border :solid 1px"><span>Device Status</span><span class="small mt-2"></span></h6></div><div class="text-center p-0 card-element card"><div class="card-block px-1 px-md-4"><div class="d-flex flex-column" style="height: 100%;"><div class="d-flex justify-content-between"><div class="d-flex my-md-5 flex-column align-items-center multicolumn-wrapper mb-md-4 mb-md-0" data-gacategory="Overview" data-galabel="Widget Device Status" data-gaaction="Click"><h2 style="color: rgb(248, 108, 107);">0</h2><h6>/ 1</h6><span>Device Disconnect</span><span></span></div><div class="d-flex my-md-5 flex-column align-items-center multicolumn-wrapper mb-md-4 mb-md-0" data-gacategory="Overview" data-galabel="Widget Device Status" data-gaaction="Click"><h2 style="color: rgb(248, 108, 107);">0</h2><h6>/ 1</h6><span>Power Failure</span><span></span></div></div></div></div></div></div>

</div>
</div>
{% endblock %}
  