{% extends "template.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }

  .Rectangle_dark {

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--bluish-grey);

  }


  .Rectangle_without_color {

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;

  }

  th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width:100%;
        margin: 0 auto;
    }

</style>

	<div class="p-3">
          <div class="p-1">
            <div class="tx-dark tx-15 tx-bold">PART NUMBER DETAILS</div>

		  </div>

	<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
  <div id="table_button">

  </div>

    <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
       <div class="input-group">
         <input type="text" id="partnumbertable_search" class="form-control" placeholder="Search" >
        </div>
   </div>

				<table class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" id="partnumbertable">
						<thead class="bg-dark tx-white">
								<tr>
								<th>SR.NO.</th>
								<th>CUSTOMER</th>
								<th>MODEL</th>
								<th>PART NAME</th>
								<th>PART NUMBER</th>
								<th>PRIMARY MACHINE</th>
								<th>PM MOULD CHANGE TIME (MIN)</th>
								<th>PM START UP TIME (MIN)</th>
								<th>PM START UP SCRAP (KG)</th>
								<th>PM LINE REJECTION</th>
								<th>PM CYCLE TIME (SEC)</th>
								<th>PM PRD/HR</th>
								<th>PM PRD/SHIFT</th>
								<th>SECONDARY MACHINE</th>
								<th>SM MOULD CHANGE TIME (MIN)</th>
                                <th>SM START UP TIME (MIN)</th>
								<th>SM START UP SCRAP (KG)</th>
								<th>SM LINE REJECTION</th>
								<th>SM CYCLE TIME (SEC)</th>
								<th>SM PRD/HR</th>
								<th>SM PRD/SHIFT</th>
                                <th>BIN COLOR</th>
								<th>BIN COLOR HEX CODE</th>
								<th>HEIGHT (MM)</th>
								<th>LENGTH (MM)</th>
								<th>PACKING STANDARD</th>
                                <th>VOLUME</th>
								<th>WEIGHT (KG)</th>
								<th>WIDTH (MM)</th>
								<th>BIN COUNT</th>
								<th>DETAILS</th>
                               </tr>
                            </thead>
                            <tbody id="tablebody">

                            </tbody>
						</table>


<!--container-->
<script type="text/javascript">
$.fn.dataTable.ext.errMode = 'none';
var socket = io.connect('http://'+document.domain+':'+location.port);

socket.on('connect', function() {
	 console.log('connected');
	 socket.emit('part_number_details_page','Connected')
});


socket.on('sent_part_number_details', function(data) {

console.log("Part number data received !");

console.log(data);

var keys =  ['CUSTOMER', 'MODEL', 'PART NAME', 'PART NUMBER' , 'PRIMARY MACHINE', 'PM MOULD CHANGE TIME (MIN) ',
'PM START UP TIME (MIN)', 'PM START UP SCRAP(KG) ','PM LINE REJECTION','PM CYCLE TIME(SEC)', 'PM PRD/HR','PM PRD/SHIFT',
'SECONDARY MACHINE','SM MOULD CHANGE TIME (MIN) ','SM START UP TIME (MIN)','SM START UP SCRAP(KG) ', 'SM LINE REJECTION',
'SM CYCLE TIME(SEC)','SM PRD/HR', 'SM PRD/SHIFT', 'BIN COLOR', 'BIN COLOR HEX CODE', 'HEIGHT (mm)',
'LENGTH (mm)', 'Packing Standard', 'Volume', 'WEIGHT (kg)', 'WIDTH (mm)', 'BIN Count'];

inner_html="";

for(var j=0; j< data.length;j++){

	inner_html += '<tr>';
	inner_html += '<td>'+String(j+1)+'</td>';
	var counter = 0;
	for(var key=0 ; key < keys.length; key++){
		var k = keys[key];

		inner_html += '<td>'+String(data[j][k])+'</td>';
	}

	inner_html += '<td><div id ="'+ data[j]["PART NUMBER"]+'"> ';
    inner_html += '<button type="button" class="btn btn-sm btn-primary" onclick="bindetails_function(this)"> Details </button> ';
	inner_html += '</div>';
	inner_html += '</tr>';

}

document.getElementById("tablebody").innerHTML = inner_html;


if (j > 0)


{

$('#partnumbertable').dataTable().fnDestroy();

 var table2 = $('#partnumbertable').DataTable( {
        //"scrollX": true,
        lengthChange: false,
        "dom": 'lrtip',
        "deferRender": true,
        "initComplete": function (settings, json) {
    $("#partnumbertable").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
  },


buttons: [
            {
                extend: 'collection',
                text: 'Export',
                autoClose: true,
                buttons: [
                {
                extend:    'copy',
                text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                titleAttr: 'Copy'
                },
                {
                extend:    'excel',
                text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                titleAttr: 'Excel'
                },
                {
                extend:    'pdf',
                text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                titleAttr: 'PDF'
                },
                {
                extend:    'print',
                text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                titleAttr: 'PDF'
                },
                {
                extend:    'csv',
                text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                titleAttr: 'CSV'
                },
                {
                extend:    'colvis',
                text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                titleAttr: 'Columns'
                },
                ]
            }
        ]


    } );
    table2.buttons( 0, null ).containers().appendTo( '#table_button1' );

 // #myInput is a <input type="text"> element
$('#partnumbertable_search').on( 'keyup', function () {
    table2.search( this.value ).draw();
    console.log("working")
} );

}
});


function bindetails_function(element){

	var partno = ($(element).closest("div").attr("id"));

        var newStr = partno.split('/').join('___');

        partnumber = newStr;

	window.location.href = "/binnumber_details/"+partnumber;

}

</script>

	</div>
{% endblock %}