{% extends "template.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
</style>
      
	   
	   <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
	  
	  
	  

	  
	  
		<div class="card mg-t-20 ">

             <div class="card-header">
             <div class="tx-dark tx-18 tx-bold">PLANT ANALYSIS </div>
           
              <div class="btn-group ml-auto p-2 float-right">
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split Rectangle_without_color btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
             </button>

              <button type="button" class="btn Rectangle_without_color btn-primary"><span class="tx-bold" id="mac_name">None</span> </button>
              
              <div class="dropdown-menu">
              	 <a class="dropdown-item" href="#" onclick="set_machine(this)">ALL MACHINES</a>
                <a class="dropdown-item" href="#" onclick="set_machine(this)">JSW 550T-I</a>
                <a class="dropdown-item" href="#" onclick="set_machine(this)">JSW 550T-II</a>
                <a class="dropdown-item" href="#" onclick="set_machine(this)">JSW 450T-I</a>
                <a class="dropdown-item" href="#" onclick="set_machine(this)">JSW 450T-II</a>
                <a class="dropdown-item" href="#" onclick="set_machine(this)">JSW 450T-III</a>
                <a class="dropdown-item" href="#" onclick="set_machine(this)">JSW 650T</a>
                <a class="dropdown-item" href="#" onclick="set_machine(this)">JSW 350T</a>                
            </div>
          </div>
         </div>
         <div class="col-lg-3">
				<div class="row"><br></div>
               <div class="form-group">
                <label for="Shift Date" class="tx-black"> Shift Date :</label>
                <input type="date" class="form-control form-control-sm" id='Shift Date' placeholder="-">
               </div>

              <div class="form-group">
               <label  class="tx-black">Shift ID :</label>
                        <select class="form-control  form-control-sm"  id="Shift ID">
						<option value="A">A</option>
						<option value="B">B</option>
						<option value="C">C</option>
						
						</select>
              </div>
               

              <div class="form-group">
                <!--SEARCH BUTTON-->
               <div class='btn-primary btn-block btn Rectangle_without_color' onclick="set_dates()" > SEARCH </div>
              </div>

          </div>
        
          
      <div class="card-body ">
      </div><!--CARD BODY CLOSE-->
   </div>



       









      <!--------------------------------------------OEE CARD-------------------------------------->
      <!------------------------------------------------------------------------------------------->
      <div class="row no-gutters widget-1 shadow-base">
        <div class="col-sm-6 col-lg-3">
          <div class="card">
            <div class="card-header">
              <h6 class="card-title">OEE</h6>
              <a href=""><i class="icon ion-android-more-horizontal"></i></a>
            </div><!-- card-header -->
            <div class="card-body">
              <span id="oee1" style="width: 140px;height: 30px;"></span>
              <span class="tx-medium tx-inverse tx-32" id="oee2">---</span>

            </div><!-- card-body -->
            <div class="card-footer">
              <div>
                <span class="tx-11">Target</span>
                <h6 class="tx-inverse" id="target_oee">100%</h6>
              </div>
              <div>
                <span class="tx-11"></span>
                <h6 class="tx-inverse" id="q1"></h6>
              </div>
              <div>
                <span class="tx-11">Change</span>
                <h6 class="tx-danger" id="diff_oee">---</h6>
              </div>
            </div><!-- card-footer -->
          </div><!-- card -->
        </div><!-- col-3 -->
        <div class="col-sm-6 col-lg-3 mg-t-1 mg-sm-t-0">
          <div class="card">
            <div class="card-header">
              <h6 class="card-title">Productivity</h6>
              <a href=""><i class="icon ion-android-more-horizontal"></i></a>
            </div><!-- card-header -->
            <div class="card-body">
              <span id="prod1" style="width: 140px;height: 30px;"></span>
              <span class="tx-medium tx-inverse tx-32" id="prod2">---</span>
            </div><!-- card-body -->
            <div class="card-footer">
              <div>
                <span class="tx-11">Target</span>
                <h6 class="tx-inverse" id="target_prod">100%</h6>
              </div>
              <div>
                <span class="tx-11"></span>
                <h6 class="tx-inverse" id="q2"></h6>
              </div>
              <div>
                <span class="tx-11">Change</span>
                <h6 class="tx-danger" id="diff_prod">---</h6>
              </div>
            </div><!-- card-footer -->
          </div><!-- card -->
        </div><!-- col-3 -->
        <div class="col-sm-6 col-lg-3 mg-t-1 mg-lg-t-0">
          <div class="card">
            <div class="card-header">
              <h6 class="card-title">Quality</h6>
              <a href=""><i class="icon ion-android-more-horizontal"></i></a>
            </div><!-- card-header -->
            <div class="card-body">
              <span id="qul1" style="width: 140px;height: 30px;"></span>
              <span class="tx-medium tx-inverse tx-32" id="qul2">---</span>
            </div><!-- card-body -->
            <div class="card-footer">
              <div>
                <span class="tx-11">Target</span>
                <h6 class="tx-inverse" id="target_qul">100%</h6>
              </div>
              <div>
                <span class="tx-11"></span>
                <h6 class="tx-inverse" id="q3"></h6>
              </div>
              <div>
                <span class="tx-11">Change</span>
                <h6 class="tx-danger" id="diff_qul">---</h6>
              </div>
            </div><!-- card-footer -->
          </div><!-- card -->
        </div><!-- col-3 -->
        <div class="col-sm-6 col-lg-3 mg-t-1 mg-lg-t-0">
          <div class="card">
            <div class="card-header">
              <h6 class="card-title">Availability</h6>
              <a href=""><i class="icon ion-android-more-horizontal"></i></a>
            </div><!-- card-header -->
            <div class="card-body">
              <span id="avl1" style="width: 140px;height: 30px;"></span>
              <span class="tx-medium tx-inverse tx-32" id="avl2">---</span>
            </div><!-- card-body -->
            <div class="card-footer">
              <div>
                <span class="tx-11">Target</span>
                <h6 class="tx-inverse" id="target_avl">100%</h6>
              </div>
              <div>
                <span class="tx-11"></span>
                <h6 class="tx-inverse" id="q4"></h6>
              </div>
              <div>
                <span class="tx-11">Change</span>
                <h6 class="tx-danger" id="diff_avl">---</h6>
              </div>
            </div><!-- card-footer -->
          </div><!-- card -->
        </div><!-- col-3 -->
      </div><!-- row -->
      <!--========================================================BASIC _details =============================================-->
      

        <!-- ====================== Row End =========================== -->



     

     <div class="card shadow-base bd-0 mg-t-20 ht-550">

        <div
          class="card-header bg-transparent pd-x-25 pd-y-15 bd-b-0 d-flex justify-content-between align-items-center">
          <h6 class="card-title tx-bold tx-12 pl-2 pt-3 mg-b-0">KPI - ALL MACHINES</h6>

        </div><!-- card-header -->
        <div class="card-body pd-x-25  pd-t-0">



          <div id="kpi_chart" style="height: 450px"></div>


        </div><!-- card-body -->
      </div><!-- card -->




      <!--===================== bar chart Rejection Type =============================================================-->
     <!--<div class="card shadow-base bd-0 mg-t-20 ht-300">

        <div
          class="card-header bg-transparent pd-x-25 pd-y-15 bd-b-0 d-flex justify-content-between align-items-center">
          <h6 class="card-title tx-bold tx-12 pl-2 pt-3 mg-b-0">Shift Timeline</h6>

        </div> card-header 
        <div class="card-body pd-x-25  pd-t-0">



          <div id="container1" style="height: 150px"></div>


        </div>
      </div> card -->
      <!--===================== end bar chart Rejection Type =============================================================-->


      <!--====================================end basic details===========================================================-->


      <!--======================================== start downtime analysis=============================================-->

      <div class="row no-gutters widget-1 shadow-base  bd-0 mg-t-20 ">

      </div><!-- row -->


      

      




       <div class="card shadow-base bd-0 mg-t-20 ht-350">

        <div
          class="card-header bg-transparent pd-x-25 pd-y-15 bd-b-0 d-flex justify-content-between align-items-center">
          <h6 class="card-title tx-bold tx-12 mg-b-0" id="downtime_header">Downtime Reason - ALL MACHINES</h6>
         <!-- <div class="d-flex justify-content-start">
            <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm">Machines</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split btn-sm" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" onclick="initiate_rej_graph()" id="SUM">SUM</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 550T-I">JSW 550T-I</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 550T-II">JSW 550T-II</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 450T-I">JSW 450T-I</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 450T-II">JSW 450T-II</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 450T-III">JSW 450T-III</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 650T">JSW 650T</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 350T">JSW 350T</a>
            </div>
          </div></div>-->

        </div><!-- card-header -->
        <div class="card-body pd-x-25 pd-b-5 pd-t-0 ht-300">
          <div id="Barchart1" style="height: 280px"></div>



        </div><!-- card-body -->
      </div><!-- card -->







        
            
          

            


          
          

         

        
      














      <!--====================================end down time ===========================================================-->
      <!----===========================+++++++++++++++++===============================================================-->



      <!--==========================================Rejection analysis+++++++++++++================================-->
      <div class="row no-gutters widget-1 shadow-base">

      </div><!-- row -->




      <!--===================== bar chart Rejection Type =============================================================-->
      <div class="card shadow-base bd-0 mg-t-20 ht-350">

        <div
          class="card-header bg-transparent pd-x-25 pd-y-15 bd-b-0 d-flex justify-content-between align-items-center">
          <h6 class="card-title tx-bold tx-12 mg-b-0" id="rejection_header">Rejection Details</h6>
         <!-- <div class="d-flex justify-content-start">
            <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm">Machines</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split btn-sm" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" onclick="initiate_rej_graph()" id="SUM">SUM</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 550T-I">JSW 550T-I</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 550T-II">JSW 550T-II</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 450T-I">JSW 450T-I</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 450T-II">JSW 450T-II</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 450T-III">JSW 450T-III</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 650T">JSW 650T</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 350T">JSW 350T</a>
            </div>
          </div></div>-->

        </div><!-- card-header -->
        <div class="card-body pd-x-25 pd-b-5 pd-t-0 ht-300">
          <div id="container" style="height: 280px"></div>



        </div><!-- card-body -->
      </div><!-- card -->
      <!--===================== end bar chart Rejection Type =============================================================-->




      <div class="row row-sm mg-t-20">


        <div class="col-lg-12 mg-t-30 mg-lg-t-0">
          <div class="card shadow-base card-body  bd-0 ht-350">
            <h6 class="card-title tx-bold tx-12 mg-b-0" id="wa_header">Weight Analysis<br></h6>
            <div id="donught" style="height: 100%"></div>
          </div><!-- card -->
        </div><!-- col-6 -->
        <!-- row -->




        </div>
        <div class="row ht-10">
        </div>

		<div class="card shadow-base bd-0 mg-t-20 ">

        <div
          class="card-header bg-transparent pd-x-25 pd-y-15 bd-b-0 d-flex justify-content-between align-items-center">
          <h6 class="card-title tx-bold tx-12 mg-b-0" >Production Plan</h6>
         <!-- <div class="d-flex justify-content-start">
            <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm">Machines</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split btn-sm" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" onclick="initiate_rej_graph()" id="SUM">SUM</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 550T-I">JSW 550T-I</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 550T-II">JSW 550T-II</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 450T-I">JSW 450T-I</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 450T-II">JSW 450T-II</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 450T-III">JSW 450T-III</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 650T">JSW 650T</a>
              <a class="dropdown-item" href="#" onclick="fill_rejection_graph(this)" id="JSW 350T">JSW 350T</a>
            </div>
          </div></div>-->

        </div><!-- card-header -->
        <div class="card-body pd-x-25 pd-b-5 pd-t-0 ">
		
		
			<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
  <div id="table_button">

  </div>

    <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
       <div class="input-group">
         <input type="text" id="datatable1_search" class="form-control" placeholder="Search" >
        </div>
   </div>
          
			 <table id="datatable1" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
              
             </table>


        </div><!-- card-body -->
      </div><!-- card -->

		
 <!--=======================================shot end=============================================================-->


        
        <div class="row ht-10">
        </div>

		<div class="card shadow-base bd-0 mg-t-20 ">

        <div
          class="card-header bg-transparent pd-x-25 pd-y-15 bd-b-0 d-flex justify-content-between align-items-center">
          <h6 class="card-title tx-bold tx-12 mg-b-0" >Energy Consumption Analysis</h6>
         <div class="row">
		 <div class="col-lg-12" id="total_energy">
		 
		 </div>
		 </div>

        </div><!-- card-header -->
        <div class="card-body pd-x-25 pd-b-5 pd-t-0 ">
		
		<div style="height:300px" id="enegry_chart">
		


        </div><!-- card-body -->
      </div><!-- card -->
    </div>
		
<!---------------------------------------------------------------------------shift timeline ----------------------------------------------------------------------------------------------->

		<div class="row ht-10">
        </div>

		<div class="card shadow-base bd-0 mg-t-20 ">

        <div
          class="card-header bg-transparent pd-x-25 pd-y-15 bd-b-0 d-flex justify-content-between align-items-center">
          <h6 class="card-title tx-bold tx-12 mg-b-0" id="timeline_header" >Shift Timeline</h6>
         <div class="row">
		 <div class="col-lg-12" id="timeline_updated">
		 Last Updated : --
		 </div>
		 </div>

        </div><!-- card-header -->
        <div class="card-body pd-x-25 pd-b-5 pd-t-0 ">
		
		<div style="height:250px" id="shift_timeline">
		


        </div><!-- card-body -->
      </div><!-- card -->
    </div>
		<div class="row ht-10" style="height:30px">
		
        </div>





     
      <!--========================================================================================================================-->
      <!--===========================KPI=============================================================================-->

        

        </div><!-- ----------------NO 9 ---PPM CARD END----------->
        <!--- ---------------------------------- br-pagebody END--- -->
      </div>







 

  <!-- <script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/popper.js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/bootstrap/bootstrap.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/moment/moment.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/peity/jquery.peity.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery.sparkline.bower/jquery.sparkline.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/d3/d3.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/rickshaw/rickshaw.min.js')}}"></script>

    <script src="{{url_for('static',filename='js/bracket.js')}}"></script>
    <script src="{{url_for('static',filename='js/ResizeSensor.js')}}"></script>
    <script src="{{url_for('static',filename='js/widgets.js')}}"></script>-->




<script type="text/javascript">
	var socket = io.connect('http://' + document.domain + ":" + location.port);
</script>
  <script>





    $(function () {
      'use strict'

      


      // FOR DEMO ONLY
      // menu collapsed by default during first page load or refresh with screen
      // having a size between 992px and 1199px. This is intended on this page only
      // for better viewing of widgets demo.
      $(window).resize(function () {
        minimizeMenu();
      });

      minimizeMenu();

      function minimizeMenu() {
        if (window.matchMedia('(min-width: 992px)').matches && window.matchMedia('(max-width: 1199px)').matches) {
          // show only the icons and hide left menu label by default
          $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');
          $('body').addClass('collapsed-menu');
          $('.show-sub + .br-menu-sub').slideUp();
        } else if (window.matchMedia('(min-width: 1200px)').matches && !$('body').hasClass('collapsed-menu')) {
          $('.menu-item-label,.menu-item-arrow').removeClass('op-lg-0-force d-lg-none');
          $('body').removeClass('collapsed-menu');
          $('.show-sub + .br-menu-sub').slideDown();
        }
      }
    });




    function datewise(from,to){
      mac = window.localStorage.getItem('machine_name')
      from = document.getElementById("dateMask2").value
      to = document.getElementById("dateMask3").value
      //socket.emit('date_wise',[mac,from,to])
    }

    function order_no_data(ord_no){
      mac = window.localStorage.getItem('machine_name')
      //date = document.getElementById("dateMask1").value
      ord_no = document.getElementById("order_no").value
      socket.emit('order_no_data',[mac,ord_no])
    }







  </script>

  <script type="text/javascript">

    var dom3 = document.getElementById("c3");//mvds
    var myChart3 = echarts.init(dom3);
    var app = {};
    option3 = null;
    option3 = {
      responsive: true,

      title: {
        text: '',
        left: 'center',
        textStyle: {
          color: '#05ffde',
        },
      },


      xAxis: {

        type: 'category',
        boundaryGap: false,
        data: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],                            // condensate_xaxis_data
        show: true,
        splitLine: {
          show: true,
          lineStyle: {
            color: '#2c2b2b'
          }
        },

      },
      yAxis: {
        show: true,
        splitLine: {
          show: true,
          lineStyle: {
            color: '#2c2b2b'
          }
        },
        boundaryGap: false,
      },

      grid: {
        left: '5%',
        right: '3',

      },

      series: [{
        type: 'line',
        smooth: true,
        data: []
      },
      {
        name: '',
        type: 'line',
        smooth: true,
        showSymbol: false,
        hoverAnimation: false,
        data: [-2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2],                              // condensate_ActualValue
        color: '#ff6a00',
      },


      ]
    };

    var mvds = 0;
    var counter3 = 0;
    var xaxi3 = 31;
    var mvd_dat = [];
    function mvd() {
      for (var j = 0; j < 188; j++) {
        mvd_dat.push(Math.floor(Math.random() * (-6 - 8) + 8));
      }
      return mvd_dat;
    }

    function condensate_time3() {

      if (option3 && typeof option3 === "object") {
        myChart3.setOption(option3, true);

        xaxis = [31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190];
        actualval = [-2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2, -2, 2,];


        counter3 += 1;

        // mvds += 1;
        //option3.title.text = mvds + ' mVdc';

        option3.xAxis.data.push(xaxi3);
        xaxi3 += 1;
        //option2.xAxis.data.push(xaxis[counter2]);
        option3.xAxis.data.shift();
        //option3.series[1].data.push(actualval[counter3]);
        //option3.series[1].data.shift();
        option3.series[1].data = mvd();
        mvd_dat = [];



        //console.log(option3.xAxis.data);
        if (counter3 > 180) {
          counter3 = 0;
        }

      }
    }

    var condensate_interval3 = setInterval(condensate_time3, 200);



  </script>
  <script type="text/javascript">
    var dom = document.getElementById("container2");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
      responsive: true,
      title: {
        text: '',
        subtext: '',
        x: ''
      },
      tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
      },
      legend: {
        orient: 'vertical',
        left: 'left',
        data: ['Quality', 'Management', 'Misc', 'Alarms', 'Testbed Error']
      },
      toolbox: {
        show: true,
        feature: {

        }
      },
      series: [
        {
          name: 'Down Time Reason',
          type: 'pie',
          radius: '55%',
          center: ['50%', '60%'],
          data: [
            { value: 335, name: 'Quality' },
            { value: 310, name: 'Management' },
            { value: 234, name: 'Misc' },
            { value: 135, name: 'Alarms' },
            { value: 1548, name: 'TestBed Errors' }
          ],
          itemStyle: {
            emphasis: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      ]
    };
    ;
    if (option && typeof option === "object") {
      myChart.setOption(option, true);
    }




  </script>

  <script>




  </script>
 
  
  <script>         //############################################## V A T S A L ########################################
  
    var socket=io.connect('http://'+document.domain+":"+location.port)
   
   // GLOBALS 
     
      
      var selected_date =  ""; 
      var selected_shift = "";
      var  selected_machine = "ALL MACHINES";
      


   function set_dates(){


    shift_date = document.getElementById("Shift Date").value;
    selected_shift = document.getElementById("Shift ID").value;
    
    //Changing date format 
    temp = shift_date.split("-");
    //2020-10-03
    selected_date = temp[2] +"/"+temp[1]+"/"+temp[0];
    //03/10/2020
    
    if (shift_date == ""){
           alert("Please Select a Date.");
           }
       else{
             request_data();
           }       //REFRESH PAGE WITH NEW DATA
   }

   function set_machine(element){

       selected_machine = element.innerText;
       document.getElementById("mac_name").innerText = selected_machine;

       shift_date = document.getElementById("Shift Date").value;
       selected_shift = document.getElementById("Shift ID").value;    
       //Changing date format 
       temp = shift_date.split("-");
       //2020-10-03
       selected_date = temp[2] +"/"+temp[1]+"/"+temp[0];
       //03/10/2020
       if (shift_date == ""){
           alert("Please Select a Date.");
           }
       else{
             request_data();
           }

       

   }
    
	
	
	
	
	
	
// shot details table
	
	function load_shot_details_table(data){
	socket.emit("get_production_plan_analysis_for_shift",data)
    
    
    socket.on("sent_production_plan_analysis_for_shift",function(data){
	console.log(data);
	
	var str="";

str +='  <thead class="bg-dark tx-white">\
            <tr>\
              <th >SR.NO.</th>\
              <th >MACHINE</th>\
              <th >ORDER NUMBER(R, L)</th>\
              <th >PLANNED PARTS</th>\
              <th >STATUS</th>\
              </tr>\
          </thead>'
            
str+="<tbody>";
 
 //FILL DATA
 
 for(var i=0;i<data.length;i++){
 
         var green = (data[i]["actual_shot_count"] / data[i]["planned_shots"]) * 100; 
		 var red =  (data[i]["rejection"] / data[i]["planned_shots"]) * 100; 
		 var gray =  100 - (green + red) ;
		 var remaining = data[i]["planned_shots"] - ( data[i]["actual_shot_count"] + data[i]["rejection"] );
        str+="<tr>";
        str+='<td>'+(i+1)+'</td>'; 
		str+='<td>'+data[i]["machine"]+'</td>'; 
		str+='<td>'+data[i]["po_right"]+', '+data[i]["po_left"]+'</td>'; 
		str+='<td><div class="progress">';
		  str+='<div class="progress-bar bg-success" role="progressbar" style="width: '+green+'%" >'+data[i]["actual_shot_count"] +'</div>';
		  str+='<div class="progress-bar bg-danger" role="progressbar" style="width: '+red+'%" >'+data[i]["rejection"]+'</div>';
		   str+='<div class="progress-bar bg-secondary" role="progressbar" style="width: '+gray+'%" >'+remaining+'</div>';
		 
		str+='</div></td>'; 
		str+='<td><b>'+data[i]["actual_shot_count"]+'/'+data[i]["planned_shots"]+'</b></td>'; 
        str+='</tr>';
 
  } //LOOP ENDS
  
	str+='</tbody>'
	
document.getElementById("datatable1").innerHTML=str;

if ( i  > 0)


{

	$('#datatable1').dataTable().fnDestroy();

 var table1 = $('#datatable1').DataTable( {
        //"scrollX": true,
        lengthChange: false,
        "dom": 'lrtip',
        "deferRender": true,
		"columns": [
								{ "width": "10%" },
								{ "width": "10%" },
								{ "width": "20%" },
								{ "width": "50%" },
								{ "width": "10%" },
							  ],
        "initComplete": function (settings, json) {  
    $("#datatable1").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");            
  },
      

buttons: [
            {
                extend: 'collection',
                text: 'Export',
                autoClose: true,
                buttons: [
                {
                extend:    'copy',
                text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                titleAttr: 'Copy'
                },
                {
                extend:    'excel',
                text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                titleAttr: 'Excel'
                },
                {
                extend:    'pdf',
                text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                titleAttr: 'PDF'
                },
                {
                extend:    'print',
                text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                titleAttr: 'PDF'
                },
                {
                extend:    'csv',
                text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                titleAttr: 'CSV'
                },
                {
                extend:    'colvis',
                text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                titleAttr: 'Columns'
                },
                ]
            }
        ]


    } );
	table1.buttons( 0, null ).containers().appendTo( '#table_button' );

 // #myInput is a <input type="text"> element
$('#datatable1_search').on( 'keyup', function () {
    table1.search( this.value ).draw();
    console.log("working")
} );

   

}

	
	
	
	
	
	
	}); //socket
	
	} //function 
	
	
	
	
	
	
	function get_energy_chart(data){
	
	socket.emit("get_energy_chart",data);
    
    
    socket.on("sent_energy_chart",function(data){
	console.log(data);
	
	var energy = data["energy"];
	var total_energy = energy.reduce((a, b) => a + b, 0);
	
	document.getElementById("total_energy").innerHTML = "Total Energy Consumed: <b>"+total_energy.toFixed(2) +" KWH </b>";
	
	var dom_bar = document.getElementById("enegry_chart");
    var myChart_bar = echarts.init(dom_bar);
    var app = {};
    option_bar = null;
    option_bar = {

    responsive: true,
	
    title: {
      text: '',
    },
    grid: {
            left: '10%',
            right: '10%',
            bottom: '10%',
            top:'10%',
            containLabel: true
        },
    tooltip: {
      trigger: 'axis'
    },
    legend: {
                    data: []
      },

    calculable: true,
    xAxis: [
      {
        type: 'category',
        data: data["machines"],
        name: "MACHINES",
        nameLocation: 'middle',
        nameGap: 25,
        
      }
    ],
    yAxis: [
      {
        type: 'value',
        name:"ENERGY (KWH)",
        nameLocation: 'middle',
        nameGap: 50
      }
    ],
    series: [
      {
        
        color: '#05b080',
        type: 'bar',
        data: data["energy"],
		options: {
        scales: {
            xAxes: [{
                barThickness: 6,  // number (pixels) or 'flex'
                maxBarThickness: 8 // number (pixels)
            }]
        }
    }
        
      },

    ]
    };
    
    ;
    if (option_bar && typeof option_bar === "object") {
      myChart_bar.setOption(option_bar, true);
    }

	
	
	
	}); // socket ends
	}// function ends

	function initiate_kpi_graph(data){
	
	console.log("i am here");
	 socket.emit("get_kpi_chart",data);
    
    
    socket.on("sent_kpi_chart",function(data){

    console.log(data);




var latest_productivity = data["Productivity"].slice(Math.max(data["Productivity"].length - 10, 0));
var latest_quality = data["Quality"].slice(Math.max(data["Quality"].length - 10, 0));
var latest_oee = data["Oee"].slice(Math.max(data["Oee"].length - 10, 0));
var latest_avl = data["Availability"].slice(Math.max(data["Availability"].length - 10, 0));

//calculating change 

const arrAvg = arr => arr.reduce((a,b) => a + b, 0) / arr.length

document.getElementById("diff_prod").innerHTML = (100 - arrAvg(latest_productivity)).toFixed(2)+"%";
document.getElementById("diff_avl").innerHTML = (100 - arrAvg(latest_avl)).toFixed(2)+"%";
document.getElementById("diff_qul").innerHTML = (100 - arrAvg(latest_quality)).toFixed(2)+"%";
document.getElementById("diff_oee").innerHTML = (100 - arrAvg(latest_oee)).toFixed(2)+"%";

document.getElementById("prod2").innerHTML = (data["Productivity"][data["Productivity"].length - 1]).toFixed(2) +"%"
document.getElementById("avl2").innerHTML = (data["Availability"][data["Availability"].length - 1]).toFixed(2)+"%"
document.getElementById("qul2").innerHTML = (data["Quality"][data["Quality"].length - 1]).toFixed(2)+"%"
document.getElementById("oee2").innerHTML = (data["Oee"][data["Oee"].length - 1]).toFixed(2)+"%"
//#################################### BAR CHARTS ######################################

var oee1 = document.getElementById("oee1");
  var myChart_oee1 = echarts.init(oee1);
  var app = {};
  option_oee1 = null;
  option_oee1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '10%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: latest_oee
      }
    ]
  };
  ;
  if (option_oee1 && typeof option_oee1 === "object") {
    myChart_oee1.setOption(option_oee1, true);
  }

  //------------------------------------------OEE Chart End-----------------------------------

  //=========================================Productivity chart Start=============================

   

  var prod1 = document.getElementById("prod1");
  var myChart_prod1 = echarts.init(prod1);
  var app = {};
  option_prod1 = null;
  option_prod1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '10%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: latest_productivity
      }
    ]
  };
  ;
  if (option_prod1 && typeof option_prod1 === "object") {
    myChart_prod1.setOption(option_prod1, true);
  }

  //-------------------------------------------Productivity chart End-----------------------------------

  //========================================= Quality Chart Start=======================================

  var qul1 = document.getElementById("qul1");
  var myChart_qul1 = echarts.init(qul1);
  var app = {};
  option_qul1 = null;
  option_qul1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '10%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: latest_quality
      }
    ]
  };
  ;
  if (option_qul1 && typeof option_qul1 === "object") {
    myChart_qul1.setOption(option_qul1, true);
  }

  //-------------------------------------------quality chart End---------------------------------------

  //===========================================Availibility chart start=================================

  var avl1 = document.getElementById("avl1");
  var myChart_avl1 = echarts.init(avl1);
  var app = {};
  option_avl1 = null;
  option_avl1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '10%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: latest_avl
      }
    ]
  };
  ;
  if (option_avl1 && typeof option_avl1 === "object") {
    myChart_avl1.setOption(option_avl1, true);
  }













console.log(latest_productivity);
  
var dom = document.getElementById("kpi_chart");
var myChart = echarts.init(dom);

option = null;
option = {

   
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:  ['Availability',"Productivity" , "Quality","OEE"]
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    
    xAxis: {
        type: 'category',
        data: data["timestamp"],
		
    },
    yAxis: {
        type: 'value',
		name : "PERCENTAGE",
		max:100
    },
	
   dataZoom: [{
        type: 'slider',
        height: 8,
        bottom: 20,
        borderColor: 'transparent',
        backgroundColor: '#e2e2e2',
        handleIcon: 'M10.7,11.9H9.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4h1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7v-1.2h6.6z M13.3,22H6.7v-1.2h6.6z M13.3,19.6H6.7v-1.2h6.6z', // jshint ignore:line
        handleSize: 20,
        handleStyle: {
            shadowBlur: 6,
            shadowOffsetX: 1,
            shadowOffsetY: 2,
            shadowColor: '#aaa'
        }
    }, {
        type: 'inside'
    }],
	grid: {
        bottom: 80
    },
	toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
				,title: 'Save As picture',
            },
            restore: {title: 'restore',},
            saveAsImage: {
			title: 'Save As picture',
			}
        }
    },
    series: [
	{
        data: data["Availability"],
        type: 'line',
		color:"green",
		name: 'Availability',
		smooth: true
		
    },
	{
        data: data["Productivity"],
        type: 'line',
		color:"blue",
		name:"Productivity",
		smooth: true
		
    },
	{
        data: data["Quality"],
        type: 'line',
		color:"teal",
		name:"Quality",
		smooth: true
		
    },
	{
        data: data["Oee"],
        type: 'bar',
		color:"purple",
		name:"OEE",
		
		
    },
	
	]
};

   
   if (option && typeof option === "object") {
    myChart.setOption(option, true);
}

    
    
     }); //socket ends
	
	
	
	}




    //=================================================Bar Chart Downtime Reason ====================================================
    function intiate_dt_chart(data){
    socket.emit("get_downtime_sum",data)
    document.getElementById("downtime_header").innerHTML = "Downtime Reason - ALL MACHINES" ; 
    console.log("socket emitted");
    socket.on("sent_downtime_sum",function(data){

    console.log("dwn time sum");
    console.log(data);

  

    var downtime_reasons = ["Startup Time","Mould Change","Power Cut","Holiday Startup","Breakdown","Trial","No Plan","Minor Stops"];	
    var dom_bar = document.getElementById("Barchart1");
    var myChart_bar = echarts.init(dom_bar);
    var app = {};
    option_bar = null;
    option_bar = {

    responsive: true,

    title: {
      text: '',
    },
    grid: {
            left: '10%',
            right: '10%',
            bottom: '10%',
            top:'10%',
            containLabel: true
        },
    tooltip: {
      trigger: 'axis'
    },
    legend: {
                    data: []
      },

    calculable: true,
    xAxis: [
      {
        type: 'category',
        data: downtime_reasons,
        name: "DOWNTIME REASONS",
        nameLocation: 'middle',
        nameGap: 50,
        axisLabel: {
        interval: 0,
        rotate: 30 
      }
      }
    ],
    yAxis: [
      {
        type: 'value',
        name:"TIME (MINUTES)",
        nameLocation: 'middle',
        nameGap: 50
      }
    ],
    series: [
      {
        name: 'Actual Downtime',
        color: '#8b0000',
        type: 'bar',
        data: data["actual"],
        
      },
	 {
        name: 'Planned Downtime',
        color: 'gray',
        type: 'bar',
        data: data["planned"],
        
      },
    ]
    };
    
    ;
    if (option_bar && typeof option_bar === "object") {
      myChart_bar.setOption(option_bar, true);
    }

     }); //socket ends
    }
    //=============================================================================================================================                             
    function fill_downtime_graph(data){

      
      machine = data["machine"];
      
      document.getElementById("downtime_header").innerHTML = "Downtime Reason - " + machine; 

      socket.emit("get_downtime_by_machine",data);

    socket.on("sent_downtime_by_machine",function(data){


        console.log(data);
        


     

    var downtime_reasons = ["Startup Time","Mould Change","Power Cut","Holiday Startup","Breakdown","Trial","No Plan","Minor Stops"];	
    var dom_bar = document.getElementById("Barchart1");
    var myChart_bar = echarts.init(dom_bar);
    var app = {};
    option_bar = null;
    option_bar = {

    responsive: true,

    title: {
      text: '',
    },
    grid: {
            left: '10%',
            right: '10%',
            bottom: '10%',
            top:'10%',
            containLabel: true
        },
    tooltip: {
      trigger: 'axis'
    },
    legend: {
                    data: []
      },

    calculable: true,
    xAxis: [
      {
        type: 'category',
        data: downtime_reasons,
        name: "DOWNTIME REASONS",
        nameLocation: 'middle',
        nameGap: 50,
        axisLabel: {
        interval: 0,
        rotate: 30 
      }

      }
    ],
    yAxis: [
      {
        type: 'value',
        name:"TIME (MINUTES)",
        nameLocation: 'middle',
        nameGap: 50
      }
    ],
    series: [
      {
        name: 'Actual Downtime',
        color: '#8b0000',
        type: 'bar',
        data: data["actual"],
        
      },
	   {
        name: 'Planned Downtime',
        color: 'gray',
        type: 'bar',
        data: data["planned"],
        
      },

    ]
    };
    
    ;
    if (option_bar && typeof option_bar === "object") {
      myChart_bar.setOption(option_bar, true);
    }


});//socket ends
    }//func ends
      

    function initiate_rej_graph(data){
    socket.emit("get_line_rejection_sum",data);
    document.getElementById("rejection_header").innerHTML = "Rejection Details - ALL MACHINES";
    socket.on("sent_line_rejection_sum",function(data){

    console.log("line rejection sum");
    console.log(data);
  
    
    //INITIALISING CHART WITH SUMATION 

    //============================================== Bar Chart Rejection ====================================
    var rejection_categories =  ["AIR BUBBLE", "GAS MARK", "BLACK DOT", "PATCH MARK", "PIN MARK", "SCRATCH", "MOISTURE",
                           "BLACK FLOW", "BLACK MARK", "WILD LINE", "POWER CUT REJECTION", "SHORT MOLDING", "SILVER",
                           "SINK MARK", "BURN MARK", "OIL MARK", "FLOW MARK"];
    var dom_rej_bar = document.getElementById("container");
    var myChart_rej_bar = echarts.init(dom_rej_bar);
    var app = {};
    option_rej_bar = null;

    option_rej_bar = {

    responsive: true,

    title: {
      text: '',
    },
    tooltip: {
      trigger: 'axis'
    },
    legend: {
                    data: []
      },

    calculable: true,
    xAxis: [
      {
        type: 'category',
        name:'SUB-CATEGORIES',
        nameLocation: 'middle',
        nameGap: 80,
        data: rejection_categories,
        axisLabel: {
        interval: 0,
        rotate: 30 ,
        fontSize: 12 
      }
    }
    ],
    grid: {
            left: '10%',
            right: '10%',
            bottom: '10%',
            top:'10%',
            containLabel: true
        },
    yAxis: [
      {
        type: 'value',
        nameLocation: 'middle',
        nameGap: 50,
        name:'WEIGHT (KG.)'
      }
    ],
    series: [
      {
        name: 'WEIGHT (KG.)',
        
        color: '#05b080',
        type: 'bar',
        data: data
        
        
      },

    ]
    };
    ;
    if (option_rej_bar && typeof option_rej_bar === "object") {
      myChart_rej_bar.setOption(option_rej_bar, true);
    }
    
    });//socket ends

   } // function ends

    function fill_rejection_graph(data){

      machine =  data["machine"];
	   	    
		socket.emit("get_line_rejection_by_machine",data);
	    document.getElementById("rejection_header").innerHTML = "Rejection Details - " + machine;
	    
	    socket.on("sent_line_rejection_by_machine",function(data){
	    console.log(data);	     
	    var rejection_categories =  ["AIR BUBBLE", "GAS MARK", "BLACK DOT", "PATCH MARK", "PIN MARK", "SCRATCH", "MOISTURE",
                           "BLACK FLOW", "BLACK MARK", "WILD LINE", "POWER CUT REJECTION", "SHORT MOLDING", "SILVER",
                           "SINK MARK", "BURN MARK", "OIL MARK", "FLOW MARK"];
	    var dom_rej_bar = document.getElementById("container");
	    var myChart_rej_bar = echarts.init(dom_rej_bar);
	    var app = {};
	    option_rej_bar = null;

	    option_rej_bar = {

		    responsive: true,

		    title: {
		      text: '',
		    },
		    tooltip: {
		      trigger: 'axis'
		    },
		    legend: {
		                    data: []
		      },

		    calculable: true,
		    xAxis: [
		      {
		        type: 'category',
		        name:'SUB-CATEGORIES',
		        nameLocation: 'middle',
		        nameGap: 80,
		        data: rejection_categories,
		        axisLabel: {
		        interval: 0,
		        rotate: 30 ,
		        fontSize: 12 
		      }
		    }
		    ],
		    grid: {
		            left: '10%',
		            right: '10%',
		            bottom: '10%',
		            top:'10%',
		            containLabel: true
		        },
		    yAxis: [
		      {
		        type: 'value',
		        nameLocation: 'middle',
		        nameGap: 50,
		        name:'WEIGHT (KG.)'
		      }
		    ],
		    series: [
		      {
		        name: 'WEIGHT (KG.)',
		        
		        color: '#05b080',
		        type: 'bar',
		        data: data
		        
		        
		      },

		    ]
		    };
			    ;
			    if (option_rej_bar && typeof option_rej_bar === "object") {
			      myChart_rej_bar.setOption(option_rej_bar, true);
			    }


    });// socket ends



    }// FUNCTION ENDS
    //################################################### V A T S A L - END - ###############################################
 //===================================================================================================================================== 


  </script>


  <script type="text/javascript">

   
    
    //====================================================  Weight Analysis ============================================================================

function initiate_rejection_doughnut(data){

	socket.emit("get_rejection_sum",data);
    document.getElementById("wa_header").innerHTML = "Weight Analysis - ALL MACHINES"
    socket.on("sent_rejection_sum",function(data){

    
    console.log(data);
  
    
    
    var dom_rej_donught1 = document.getElementById("donught");
    var myChart_rej_donught1 = echarts.init(dom_rej_donught1);
    var app = {};
    option_rej_donught1 = null;
    app.title = '';

    option_rej_donught1 = {
    tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b}: {c} ({d}%)'
    },
    legend: {
        orient: 'vertical',
        left:'auto'  ,
        top: 'auto' ,
        right: 'auto' ,
        bottom: 'auto' ,
        width: 'auto' ,
        height: 'auto',
        textStyle: {
                     size: 5 }, 
        data: ["LINE REJECTION", "PROCESS SCRAP", "STARTUP SCRAP", "STARTUP REJECTION"]
    },
    
    series: [
        {
            name: 'TOTAL WEIGHT (KG.)',
            type: 'pie',
            radius: ['50%', '80%'],
            avoidLabelOverlap: false,
            label: {
                show: false,
                position: 'center'
            },
            emphasis: {
                label: {
                    show: true,
                    fontSize: '10',
                    
                    opacity:0.5
                }
            },
            labelLine: {
                show: false
            },
            data: data
        }
    ]
};
    myChart_rej_donught1.setOption(option_rej_donught1, true);
});
}// function ends


function fill_rejection_doughnut(data){

 machine = data["machine"]
	socket.emit("get_rejection_by_machine",data);
document.getElementById("wa_header").innerHTML = "Weight Analysis - "+machine;
    socket.on("sent_rejection_by_machine",function(data){

    
    console.log(data);
  
    
    var dom_rej_donught1 = document.getElementById("donught");
    var myChart_rej_donught1 = echarts.init(dom_rej_donught1);
    var app = {};
    option_rej_donught1 = null;
    app.title = '';

    option_rej_donught1 = {
    tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b}: {c} ({d}%)'
    },
    legend: {
        orient: 'vertical',
        left:'auto'  ,
        top: 'auto' ,
        right: 'auto' ,
        bottom: 'auto' ,
        width: 'auto' ,
        height: 'auto',
        textStyle: {
                     size: 5 }, 
        data: ["LINE REJECTION", "PROCESS SCRAP", "STARTUP SCRAP", "STARTUP REJECTION"]
    },
    
    series: [
        {
            name: 'TOTAL WEIGHT (KG.)',
            type: 'pie',
            radius: ['50%', '80%'],
            avoidLabelOverlap: false,
            label: {
                show: false,
                position: 'center'
            },
            emphasis: {
                label: {
                    show: true,
                    fontSize: '10',
                    
                    opacity:0.5
                }
            },
            labelLine: {
                show: false
            },
            data: data
        }
    ]
};
    myChart_rej_donught1.setOption(option_rej_donught1, true);


});//socket ends
    
}// function ends





  //===========================================================end Rejection script=====================================
  </script>








</body>

</html>

<script>
  function side_left() {
    /* document.getElementById("oee_sum1").innerText =  String(Math.floor(Math.random() * 30) + 40)+"%" ;
   document.getElementById('oee_sum2').innerText = String(Math.floor(Math.random() * 20) + 30)+"%";
   document.getElementById('oee_sum3').innerText = String(Math.floor(Math.random() * 10) + 30) +"%";
   document.getElementById('oee_sum4').innerText = String(Math.floor(Math.random() * 40) + 20) +"%";
 */
  }
  var sid = setInterval(side_left, 1000);
</script>


<script>
  function statics() {
    /* document.getElementById("oee_st1").innerText =  Math.floor(Math.random() * 500) + 800;
     document.getElementById('oee_st2').innerText = Math.floor(Math.random() * 100) + 50;
     document.getElementById('oee_st3').innerText = Math.floor(Math.random() * 100) + 200;
     document.getElementById('oee_st4').innerText = Math.floor(Math.random() * 400) + 500;
   
     document.getElementById("down_st1").innerText =  Math.floor(Math.random() * 500) + 800;
     document.getElementById('down_st2').innerText = Math.floor(Math.random() * 100) + 50;
     document.getElementById('down_st3').innerText = Math.floor(Math.random() * 100) + 200;
     document.getElementById('down_st4').innerText = Math.floor(Math.random() * 400) + 500;*/





  }
  var stat = setInterval(statics, 2000);

</script>

<script>

  //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx


  var flag = [0]
  var shot_target = 0
  var chk
  var chks
  var flag_machine_name



  //var socket=io.connect('http://127.0.0.1:5000/')
  var socket = io.connect('http://' + document.domain + ":" + location.port)

  //socket.emit('get_data')
  function get_start_time() {

    socket.emit('get_start_current_time')
  }

  socket.on("getting_start_curr_time", function (s) {
    document.getElementById("start_time").value = s;

  });

  function get_end_time() {
    socket.emit('get_end_current_time')
  }

  socket.on("getting_end_curr_time", function (s) {
    document.getElementById("end_time").value = s;

  });

  function intervals() {
    socket.emit('caller')
  }


  function start1() {

    if (document.getElementById("planned").value === "") {
      document.getElementById("planned_alert").innerText = "Fill The Planned Shots"
    }
    else {
      socket.emit('get_data')
      iter = setInterval(intervals, 2000);
      document.getElementById("planned_alert").innerText = ""
    }

  }


  function stop1() {
    clearInterval(iter)
  }

  socket.on("receiver", function (y) {

    document.getElementById("acheived1").value = y[0]

    pcg = (parseInt(document.getElementById("acheived1").value) / parseInt(document.getElementById("planned").value)) * 100
    //console.log(pcg)
    document.getElementById("progress2").setAttribute('aria-valuenow', pcg);
    document.getElementById("progress2").setAttribute('style', 'width:' + Number(pcg) + '%');
    document.getElementById("progress2").innerHTML = String(pcg) + "%"
  })

  function get_record() {

    details = document.getElementById("details").value;
    var record_dict = { "details": details }
    socket.emit("basic_details_records", [record_dict, flag_machine_name]);



  }

  function gets_dt() {
    socket.emit("get_basic_details_from_server", flag_machine_name)
    socket.emit("get_down", flag_machine_name)
    socket.emit("rejection_record", flag_machine_name)
    //console.log('gets_dt')
  }

  
  //====================================Downtime Function Start===============================================

  socket.on("received_down_data", function (json) {
    console.log(json);
    /* document.getElementById('runtime').value = json['runtime'];
     document.getElementById('total_time').value = json['total_time'];
     document.getElementById('opti_cycle_time').value = json['opti_cycle_time'];*/
    document.getElementById('cycle_ideal').innerHTML = '<h6 class="tx-bold tx-14 tx-primary mg-b-1">' + json['opti_cycle_time'] + '</h6>';
    document.getElementById('prod_ideal').innerHTML = '<h6 class="tx-bold tx-14 tx-primary mg-b-1">' + json['prod_ideal'] + '</h6>';
    document.getElementById('shots_ideal').innerHTML = '<h6 class="tx-bold tx-14 tx-primary mg-b-1">' + json['ideal_shots'] + '</h6>';

    if (parseInt(json['achieved_cycle_time']) < parseInt(json['opti_cycle_time'])) {
      document.getElementById("achieved_cycle").innerHTML = '<h6 class="tx-bold tx-14 tx-success mg-b-1">' + json['achieved_cycle_time'] + '</h6>';
    }
    else if (parseInt(json['achieved_cycle_time']) > parseInt(json['opti_cycle_time'])) {
      document.getElementById("achieved_cycle").innerHTML = '<h6 class="tx-bold tx-14 tx-danger mg-b-1">' + json['achieved_cycle_time'] + '</h6>';

    }
    else {
      document.getElementById("achieved_cycle").innerHTML = '<h6 class="tx-bold tx-14 tx-primary mg-b-1">' + json['achieved_cycle_time'] + '</h6>';
    }


    if (parseInt(json['achieved_prod']) < parseInt(json['prod_ideal'])) {
      document.getElementById("prod_achieved").innerHTML = '<h6 class="tx-bold tx-14 tx-danger mg-b-1">' + json['achieved_prod'] + '</h6>';
    }
    else if (parseInt(json['achieved_cycle_time']) > parseInt(json['opti_cycle_time'])) {
      document.getElementById("prod_achieved").innerHTML = '<h6 class="tx-bold tx-14 tx-success mg-b-1">' + json['achieved_prod'] + '</h6>';

    }
    else {
      document.getElementById("prod_achieved").innerHTML = '<h6 class="tx-bold tx-14 tx-primary mg-b-1">' + json['achieved_prod'] + '</h6>';
    }
    if (parseInt(json['shots_per_hour']) < parseInt(json['ideal_shots'])) {
      document.getElementById("shots_achd").innerHTML = '<h6 class="tx-bold tx-14 tx-danger mg-b-1">' + json['shots_per_hour'] + '</h6>';
    }
    else if (parseInt(json['shots_per_hour']) > parseInt(json['ideal_shots'])) {
      document.getElementById("shots_achd").innerHTML = '<h6 class="tx-bold tx-14 tx-success mg-b-1">' + json['shots_per_hour'] + '</h6>';

    }
    else {
      document.getElementById("shots_achd").innerHTML = '<h6 class="tx-bold tx-14 tx-primary mg-b-1">' + json['shots_per_hour'] + '</h6>';
    }

    xx = ['total_start_up', 'total_mould_change_time', 'total_power_cut', 'total_holiday_startup', 'total_breakdown', 'total_no_plan']
    series_data = []
    for (i = 0; i < count.length; i++) {
      series_data.push(json[xx[i]])

    }

    option_bar.xAxis[0].data = count
    option_bar.series[0].data = series_data
    myChart_bar.setOption(option_bar, true); // bar chart Updater


    option_donught1.series[0].data[0].value = json["total_time"]
    option_donught1.series[0].data[1].value = parseInt(json["total_time"])-parseInt(json["runtime"])
    option_donught1.series[0].data[2].value = json["runtime"]
    
    myChart_donught1.setOption(option_donught1, true); // Run time analysis



  });
  //--------------------------------------End of Downtime fucntion---------------------------------------------

  //=======================================Rejection Function Start==============================================  

  socket.on("received_rejection_data", function (json) {

  
    //json = JSON.parse(json)
    console.log(json);
    //document.getElementById("total_parts").value = json['total_part'];
    //document.getElementById("actual_ok_parts").value = json['actual_part'];
    document.getElementById("start_rej").value = json['startup_rej_nos'];
    document.getElementById("rej_nos").value = json['startup_rej_kg'];
    document.getElementById("scrap").value = json['scrap_kg'];
    document.getElementById("total_scrap").value = json['total_scrap'];
    //document.getElementById("last_update").value = json['current_time'];

    //==========================================================

    rej_reason = ["black_mark","patch_mark","gas_mark","power_cut", "short_molding", "silver", "sink_mark", "burn_mark", "oil_mark", "flow_mark", "wild_line", "black_dot", "black_flow", "moisture", "scretch", "pin_mark","air_bubble"]
    rej_data = []
    for (i = 0; i < rej_reason.length; i++) {
      rej_data.push(parseInt(json[rej_reason[i]]))
    }

    option_rej_bar.series[0].data = rej_data
    myChart_rej_bar.setOption(option_rej_bar, true); //bar charts updater
    rej_data = []

    //===================================================================

    option_rej_donught1.series[0].data[0].value = json["rejection_weight"]        //total line rejection
    option_rej_donught1.series[0].data[1].value = json["process_scrap_weight"]        //process scrap by user    
    option_rej_donught1.series[0].data[2].value = json["total_scrap"]         // total startup scrap


    myChart_rej_donught1.setOption(option_rej_donught1, true); //weight analysis

    //====================================================================

    option_rej_donught2.series[0].data[1].value = json["actual_part"]
    option_rej_donught2.series[0].data[0].value = json["line_reje_nos"]


    myChart_rej_donught2.setOption(option_rej_donught2, true);//part analysis
  });





  //---------------------------------------End of Rejection Function---------------------------------------------

  //gets_dt();
  //chk=setInterval(gets_dt,10000);

  //######################################### V A T S A L #################################################### 

  $(document).ready(function () {
     
	  console.log("page loaded");
	  //initiate_rej_graph();
	  //intiate_dt_chart();
	  //initiate_rejection_doughnut();
    //alert("Please Select a Date.");
	  document.getElementById('Shift Date').valueAsDate = new Date();
	  document.getElementById("mac_name").innerText = "ALL MACHINES";

    shift_date = document.getElementById("Shift Date").value;

    var d = new Date();
	var hour = d.getHours();
	console.log(hour);
	if(hour >=22 || hour<6){
	selected_shift = "C";
	document.getElementById("Shift ID").value = selected_shift;
	
	
	}
	else if(hour>=14){
	
	selected_shift = "B";
	document.getElementById("Shift ID").value = selected_shift;
	}
	else{
	selected_shift = "A";
	document.getElementById("Shift ID").value = selected_shift;
	}
    
    
    
    //Changing date format 
    temp = shift_date.split("-");
    //2020-10-03
    selected_date = temp[2] +"/"+temp[1]+"/"+temp[0];

    console.log(selected_date);
    console.log(selected_shift);
    console.log(selected_machine);

    request_data();

  });

  function request_data() {


    


    
    
    request_detail = {};
    request_detail["date"] = selected_date;
    request_detail["shift"] = selected_shift;
    request_detail["machine"] = selected_machine;

    
    if (selected_machine == "ALL MACHINES"){
		document.getElementById('shift_timeline').setAttribute("style","height:600px");
		get_all_timelines(request_detail);
        get_energy_chart(request_detail);
		load_shot_details_table(request_detail);
		initiate_kpi_graph(request_detail);
    	initiate_rej_graph(request_detail);
    	intiate_dt_chart(request_detail);
    	initiate_rejection_doughnut(request_detail);
    	  //document.getElementById("machine_name").value = "-";    
        //document.getElementById("mac_name").innerText = selected_machine;
    }
    else{
		document.getElementById('shift_timeline').setAttribute("style","height:250px");
		timeline_by_machine(request_detail);
    	fill_rejection_doughnut(request_detail);
    	fill_rejection_graph(request_detail);
    	fill_downtime_graph(request_detail);
    	//document.getElementById("machine_name").value = selected_machine;   
        //document.getElementById("mac_name").innerText = selected_machine;
    }
    
      

  }


//########################################  V A T S A L --END -- ######################################################

//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx


</script>

<script>

  //============================================OEE Chart Start=================================

  var oee1 = document.getElementById("oee1");
  var myChart_oee1 = echarts.init(oee1);
  var app = {};
  option_oee1 = null;
  option_oee1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '10%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: [10, 52, 200, 334, 390, 330, 220, 390, 330, 220]
      }
    ]
  };
  ;
  if (option_oee1 && typeof option_oee1 === "object") {
    myChart_oee1.setOption(option_oee1, true);
  }

  //------------------------------------------OEE Chart End-----------------------------------

  //=========================================Productivity chart Start=============================

  var prod1 = document.getElementById("prod1");
  var myChart_prod1 = echarts.init(prod1);
  var app = {};
  option_prod1 = null;
  option_prod1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '10%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: [10, 52, 200, 334, 390, 330, 220, 390, 330, 220]
      }
    ]
  };
  ;
  if (option_prod1 && typeof option_prod1 === "object") {
    myChart_prod1.setOption(option_prod1, true);
  }

  //-------------------------------------------Productivity chart End-----------------------------------

  //========================================= Quality Chart Start=======================================

  var qul1 = document.getElementById("qul1");
  var myChart_qul1 = echarts.init(qul1);
  var app = {};
  option_qul1 = null;
  option_qul1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '10%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: [10, 52, 200, 334, 390, 330, 220, 390, 330, 220]
      }
    ]
  };
  ;
  if (option_qul1 && typeof option_qul1 === "object") {
    myChart_qul1.setOption(option_qul1, true);
  }

  //-------------------------------------------quality chart End---------------------------------------

  //===========================================Availibility chart start=================================

  var avl1 = document.getElementById("avl1");
  var myChart_avl1 = echarts.init(avl1);
  var app = {};
  option_avl1 = null;
  option_avl1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '10%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: [10, 52, 200, 334, 390, 330, 220, 390, 330, 220]
      }
    ]
  };
  ;
  if (option_avl1 && typeof option_avl1 === "object") {
    myChart_avl1.setOption(option_avl1, true);
  }

  //--------------------------------------------Availibility chart End -------------------------------------

  //===========================================Total Ok Part Weight Chart=======================================

  var ok_part1 = document.getElementById("ok_part1");
  var myChart_ok_part1 = echarts.init(ok_part1);
  var app = {};
  option_ok_part1 = null;
  option_ok_part1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '0%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: [10, 52, 200, 334, 390, 330, 220, 390, 330, 220]
      }
    ]
  };
  ;
  if (option_ok_part1 && typeof option_ok_part1 === "object") {
    myChart_ok_part1.setOption(option_ok_part1, true);
  }


  //-------------------------------------------Total Ok Part Weight Chart End-----------------------------------

  //===========================================Total Raw Material Chart Start===================================

  var raw_mat1 = document.getElementById("raw_mat1");
  var myChart_raw_mat1 = echarts.init(raw_mat1);
  var app = {};
  option_raw_mat1 = null;
  option_raw_mat1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '0%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: [10, 52, 200, 334, 390, 330, 220, 390, 330, 220]
      }
    ]
  };
  ;
  if (option_raw_mat1 && typeof option_raw_mat1 === "object") {
    myChart_raw_mat1.setOption(option_raw_mat1, true);
  }
  //---------------------------------------------------Total Raw Marerial |Chart End---------------------------

  //=================================================Total Material consumption ===============================

  var mat_cons1 = document.getElementById("mat_cons1");
  var myChart_mat_cons1 = echarts.init(mat_cons1);
  var app = {};
  option_mat_cons1 = null;
  option_mat_cons1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '0%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: [10, 52, 200, 334, 390, 330, 220, 390, 330, 220]
      }
    ]
  };
  ;
  if (option_mat_cons1 && typeof option_mat_cons1 === "object") {
    myChart_mat_cons1.setOption(option_mat_cons1, true);
  }

  //-------------------------------------------------Total Material Consumption End---------------------------

  //================================================Total Energy consumption Start============================

  var ener_cons1 = document.getElementById("ener_cons1");
  var myChart_ener_cons1 = echarts.init(ener_cons1);
  var app = {};
  option_ener_cons1 = null;
  option_ener_cons1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '0%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: [10, 52, 200, 334, 390, 330, 220, 390, 330, 220]
      }
    ]
  };
  ;
  if (option_ener_cons1 && typeof option_ener_cons1 === "object") {
    myChart_ener_cons1.setOption(option_ener_cons1, true);
  }

  //-----------------------------------------------Total Energy consumption end----------------------------

  //=============================================Parts_per_kwh Start========================================

  var part_kwh1 = document.getElementById("part_kwh1");
  var myChart_part_kwh1 = echarts.init(part_kwh1);
  var app = {};
  option_part_kwh1 = null;
  option_part_kwh1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '0%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: [10, 52, 200, 334, 390, 330, 220, 390, 330, 220]
      }
    ]
  };
  ;
  if (option_part_kwh1 && typeof option_part_kwh1 === "object") {
    myChart_part_kwh1.setOption(option_part_kwh1, true);
  }

  //---------------------------------------------Parts_per_kwh_End------------------------------------------

  //=============================================Total Rejection Start ===========================================
  var rej1 = document.getElementById("rej1");
  var myChart_rej1 = echarts.init(rej1);
  var app = {};
  option_rej1 = null;
  option_rej1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '0%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: [10, 52, 200, 334, 390, 330, 220, 390, 330, 220]
      }
    ]
  };
  ;
  if (option_rej1 && typeof option_rej1 === "object") {
    myChart_rej1.setOption(option_rej1, true);
  }
  //---------------------------------------------Total Rejection End----------------------------------------------

  //============================================Total Scrap Start=================================================

  var scrap1 = document.getElementById("scrap1");
  var myChart_scrap1 = echarts.init(scrap1);
  var app = {};
  option_scrap1 = null;
  option_scrap1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '0%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: [10, 52, 200, 334, 390, 330, 220, 390, 330, 220]
      }
    ]
  };
  ;
  if (option_scrap1 && typeof option_scrap1 === "object") {
    myChart_scrap1.setOption(option_scrap1, true);
  }

  //--------------------------------------------Total Scrap End---------------------------------------------------
  //============================================Total Yield Start=================================================

  var yeild1 = document.getElementById("yeild1");
  var myChart_yeild1 = echarts.init(yeild1);
  var app = {};
  option_yeild1 = null;
  option_yeild1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '0%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: [10, 52, 200, 334, 390, 330, 220, 390, 330, 220]
      }
    ]
  };
  ;
  if (option_yeild1 && typeof option_yeild1 === "object") {
    myChart_yeild1.setOption(option_yeild1, true);
  }

  //--------------------------------------------Total Yield End---------------------------------------------------
  //===========================================Total PPm Start====================================================

  var ppm1 = document.getElementById("ppm1");
  var myChart_ppm1 = echarts.init(ppm1);
  var app = {};
  option_ppm1 = null;
  option_ppm1 = {
    responsive: true,
    color: ['#3398DB'],
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    grid: {
      left: '0%',
      right: '0%',
      bottom: '0%',
      top: '0%',
    },
    xAxis: [
      {
        show: false,
        type: 'category',
        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        axisTick: {
          alignWithLabel: true
        }
      }
    ],
    yAxis: [
      {
        show: false
      }
    ],
    series: [
      {

        type: 'bar',
        barWidth: '80%',
        data: [10, 52, 200, 334, 390, 330, 220, 390, 330, 220]
      }
    ]
  };
  ;
  if (option_ppm1 && typeof option_ppm1 === "object") {
    myChart_ppm1.setOption(option_ppm1, true);
  }








//-------------------------------------------Total PPM End------------------------------------------------------


function timeline_by_machine(data){
	
    machine = data["machine"]
	socket.emit("get_timeline_by_machine",data);
	//document.getElementById('shift_timeline').setAttribute("style","height:250px");
	
    document.getElementById("timeline_header").innerHTML = "Timeline - "+ machine;
    socket.on("sent_timeline_by_machine",function(data1){

    
    console.log(data1);

    var dom = document.getElementById("shift_timeline");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
	
    var data = [];
    var dataCount = 10; //length of 
    var startTime = 0;
    var ij = 0
    var xx = [10, 20, 100, 40, 50, 60, 70, 80, 90, 100]
    var categories = [machine];
    var types = [
      { name: 'Startup Time', color: '#b35900' },
      { name: 'Mould Change Time', color: '#ffd800' },
      { name: 'Power Cut', color: '#b5985f' },
      { name: 'Holiday Startup Time', color: '#5900b3' },
      { name: 'Breakdown Trial', color: '#8bbb8e' },
      { name: 'No Plan', color: '#bf9b30' }]

    var color_code = { 'Startup Time': '#b35900', 'Mould Change Time': '#ffd800', 'Power Cut': '#b5985f', 'Holiday Startup Time': '#5900b3', 'Breakdown Trial': '#8bbb8e', 'No Plan': '#bf9b30', "Run Time": "#007E32" }



    // Generate mock data
    echarts.util.each(categories, function (category, index) {
      var baseTime = startTime;
      for (var i = 0; i < dataCount; i++) {
        var typeItem = types[Math.round(Math.random() * (types.length - 1))];
        var duration = Math.round(Math.random() * 10000);
        data.push({
          name: typeItem.name,
          value: [
            index,
            baseTime,
            baseTime += duration,
            duration
          ],
          itemStyle: {
            normal: {
              color: typeItem.color
            }
          }
        });
        baseTime += Math.round(Math.random() * 2000);
      }
    });

    function renderItem(params, api) {
      var categoryIndex = api.value(0);
      var start = api.coord([api.value(1), categoryIndex]);
      var end = api.coord([api.value(2), categoryIndex]);
      var height = api.size([0, 1])[1] * 0.6;

      var rectShape = echarts.graphic.clipRectByRect({
        x: start[0],
        y: start[1] - height / 2,
        width: end[0] - start[0],
        height: height
      }, {
        x: params.coordSys.x,
        y: params.coordSys.y,
        width: params.coordSys.width,
        height: params.coordSys.height
      });

      return rectShape && {
        type: 'rect',
        shape: rectShape,
        style: api.style()
      };
    }

    var formatter1 = []
    option = {
      tooltip: {
        formatter: function (params) {
          return params.marker + params.name + ': ' + ((params.value[3])/60).toFixed(2) + ' min';
        }
      },

      dataZoom: [{
        type: 'slider',
        filterMode: 'weakFilter',
        showDataShadow: false,
        y: '32%',
        height: 5,
        borderColor: 'transparent',
        backgroundColor: '#e2e2e2',
        handleIcon: 'M10.7,11.9H9.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4h1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7v-1.2h6.6z M13.3,22H6.7v-1.2h6.6z M13.3,19.6H6.7v-1.2h6.6z', // jshint ignore:line
        handleSize: 20,
        handleStyle: {
          shadowBlur: 6,
          shadowOffsetX: 1,
          shadowOffsetY: 2,
          shadowColor: '#aaa'
        },
        labelFormatter: ''
      }, {
        type: 'inside',
        filterMode: 'weakFilter'
      }],
      grid: {
        height: 60,
        left: 80

      },
      xAxis: {
        show: true,
		max:28800,
        scale: true,
		name: 'DURATION IN MINUTES',
		nameLocation: 'middle',
        nameGap: 25,
		type:'value',
		axisLabel:{
		formatter: function (value, index) {
					return parseInt((value/60)) + 'min.';
}
			}
      },
      yAxis: {
        data: categories,
		
		name:'MACHINES'
      },
      series: [{
        type: 'custom',
        renderItem: renderItem,
        itemStyle: {
          normal: {
            opacity: 0.8
          }
        },
        encode: {
          x: [1, 2],
          y: 0
        },
        data: data1
      }]
    };;
    if (option && typeof option === "object") {
      myChart.setOption(option, true);
    }

}); // socket




//----------------------------------------------------


}


// ALL TIMELINES

function get_all_timelines(data){

    machine = data["machine"]
	socket.emit("get_all_timelines",data);
    document.getElementById("timeline_header").innerHTML = "Shift Timeline - All Machines ";
    socket.on("sent_all_timelines",function(data1){

    
    console.log(data1);

    var dom = document.getElementById("shift_timeline");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;

    var data = [];
    var dataCount = 10; //length of 
    var startTime = 0;
    var ij = 0
    var xx = [10, 20, 100, 40, 50, 60, 70, 80, 90, 100]
    var categories = ['JSW 350T', "JSW 650T", "JSW 550T-II", "JSW 450T-II", "JSW 550T-I", "JSW 450T-III", "JSW 450T"]
    var types = [
      { name: 'Startup Time', color: '#b35900' },
      { name: 'Mould Change Time', color: '#ffd800' },
      { name: 'Power Cut', color: '#b5985f' },
      { name: 'Holiday Startup Time', color: '#5900b3' },
      { name: 'Breakdown Trial', color: '#8bbb8e' },
      { name: 'No Plan', color: '#bf9b30' }]

    var color_code = { 'Startup Time': '#b35900', 'Mould Change Time': '#ffd800', 'Power Cut': '#b5985f', 'Holiday Startup Time': '#5900b3', 'Breakdown Trial': '#8bbb8e', 'No Plan': '#bf9b30', "Run Time": "#007E32" }



    // Generate mock data
    echarts.util.each(categories, function (category, index) {
      var baseTime = startTime;
      for (var i = 0; i < dataCount; i++) {
        var typeItem = types[Math.round(Math.random() * (types.length - 1))];
        var duration = Math.round(Math.random() * 10000);
        data.push({
          name: typeItem.name,
          value: [
            index,
            baseTime,
            baseTime += duration,
            duration
          ],
          itemStyle: {
            normal: {
              color: typeItem.color
            }
          }
        });
        baseTime += Math.round(Math.random() * 2000);
      }
    });

    function renderItem(params, api) {
      var categoryIndex = api.value(0);
      var start = api.coord([api.value(1), categoryIndex]);
      var end = api.coord([api.value(2), categoryIndex]);
      var height = api.size([0, 1])[1] * 0.6;

      var rectShape = echarts.graphic.clipRectByRect({
        x: start[0],
        y: start[1] - height / 2,
        width: end[0] - start[0],
        height: height
      }, {
        x: params.coordSys.x,
        y: params.coordSys.y,
        width: params.coordSys.width,
        height: params.coordSys.height
      });

      return rectShape && {
        type: 'rect',
        shape: rectShape,
        style: api.style()
      };
    }

    var formatter1 = []
    option = {
      tooltip: {
        formatter: function (params) {
          return params.marker + params.name + ': ' + ((params.value[3])/60).toFixed(2) + ' min';
        }
      },

      dataZoom: [{
        type: 'slider',
        filterMode: 'weakFilter',
        showDataShadow: false,
        y: '80%',
        height: 5,
        borderColor: 'transparent',
        backgroundColor: '#e2e2e2',
        handleIcon: 'M10.7,11.9H9.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4h1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7v-1.2h6.6z M13.3,22H6.7v-1.2h6.6z M13.3,19.6H6.7v-1.2h6.6z', // jshint ignore:line
        handleSize: 20,
        handleStyle: {
          shadowBlur: 6,
          shadowOffsetX: 1,
          shadowOffsetY: 2,
          shadowColor: '#aaa'
        },
        labelFormatter: ''
      }, {
        type: 'inside',
        filterMode: 'weakFilter'
      }],
      grid: {
        height: 350,
        left: 80

      },
      xAxis: {
        show: true,
		max:28800,
        scale: true,
		name: 'DURATION IN MINUTES',
		nameLocation: 'middle',
        nameGap: 25,
		type:'value',
		axisLabel:{
		formatter: function (value, index) {
					return parseInt((value/60)) + 'min.';
}
			}
      },
      yAxis: {
		name:"MACHINES",
		
        data: categories
      },
      series: [{
        type: 'custom',
        renderItem: renderItem,
        itemStyle: {
          normal: {
            opacity: 0.8
          }
        },
        encode: {
          x: [1, 2],
          y: 0
        },
        data: data1
      }]
    };;
    if (option && typeof option === "object") {
      myChart.setOption(option, true);
    }

}); // socket




//----------------------------------------------------


}




</script>




{% endblock %}
  
 
   
