<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Cyronics</title>

    <!-- vendor css -->
    <link href="{{url_for('static',filename='lib1/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='lib1/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='lib1/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='lib1/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highstock/6.0.3/highstock.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highstock/6.0.3/highcharts-3d.js"></script>


    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bracket.css')}}">
	
	<link href="{{url_for('static',filename='css_oee/main.css" rel="stylesheet')}}">
  <script src="{{url_for('static',filename='js_oee/main.js')}}"></script>
  <style>
    .sv{
      height:50px;
      width:50px;
      background-color: yellow;
    }
    </style>
  
  <style>
    table, td, th,tr {
       border: 1px solid rgb(184, 182, 182);
       text-align: center; 
    }
    tbody{
        border: 1px solid rgb(184, 182, 182);
       text-align: center; 
    }
    .scrolit{
    overflow:scroll;
    height:100px;
}
.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
    
 </style>


<style>
    .btn1 {
      border: 2px solid black;
      border-radius: 5px;
      background-color: white;
      color: black;
      padding: 4px 28px;
      font-size: 13px;
      cursor: pointer;
    }
    
    /* Green */
    .success {
      border-color: #4CAF50;
      color: green;
    }
    
    .success:hover {
      background-color: #4CAF50;
      color: white;
    }
    
    /* Blue */
    .info {
      border-color: #2196F3;
      color: dodgerblue
    }
    
    .info:hover {
      background: #2196F3;
      color: white;
    }
    
    /* Orange */
    .warning {
      border-color: #ff9800;
      color: orange;
    }
    
    .warning:hover {
      background: #ff9800;
      color: white;
    }
    
    /* Red */
    .danger {
      border-color: #f44336;
      color: red
    }
    
    .danger:hover {
      background: #f44336;
      color: white;
    }
    
    /* Gray */
    .default {
      border-color: #e7e7e7;
      color: black;
    }
    
    .default:hover {
      background: #e7e7e7;
    }
    </style>
 
  </head>

  <body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href=""><span></span>PPAP Ltd.<span></span></a></div>
    <div class="br-sideleft overflow-y-auto">
        <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
        <div class="br-sideleft-menu">
          <a href="#" class="br-menu-link">
            <div class="br-menu-item">
                <i class="menu-item-icon fa fa-user-circle tx-24"></i>
                &nbsp;&nbsp;<span class="menu-item-label">Admin</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div><!-- menu-item -->
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub nav flex-column">
            <li class="nav-item"><a href="/" class="nav-link">Production Plan &nbsp;&nbsp;&nbsp;</a></li>
            <li class="nav-item"><a href="/production_planed" class="nav-link ">Production Overview &nbsp;&nbsp;&nbsp;</a></li>
          </ul>
      
          
          <a href="#" class="br-menu-link">
            <div class="br-menu-item">
              <i class="menu-item-icon icon ion-wrench tx-20"></i>
              <span class="menu-item-label">Operator App</span>
              <i class="menu-item-arrow fa fa-angle-down"></i>
            </div><!-- menu-item -->
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub nav flex-column">
            <li class="nav-item"><a href="/basic" class="nav-link">Basic Details</a></li>
            <li class="nav-item"><a href="/downtime" class="nav-link">Downtime</a></li>
            <li class="nav-item"><a href="/rejection" class="nav-link active">Rejection</a></li>
            
          </ul>
    
    
          <a href="#" class="br-menu-link">
            <div class="br-menu-item">
              <i class="menu-item-icon fa fa-cogs tx-20"></i>
              <span class="menu-item-label">Dashboard</span>
              <i class="menu-item-arrow fa fa-angle-down"></i>
            </div><!-- menu-item -->
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub nav flex-column">
            <li class="nav-item"><a href="/plant_details" class="nav-link ">Plant Details</a></li>
            <li class="nav-item"><a href="/hierarchy" class="nav-link">Hierarchy</a></li>
            <li class="nav-item"><a href="/spr" class="nav-link">SPR</a></li>
            <li class="nav-item"><a href="/pqcr" class="nav-link">PQCR</a></li>

            
          </ul>


          <a href="#" class="br-menu-link active show-sub">
            <div class="br-menu-item">
              <i class="menu-item-icon fa fa-connectdevelop tx-20"></i>
              <span class="menu-item-label">CMS</span>
              <i class="menu-item-arrow fa fa-angle-down"></i>
            </div><!-- menu-item -->
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub nav flex-column">
            <li class="nav-item"><a href="/overview" class="nav-link"><i class="menu-item-arrow fa fa-sitemap"></i><span class="menu-item-label">Overview </span></a></li>

            <li class="nav-item"><a href="/events" class="nav-link "><i class="menu-item-arrow fa fa-bell"></i><span class="menu-item-label">Events </span></a></li>

            <li class="nav-item"><a href="/assets" class="nav-link "><i class="menu-item-arrow fa fa-archive"></i><span class="menu-item-label">Assets</span></a></li>

            <li class="nav-item"><a href="/kpi" class="nav-link"><i class="menu-item-arrow fa fa-bullseye"></i><span class="menu-item-label">KPI</span></a></li>

            <li class="nav-item"><a href="/rules" class="nav-link"><i class="menu-item-arrow fa fa-calculator"></i><span class="menu-item-label">Rules</span></a></li>

            <li class="nav-item"><a href="/predictive" class="nav-link active"><i class="menu-item-arrow fa fa-microchip"></i><span class="menu-item-label">Predictive</span></a></li>

            <li class="nav-item"><a href="/graphs" class="nav-link"><i class="menu-item-arrow fa fa-line-chart"></i><span class="menu-item-label">Graphs</span></a></li>

            <li class="nav-item"><a href="/dashboards" class="nav-link"><i class="menu-item-arrow fa fa-bar-chart"></i><span class="menu-item-label">Dashboards</span></a></li>

            <li class="nav-item"><a href="/pqcr" class="nav-link"><i class="menu-item-arrow fa fa-table"></i><span class="menu-item-label">PQCR</span></a></li>

            <li class="nav-item"><a href="/admin" class="nav-link"><i class="menu-item-arrow fa fa-cog"></i><span class="menu-item-label">Admin</span></a></li>

            
          </ul>
  
  
      </div><!-- br-sideleft-menu -->
  
        
  
        <br>
      </div><!-- br-sideleft -->
      <!-- ########## END: LEFT PANEL ########## -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
        <div class="br-header-left">
          <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
          <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        </div><!-- br-header-left -->
        <div class="br-header-right">
              <div class="dropdown">
                <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
                  <span class="logged-name hidden-md-down" id="user"></span>
                  <img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
                  <span class="square-10 bg-success"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-header wd-200">
                  <ul class="list-unstyled user-profile-nav">
                  
                   
                    <li><a href="login.html"><i class="icon ion-power"></i> Sign Out</a></li>
                  </ul>
                </div><!-- dropdown-menu -->
              </div><!-- dropdown -->
             </div>
       
      </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->

    <!-- ########## START: RIGHT PANEL ########## -->
   
    <!-- ########## END: RIGHT PANEL ########## --->

    <!-- ########## START: MAIN PANEL ########## -->
 <!-- ########## START: MAIN PANEL ########## -->
 <div class="br-mainpanel">
   
    <div class="br-pagebody">

        <div class="row">
            <div class="card col-lg-12 col-sm-12 col-md-12 ht-500 bg-white bd-1 bd-dark mg-t-20">
                <div class="row mg-t-15">
                    <div class="col-lg-3 col-sm-2 col-md-2 d-flex align-items-center">
                        <div>
                            <h6 class="tx-dark">Predictive Analysis</h6>
                        </div>

                    </div>
                    <div class="col-lg-9 col-sm-10 col-md-10 d-flex align-items-center justify-content-end">

                        <div class="d-flex align-items-center">
                            <span class="tx-dark">Plant</span>&nbsp;&nbsp;
                            <span>
                              <select class="form-control form-control-sm">
                                      <option selected>Choose...</option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                    </select>
                            </span>
                        </div>&nbsp;&nbsp;&nbsp;
        
                        <div class="d-flex align-items-center">
                            <span class="tx-dark">Machine</span>&nbsp;&nbsp;
                            <span>
                              <select class="form-control form-control-sm">
                                      <option selected>Choose...</option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                    </select>
                            </span>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;

                        <div>
                            <button class="btn btn-primary btn-sm" ><i class="fa fa-search fa-lg"></i></button>
                        </div>&nbsp;&nbsp;
                        <div>
                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target=""><i class="fa fa-plus fa-lg"></i></button>
                        </div>

                    </div>
                </div>


                <div id="modaldemo3" class="modal fade">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content tx-size-sm">
                      <div class="modal-header pd-x-20 bg-gray-400">
                        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold ">New Event</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body pd-20">
                        <div class="row tx-size-sm">
                          <div class="col-lg-6 col-sm-6 col-md-6">
                            <form>
                              <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label tx-dark ">Asset</label>
                                <div class="col-sm-7">
                                  <input type="text" class="form-control form-control-sm" id="staticEmail" placeholder="">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="inputPassword" class="col-sm-5 col-form-label tx-dark">Event Description</label>
                                <div class="col-sm-7">
                                  <textarea type="textarea" class="form-control form-control-sm" id="inputPassword" placeholder=""></textarea>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="rules" class="col-sm-5 col-form-label tx-dark">Applicable Rules</label>
                                <div class="col-sm-7">
                                  <textarea type="textarea" class="form-control form-control-sm" id="rules" placeholder=""></textarea>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="authority" class="col-sm-5 col-form-label tx-dark">Authority</label>
                                <div class="col-sm-7">
                                  <textarea type="textarea" class="form-control form-control-sm" id="authority" placeholder=""></textarea>
                                </div>
                              </div>
                            </form>
                            
                          </div>

                          <div class="col-lg-6 col-sm-6 col-md-6">

                            <form>
                              <div class="form-group row">
                                <label for="machine" class="col-sm-5 col-form-label tx-dark ">Machine</label>
                                <div class="col-sm-7">
                                  <select class="form-control form-control-sm" id="machine">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="Plant" class="col-sm-5 col-form-label tx-dark ">Plant</label>
                                <div class="col-sm-7">
                                  <select class="form-control form-control-sm" id="Plant">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="Importance" class="col-sm-5 col-form-label tx-dark ">Importance</label>
                                <div class="col-sm-7">
                                  <select class="form-control form-control-sm" id="Importance">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                                </div>
                              </div>

                              

                          <div class="form-group row">
                            <label for="report" class="col-sm-5 col-form-label tx-dark">Report</label>
                            <div class="col-sm-7">
                              <textarea type="textarea" class="form-control form-control-sm" id="report" placeholder=""></textarea>
                            </div>
                          </div>
                          

                              
                              </form>
                            
                          </div>
                        </div>
                      </div><!-- modal-body -->
                      <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-primary tx-size-xs">Submit</button>
                      </div>
                    </div>
                  </div><!-- modal-dialog -->
                </div><!-- modal -->

                <div class="row mg-t-50">
                    
                </div>

                <div class="row mg-t-5 ">
                    <div class="col-12 bd-1 bd-dark ht-250">
                      
                            <div class="table-responsive-sm table-responsive-md table-responsive-xs" style="overflow: auto;">
                                <table class="table table-sm table-hover ht-250">
                                    <thead class="bg-gray-400">
                                      <tr class="bd-2 bd-dark">
                                        <th scope="col">Machine</th>
                                        <th scope="col"></th>
                                        <th scope="col">Failure Reason</th>
                                        <th scope="col">Predicted Start Time</th>
                                        <th scope="col">Predicted Downtime</th>
                                        <th scope="col">Predicted Solution</th>
                                        <th scope="col">%</th>
                                        <th scope="col">Probability Factor</th>
                                      </tr>
                                    </thead>
                                    <tbody  style="height: 50px;overflow-y: scroll;">
                                      <tr>
                                        <td class="tx-dark"></td>   
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>   
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                      </tr>
                                      <tr>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>   
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td> 
                                        <td class="tx-dark"></td>
                                      </tr>
                                      <tr>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>   
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                      </tr>
                                      <tr>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>   
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                      </tr>
                                      <tr>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>   
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                      </tr>
                                      <tr>
                                        <td class="tx-dark"></td> 
                                        <td class="tx-dark"></td>  
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>   
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                      </tr>
                                      <tr>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>   
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td> 
                                        <td class="tx-dark"></td>
                                      </tr>
                                      <tr>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>   
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>
                                        <td class="tx-dark"></td>   
                                        <td class="tx-dark"></td>
                                      </tr>
                                      
                                      
                                    </tbody>
                                  </table>
                                </div>

                        
                        
                    </div>
                </div>
            
        </div>
        </div>
      

    </div><!-- br-pagebody -->

    <footer class="br-footer">
        <div class="footer-left">
          <div class="mg-b-2">Copyright &copy; 2020.Cyronics. All Rights Reserved.</div>
         
        </div>
        
       
      </footer>

  </div><!-- br-mainpanel -->
  <!-- ########## END: MAIN PANEL ########## -->

  <script src="{{url_for('static',filename='socket.js')}}"></script>

    <script src="{{url_for('static',filename='lib1/jquery/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/popper.js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/bootstrap/bootstrap.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/moment/moment.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/peity/jquery.peity.js')}}"></script>

    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/echarts.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/echarts-gl.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/ecStat.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/dataTool.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/china.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/world.js')}}"></script>
  <!--<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=xfhhaTThl11qYVrqLZii6w8qE5ggnhrY&__ec_v__=20190126"></script>-->
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/bmap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='echarts_js/simplex.js')}}"></script>
  <link href="{{url_for('static',filename='lib1/jt.timepicker/jquery.timepicker.css')}}" rel="stylesheet">
  <script src="{{url_for('static',filename='lib/jt.timepicker/jquery.timepicker.js')}}"></script>

    <script src="{{url_for('static',filename='js/bracket.js')}}"></script>
    	  
	 
 
</body>
<script>
  $('#tpBasic').timepicker();

</script>
</html>