<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Twitter -->
  <meta name="twitter:site" content="@themepixels">
  <meta name="twitter:creator" content="@themepixels">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Bracket">
  <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
  <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

  <!-- Facebook -->
  <meta property="og:url" content="http://themepixels.me/bracket">
  <meta property="og:title" content="Bracket">
  <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

  <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
  <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="600">

  <!-- Meta -->
  <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
  <meta name="author" content="ThemePixels">

  <title>CYRONICS</title>

  <!-- vendor css -->
  <link href="{{url_for('static',filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">
  <!-- Bracket CSS -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/bracket.css')}}">
  <style>
    
    table,
    td,
    th,
    tr {
      border: 1px solid rgb(184, 182, 182);
      text-align: center;
      padding: 3px;
    }

    tbody {
      border: 1px solid rgb(184, 182, 182);
      text-align:center;
      padding: 3px;
    }



  

    @media (min-width: 300px) {
  .crk {
    height:140vh;
    overflow-y: auto;
  }
}

@media (min-width: 700px) {
  .crk {
    height:100vh;
  
  }
}


@media (min-width: 500px) {
  .crk1 {
    height:78vh;
    
  }
}

@media (min-width: 700px) {
  .crk1 {
    height:73vh;
    margin-left:55px;
    margin-top:-45px;
    


  }
}

@media (min-width: 1024px) {
  .crk {
    height:110vh;
    overflow-y: auto;
  }
}
    .frame {
       overflow-x: auto;
       line-height: 1em;
       overflow-y:auto;
       max-height: 90vh;
   }

  

   .frame::-webkit-scrollbar {
       -webkit-appearance: none;
   }

   .frame::-webkit-scrollbar:vertical {
       width: 10px;
   }

   .frame::-webkit-scrollbar:horizontal {
       height: 20px;
   }

   .frame::-webkit-scrollbar-thumb {
       border-radius: 8px;
       border: 2px solid white; /* should match background, can't be transparent */
       background-color: rgba(0, 0, 0, .5);
   }

    </style>


</head>

<body>

  <!-- ########## START: LEFT PANEL ########## -->
  <div class="br-logo"><a href=""><span></span>PPAP<span></span></a></div>
  <div class="br-sideleft overflow-y-auto">
    <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
    <div class="br-sideleft-menu">
    

     

      <a href="#" class="br-menu-link active show-sub">
        <div class="br-menu-item">
            <i class="menu-item-icon fa fa-user-circle tx-24"></i>
            &nbsp;&nbsp;<span class="menu-item-label">Admin</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
      <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="/" class="nav-link">Production Plan &nbsp;&nbsp;&nbsp;</a></li>
        
        <li class="nav-item"><a href="/production_planed" class="nav-link active">Production Overview &nbsp;&nbsp;&nbsp;</a></li>
        <!--<li class="nav-item"><a href="/part" class="nav-link ">Part Details &nbsp;&nbsp;&nbsp;</a></li>
        <li class="nav-item"><a href="/machine" class="nav-link ">Machine Details &nbsp;&nbsp;&nbsp;</a></li>
        <li class="nav-item"><a href="/production" class="nav-link ">Production Details &nbsp;&nbsp;&nbsp;</a></li>
     --> </ul>

      <a href="#" class="br-menu-link">
        <div class="br-menu-item">
          <i class="menu-item-icon icon ion-wrench tx-20"></i>
          <span class="menu-item-label">Operator App</span>
          <i class="menu-item-arrow fa fa-angle-down"></i>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
      <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="/basic" class="nav-link">Basic Details</a></li>
        <li class="nav-item"><a href="/downtime" class="nav-link">Downtime</a></li>
        <li class="nav-item"><a href="/rejection" class="nav-link active">Rejection</a></li>
        
      </ul>


      <a href="#" class="br-menu-link">
        <div class="br-menu-item">
          <i class="menu-item-icon fa fa-cogs tx-20"></i>
          <span class="menu-item-label">Dashboard</span>
          <i class="menu-item-arrow fa fa-angle-down"></i>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
      <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="/plant_details" class="nav-link ">Plant Details</a></li>
        <li class="nav-item"><a href="/hierarchy" class="nav-link ">Hierarchy</a></li>
        <li class="nav-item"><a href="/spr" class="nav-link">SPR</a></li>
        <li class="nav-item"><a href="/pqcr" class="nav-link">PQCR</a></li>
        
      </ul>
  
      <a href="#" class="br-menu-link">
        <div class="br-menu-item">
          <i class="menu-item-icon fa fa-connectdevelop tx-20"></i>
          <span class="menu-item-label">CMS</span>
          <i class="menu-item-arrow fa fa-angle-down"></i>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
      <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="/overview" class="nav-link"><i class="menu-item-arrow fa fa-sitemap"></i><span class="menu-item-label">Overview </span></a></li>

        <li class="nav-item"><a href="/events" class="nav-link "><i class="menu-item-arrow fa fa-bell"></i><span class="menu-item-label">Events </span></a></li>

        <li class="nav-item"><a href="/assets" class="nav-link "><i class="menu-item-arrow fa fa-archive"></i><span class="menu-item-label">Assets</span></a></li>

        <li class="nav-item"><a href="/kpi" class="nav-link"><i class="menu-item-arrow fa fa-bullseye"></i><span class="menu-item-label">KPI</span></a></li>

        <li class="nav-item"><a href="/rules" class="nav-link"><i class="menu-item-arrow fa fa-calculator"></i><span class="menu-item-label">Rules</span></a></li>

        <li class="nav-item"><a href="/predictive" class="nav-link"><i class="menu-item-arrow fa fa-microchip"></i><span class="menu-item-label">Predictive</span></a></li>

        <li class="nav-item"><a href="/graphs" class="nav-link "><i class="menu-item-arrow fa fa-line-chart"></i><span class="menu-item-label">Graphs</span></a></li>

        <li class="nav-item"><a href="/dashboards" class="nav-link"><i class="menu-item-arrow fa fa-bar-chart"></i><span class="menu-item-label">Dashboards</span></a></li>

        <li class="nav-item"><a href="/pqcr" class="nav-link"><i class="menu-item-arrow fa fa-table"></i><span class="menu-item-label">PQCR</span></a></li>

        <li class="nav-item"><a href="/admin" class="nav-link"><i class="menu-item-arrow fa fa-cog"></i><span class="menu-item-label">Admin</span></a></li>

        
      </ul>
  
  </div><!-- br-sideleft -->
  </div>
  <!-- ########## END: LEFT PANEL ########## -->

  <!-- ########## START: HEAD PANEL ########## -->
  <div class="br-header">
    <div class="br-header-left">
      <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a>
      </div>
      <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i
            class="icon ion-navicon-round"></i></a></div>

    </div><!-- br-header-left -->
    <div class="br-header-right">

      <div class="dropdown">
        <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
          <span class="logged-name hidden-md-down" id="user"></span>
          <img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
          <span class="square-10 bg-success"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-header wd-200">
          <ul class="list-unstyled user-profile-nav">


            <li><a href="#"><i class="icon ion-power"></i> Sign Out</a></li>
          </ul>
        </div><!-- dropdown-menu -->
      </div><!-- dropdown -->



    </div><!-- br-header-right -->
  </div><!-- br-header -->
  <!-- ########## END: HEAD PANEL ########## -->


  <!-- ########## START: MAIN PANEL ########## -->
  <div class="br-mainpanel" style="height:700px;">
    <div class="br-pageheader pd-y-1 pd-l-20">

    </div><!-- br-pageheader -->


    <div class="br-pagebody">
      
         <!-- <button class="btn btn-warning pd-y-5" style="margin-top:-30px;" onclick="">play</button>-->


      <div class="row">
        <div class="card col-12 col-md-12 col-lg-12 bg-white  bd bd-dark crk">
          <div class="pt-3">
            <h5 class="tx-dark">Production Overview</h5>
          </div>
 

<div class='frame mg-t-10'>
  <div class="table-wrapper table-responsive-sm table-responsive-md table-responsive-lg" >
        <table id="datatable1" class="table display table-striped responsive nowrap tx-dark table-bordered">
          <thead class='thead-colored thead-dark' id="ppap_head">
            <tr>
              <th class="">Machine Name</th>
              <th class="">Date</th>
              <th class="">Shift Start</th>
              <th class="">Shift End</th>
              <th class="">Part No.</th>
              <th class="">Model</th>
              <th class="">Part Name</th>
              <th class="">Cycle Time</th>
              <th class="">Target</th>
              <th class="">Mould Change Time</th>
              <th class="">Startup Time</th>
              <th class="">Startup Scrap</th>
              <th class="">Line Rejection</th>
            </tr>
          </thead>
         <tbody id="table_data">
           
           </tbody>
        </table>
      </div><!-- table-wrapper -->
  </div>
  <div>Please scroll to view the entire table on smaller screens</div>

      </div>
      
      
      
        </div>

      </div><!-- br-pagebody -->

      <footer class="br-footer">
        <div class="footer-left">
            <div class="mg-b-2">Copyright &copy; 2020.Cyronics. All Rights Reserved.</div>

        </div>


    </footer>

    <!-- br-mainpanel -->

    <div id="modal4" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content tx-size-sm ">
          <div class="modal-header pd-x-20 bg-gray-300">
           <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold tx-white">Approve</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
         
          <div class="modal-body pd-20 ht-300 ht-md-500 ht-lg-500 wd-300 wd-md-400 wd-lg-800" style="height: 50vh;">
           
            <div><span class="tx-danger">* Warning</span>&nbsp;<br><span class="tx-dark">Are You Sure?</span></div>
           
            
            
               </div><!-- modal-body -->
                  
          <div class="modal-footer">
            <button type="button" class="btn btn-warning tx-size-xs" data-dismiss="modal" onclick="CountRows()">Approve</button>
            <button type="button" class="btn btn-danger tx-size-xs" data-dismiss="modal">Decline</button>
          </div>
        </div>
      </div><!-- modal-dialog -->
    </div><!-- modal -->

    <div id="modal5" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content tx-size-sm ">
          <div class="modal-header pd-x-20 bg-gray-300">
           <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold tx-white">Report</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pd-20 ht-300 ht-md-500 ht-lg-500 wd-300 wd-md-400 wd-lg-800" style="height: 80vh;">
            <iframe src="/home/cipl/Desktop/kpcl_testing/sample.pdf" style="height:100%;width:100%"></iframe>

               </div><!-- modal-body -->
                  
          <div class="modal-footer">
            <button type="button" class="btn btn-warning tx-size-xs" data-dismiss="modal" >Approve</button>
            <button type="button" class="btn btn-danger tx-size-xs" data-dismiss="modal">Decline</button>
          </div>
        </div>
      </div><!-- modal-dialog -->
    </div><!-- modal -->

   



    






   
      
  


<script>

</script>

<script>
   
  //alert(h);
  //document.getElementById('FrameID').contentWindow.location.reload(true);
  </script>













    <!-- ########## END: MAIN PANEL ########## -->
    <script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{url_for('static',filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{url_for('static',filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib/moment/moment.js')}}"></script>
    <script src="{{url_for('static',filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{url_for('static',filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{url_for('static',filename='lib/peity/jquery.peity.js')}}"></script>
    <script src="{{url_for('static',filename='js/bracket.js')}}"></script>
   

</body>

</html>
<script>
//var socket=io.connect('http://127.0.0.1:5000/')
var socket=io.connect('http://'+document.domain+":"+location.port)


</script>
 
<script>
  var counter = 0
  var keys = []
  




var obj = new Object;
var list_obj = []



var update_data= 0

socket.on("throw",function(all_data){
  var str = ""
  
  
  all_data = JSON.parse(all_data)
 
  console.log("=======",all_data)
  //alert(all_data[0]["_id"]["$oid"])
  for(var z = 0; z < all_data.length; z++){

    if(all_data[z]["shift_start"]){
      
    str +='<tr><td contenteditable="false">'+all_data[z]["machine_name"]+'</td>\
    <td contenteditable="false">'+all_data[z]["date"]+'</td>\
             <td contenteditable="false">'+all_data[z]["shift_start"]+'</td>\
             <td contenteditable="false">'+all_data[z]["shift_end"]+'</td>\
             <td contenteditable="false">'+all_data[z]["part_no"]+'</td>\
             <td contenteditable="false">'+all_data[z]["model"]+'</td>\
             <td contenteditable="false">'+all_data[z]["part_name"]+'</td>\
             <td contenteditable="false">'+(parseFloat(all_data[z]["ideal_cycle_time"])).toFixed(2)+'</td>\
             <td contenteditable="false">'+(parseFloat(all_data[z]["ideal_production"])).toFixed(2)+'</td>\
             <td contenteditable="false">'+(parseFloat(all_data[z]["mould_change"])).toFixed(2)+'</td>\
             <td contenteditable="false">'+(parseFloat(all_data[z]["startup_time"])).toFixed(2)+'</td>\
             <td contenteditable="false">'+(parseFloat(all_data[z]["startup_scrap_kg"])).toFixed(2)+'</td>\
             <td contenteditable="false">'+(parseFloat(all_data[z]["line_rejection_kg"])).toFixed(2)+'</td>\
             </tr>'
          }else{
            for(key in all_data[z]){
              if(key == "_id" || key == "_"){
                console.log(key)
              }else{
              keys.push(key)
              }
            }
          }  
  }
console.log(keys)
document.getElementById("table_data").innerHTML = ""
document.getElementById("table_data").innerHTML = str
})



    

socket.on("throw_caller",function(){

	socket.emit("get_production_plan")

})
    






$( document ).ready(function() {
    socket.emit("get_production_plan")
    
});
</script>



  
 
   
