{% extends "template.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }

  .Rectangle_dark {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--bluish-grey);

  }


  .Rectangle_without_color {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  
  }



</style>
          <div class="pt-3">
            <div class="tx-dark tx-15 tx-bold">PRODUCTION PLAN</div>
          </div>

<div class="d-flex justify-content-end mg-t-10">
  <!--<div class="p-2 btn btn-sm Rectangle" onclick="myCreateFunction()" >IMPORT</div>&nbsp;-->
 <!--  <div class="p-2 btn btn-sm Rectangle" data-toggle="modal" data-target="#exampleModal" >IMPORT</div>&nbsp;&nbsp;&nbsp;  -->

  <div class="p-2 btn btn-sm Rectangle" onclick="redirect_create_new()"> UPLOAD NEW </div>&nbsp;&nbsp;
  <div class="p-2 mg-l-1 btn btn-sm Rectangle" id="all_orders_button" onclick="get_all_production_orders()"> VIEW DONE PRODUCTION ORDERS </div>

</div>


<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pr-1">{{ file_status }} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <!-- <form action="http://192.168.1.61/file_upload" method="POST" enctype="multipart/form-data"> -->
      
  
      <div class="modal-body">

     <div class="p-2" >
        <form enctype="multipart/form-data" method="post" name="fileinfo">
          
          <input id="file_name" type="file" name="file" required />
          <br>
          <br>
          <input class="btn btn-primary btn-block Rectangle_without_color" type="submit" value="Upload EXCEL" aria-describedby="upload_help" />
          <small id="upload_help" class="form-text text-muted">Choose the file to upload.</small>
        </form>

        <div class="form-group pt-2">
        <label for="sheet_name" class="tx-black">Sheet Name </label>
        <input type="text" class="form-control" id="sheet_name" aria-describedby="sheet_name_help" placeholder="Sheet" readonly>
        <small id="sheet_name_help" class="form-text text-muted">Please enter the sheet name within the Excel File</small>
      </div>

              
     </div>

      <div class="modal-footer">
        
          <button class="btn btn-primary Rectangle_without_color" onclick="proceed_import()" > IMPORT </button>
        

        <button type="button" class="btn btn-secondary Rectangle_without_color" data-dismiss="modal">CLOSE</button>
      </div>
    <!-- </form> -->
    </div>
  </div>
</div>
</div>




<div class="modal" id="production_plan_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <div class="tx-dark tx-15 tx-bold">PRODUCTION PLAN</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <!-- <form action="http://192.168.1.61/file_upload" method="POST" enctype="multipart/form-data"> -->
      
  
     
      
       <div class="modal-body">

       <div class="p-2" >
       
        <div class="form-group pt-2">
          <label for="machine_incharge" class="tx-black">ORDER NUMBER (LEFT)</label>
          <input type="text" class="form-control" id="ORDER NUMBER (LEFT)" aria-describedby="ONL_help" placeholder="">
          <small id="ONL_help" class="form-text text-muted">Production Order Number</small>
        </div>

       <div class="form-group pt-2">
          <label for="machine_incharge" class="tx-black">ORDER NUMBER (RIGHT)</label>
          <input type="text" class="form-control" id="ORDER NUMBER (RIGHT)" aria-describedby="ONR_help" placeholder="">
          <small id="ONR_help" class="form-text text-muted">Produciton Order Number</small>
        </div>
   
        
        <div class="form-group pt-2">
          <label for="machine_incharge" class="tx-black">Machine Operator</label>
          <input type="text" class="form-control" id="machine_incharge" aria-describedby="machine_incharge_help" placeholder="">
          <small id="machine_incharge_help" class="form-text text-muted">Machine Operator for Production Order </small>
        </div>

       <div class="form-group pt-2">
        <label for="qc_incharge" class="tx-black">QC Incharge</label>
          <input type="text" class="form-control" id="qc_incharge" aria-describedby="qc_incharge" placeholder="">
          <small id="qc_incharge_help" class="form-text text-muted">Enter Quality Incharge for Production Order</small>
        </div>

       <div class="form-group pt-2">
        <label for="line_incharge" class="tx-black">Team Leader</label>
          <input type="text" class="form-control" id="line_incharge" aria-describedby="line_incharge" placeholder="">
          <small id="line_incharge_help" class="form-text text-muted">Enter Team Leader for Production Order</small>
        </div>
        
         <div class="form-group pt-2">
          <small id="console" class="form-text text-muted"></small>
        </div>
        
    
              
       </div>

              
     </div>

      <div class="modal-footer">

          <button class="btn btn-teal Rectangle_without_color" id="start_prodution_order" onclick="start_prodution_order()" disabled> START </button>

           <button class="btn btn-warning Rectangle_without_color" id="pause_prodution_order" onclick="pause_prodution_order()" disabled> PAUSE </button>
        
          <button class="btn btn-primary Rectangle_without_color" onclick="proceed_import()" > SAVE </button>
        

        <button type="button" class="btn btn-secondary Rectangle_without_color" data-dismiss="modal">CLOSE</button>
      </div>
    <!-- </form> -->
    </div>
  </div>
</div>
</div>


 
<div class="p-3">

	<div class="p-1">
    <div class="tx-dark tx-15 tx-bold">ALL LIVE PRODUCTION ORDERS</div>
  </div>

<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
  <div id="table_button">

  </div>

    <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
       <div class="input-group">
         <input type="text" id="datatable1_search" class="form-control" placeholder="Search" >
        </div>
   </div>

       
  <table id="datatable1" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
              
 </table>
 
 <hr>
 
<!------------------------------------------------------------------------------------------------------------------ -->


<div class="p-1">
    <div class="tx-dark tx-15 tx-bold">ALL PLANNED PRODUCTION ORDERS</div>
  </div>

<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
  <div id="table_button_1">

  </div>

    <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
      
   </div>

       
  <table id="datatable2" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
              <thead class="bg-dark tx-white">
            <tr>
              <th >SR.NO.</th>
              <th >MACHINE</th>
              <th >PRIORITY</th>
              <th >STATUS</th>
              <th >PLANNED_START_TIME </th>
              <th >PLANNED_STOP_TIME </th>
              <th >ACTION </th>
              <th >ACTUAL_START_TIME </th>
              <th >ACTUAL_STOP_TIME </th>
              <th >MODEL</th>
              <th >PART NUMBER</th>
              <th >ORDER NUMBER (RIGHT)</th>
              <th >ORDER NUMBER (LEFT)</th>
              <th >PART_NAME/MATERIAL</th>
              <th >MATERIAL_DESCRIPTION/DETATILS</th>
              <th >COLOR</th>
              <th >PLAN QTY</th>
            </tr>
          </thead>
		  <tbody>
		  </tbody>
 </table>
 
 <hr>


<!------------------------------------------------------------------------------------------------------------------ -->



<!------------------------------------------------------------------------------------------------------------------ -->


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

<script>


/*var role = '{{role}}';
if(role == "Super-Admin"){
  console.log("i was here!")
 // document.getElementById("all_orders_button").onclick = "no_access_message()";
  document.getElementById("all_orders_button").setAttribute('onclick','no_access_message()');
  var element = document.getElementById("all_orders_button");
  element.classList.add("disabled");
}
else{
  console.log(role);
}
*/



//var socket=io.connect('http://127.0.0.1:5000/')
var socket=io.connect('http://'+document.domain+":"+location.port)

socket.emit("get_active_production_orders");
socket.emit("get_planned_production_orders");
//socket.emit("get_done_production_orders");



$.fn.dataTable.ext.errMode = 'none';

var valid_orders = [];





socket.on("sent_active_production_orders",function(data){


document.getElementById("all_orders_button").disabled = false ;
document.getElementById("all_orders_button").classList.remove("Rectangle_dark");
document.getElementById("all_orders_button").classList.add("Rectangle");

  console.log(data);
  
  valid_orders = data ;
  


// ================================================================================================================================
// LIVE PRODUCTION ORDERS 

var str="";

str +='  <thead class="bg-dark tx-white">\
            <tr>\
              <th >SR.NO.</th>\
              <th >MACHINE</th>\
              <th >PRIORITY</th>\
              <th >STATUS</th>\
              <th >PLANNED_START_TIME </th>\
              <th >PLANNED_STOP_TIME </th>\
              <th >ACTION </th>\
              <th >ACTUAL_START_TIME </th>\
              <th >ACTUAL_STOP_TIME </th>\
              <th >MODEL</th>\
              <th >PART NUMBER</th>\
              <th >ORDER NUMBER (RIGHT)</th>\
              <th >ORDER NUMBER (LEFT)</th>\
              <th >PART_NAME/MATERIAL</th>\
              <th >MATERIAL_DESCRIPTION/DETATILS</th>\
              <th >COLOR</th>\
              <th >PLAN QTY</th>\
            </tr>\
          </thead>'


//Application Code,Issue Date,Job Name,PICKMOID,Qty,Status,Time
str+="<tbody>";
//alert(phrase_id);

try { 

for(var i=0;i<data.length;i++){
  //console.log(jobs[i]["_id"]);


  if ( data[i]["ACTION"] ==  "In Process" || data[i]["ACTION"] ==  "Paused"  ) {
  		str+="<tr>";
        str+='<td>'+(i+1)+'</td>'; 
        str+='<td>'+data[i]['MACHINE']+'</td>'; 
        str+='<td>'+data[i]['PRIORITY']+'</td>';
        if (data[i]['STATUS'] == "Planned" ) {
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-primary">'+data[i]['STATUS']+'</div></td>';
      }
      else if(data[i]['STATUS'] == "Live" ){
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-teal">'+data[i]['STATUS']+'</div></td>';

      }
      else{
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-dark">'+data[i]['STATUS']+'</div></td>';

      }
        str+='<td>'+ data[i]['PLANNED_START'] +'</td>';
        str+='<td>'+ data[i]['PLANNED_STOP']  +'</td>';
       

      if (data[i]['ACTION'] == "Start" ) {
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-primary" id="'+data[i]["ORDER NUMBER (LEFT)"]+'&'+data[i]["ORDER NUMBER (RIGHT)"] +'" onclick="open_modal(this)">'+data[i]['ACTION']+'</div></td>';
      }

      else if(data[i]['ACTION'] == "Done" ){
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-dark id="'+data[i]["ORDER NUMBER (LEFT)"]+'&'+data[i]["ORDER NUMBER (RIGHT)"]+'" onclick="open_modal(this)">'+data[i]['ACTION']+'</div></td>';

      }
      else if (data[i]['ACTION'] == "In Process" ){
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-teal" id="'+data[i]["ORDER NUMBER (LEFT)"]+'&'+data[i]["ORDER NUMBER (RIGHT)"] +'" onclick="open_modal(this)">'+data[i]['ACTION']+'</div></td>';
                }

 	else if (data[i]['ACTION'] == "Paused" ){
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-warning" id="'+data[i]["ORDER NUMBER (LEFT)"]+'&'+data[i]["ORDER NUMBER (RIGHT)"] +'" onclick="open_modal(this)">'+data[i]['ACTION']+'</div></td>';
                }

         str+='<td>'+ data[i]['ACTUAL_START'] +'</td>';
        str+='<td>'+ data[i]['ACTUAL_STOP']  +'</td>';


        str+='<td>'+data[i]['MODEL']+'</td>';
        str+='<td>'+data[i]['PART NUMBER']+'</td>';
        str+='<td>'+data[i]['ORDER NUMBER (RIGHT)']+'</td>';
        str+='<td>'+data[i]['ORDER NUMBER (LEFT)']+'</td>';
        str+='<td>'+data[i]['PART NAME']+'</td>';
        str+='<td>'+data[i]['MATERIAL']+'</td>';
        str+='<td>'+data[i]['COLOR']+'</td>';
        str+='<td>'+data[i]['NEW QTY']+'</td>';
  
        str+="</tr>";

    }
}

}
catch(e){

}

str+="</tbody>";
document.getElementById("datatable1").innerHTML=str;


if ( i  > 0)


{

	$('#datatable1').dataTable().fnDestroy();

 var table1 = $('#datatable1').DataTable( {
        //"scrollX": true,
        lengthChange: false,
        "dom": 'lrtip',
        "deferRender": true,
        "initComplete": function (settings, json) {  
    $("#datatable1").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");            
  },
      

buttons: [
            {
                extend: 'collection',
                text: 'Export',
                autoClose: true,
                buttons: [
                {
                extend:    'copy',
                text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                titleAttr: 'Copy'
                },
                {
                extend:    'excel',
                text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                titleAttr: 'Excel'
                },
                {
                extend:    'pdf',
                text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                titleAttr: 'PDF'
                },
                {
                extend:    'print',
                text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                titleAttr: 'PDF'
                },
                {
                extend:    'csv',
                text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                titleAttr: 'CSV'
                },
                {
                extend:    'colvis',
                text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                titleAttr: 'Columns'
                },
                ]
            }
        ]


    } );
    table1.buttons( 0, null ).containers().appendTo( '#table_button' );

 // #myInput is a <input type="text"> element
$('#datatable1_search').on( 'keyup', function () {
    table1.search( this.value ).draw();
    console.log("working")
} );

}



});

/*
socket.on("sent_planned_production_orders",function(data){
console.log("planned");
console.log(data);
// ================================================================================================================================
// PLANNED PRODUCTION ORDERS 


var str="";

str +='  <thead class="bg-dark tx-white">\
            <tr>\
              <th >SR.NO.</th>\
              <th >MACHINE</th>\
              <th >PRIORITY</th>\
              <th >STATUS</th>\
              <th >PLANNED_START_TIME </th>\
              <th >PLANNED_STOP_TIME </th>\
              <th >ACTION </th>\
              <th >ACTUAL_START_TIME </th>\
              <th >ACTUAL_STOP_TIME </th>\
              <th >MODEL</th>\
              <th >PART NUMBER</th>\
              <th >ORDER NUMBER (RIGHT)</th>\
              <th >ORDER NUMBER (LEFT)</th>\
              <th >PART_NAME/MATERIAL</th>\
              <th >MATERIAL_DESCRIPTION/DETATILS</th>\
              <th >COLOR</th>\
              <th >PLAN QTY</th>\
            </tr>\
          </thead>'


//Application Code,Issue Date,Job Name,PICKMOID,Qty,Status,Time
str+="<tbody>";
//alert(phrase_id);

try { 

for(var i=0;i<data.length;i++){
  //console.log(jobs[i]["_id"]);


  if ( data[i]["ACTION"] ==  "Start" ) {
  		str += "<tr>";
        str+='<td>'+(i+1)+'</td>'; 
        str+='<td>'+data[i]['MACHINE']+'</td>'; 
        str+='<td>'+data[i]['PRIORITY']+'</td>';
        if (data[i]['STATUS'] == "Planned" ) {
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-primary">'+data[i]['STATUS']+'</div></td>';
      }
      else if(data[i]['STATUS'] == "Live" ){
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-teal">'+data[i]['STATUS']+'</div></td>';

      }
      else{
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-dark">'+data[i]['STATUS']+'</div></td>';

      }
        str+='<td>'+ data[i]['PLANNED_START'] +'</td>';
        str+='<td>'+ data[i]['PLANNED_STOP']  +'</td>';

      if (data[i]['ACTION'] == "Start" ) {
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-primary" id="'+data[i]["ORDER NUMBER (LEFT)"]+','+data[i]["ORDER NUMBER (RIGHT)"] +'" onclick="open_modal(this)">'+data[i]['ACTION']+'</div></td>';
      }

      else if(data[i]['ACTION'] == "Done" ){
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-dark id="'+data[i]["ORDER NUMBER (LEFT)"]+','+data[i]["ORDER NUMBER (RIGHT)"]+'" onclick="open_modal(this)">'+data[i]['ACTION']+'</div></td>';

      }
      else if (data[i]['ACTION'] == "In Process" ){
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-teal" id="'+data[i]["ORDER NUMBER (LEFT)"]+','+data[i]["ORDER NUMBER (RIGHT)"] +'" onclick="open_modal(this)">'+data[i]['ACTION']+'</div></td>';
      }
        str+='<td>'+ data[i]['ACTUAL_START'] +'</td>';
        str+='<td>'+ data[i]['ACTUAL_STOP']  +'</td>';

        str+='<td>'+data[i]['MODEL']+'</td>';
        str+='<td>'+data[i]['PART NUMBER']+'</td>';
        str+='<td>'+data[i]['ORDER NUMBER (RIGHT)']+'</td>';
        str+='<td>'+data[i]['ORDER NUMBER (LEFT)']+'</td>';
        str+='<td>'+data[i]['PART NAME']+'</td>';
        str+='<td>'+data[i]['MATERIAL']+'</td>';
        str+='<td>'+data[i]['COLOR']+'</td>';
        str+='<td>'+data[i]['NEW QTY']+'</td>';

        str+="</tr>";

    }
}

}
catch(e){

}

str+="</tbody>";
document.getElementById("datatable2").innerHTML=str;


if (i > 0)


{

$('#datatable2').dataTable().fnDestroy();

 var table2 = $('#datatable2').DataTable( {
        //"scrollX": true,
        lengthChange: false,
        "dom": 'lrtip',
        "deferRender": true,
        "initComplete": function (settings, json) {  
    $("#datatable2").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");            
  },
      

buttons: [
            {
                extend: 'collection',
                text: 'Export',
                autoClose: true,
                buttons: [
                {
                extend:    'copy',
                text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                titleAttr: 'Copy'
                },
                {
                extend:    'excel',
                text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                titleAttr: 'Excel'
                },
                {
                extend:    'pdf',
                text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                titleAttr: 'PDF'
                },
                {
                extend:    'print',
                text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                titleAttr: 'PDF'
                },
                {
                extend:    'csv',
                text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                titleAttr: 'CSV'
                },
                {
                extend:    'colvis',
                text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                titleAttr: 'Columns'
                },
                ]
            }
        ]


    } );
    table2.buttons( 0, null ).containers().appendTo( '#table_button1' );

 // #myInput is a <input type="text"> element
$('#datatable2_search').on( 'keyup', function () {
    table2.search( this.value ).draw();
    console.log("working")
} );

}



});
*/

$.fn.dataTable.ext.errMode = 'throw';
  $('#datatable2').dataTable().fnDestroy();
  table = $('#datatable2').DataTable( {
        processing: true,
        serverSide: false,
        searching: true,
        paging: true,
        lengthChange: false,
         "deferRender": true,
         "initComplete": function (settings, json) {
    $("#datatable2").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
  //console.log(data)
  },
        ajax:"/get_planned_production_orders1",
        columns: [
            { data: "Item" },
            { data: "MACHINE" },
             { data: "PRIORITY" },
            { data: "BSTATUS" },
            { data: "PLANNED_START" },
             { data: "PLANNED_STOP" },
           { data: "BACTION" },
             { data: "ACTUAL_START" },
			  { data: "ACTUAL_STOP" },
           { data: "MODEL" },
             { data: "PART NUMBER" },
			  { data: "ORDER NUMBER (RIGHT)" },
           { data: "ORDER NUMBER (LEFT)" },
             { data: "PART NAME" },
			  { data: "MATERIAL" },
           { data: "COLOR" },
             { data: "NEW QTY" }
        ],
          "dom": 'Bfrtip',
        buttons: [
            {
                extend: 'collection',
                text: 'Export',
                autoClose: true,
                buttons: [
                {
                extend:    'copy',
                text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                titleAttr: 'Copy'
                },
                {
                extend:    'excel',
                text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                titleAttr: 'Excel'
                },
                {
                extend:    'pdf',
                text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                titleAttr: 'PDF'
                },
                {
                extend:    'print',
                text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                titleAttr: 'PDF'
                },
                {
                extend:    'csv',
                text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                titleAttr: 'CSV'
                },
                {
                extend:    'colvis',
                text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                titleAttr: 'Columns'
                },
                ]
            }
        ]
} );
 table.buttons( 0, null ).containers().appendTo( '#datatable2_button' );
$('#datatable2_search').on( 'keyup', function () {
    table.search( this.value ).draw();
    console.log("working")
} );


  $.fn.dataTable.ext.errMode = 'none';







function redirect_create_new() {

window.location.href="/upload_production_plan"

}


function open_modal(element){

var IDs = element.id;
console.log(IDs);
var res = IDs.split("&");
console.log(res);

document.getElementById("ORDER NUMBER (LEFT)").value = res[0];
document.getElementById("ORDER NUMBER (RIGHT)").value = res[1];

socket.emit("get_specific_production_order",{"ORDER NUMBER (LEFT)": res[0] , "ORDER NUMBER (RIGHT)" : res[1] })

document.getElementById("console").innerHTML = "";

$('#production_plan_modal').modal('show')


}

socket.on("sent_specific_production_order",function(to_send){

  console.log(to_send);
if ("MACHINE INCHARGE" in to_send) {
document.getElementById("machine_incharge").value = to_send["MACHINE INCHARGE"]; 
document.getElementById("line_incharge").value = to_send["LINE INCHARGE"] 
document.getElementById("qc_incharge").value = to_send["QC INCHARGE"] 
}
//&& to_send["STATUS"] != "Done" 
if(to_send["ACTION"] == "Start" ||  to_send["ACTION"] == "Paused" ){

  console.log("Can Start Shift !")
  
  document.getElementById("start_prodution_order").disabled = false ;
  document.getElementById("start_prodution_order").onclick = function(){ start_prodution_order(); } ; 
  document.getElementById("start_prodution_order").classList.add("btn-teal");
  document.getElementById("start_prodution_order").classList.remove("btn-danger")
  document.getElementById("start_prodution_order").innerHTML = "START"

  document.getElementById("pause_prodution_order").disabled = true;
    

} 
else {
  
  document.getElementById("start_prodution_order").disabled = false;
  document.getElementById("start_prodution_order").onclick = function(){ stop_prodution_order(); } ; 
  document.getElementById("start_prodution_order").classList.add("btn-danger");
  document.getElementById("start_prodution_order").classList.remove("btn-teal")
  document.getElementById("start_prodution_order").innerHTML = "STOP"

  document.getElementById("pause_prodution_order").disabled = false;
  

  
}

});


function proceed_import(){
to_send = {}


to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value ;
to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value ; 



// LINE INCHARGE  == TEAM LEAADER
// MACHNINE OPERATOR == MACHINE INCHARGE 
// QC INCHARGE == QC INCHARGE 


to_send["MACHINE INCHARGE"] = document.getElementById("machine_incharge").value
to_send["LINE INCHARGE"] = document.getElementById("line_incharge").value
to_send["QC INCHARGE"] = document.getElementById("qc_incharge").value

console.log(to_send)
socket.emit("update_specific_production_order",to_send)

document.getElementById("console").innerHTML = "Saved Successfully!";

}

function get_production_plan(){

  //socket.emit("get_latest_production_orders");
socket.emit("get_active_production_orders");
socket.emit("get_planned_production_orders");
socket.emit("get_done_production_orders");


}
function get_all_production_orders(){

	window.location.href = 'http://' + document.domain + ":" + location.port +"/done_production_orders" ;

}

function start_prodution_order(){

  console.log("Starting Production Order ");

  to_send = {}
  to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value ;
  to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value ; 

  socket.emit("start_production_order",to_send)

  setTimeout(function() { get_production_plan(); }, 100);
	$('#production_plan_modal').modal('hide')

}



function stop_prodution_order(){

  console.log("Stopping Production Order ");

  to_send = {}
  to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value ;
  to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value ; 

  socket.emit("stop_production_order",to_send)

   setTimeout(function() { get_production_plan(); }, 100);
   $('#production_plan_modal').modal('hide')

}

function pause_prodution_order(){

  console.log("Pause Production Order ");

  to_send = {}
  to_send["ORDER NUMBER (LEFT)"] = document.getElementById("ORDER NUMBER (LEFT)").value ;
  to_send["ORDER NUMBER (RIGHT)"] = document.getElementById("ORDER NUMBER (RIGHT)").value ; 

  socket.emit("pause_production_order",to_send)

  setTimeout(function() { get_production_plan(); }, 100);
$('#production_plan_modal').modal('hide')
}


function no_access_message(){

  console.log("no access");

  alert("ACCESS DENIED : You are not authorised to access this section.");

}


</script>


{% endblock %}
  
 
   
