{% extends "template.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }

  .Rectangle_dark {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--bluish-grey);

  }


  .Rectangle_without_color {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  
  }



</style>


<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
  <div id="table_button">

  </div>

    <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
       <div class="input-group">
         <input type="text" id="datatable1_search" class="form-control" placeholder="Search" >
        </div>
   </div>

       
  <table id="datatable1" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
              
 </table>   


<div class="modal" id="production_plan_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <div class="tx-dark tx-15 tx-bold">QUANTITY FOR INSPECTION</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <!-- <form action="http://192.168.1.61/file_upload" method="POST" enctype="multipart/form-data"> -->
      
  
     
      
       <div class="modal-body">

       <div class="p-2" >
       
        <div class="form-group pt-2">
          <label for="machine_incharge" class="tx-black">Quantity Number</label>
          <input type="text" class="form-control" id="" aria-describedby="ONL_help" placeholder="">
          <small id="ONL_help" class="form-text text-muted"></small>
        </div>

       <div class="form-group pt-2">
          <label for="machine_incharge" class="tx-black">Inspection Number</label>
          <input type="text" class="form-control" id="" aria-describedby="ONR_help" placeholder="">
          <small id="ONR_help" class="form-text text-muted"></small>
        </div>
   
      <div>
        <label for="cars" class="tx-black">Select Station:</label>
          <select name="1" id="cars">
            <option value="a">1</option>
            <option value="b">2</option>
            <option value="c">3</option>
            <option value="d">4</option>
          </select>
</div>

        <div class="form-group pt-2">
          <label for="machine_incharge" class="tx-black">Feedback</label>
          <input type="text" class="form-control" id="machine_incharge" aria-describedby="machine_incharge_help" placeholder="">
          <small id="machine_incharge_help" class="form-text text-muted"> </small>
        </div>

        
         <div class="form-group pt-2">
          <small id="console" class="form-text text-muted"></small>
        </div>
        
    
              
       </div>

              
     </div>

      <div class="modal-footer">

        
          <button class="btn btn-primary Rectangle_without_color" onclick="proceed_import()" > SUBMIT </button>
        

        <button type="button" class="btn btn-secondary Rectangle_without_color" data-dismiss="modal">CLOSE</button>
      </div>
    <!-- </form> -->
    </div>
  </div>
</div>



<script>

$.fn.dataTable.ext.errMode = 'none';

var socket = io.connect('http://' + document.domain + ":" + location.port)

socket.emit("get_active_production_orders");


socket.on("sent_active_production_orders",function(json){

console.log(json)



var str="";

str +='  <thead class="bg-dark tx-white">\
            <tr>\
              <th >SR.NO.</th>\
              <th >MACHINE</th>\
              <th >PART NUMBER</th>\
              <th >PART_DESCRIPTION</th>\
              <th >ORDER NUMBER (RIGHT)</th>\
              <th >ORDER NUMBER (LEFT)</th>\
              <th >PLAN QTY</th>\
              <th >Q/A_INSPECTED</th>\
              <th >DETAILS</th>\
            </tr>\
          </thead>'


str+="<tbody>";



try { 

for(var i=0;i<json.length;i++){
  //console.log(jobs[i]["_id"]);


      str+="<tr>";
        str+='<td>'+(i+1)+'</td>'; 
        str+='<td>'+ json[i]['MACHINE'] +'</td>'; 
        str+='<td>'+ json[i]['PART NUMBER']  +'</td>';
        str+='<td>'+ '' +'</td>';
        str+='<td>'+ json[i]['ORDER NUMBER (RIGHT)'] +'</td>';
        str+='<td>'+ json[i]['ORDER NUMBER (LEFT)'] +'</td>';
        str+='<td>'+ json[i]['PLAN QTY'] +'</td>';
        str+='<td>'+ '' +'</td>';

        //str+='<td><div class="btn btn-sm Rectangle_without_color btn-primary">'+ "VIEW" +'</div></td>';
        
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-primary"  onclick="open_modal(this)">'+ "VIEW "+'</div></td>'  
    
        str+="</tr>";

    }
}


catch(e){

}

str+="</tbody>";
document.getElementById("datatable1").innerHTML=str;


if ( i  > 0)


{

  $('#datatable1').dataTable().fnDestroy();

 var table1 = $('#datatable1').DataTable( {
        //"scrollX": true,
        lengthChange: false,
        "dom": 'lrtip',
        "deferRender": true,
        "initComplete": function (settings, json) {  
    $("#datatable1").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");            
  },
      

buttons: [
            {
                extend: 'collection',
                text: 'Export',
                autoClose: true,
                buttons: [
                {
                extend:    'copy',
                text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                titleAttr: 'Copy'
                },
                {
                extend:    'excel',
                text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                titleAttr: 'Excel'
                },
                {
                extend:    'pdf',
                text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                titleAttr: 'PDF'
                },
                {
                extend:    'print',
                text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                titleAttr: 'PDF'
                },
                {
                extend:    'csv',
                text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                titleAttr: 'CSV'
                },
                {
                extend:    'colvis',
                text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                titleAttr: 'Columns'
                },
                ]
            }
        ]


    } );
    table1.buttons( 0, null ).containers().appendTo( '#table_button' );

 // #myInput is a <input type="text"> element
$('#datatable1_search').on( 'keyup', function () {
    table1.search( this.value ).draw();
    console.log("working")
} );

}
});

function open_modal(element){



document.getElementById("console").innerHTML = "";

$('#production_plan_modal').modal('show')
}

function proceed_import(){


document.getElementById("console").innerHTML = "Saved Successfully!";

}




</script>



{% endblock %}
  
 
   
