{% extends "template.html" %}

{% block content %}

<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }

   .Rectangle_without_color {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  
  }

</style>


            <!--
            <nav class="navbar   navbar-dark bg-dark pt-2 pd-x-10 pd-sm-x-20  pd-sm-t-10 d-flex justify-content-between">
               
                   <div>
            <div class="btn-group">
              <button type="button" class="btn Rectangle_without_color btn-primary">MACHINES</button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split Rectangle_without_color btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 550T-I</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 550T-II</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 450T-I</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 450T-II</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 450T-III</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 650T</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 350T</a>                
            </div>
          </div>
        </div>
    

                <div>
                    <h6 class="card-title tx-uppercase tx-12 mg-b-0 tx-white">
                      <span>Machine Name: &nbsp;<span id="mac_name">None</span></span>
                    </h6>
              </div>
            </nav>-->


        
       
  
 <div class="card mg-t-20 ">

             
      <div class="card-body ">
     
 <div class='row '>
      <div class='col-lg-4 col-md-12'>
        
            <div class="form-group">
            <label for="ORDER NUMBER (RIGHT)" class="tx-black">Order Number (Right)</label>
            <input type="text" class="form-control form-control-sm" id='ORDER NUMBER (RIGHT)' placeholder="-" readonly>
           </div>
      
      </div>

       <div class='col-lg-4 col-md-12'>
        
            <div class="form-group">
            <label for="ORDER NUMBER (LEFT)" class="tx-black">Order Number (Left)</label>
            <input type="text" class="form-control form-control-sm" id='ORDER NUMBER (LEFT)' placeholder="-" readonly>
           </div>
      
      </div>

      <div class='col-lg-4 col-md-12 '>
        
            <div class="form-group">
            <label for="console" class="tx-black"> Status </label>
            <div class="btn btn-sm Retangle btn-primary btn-block" id="console"> Status : -- </div>
           </div>
      
      </div>

          
  </div>
  <hr>

 <div class="row tx-dark tx-15 tx-bold"> 
    <div class= "col-12">
     REJECTION LOG 
    </div>
</div> 

 <div class="row">
  <div class="col-12">
      <div class="btn btn-lg Rectangle_without_color btn-primary  ml-auto p-2 float-right"  onclick="open_modal_new_rejection()"> ADD NEW</div>
  </div>    
</div>

        <div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
          <div id="rejection_table_button">

          </div>

    <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
       <div class="input-group">
         <input type="text" id="rejection_table_search" class="form-control" placeholder="Search" >
        </div>
      </div> 

       
        <table id="rejection_table" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
              
              

          </table>   

<div class="modal" id="production_plan_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <div class="tx-dark tx-15 tx-bold">ADD NEW REJECTION</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <!-- <form action="http://192.168.1.61/file_upload" method="POST" enctype="multipart/form-data"> -->
      
  
     
      
       <div class="modal-body">

       <div class="p-2" >
       
        <div class="form-group pt-2">
          <label for="rejection_record_type" class="tx-black">REJECTION RECORD TYPE:</label>
          <select class="form-control form-control-sm" id="rejection_record_type" onchange="rejection_modal_handler()">
                                      <option  value="choose" selected>Choose...</option>
                                      <option value="LINE REJECTION">LINE REJECTION</option>
                                      <option value="PROCESS SCRAP">PROCESS SCRAP</option>
                                      <option value="STARTUP SCRAP">STARTUP SCRAP</option>
                                      <option value="STARTUP REJECTION">STARTUP REJECTION</option>
          </select>
        </div> 
        <div class="form-group pt-2"> 
          <label for="mode" class="tx-black">MODE:</label>
          <select class="form-control form-control-sm" id="mode" disabled>
                                      <option value = "choose" selected>Choose...</option>
                                      <option value="LEFT">LEFT</option>
                                      <option value="RIGHT">RIGHT</option>                                      
          </select>
         </div> 
         <div class="form-group pt-2">
          <label for="QUANTITY" class="tx-black" >QUANTITY(UNITS.):</label>
          <input type="number" class="form-control form-control-sm" id="quantity" placeholder="" readonly>
        </div>
        <div class="form-group pt-2">
          <label for="WEIGHT"  class="tx-black">WEIGHT(KG.):</label>
          <input type="number" class="form-control form-control-sm" id="weight" placeholder="" readonly>
        </div>
        <div class="form-group pt-2">
          <label for="category" class="tx-black">CATEGORY:</label>
          <select class="form-control form-control-sm" id="category" disabled>
                                      
          </select>
         </div>
         <div class="form-group pt-2"> 
          <label for="details" class="tx-black">DETAILS:</label>
         <textarea class="form-control" id="details" rows="3" readonly></textarea>
         </div>  
        </div>
        <div class="form-group pt-2"> 
          <small id="rejection_modal_console" class="form-text text-muted"></small>
         </div>     
     </div>

      <div class="modal-footer">

        
          <button class="btn btn-primary Rectangle_without_color" onclick="add_new_rejection()" > SUBMIT </button>
        

        <button type="button" class="btn btn-secondary Rectangle_without_color" data-dismiss="modal">CLOSE</button>
      </div>
    <!-- </form> -->
    </div>
  </div>
</div>
              <!--  <div class='row '>



                        <div class='col-lg-4 col-md-12'>
                            
                                <div class="form-group">
                                <label for="PROCESS_SCRAP" class="tx-black">Scrap (KG) </label>
                                <input type="text" class="form-control form-control-sm" id='PROCESS_SCRAP' placeholder="">
                               </div>
                          
                          </div>

                </div>-->
                




            <!--===================== bar chart Rejection Type =============================================================-->
            <div class="card  mg-t-20 " style="border-radius: 5px; box-shadow: 0 2px 6px 0 var(--bluish-grey);">

                <div class="card-header bg-transparent pd-x-25 pd-y-15 bd-b-0 d-flex justify-content-between align-items-center">

                             <div class="card-title tx-dark tx-15 tx-bold">LINE REJECTION ANALYSIS </div>
                </div><!-- card-header -->
                <div class="card-body pd-x-25 pd-b-5 pd-t-0">
                    <div id="container" style="height: 300px"></div>

                 <div><small id="rejection_chart_update_status" class="tx-black"> </small></div>   

                </div><!-- card-body -->
            </div><!-- card -->
            <!--===================== end bar chart Rejection Type =============================================================-->



            <div class="row row-sm mg-t-20 ">

                <div class="col-lg-12 mg-t-30 mg-lg-t-0">
                    <div class="card  card-body  bd-0 ht-300" style="border-radius: 5px; box-shadow: 0 2px 6px 0 var(--bluish-grey);">
                        <div class="card-title tx-dark tx-15 tx-bold">OVERALL REJECTION ANALYSIS </div>
                        <div id="donught" style="height: 100%"></div>
                        <div><small id="rejection_pie_chart_update_status" class="tx-black"> </small></div>   
                    </div><!-- card -->
                </div><!-- col-6 -->
                <!-- row -->


            
               
            </div>
                        <!-- =================================Compound analysis==================================================== -->
            
			
			 <div class="card shadow-base bd-0 mg-t-20">

                <div class="card-header bg-transparent pd-x-25 pd-y-15 bd-b-0 d-flex justify-content-between align-items-center">

                             <div class="card-title tx-dark tx-15 tx-bold">COMPOUND ANALYSIS </div>
                </div><!-- card-header -->
                <div class="card-body pd-x-25 pd-b-5 pd-t-0">
                    <div id="comp_body" style="height: 200px">
					
					
							<div class='row '>
							  <div class='col-lg-3 col-md-12'>
								
									<div class="form-group">
									<label for="ORDER NUMBER (RIGHT)" class="tx-black">Compound Batch</label>
									<input type="text" class="form-control form-control-sm" id='compound_batch' placeholder="" >
								   </div>
							  
							  </div>

							   <div class='col-lg-3 col-md-12'>
								
									<div class="form-group">
									<label for="ORDER NUMBER (LEFT)" class="tx-black">Compound Weight (KG)</label>
									<input type="number" class="form-control form-control-sm" id="compound_weight" placeholder="" >
								   </div>
							  
							  </div>

							  <div class='col-lg-3 col-md-12 '>
								
									<div class="form-group">
									<label for="console" class="tx-black"> Order Number </label>
									<select class="form-control form-control-sm" id="order_number" >
                                      <option value = "choose" selected>Choose...</option>
                                      <option value="LEFT">LEFT</option>
                                      <option value="RIGHT">RIGHT</option>  
									  </select>
								   </div>
							  
							  </div>
							  <div class='col-lg-3 col-md-12'>
								      <div class="form-group">
									  <label for="ca_button" class="tx-black"><BR></label>
									<button type="button"  id="ca_button" class="btn btn-primary btn-sm btn-block" onclick="add_compound_detail()">ADD</button>
									 </div>
							  </div>
					</div>
						<div class="row">
						       <div class='col-lg-12 col-md-12 '>
							  <table class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%">
							  <thead class="bg-dark tx-white">
													<tr>
													  
													  <th >COMPOUND BATCH</th>
													  <th >COMPOUND WEIGHT</th>
													  <th >ORDER NUMBER</th>
													 
													</tr>
												  </thead>
												  <tbody id="ca_table">
												  </tbody>
							  
							  </thead>
							  
                               </table>
							   </div>
								  
						  </div>
					
					
					
					
					</div>

                 <div><small id="ca_console" class="tx-black"> </small></div>   

                </div><!-- card-body -->
            </div><!-- card -->
          
                   
            
            
            <!-- ===================================================================================== -->




        </div><!-- br-pagebody -->

        <footer class="br-footer">
            <div class="footer-left">
                <div class="mg-b-2">Copyright &copy; 2020.Cyronics. All Rights Reserved.</div>

            </div>


        </footer>


        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

   
    <!-- ########## END: MAIN PANEL ########## -->
   <!--  <script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/popper.js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/bootstrap/bootstrap.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/moment/moment.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/peity/jquery.peity.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/highlightjs/highlight.pack.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/select2/js/select2.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery-toggles/toggles.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jt.timepicker/jquery.timepicker.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/spectrum/spectrum.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/jquery.maskedinput/jquery.maskedinput.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/bootstrap-tagsinput/bootstrap-tagsinput.js')}}"></script>
    <script src="{{url_for('static',filename='lib1/ion.rangeSlider/js/ion.rangeSlider.min.js')}}"></script>

    <script src="{{url_for('static',filename='js/bracket.js')}}"></script>

    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/echarts.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/echarts-gl.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/ecStat.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/dataTool.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/china.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/world.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/bmap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='echarts_js/simplex.js')}}"></script> -->


<!--<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=xfhhaTThl11qYVrqLZii6w8qE5ggnhrY&__ec_v__=20190126"></script>-->
    
    <script>


var socket=io.connect('http://'+document.domain+":"+location.port)
$.fn.dataTable.ext.errMode = 'none';
var str="";


socket.on("console",function(data){

  if (data == "Production Order In Process"){
  document.getElementById("console").classList.remove("btn-primary");  
  document.getElementById("console").classList.add("btn-teal");
  document.getElementById("console").classList.remove("btn-dark")
  document.getElementById("console").innerHTML = "In Process" ; 

  }
  else {
  document.getElementById("console").classList.remove("btn-primary");  
  document.getElementById("console").classList.add("btn-dark");
  document.getElementById("console").classList.remove("btn-teal")
  document.getElementById("console").innerHTML = data ; 

  }
  
});


//Add new rejection modal handler  //                   -VATSAL 

function rejection_modal_handler(){
  


  var category_options =["AIR BUBBLE", "GAS MARK", "BLACK DOT", "PATCH MARK", "PIN MARK", "SCRATCH", "MOISTURE",
                           "BLACK FLOW", "BLACK MARK", "WILD LINE", "POWER CUT REJECTION", "SHORT MOLDING", "SILVER",
                           "SINK MARK", "BURN MARK", "OIL MARK", "FLOW MARK"];
  
  selected_type = document.getElementById("rejection_record_type").value ;
  console.log(selected_type);

  //resetting 
  document.getElementById("quantity").value = "";
document.getElementById("details").value = "";
document.getElementById("weight").value = "";
document.getElementById("mode").value = "choose";
document.getElementById("rejection_modal_console").innerHTML = "";
document.getElementById("category").innerHTML = '<option selected>choose..</option>';

//disabling

document.getElementById("category").setAttribute('disabled', true);
document.getElementById("mode").setAttribute('disabled', true);
document.getElementById("quantity").setAttribute('readonly', true);
document.getElementById("category").setAttribute('disabled', true);
document.getElementById("details").setAttribute('readonly', true);
document.getElementById("weight").setAttribute('readonly', true);
 
  
  if (selected_type == "LINE REJECTION"){
    //ENABLING
    document.getElementById("mode").removeAttribute("disabled");
    document.getElementById("quantity").removeAttribute("readonly");
    document.getElementById("weight").removeAttribute("readonly");
    document.getElementById("category").removeAttribute("disabled");
    document.getElementById("details").removeAttribute("readonly");
    var option_list;
    for (var i = 0; i < category_options.length; i++){

      option_list += '<option selected>'+ category_options[i] +'</option>';

    } ;
    document.getElementById("category").innerHTML = option_list;
  }

  else if (selected_type == "PROCESS SCRAP"){

    document.getElementById("weight").removeAttribute("readonly");
    document.getElementById("details").removeAttribute("readonly");
    document.getElementById("category").innerHTML = '<option selected>PROCESS</option>';
    document.getElementById("category").setAttribute('disabled', true);

    //disabling // TO RESET in case of reselection.

    document.getElementById("quantity").setAttribute('readonly', true);
    document.getElementById("mode").setAttribute('disabled', true);
    
  }
  else if (selected_type == "STARTUP SCRAP"){

    document.getElementById("mode").removeAttribute("disabled");
    document.getElementById("weight").removeAttribute("readonly");
    document.getElementById("category").innerHTML = '<option selected>STARTUP</option>';
    document.getElementById("category").setAttribute('disabled', true);
    document.getElementById("details").removeAttribute("readonly");

    //disabling // TO RESET in case of reselection.

    document.getElementById("quantity").setAttribute('readonly', true);
  }
  else if (selected_type == "STARTUP REJECTION"){

    document.getElementById("mode").removeAttribute("disabled");
    document.getElementById("weight").removeAttribute("readonly");
    document.getElementById("category").innerHTML = '<option selected>STARTUP</option>';
    document.getElementById("category").setAttribute('disabled', true);
    document.getElementById("details").removeAttribute("readonly");

    //disabling // TO RESET in case of reselection.

    document.getElementById("quantity").setAttribute('readonly', true);

  }
}


function open_modal_new_rejection(){

  //resetting

document.getElementById("quantity").value = "";
document.getElementById("details").value = "";
document.getElementById("weight").value = "";
document.getElementById("mode").value = "choose";
document.getElementById("rejection_record_type").value = "choose";
document.getElementById("category").innerHTML = '<option selected>choose..</option>';
document.getElementById("rejection_modal_console").innerHTML = "";

//disabling

document.getElementById("category").setAttribute('disabled', true);
document.getElementById("mode").setAttribute('disabled', true);
document.getElementById("quantity").setAttribute('readonly', true);
document.getElementById("category").setAttribute('disabled', true);
document.getElementById("details").setAttribute('readonly', true);
document.getElementById("weight").setAttribute('readonly', true);

document.getElementById("rejection_modal_console").innerHTML = "";

$('#production_plan_modal').modal('show')
}


function add_new_rejection(){

var user =  '{{name}}'

// function to accept data from new rejection modal
var to_send = {};
to_send["query"] = {"ORDER NUMBER (LEFT)": document.getElementById('ORDER NUMBER (LEFT)').value ,
                    "ORDER NUMBER (RIGHT)": document.getElementById('ORDER NUMBER (RIGHT)').value      
                    };
var payload ={};

if (selected_type == "LINE REJECTION"){
  
     payload["Input By"] = user;
     payload["Mode"] = "Operator Input";
     payload["ORDER MODE"]= document.getElementById('mode').value;
     payload["QUANTITY"]= document.getElementById('quantity').value;
     payload["WEIGHT"]= document.getElementById('weight').value;
     payload["details"]= document.getElementById('details').value;
     payload["reasonlist"]= document.getElementById('category').value;
     payload["status"]= "Accept";
     payload["timestamp"]= "";
     payload["TYPE"]= document.getElementById('rejection_record_type').value;
     payload["Reason for deletion"]= "NA";
    }
else if (selected_type == "PROCESS SCRAP"){

     payload["Input By"] = user;
     payload["Mode"] = "Operator Input";
     payload["ORDER MODE"]= "NA";
     payload["QUANTITY"]= "NA";
     payload["WEIGHT"]= document.getElementById('weight').value;
     payload["details"]= document.getElementById('details').value;
     payload["reasonlist"]= document.getElementById('category').value;
     payload["status"]= "Accept";
     payload["timestamp"]= "";
     payload["TYPE"]= document.getElementById('rejection_record_type').value;
     payload["Reason for deletion"]= "NA";
    
}
else if (selected_type == "STARTUP SCRAP"){
  payload["Input By"] = user;
     payload["Mode"] = "Operator Input";
     payload["ORDER MODE"]= document.getElementById('mode').value;
     payload["QUANTITY"]= "NA";
     payload["WEIGHT"]= document.getElementById('weight').value;
     payload["details"]= document.getElementById('details').value;
     payload["reasonlist"]= document.getElementById('category').value;
     payload["status"]= "Accept";
     payload["timestamp"]= "";
     payload["TYPE"]= document.getElementById('rejection_record_type').value;
     payload["Reason for deletion"]= "NA";    
}
else if (selected_type == "STARTUP REJECTION"){
  payload["Input By"] = user;
     payload["Mode"] = "Operator Input";
     payload["ORDER MODE"]= document.getElementById('mode').value;
     payload["QUANTITY"]= "NA";
     payload["WEIGHT"]= document.getElementById('weight').value;
     payload["details"]= document.getElementById('details').value;
     payload["reasonlist"]= document.getElementById('category').value;
     payload["status"]= "Accept";
     payload["timestamp"]= "";
     payload["TYPE"]= document.getElementById('rejection_record_type').value;
     payload["Reason for deletion"]= "NA";
}


//finalizing To_send

to_send["payload"] = payload;

console.log(to_send);

socket.emit("add_new_rejection_record",to_send);
document.getElementById("rejection_modal_console").innerHTML = "Saved!";




}// function1 ends


function add_compound_detail(){

var to_send = {};
to_send["query"] = {"ORDER NUMBER (LEFT)": document.getElementById('ORDER NUMBER (LEFT)').value ,
                    "ORDER NUMBER (RIGHT)": document.getElementById('ORDER NUMBER (RIGHT)').value      
                    };

var payload = {}

payload["COMPOUND BATCH"] =  document.getElementById('compound_batch').value;
payload["COMPOUND WEIGHT"] =  document.getElementById('compound_weight').value;
payload["ORDER NUMBER"] =  document.getElementById('order_number').value;



to_send["payload"] = payload;
socket.emit("add_compound_detail",to_send);
console.log(to_send);

document.getElementById('compound_batch').value = "";
document.getElementById('compound_weight').value = "";
document.getElementById('order_number').value = "choose";
}







        console.log("----------NAME--------")
        console.log('{{name}}');
    
        
        var flag_machine_name;

        
       

     



        
           
        

function fill_data(data){

  console.log("Rejection History Data");
  
data = data["REJECTION ANALYSIS"];
console.log(data);
console.log(" ----------------------- ")
var str1 ="";
/*str1 =  '<tr>\
	<td>'+ ca[i]["COMPOUND BATCH"] + '</td>\
	<td>'+ ca[i]["COMPOUND WEIGHT"] + '</td>\
	<td>'+ ca[i]["ORDER NUMBER"] + '</td>\
	</tr>'
	
document.getElementById("ca_table").innerHTML = str1;
*/
str= "";
str +='<thead class="bg-dark tx-white">\
            <tr>\
              <th >SR.NO.</th>\
              <th >REJECTION TYPE</th>\
              <th >REJECTION QUANTITY</th>\
              <th >REJECTION WEIGHT(KG)</th>\
              <th >ORDER MODE</th>\
              <th >REASON</th>\
              <th >DETAILS</th>\
              <th >MODE</th>\
              <th> TIMESTAMP </th>\
              <th> INPUT BY </th>\
              <th >ACTION</th>\
            </tr>\
          </thead>'

//Application Code,Issue Date,Job Name,PICKMOID,Qty,Status,Time
str+="<tbody>";
//alert(phrase_id);
try {
for(var i=0;i<data.length;i++){
  //console.log(jobs[i]["_id"]);
        str += "<tr>";
        str+='<td>'+(i+1)+'</td>'; 
        str+='<td>'+data[i]['TYPE']+'</TD>';
        str+='<td>'+data[i]['QUANTITY']+'</td>'; 
        str+='<td>'+data[i]['WEIGHT']+'</td>';
         str+='<td>'+data[i]['ORDER MODE']+'</td>'
        str+='<td>'+data[i]['reasonlist']+'</td>';
        
        //str+='<td>'+data[i]['Mode']+'</td>';
        
        str+='<td>'+data[i]['details']+'</td>';

        if (data[i]["Mode"] == "Software"){
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-warning" disabled > Software </div></td>'

        }
        else {
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-teal" disabled > Operator Input </div></td>'          
        }

        if ( "timestamp" in data[i] ) {

          str+='<td>'+data[i]['timestamp']+'</td>';

        }
        else {

          str+='<td>'+" NA "+'</td>';

        }
        if ( "Input By" in data[i] ) {

          str+='<td>'+data[i]['Input By']+'</td>';

        }
        else {

          str+='<td>'+" NA "+'</td>';

        }



        if (data[i]["status"] == "Accept"){
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-primary" id="--'+data[i]["REJECTION_QUANTITY"] + '--'+ data[i]["reasonlist"]+'" onclick="reject_downtime(this)"> ACCEPTED </div></td>'

        }
        else{
          str+='<td><div class="btn btn-sm Rectangle_without_color btn-dark" id="--'+data[i]["REJECTION_QUANTITY"] + '--'+ data[i]["reasonlist"]+'" onclick="accept_downtime(this)"> REJECTED </div></td>'

        }
        

        str+="</tr>";
}

}
catch(e){

}

str+="</tbody>";
document.getElementById("rejection_table").innerHTML=str;

 var line_rejection_table = $('#rejection_table').DataTable( {
        //"scrollX": true,
        lengthChange: false,
        "dom": 'lrtip',
        //scrollCollapse: true,
        //"autoWidth": false,
 "initComplete": function (settings, json) {  
    $("#rejection_table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");            
  },

        


buttons: [
            {
                extend: 'collection',
                text: 'Export',
                autoClose: true,
                buttons: [
                {
                extend:    'copy',
                text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                titleAttr: 'Copy'
                },
                {
                extend:    'excel',
                text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                titleAttr: 'Excel'
                },
                {
                extend:    'pdf',
                text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                titleAttr: 'PDF'
                },
                {
                extend:    'print',
                text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                titleAttr: 'PDF'
                },
                {
                extend:    'csv',
                text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                titleAttr: 'CSV'
                },
                {
                extend:    'colvis',
                text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                titleAttr: 'Columns'
                },
                ]
            }
        ]

    } );
    line_rejection_table.buttons( 0, null ).containers().appendTo( '#rejection_table_button' );

 // #myInput is a <input type="text"> element
$('#rejection_table_search').on( 'keyup', function () {
    line_rejection_table.search( this.value ).draw();
    console.log("working")
} );


}


var order_number_left = '{{order_number_left}}';
  var order_number_right = '{{order_number_right}}';
   
   var query_data = {};
  // query_data["machine"] = flag_machine_name;
   query_data["order_number_left"] = order_number_left;
   query_data["order_number_right"] = order_number_right;




$( document ).ready(function() {
  
    
    
    socket.emit("get_production_order_details_by_order_number",query_data);


    

 
})





socket.on("send_production_order",function(json){


console.log("LOGGING PRODUCTION ORDER");
console.log(json);
if ('ORDER NUMBER (RIGHT)' in json){
//document.getElementById("button_help").innerHTML = ""
document.getElementById('ORDER NUMBER (RIGHT)').value=json['ORDER NUMBER (RIGHT)']
document.getElementById('ORDER NUMBER (LEFT)').value=json['ORDER NUMBER (LEFT)']
}

else{
document.getElementById('ORDER NUMBER (RIGHT)').value="-";
document.getElementById('ORDER NUMBER (LEFT)').value="-";

str= "";
str +='<thead class="bg-dark tx-white">\
            <tr>\
              <th >SR.NO.</th>\
              <th >REJECTION TYPE</th>\
              <th >REJECTION QUANTITY</th>\
              <th >REJECTION WEIGHT(KG)</th>\
              <th >ORDER MODE</th>\
              <th >REASON</th>\
              <th >DETAILS</th>\
              <th >MODE</th>\
              <th> TIMESTAMP </th>\
              <th> INPUT BY </th>\
              <th >ACTION</th>\
            </tr>\
          </thead>'

str+="<tbody>";
str+="</tbody>";

document.getElementById("rejection_table").innerHTML=str;


    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    
    var rejection_categories =  ["AIR BUBBLE", "GAS MARK", "BLACK DOT", "PATCH MARK", "PIN MARK", "SCRATCH", "MOISTURE",
                           "BLACK FLOW", "BLACK MARK", "WILD LINE", "POWER CUT REJECTION", "SHORT MOLDING", "SILVER",
                           "SINK MARK", "BURN MARK", "OIL MARK", "FLOW MARK"];
    


   
 
  
  
    option = null;
    option = {

    responsive: true,

    title: {
      text: '',
    },
    tooltip: {
      trigger: 'axis'
    },
    legend: {
                    data: []
      },

    calculable: true,
    xAxis: [
      {
        type: 'category',
        name:'SUB-CATEGORIES',
        nameLocation: 'middle',
        nameGap: 80,
        data: rejection_categories,
        axisLabel: {
        interval: 0,
        rotate: 30 ,
        fontSize: 12 
      }
    }
    ],
    grid: {
            left: '10%',
            right: '10%',
            bottom: '10%',
            top:'10%',
            containLabel: true
        },
    yAxis: [
      {
        type: 'value',
        nameLocation: 'middle',
        nameGap: 50,
        name:'WEIGHT (KG.)'
      }
    ],
    series: [
      {
        name: 'WEIGHT (KG.)',
        
        color: '#05b080',
        type: 'bar',
        data: []
        
        
      },

    ],
     toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
        ,title: 'Save As picture',
            },
            restore: {title: 'restore',},
            saveAsImage: {
      title: 'Save As picture',
      },
        }
    },
    };
    ;
    if (option && typeof option === "object") {
    myChart.setOption(option, true);
    }


 dom = document.getElementById("donught");
     myChart = echarts.init(dom);
     app = {};


   
var rejection_types = ["LINE REJECTION","PROCESS SCRAP","STARTUP SCRAP","STARTUP REJECTION"];
   
console.log("Dougnut Updated!");
option = null;
option = {
    tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b}: {c} ({d}%)'
    },
    legend: {
        orient: 'vertical',
        left:'auto'  ,
        top: 'auto' ,
        right: 'auto' ,
        bottom: 'auto' ,
        width: 'auto' ,
        height: 'auto',
        textStyle: {
                     size: 5 }, 
        data: ["LINE REJECTION", "PROCESS SCRAP", "STARTUP SCRAP", "STARTUP REJECTION"]
    }, toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
        ,title: 'Save As picture',
            },
            restore: {title: 'restore',},
            saveAsImage: {
      title: 'Save PNG',
      },
        }
    },
    
    series: [
        {
            name: 'TOTAL WEIGHT (KG.)',
            type: 'pie',
            radius: ['50%', '80%'],
            avoidLabelOverlap: false,
            label: {
                show: false,
                position: 'center'
            },
            emphasis: {
                label: {
                    show: true,
                    fontSize: '10',
                    
                    opacity:0.5
                }
            },
            labelLine: {
                show: false
            },
            data: [{ value: 0, name: "LINE REJECTION" },
                    { value: 0, name: "PROCESS SCRAP" },
                    { value: 0, name: "STARTUP SCRAP" }
                    ,{ value: 0, name: "STARTUP REJECTION" }]
        }
    ],

};
;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}







}

if ("REJECTION ANALYSIS" in json){ 
   
fill_data(json);
chart_update(json);
update_doughnut(json);


}

if ('COMPOUND ANALYSIS' in json){

update_compound_table(json);


}


// update chart  






});


function chart_update(json){
    var json =json["REJECTION ANALYSIS"];
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    
    var rejection_categories =  ["AIR BUBBLE", "GAS MARK", "BLACK DOT", "PATCH MARK", "PIN MARK", "SCRATCH", "MOISTURE",
                           "BLACK FLOW", "BLACK MARK", "WILD LINE", "POWER CUT REJECTION", "SHORT MOLDING", "SILVER",
                           "SINK MARK", "BURN MARK", "OIL MARK", "FLOW MARK"];
    var values_for_chart = [];


   console.log("in ra");
   for(i=0; i<rejection_categories.length;i++){
       var value = 0;
       for(j=0 ; j < json.length; j++){

           if(json[j]["TYPE"] == "LINE REJECTION"){

              if(json[j]["reasonlist"] == rejection_categories[i]){
                 value += parseInt(json[j]["WEIGHT"]);

                 ;
              }

           }

       }
      values_for_chart.push(value);
   }
 
  console.log("Rejection Analysis Bar Chart Updated");
  
    option = null;
    option = {

    responsive: true,

    title: {
      text: '',
    },
    tooltip: {
      trigger: 'axis'
    },
    legend: {
                    data: []
      }, toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
        ,title: 'Save As picture',
            },
            restore: {title: 'restore',},
            saveAsImage: {
      title: 'Save As picture',
      },
        }
    },

    calculable: true,
    xAxis: [
      {
        type: 'category',
        name:'SUB-CATEGORIES',
        nameLocation: 'middle',
        nameGap: 80,
        data: rejection_categories,
        axisLabel: {
        interval: 0,
        rotate: 30 ,
        fontSize: 12 
      }
    }
    ],
    grid: {
            left: '10%',
            right: '10%',
            bottom: '10%',
            top:'10%',
            containLabel: true
        },
    yAxis: [
      {
        type: 'value',
        nameLocation: 'middle',
        nameGap: 50,
        name:'WEIGHT (KG.)'
      }
    ],
    series: [
      {
        name: 'WEIGHT (KG.)',
        
        color: '#05b080',
        type: 'bar',
        data: values_for_chart,
        
        
      },

    ]
    };
    ;
    if (option && typeof option === "object") {
    myChart.setOption(option, true);
    }

}

function update_doughnut(json){

var json =json["REJECTION ANALYSIS"];
    var dom = document.getElementById("donught");
    var myChart = echarts.init(dom);
    var app = {};


    values_for_chart = []
    var rejection_types = ["LINE REJECTION","PROCESS SCRAP","STARTUP SCRAP","STARTUP REJECTION"];
    for(i=0; i<rejection_types.length;i++){
       var value = 0;
       var dict ={};
       for(j=0 ; j < json.length; j++){

           if(json[j]["TYPE"] == rejection_types[i]){
              console.log(json[j]["WEIGHT"]);
              value += parseFloat(json[j]["WEIGHT"]);


           }
         }
         dict["value"] = value;
         dict["name"] = rejection_types[i];
     values_for_chart.push(dict);
   }

console.log("Dougnut Updated!");
console.log(values_for_chart);
option = null;
option = {
    tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b}: {c} ({d}%)'
    },
    legend: {
        orient: 'vertical',
        left:'auto'  ,
        top: 'auto' ,
        right: 'auto' ,
        bottom: 'auto' ,
        width: 'auto' ,
        height: 'auto',
        textStyle: {
                     size: 5 }, 
        data: ["LINE REJECTION", "PROCESS SCRAP", "STARTUP SCRAP", "STARTUP REJECTION"]
    },
     toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
        ,title: 'Save As picture',
            },
            restore: {title: 'restore',},
            saveAsImage: {
      title: 'Save As picture',
      },
        }
    },
    series: [
        {
            name: 'TOTAL WEIGHT (KG.)',
            type: 'pie',
            radius: ['50%', '80%'],
            avoidLabelOverlap: false,
            label: {
                show: false,
                position: 'center'
            },
            emphasis: {
                label: {
                    show: true,
                    fontSize: '10',
                    
                    opacity:0.5
                }
            },
            labelLine: {
                show: false
            },
            data: values_for_chart
        }
    ]
};
;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}



}



function update_compound_table(data){
    var str2 = ""
    var ca = data["COMPOUND ANALYSIS"];
	
	for(i=0;i<ca.length;i++){
	
	str2 +=  '<tr>\
	<td>'+ ca[i]["COMPOUND BATCH"] + '</td>\
	<td>'+ ca[i]["COMPOUND WEIGHT"] + '</td>\
	<td>'+ ca[i]["ORDER NUMBER"] + '</td>\
	</tr>'
	
	
	
	
	
	}
	document.getElementById("ca_table").innerHTML = str2;

}








    </script>




{% endblock %}
