<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Quasar</title>

    <!--socket Cdn -->
    <script src="{{url_for('static',filename='socket.js')}}"></script>

  
	
	<!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_css.css')}}">
	

	<style>

.block {
  display: block;
  width: 100%;
  border: none;
  
  padding: 5px 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1E68EB ; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1E68EB ; 
}
    </style>
	
  </head>

  <body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href=""><span></span>PPAP.Ltd<span></span></a></div>
    <div class="br-sideleft overflow-y-auto">
      <!--<label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>-->
      <div class="br-sideleft-menu"><!--br-sideleft-->
        <a href="index.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
            <span class="menu-item-label">Home</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <a href="#" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
            <span class="menu-item-label">Plants</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="accordion.html" class="nav-link">API</a></li>
          <li class="nav-item"><a href="alerts.html" class="nav-link">Hardware</a></li>
          <li class="nav-item"><a href="buttons.html" class="nav-link active">Compatibility</a></li>
          <li class="nav-item"><a href="cards.html" class="nav-link">Create</a></li>
          <li class="nav-item"><a href="icons.html" class="nav-link">Local Host</a></li>
          <li class="nav-item"><a href="modal.html" class="nav-link">App Store</a></li>
        </ul>
        <a href="#" class="br-menu-link  active show-sub">
          <div class="br-menu-item">
            <i class="menu-item-icon ion-ios-redo-outline tx-24"></i>
            <span class="menu-item-label">Hierarchy</span><!--menu-item-label-->
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="navigation.html" class="nav-link">Smart Schedular</a></li>
          <li class="nav-item"><a href="navigation-layouts.html" class="nav-link">Analysis</a></li>
         
        </ul>
        
        
        
        
      </div><!-- br-sideleft-menu -->
  
      <br>
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->
    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu"  href=""><i class="icon ion-navicon-round" ></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile"  href=""><i class="icon ion-navicon-round" ></i></a></div>
       
      </div><!-- br-header-left -->
      <div class="br-header-right">
        <div class="dropdown">
          <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
            <span class="logged-name hidden-md-down" id="user"></span>
            <!--<img src="{{ url_for('static', filename='log_in.png')}}" class="wd-32 rounded-circle" alt="">
-->
            <img src="{{ url_for('static', filename='log_in.png')}}" class="wd-32 rounded-circle" alt="">

            <span class="square-10 bg-success"></span>
          </a>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
          <div class="dropdown-menu dropdown-menu-header wd-200">
            <ul class="list-unstyled user-profile-nav">
            
             
              <li><a href="#" onclick="login()"><i class="icon ion-power"></i> Sign Out</a></li>
            <script>
            function login(){



              //location.href ="http://"+document.domain+":"+"80";
              location.href ="http://"+document.domain+":"+"80";
      
      
              }   
              </script>
            </ul>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
       </div>
     
    </div><!-- br-sideright -->
    

    <div class="br-sideright">
      <ul class="nav nav-tabs sidebar-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" role="tab" href="#contacts"><i
              class="icon ion-ios-contact-outline tx-24"></i></a>
        </li>
      </ul><!-- sidebar-tabs -->
  
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane pos-absolute a-0 mg-t-60 overflow-y-auto active" id="contacts" role="tabpanel">
          <div id="right-panel">
  
  <!--The Following Script Removes the App From Active App List when User Click on cross Button ---------------> 
            <script>
                function removeEle(elementTOremove,app_index){
                    if(unique_click.includes(img_name[app_index])){
                      unique_click.splice(unique_click.indexOf(img_name[app_index]),1);
                    }
                    elementTOremove.parentNode.remove(elementTOremove);     
                }
              </script>
  
  <!--################ The Following Script Generate,Validate and Update Right Side Panel Apps List #########  -->
  
             
  
          <label class="sidebar-label pd-x-25 mg-t-25"></label>
          <a href="" id="y1">            
          
          </a>
        <div>      <!--Line Graph Button  DIV Start-->
            <a data-toggle="collapse" href="#collapseOne">
                <div>
                    <button class="btn btn-primary col-sm-12 mg-t-10">Line Graph</button>  <!--Line Graph Button Code------->
                  </div>
              </a>
        </div>     <!--END OF Line Graph Button DIV-->
        </div>     <!--END OF right-panel DIV-->
          
        </div>     <!--End OF Tab Panel Div-->
      </div>       <!-- tab-content -->
    </div>   
    <!-- ########## END: RIGHT PANEL ########## --->

    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
    <div class="ht-1 bd bg-gray-100 pd-x-10 d-flex align-items-center justify-content-between ">
      </div><!-- ht-65 -->
     
    <div class="br-pagebody">
      <div class="card col-12 col-md-12 col-lg-12 ht-600 bg-white" style="max-height:600px;overflow-y: auto;">
<!--navbaar code here--->
<div class="row">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ht-45 col-12 col-md-12 col-lg-12">   
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>	
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">		
      <a href="#" class="nav-item nav-link">Realtime Tracking</a>
      <a href="#" class="nav-item nav-link active " >Schedule</a>
      <a href="#" class="nav-item nav-link ">Forecast</a>
      
    </div>
  </div>
  
  <div class="btn-group pl-lg-5" role="group" >
    <a href="#"  class="btn btn-outline-light rounded-0 "><i class="fa fa-chevron-left"></i></a>
    <a href="#"  class="btn btn-outline-light rounded-0" ><i class="fa fa-chevron-right"></i></a>
  </div>
</nav>

</div>




<!--navbaar code here--->

<div class="row">
  <div class="col-2 col-md-2 col-lg-2 ht-50 bd bd-0 ">
    <h6 class="tx-dark mg-t-20">Overview</h6>
    <!--map div here-->
  </div>
    <div class="col-4 col-md-4 col-lg-4 ht-50 bd bd-0 d-flex  justify-content-end">
      <div class="btn-group btn-sm ht-40" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary pd-x-15 active">Map</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-primary pd-x-15">Chart</button>
      </div>
      
      
    </div>
    <div class="col-6 col-md-6 col-lg-6 ht-50 bd bd-0">
      <h6 class="tx-dark mg-t-20">Live</h6>
      
      
    </div>
  </div>





        <div class="row">
          
  <div class="col-6 col-md-6 col-lg-6 ht-500 bd bd-2 bd-dark">
    <div id="container1" style="height: 320px"></div>
    <!--map div here-->
  </div>
    <div class="col-6 col-md-6 col-lg-6 ht-500 bd bd-2 bd-dark">

      <!--table code here-->
      
      <div class='frame'>
        <div class="table-wrapper">
          <table id="datatable2" class="table display responsive nowrap tx-dark table-sm">
            <thead class='thead-colored thead-dark'>
              <tr>
                <th class="wd-10 text-center"> Color</th>
                <th class="wd-20p  text-center">Order Numbers</th>
                <th class="wd-20p text-center">Vehicle Number</th>
                <th class="wd-20p text-center">Transporter</th>
                <th class="wd-20p text-center"> Status</th>
                <th class="wd-10p text-center"> Details</th>
               
              </tr>
            </thead>
            <tbody id="table_fill">
              <!----------------------first row-------------------------->
    
            </tbody>
          </table>
        </div><!-- table-wrapper -->
        
    
    
      </div>
      
      
    </div>
  </div>

  
                 


        </div>
     
      </div>
    
    
</div>
  
    <!-- ########## END: MAIN PANEL ########## -->
  <footer class="br-footer">
    <div class="footer-left">
      <div class="mg-b-1">Copyright &copy; 2020.Cyronics. All Rights Reserved.</div>
    </div>
  </footer>
  </div>
  
 

    <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/echarts.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/echarts-gl.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/ecStat.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/dataTool.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/china.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/bmap.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/simplex.js')}}"></script> 
    <script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{url_for('static',filename='koel_js/dashboard.js')}}"></script>

                 
    
	
</body>
</html>
<script>
  
  var socket=io.connect('http://'+document.domain+":"+location.port)
  var socket=io.connect('http://'+document.domain+":"+location.port)
  socket.emit("req_all_trips");
  socket.on("response_all_trips",function(all_trips){
    trips = JSON.parse(all_trips);
//fill table
   var str="<tr>"

    for(var i=0;i<trips.length;i++){
      str+='<td class="text-center"><i class="fa fa-circle" style="font-size:25px;color:'+trips[i]['color']+'"></i></td>';

      orders=trips[i]['order_number'];

      str+="<td>";
      //fill orders array
      for(j=0;j<orders.length;j++){
          str+=orders[j];
          str+=',';
      }
      str = str.slice(0, -1); 
      str+='</td>';
      //filling completed for orders

      //fill vehicle number
      vehicle= trips[i]['vehicle_details'];
      str+='<td>'+vehicle['number']+'</td>';
      str+='<td>'+vehicle['partner_company']+'</td>';
      status_comp=trips[i]['completion_state']
      status_comp_given = status_comp.slice(0, -1);
     
      if(parseInt(status_comp_given)<50){
        

            str+='<td><div class="progress">\
              <div class="progress-bar progress-bar-danger progress-bar-striped bg-danger" role="progressbar"\
              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:'+trips[i]['completion_state']+'">'+trips[i]['completion_state']+'</div></div></td>';
      }
      if(parseInt(status_comp_given)>50){

            str+='<td><div class="progress">\
                   <div class="progress-bar progress-bar-warning progress-bar-striped bg-warning" role="progressbar"\
                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:'+trips[i]['completion_state']+'">'+trips[i]['completion_state']+'</div></div></td>';
       }

      if(parseInt(status_comp_given)==100){

                str+='<td><div class="progress">\
                       <div class="progress-bar progress-bar-success progress-bar-striped bg-success" role="progressbar"\
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:'+trips[i]['completion_state']+'">'+trips[i]['completion_state']+'</div></div></td>';
      }


      str+='<td><a href="/trip_detail" class="btn btn-primary btn-sm  ht-25" id="'+vehicle['number']+'" onclick="get_trip_detail(this)">View</a></td>';    


     str+='</tr>';
    }

    document.getElementById("table_fill").innerHTML=str;
  });
  
  function get_trip_detail(x){
    vehicle_dict={}
    vehicle_dict['vehicle_number']=x.id;
    socket.emit("get_trip_data",JSON. stringify(vehicle_dict))
  }
  
</script>



<script type="text/javascript">
  var dom = document.getElementById("container1");
  var myChart = echarts.init(dom);
  var app = {};
  option = null;
  option = {
      responsive: true,
      title : {
          text: '',
          subtext: '',
          x:''
      },
      tooltip : {
          trigger: 'item',
          formatter: "{a} <br/>{b} : {c} ({d}%)"
      },
      legend: {
          orient: 'vertical',
          left: 'left',
          data: ['Completed','Ongoing','Scheduled']
      },
      toolbox: {
             show : true,
             feature : {
                 
             }
         },
      series : [
          {
              name: 'Down Time Reason',
              type: 'pie',
              radius : '55%',
              center: ['50%', '60%'],
              data:[
                  {value:335, name:'Completed'},
                  {value:310, name:'Ongoing'},
                  {value:234, name:'Scheduled'},
                 
              ],
              itemStyle: {
                  emphasis: {
                      shadowBlur: 10,
                      shadowOffsetX: 0,
                      shadowColor: 'rgba(0, 0, 0, 0.5)'
                  }
              }
          }
      ]
  };
  ;
  if (option && typeof option === "object") {
      myChart.setOption(option, true);
  }
         </script>