{% extends "template.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }

  .Rectangle_without_color {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  
  }

  .Rectangle_success {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #1b5e20 ;
  background-color: #007E33;
  
  }

  .Rectangle_done {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: #007E33;
  }
  



</style>
          <div class="pt-3">
            <div class="tx-dark tx-15 tx-bold">SHIFT PLAN</div>
          </div>

<div class="row no-gutters  mg-t-10">

<div class="col-12 col-lg-6 p-2 mg-2">

  <div class="row pd-10">

         <div class="col-3 Alert-font">
         From 
       </div>
          <div class="form-group col-9 ">
         
          <input type="date" class="form-control base" id="dateMask_old" placeholder="dd/MM/YYYY">
          </div>
          

          <div class="col-3 Alert-font">
           To 
         </div>
      
        <div class="form-group col-9">

        <input type="date" id="dateMask" class="form-control base" placeholder="dd/MM/YYYY">
      </div>
      <div class="col-12">
     
       <button class="btn btn-block Rectangle"  type="button" value="dateMask" onclick="get_shift_records()">SEARCH </button>
     </div>  

</div>      

         
</div>  
</div>    

<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <div class="tx-dark tx-15 tx-bold" > EDIT SHIFT PLAN </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <!-- <form action="http://192.168.1.61/file_upload" method="POST" enctype="multipart/form-data"> -->
      
  
      <div class="modal-body">

     <div class="p-2" >
        
      <div class="form-group pt-2">
        <label for="shift_date" class="tx-black">Chosen Shift Date</label>
        <input type="text" class="form-control" id="shift_date" aria-describedby="shift_date_help" placeholder="mm/dd/YYY" readonly>
        <small id="sheet_name_help" class="form-text text-muted">Shift Name Chosen</small>
      </div>

      <div class="form-group pt-2">
        <label for="shift_id" class="tx-black">Chosen Shift ID</label>
        <input type="text" class="form-control" id="shift_id" aria-describedby="shift_id_help" placeholder="A" readonly>
        <small id="sheet_id_help" class="form-text text-muted">Shift ID Chosen</small>
      </div>

     
       <div class="form-group pt-2">
      <label for="group_leader" class="tx-black">Group Leader</label>
        <input type="text" class="form-control" id="group_leader" aria-describedby="group_leader_help" placeholder="">
        <small id="group_leader_help" class="form-text text-muted">Enter Group Leader </small>
      </div>
     


      <div class="form-group pt-2">
      <label for="department_head" class="tx-black">Department Head</label>
        <input type="text" class="form-control" id="department_head" aria-describedby="department_head_help" placeholder="">
        <small id="department_head_help" class="form-text text-muted">Enter Department Head </small>
      </div>
     
        

              
     </div>

      <div class="modal-footer">
        
          <button class="btn btn-primary Rectangle_without_color" onclick="save_shift_data()" > SAVE </button>
        

        <button type="button" class="btn btn-secondary Rectangle_without_color" data-dismiss="modal">CLOSE</button>
      </div>
    <!-- </form> -->
    </div>
  </div>
</div>
</div>

 

<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
  <div id="table_button">

  </div>

    <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
       <div class="input-group">
         <input type="text" id="datatable1_search" class="form-control" placeholder="Search" >
        </div>
   </div>

       
  <table id="datatable1" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
              
 </table>
 
 <hr>
    

<script>
//var socket=io.connect('http://127.0.0.1:5000/')
var socket=io.connect('http://'+document.domain+":"+location.port)

$.fn.dataTable.ext.errMode = 'none';


socket.emit("get_shift_plan_dates");


socket.on("send_shift_plan_dates",function(to_send){

document.getElementById("dateMask_old").value = to_send["todays_date"];
document.getElementById("dateMask").value = to_send["tomorrows_date"];



data = {};
data["from_date"] = document.getElementById("dateMask_old").value;
data["to_date"] = document.getElementById("dateMask").value;


socket.emit("get_shift_records",data );


});







var valid_orders = [];



socket.on("sent_shift_records",function(data){

  console.log(data);
  
  valid_orders = data ;
  var str="";



str +='  <thead class="bg-dark tx-white">\
            <tr>\
              <th >SR.NO.</th>\
              <th >SHIFT DATE </th>\
              <th >SHIFT ID </th>\
              <th >STATUS</th>\
              <th >TEAM LEADER</th>\
              <th >GROUP LEADER</th>\
              <th >DEPARTMENT HEAD</th>\
              <th >PRODUCTION ORDERS </th>\
              <th >ACTION</th>\
            </tr>\
          </thead>'


//Application Code,Issue Date,Job Name,PICKMOID,Qty,Status,Time
str+="<tbody>";
//alert(phrase_id);

try { 

for(var i=0;i<data.length;i++){
  //console.log(jobs[i]["_id"]);
        str+="<tr>";
        str+='<td>'+(i+1)+'</td>'; 
        str+='<td>'+data[i]['SHIFT DATE']+'</td>'; 
        str+='<td>'+data[i]['SHIFT ID']+'</td>';
        if (data[i]['STATUS'] == "Planned" ) {
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-primary" >'+data[i]['STATUS']+'</div></td>';
      }
      else if(data[i]['STATUS'] == "Live" ){
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-teal ">'+data[i]['STATUS']+'</div></td>';

      }
      else{
        str+='<td><div class="btn btn-sm Rectangle_without_color" style="background-color:var(--metallic-blue)">'+data[i]['STATUS']+'</div></td>';

      }
        str+='<td>'+ data[i]['TEAM LEADER'] +'</td>';
    
        str+='<td>'+data[i]['GROUP LEADER']+'</td>';
        str+='<td>'+data[i]['DEPARTMENT HEAD']+'</td>';
        str+='<td>';
        for( var j = 0 ; j < (data[i]['PRODUCTION ORDERS']).length ; j ++ ){

          //str+='<div class="row">'
          str +=  'ORDER NUMBER (LEFT) - ' +  '<span class="tx-dark tx-bold">' +  data[i]['PRODUCTION ORDERS'][j]["ORDER NUMBER (LEFT)"] + '</span>'
          //str+='</div>'
          str+= '<br>'
          //str+='<div class="row">'
          str += 'ORDER NUMBER (RIGHT) - ' + '<span class="tx-dark tx-bold">' + data[i]['PRODUCTION ORDERS'][j]["ORDER NUMBER (RIGHT)"] + '</span>'
          //str+='</div>'

          str+="<hr>"
          
        } 
        




        str+='</td>';
        str+='<td><div class="btn btn-sm Rectangle_without_color btn-primary tx-dark" id="'+data[i]['SHIFT DATE']+'_'+data[i]['SHIFT ID']+'" onclick="open_modal(this)" >'+'EDIT'+'</div>'
        str+='</td>'; 
        str+="</tr>";
}

}
catch(e){

}

str+="</tbody>";
document.getElementById("datatable1").innerHTML=str;


 var table = $('#datatable1').DataTable( {
        //"scrollX": true,
        lengthChange: false,
        "dom": 'lrtip',
        "initComplete": function (settings, json) {  
    $("#datatable1").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");            
  },
      

buttons: [
            {
                extend: 'collection',
                text: 'Export',
                autoClose: true,
                buttons: [
                {
                extend:    'copy',
                text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                titleAttr: 'Copy'
                },
                {
                extend:    'excel',
                text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                titleAttr: 'Excel'
                },
                {
                extend:    'pdf',
                text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                titleAttr: 'PDF'
                },
                {
                extend:    'print',
                text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                titleAttr: 'PDF'
                },
                {
                extend:    'csv',
                text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                titleAttr: 'CSV'
                },
                {
                extend:    'colvis',
                text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                titleAttr: 'Columns'
                },
                ]
            }
        ]


    } );
    table.buttons( 0, null ).containers().appendTo( '#table_button' );

 // #myInput is a <input type="text"> element
$('#datatable1_search').on( 'keyup', function () {
    table.search( this.value ).draw();
    console.log("working")
} );

 
  
});


function redirect_create_new() {

window.location.href="/upload_production_plan"

}

function open_modal(element) {
  
  var IDs = element.id;
  var res = IDs.split("_");
  console.log(res);

  document.getElementById("shift_date").value = res[0];
  document.getElementById("shift_id").value = res[1];


$('#exampleModal').modal('show')
  
  socket.emit("get_specific_shift_record",{"SHIFT ID": res[1] , "SHIFT DATE" : res[0] })


}


function open_spr(element) {
  
  var IDs = element.id;
  
  //var str = IDs.replace("-", "/");

  var res = IDs.split("/");
  
  var shift_id = res[2].split("__");
  
  var shift_date = res[0] + "-" + res[1] + "-" + shift_id[0]


  console.log(shift_date);
  console.log(shift_id[1]);



  window.location.href = "/SPR/"+ shift_date + "/" + shift_id[1] ;



}



socket.on("send_specific_shift_record",function(to_send){

  //document.getElementById("team_leader").value = to_send["TEAM LEADER"] ;
  //document.getElementById("team_members").value = to_send["TEAM MEMBERS"] ;
  document.getElementById("department_head").value = to_send["DEPARTMENT HEAD"] ;
  document.getElementById("group_leader").value = to_send["GROUP LEADER"] ;

});

function get_shift_records(){

data = {};
data["from_date"] = document.getElementById("dateMask_old").value;
data["to_date"] = document.getElementById("dateMask").value;

console.log(data);
socket.emit("get_shift_records",data );


}



function save_shift_data(){

  to_send = {}

  to_send["SHIFT DATE"] = document.getElementById("shift_date").value;
  to_send["SHIFT ID"] = document.getElementById("shift_id").value;
  //to_send["TEAM LEADER"] = document.getElementById("team_leader").value;
  //to_send["TEAM MEMBERS"] = document.getElementById("team_members").value;
  to_send["DEPARTMENT HEAD"] = document.getElementById("department_head").value;
  to_send["GROUP LEADER"] = document.getElementById("group_leader").value;

socket.emit("save_shift_data",to_send);

setTimeout(function() { get_shift_records(); }, 1000);



$('#exampleModal').modal('hide');


}

</script>


{% endblock %}
  
 
   
