<html>
<head> 







</head>
<body>
         
          <table class="table-hover table-sm" cellspacing="0" border="0" width="100%" id="print-content" >
           
            <tbody class="">
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" height="50" align="center" >
                  <img src="{{url_for('static',filename='Logo-PPAP.jpg')}}"
                      width="80" height="50">
                  
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="21" valign="middle" align="center"><b>
                    <font size="3" face="Arial">SHIFT PERFORMANCE REPORT (INJECTION MOULDING &amp; ASSY.)</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="middle" align="center"><b><font size="3" face="Arial"> PLANT III </font>
                    </b></td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="left"><b> <font size="1" face="Arial"> DATE :<span class="DATE"></span>
                    </font></b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="left"><b> <font size="1" face="Arial"> SHIFT :  <span class="SHIFT"></span> </font></b>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="left"><b> <font size="1" face="Arial"> M/C : <span class="MACHINE"></span>  </font></b>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="6" valign="center" align="left"><b><font size="1" face="Arial">  TEAM LEADER : <span class="TEAM LEADER"></span>
                    </font></b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="14" valign="center" align="left"><b><font size="1" face="Arial" id="SPR!6">TEAM MEMBERS : 
                    <span class="TEAM MEMBERS"></span>
                    </font></b></td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" rowspan="3" valign="middle" height="55" align="center"><b>
                    <font size="1" face="Arial">PART NO / NAME</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="5" valign="center" align="center"><b>
                    <font size="1" face="Arial">PRODUCTION PLAN</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="center" bgcolor="#BFBFBF" align="center"><b>
                    <font size="1" face="Arial">STARTUP SCRAP</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" bgcolor="#BEBEBE" align="center"><b>
                    <font size="1" face="Arial">LINE REJECTION</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" bgcolor="#BEBEBE" align="center"><b>
                    <font size="1" face="Arial">PROCESS SCRAP</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center"><b>
                    <font size="1" face="Arial">POWER CUT</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="3" valign="center" align="center"><b>
                    <font size="1" face="Arial">RUN TIME <br> (MIN.)</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="3" valign="center" align="center">
                  <b>
                    <font size="1" face="Arial">&nbsp;C/O TIME<br>(MIN.) &nbsp;</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="3" valign="center" align="center">
                  <b>
                    <font size="1" face="Arial">&nbsp;SETUP <br>TIME<br>(MIN.) &nbsp;</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="3" valign="center" align="center"><b>
                    <font size="1" face="Arial">&nbsp;BREAK <br>DOWN <br> (MIN.) &nbsp;</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="center" align="center"><b>
                    <font size="1" face="Arial">MACHINE COUNTER</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="center" align="center"><b>
                   <font size="1" face="Arial">ENERGY CONSUMPTION<br>(KWH)</font></b>
                </td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center"><b>
                    <font size="1" face="Arial">PLAN</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center"><b>
                    <font size="1" face="Arial">ACTUAL <br> (OK PARTS) </font>
                  </b></td>

                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="center"><b>
                    <font size="1" face="Arial">GAP</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" bgcolor="#BEBEBE" align="center"><b>
                    <font size="1" face="Arial">REJECTED <br> PART  <br>KGS </font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" bgcolor="#BEBEBE" align="center"><b>
                    <font size="1" face="Arial">SCRAP<br> KGS</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" bgcolor="#BFBFBF" align="center"><b>
                    <font size="1" face="Arial">TOTAL <br> STARTUP  <br> SCRAP</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" bgcolor="#BEBEBE" align="center"><b>
                    <font size="1" face="Arial">NO. OF <br> PCS</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="middle" bgcolor="#BEBEBE" align="center"><b>
                    <font size="1" face="Arial">KGS</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" rowspan="2" valign="middle" bgcolor="#BEBEBE" align="center"><b>
                    <font size="1" face="Arial">WEIGHT <br> IN KGS</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="middle" align="center"><b>
                    <font size="1" face="Arial">NOS</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="middle" align="center"><b>
                    <font size="1" face="Arial">MIN</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="middle" align="center"><b>
                    <font size="1" face="Arial">START</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="middle" align="center"><b>
                    <font size="1" face="Arial">END</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="middle" align="center"><b>
                    <font size="1" face="Arial">GAP</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="middle" align="center"><b>
                    <font size="1" face="Arial">START</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="middle" align="center"><b>
                    <font size="1" face="Arial">END</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="middle" align="center"><b>
                    <font size="1" face="Arial">DIFF.</font>
                  </b></td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center"><b>
                    <font size="1" face="Arial">NOS</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center"><b>
                    <font size="1" face="Arial">NOS</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="center"><b>
                    <font size="1" face="Arial">NOS</font>
                  </b></td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" height="18" align="center" id="SPR1">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR2">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR3">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR4">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR5">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR6">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR7">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR8">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR9">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" rowspan="2" valign="center" align="center" id="SPR10">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR11">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR12">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR13">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR14">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR15">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR16">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR17">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR18">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR19">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR20">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR21">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR22">
                  <font color="#000000"><br></font>
                </td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" height="18" align="center" id="SPR23">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR24">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR25">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR26">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR27">
                  <font color="#000000"><br></font>
                </td>
              </tr>
              
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" height="18" align="center" id="SPR55">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR56">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR57">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR58">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR59">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR60">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR61">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR62">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR63">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" rowspan="2" valign="center" align="center" id="SPR64">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR65">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR66">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR67">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR68">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR69">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR70">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR71">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR72">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR73">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR74">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR75">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  rowspan="2" valign="center" align="center" id="SPR76">
                  <font color="#000000"><br></font>
                </td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" height="18" align="center" id="SPR77">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR78">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR79">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR80">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR81">
                  <font color="#000000"><br></font>
                </td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" height="18" align="center"><b>
                    <font size="1" face="Arial">TOTAL</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR82">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR83">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR84">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR85">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR86">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR87">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR88">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR89">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR90">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR91">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR92">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR93">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR94">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR95">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR96">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR97">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR99">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR100">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR101">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR102">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR103">
                  <font color="#000000"><br></font>
                </td>
              </tr>
              
            </tbody>
          </table>
              <table class="table-hover table-sm" cellspacing="0" border="0"   width="100%">
           
            <tbody class="">


              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="26" valign="center" height="18" bgcolor="#BFBFBF" align="center"><b>
                    <font size="1" face="Arial">RAW MATERIAL CONSUMED</font>
                  </b></td>
              </tr>


              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" rowspan="2" valign="middle" height="44" align="center"><b>
                    <font size="1" face="Arial">PART NO / NAME</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="4" valign="center" align="center"><b>
                    <font size="1" face="Arial">COMPOUND</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center">
                  <font color="#000000"></font><b>
                    <font size="1" face="Arial">CHILD PART /<br>PRIMER</font>
                  </b></td>

                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center"><b>
                    <font size="1" face="Arial">CHILD PART</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center"><b>
                    <font size="1" face="Arial">CHILD PART</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center"><b>
                    <font size="1" face="Arial">CHILD PART</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center"><b>
                    <font size="1" face="Arial">CHILD PART</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center"><b>
                    <font size="1" face="Arial">CHILD PART</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center"><b>
                    <font size="1" face="Arial">CHILD PART</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center"><b>
                    <font size="1" face="Arial">CHILD PART</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center">
                  <b>
                    <font size="1" face="Arial">&nbsp;DA TAPE / TAB TAPE&nbsp;</font>
                  </b></td>
                
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center">
                  <b>
                    <font size="1" face="Arial">&nbsp; DA TAPE / TAB TAPE &nbsp;</font>
                  </b></td>
              

              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="center"><b>
                    <font size="1" face="Arial">GRADE</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="center"><b>
                    <font size="1" face="Arial">BATCH</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="center"><b>
                    <font size="1" face="Arial">KGS</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="center">
                  <b>
                    <font size="1" face="Arial">NAME /<br>GRADE</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="left"><b>
                    <font size="1" face="Arial">NOS / KG</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="left">
                <b>
                    <font size="1" face="Arial">NAME /<br>GRADE</font>
                  </b></td>

                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="left"><b>
                    <font size="1" face="Arial">NOS / KG</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="left">
                <b>
                    <font size="1" face="Arial">NAME /<br>GRADE</font>
                  </b></td>

                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="center">
                  <b>
                    <font size="1" face="Arial">NOS /<br>KG</font>
                  </b></td>

                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="left">
                 <b>
                    <font size="1" face="Arial">NAME/<br>GRADE</font>
                  </b></td>


                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="center">
                  <b>
                    <font size="1" face="Arial">NOS /<br>KG</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="left">
                <b>
                    <font size="1" face="Arial">NAME/<br>GRADE</font>
                  </b></td>


                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="center">
                 <b>
                    <font size="1" face="Arial">NOS /<br>KG</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="left">
                <b>
                    <font size="1" face="Arial">NAME/<br>GRADE</font>
                  </b></td>

                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="center">
                  <b>
                    <font size="1" face="Arial">NOS /<br>KG</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="left">
                <b>
                    <font size="1" face="Arial">NAME/<br>GRADE</font>
                  </b></td>

                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="center">
                 <b>
                    <font size="1" face="Arial">NOS /<br>KG</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="left">
                   <b>
                        <font size="1" face="Arial">NAME/<br>GRADE</font>
                  </b></td>

                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="center">
              
                   <b>
                    <font size="1" face="Arial">NOS /<br> KG </font>
                  </b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="left">
                   <b>
                    <font size="1" face="Arial">NOS /<br>SIZE</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="left">
                  
                 <b>
                    <font size="1" face="Arial">MTR/<br>NOS</font>
                  </b></td>

                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="left">
                <b>
                    <font size="1" face="Arial">NAME / SIZE</font>
                  </b></td>

                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="left">
                  <b>
                    <font size="1" face="Arial">MTR / NOS</font>
                  </b></td>


              </tr>
            

              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" height="25" align="center" id="SPR129">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR130">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR131">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR132">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR133">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR134">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR135">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR136">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR137">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR138">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR139">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR140">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR141">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR142">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR143">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR144">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR145">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR146">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR147">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR148">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR149">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR150">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR151">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR152">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR153">
                  <font color="#000000"><br></font>
                </td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" height="25" align="center" id="SPR154">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR155">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR156">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR157">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR158">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR159">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR160">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR161">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR162">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR163">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR164">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR165">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR166">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR167">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR168">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR169">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR170">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR171">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR172">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR173">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR174">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR175">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR176">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR177">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR178">
                  <font color="#000000"><br></font>
                </td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" height="18" align="center"><b>
                    <font size="1" face="Arial">TOTAL</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR179">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR180">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR181">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR182">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR183">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR184">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR185">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR186">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR187">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR188">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR189">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR190">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR191">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR192">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR193">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR194">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR195">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR196">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR197">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR198">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR199">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR200">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR201">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR202">
                  <font color="#000000"><br></font>
                </td>
              </tr>
              
            </tbody>
             </table>
              <table class="table-hover table-sm" cellspacing="0" border="0"   width="100%">
           
            <tbody class="">

              <tr>

                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="18" valign="center" height="18" bgcolor="#BFBFBF" align="center"><b>
                    <font size="1" face="Arial">GAP DETAILS ( BREAKDOWNS, LINE REJECTIONS, POWER CUTS, TRIAL ETC. )
                    </font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="8" valign="center" bgcolor="#BFBFBF" align="left"><b>
                    <font size="1" face="Arial">LINE REJECTION DETAILS</font>
                  </b></td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="center" height="18" align="left"><b>
                    <font size="1" face="Arial">PROBLEM DESCRIPTION</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="left"><b>
                    <font size="1" face="Arial">FROM</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="center" align="center"><b>
                    <font size="1" face="Arial">&nbsp;&nbsp;TO&nbsp;&nbsp;</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="left"><b>
                    <font size="1" face="Arial">DURATION (Min.)</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="5" valign="center" align="center"><b>
                    <font size="1" face="Arial">WHY</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="4" valign="center" align="left"><b>
                    <font size="1" face="Arial">COUNTERMEASURE</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="left"><b>
                    <font size="1" face="Arial">CATEGORY (4M)</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="center" align="left"><b>
                    <font size="1" face="Arial">PART NAME</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="center" align="left"><b>
                    <font size="1" face="Arial">REJECTED NOS.</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="center" align="left"><b>
                    <font size="1" face="Arial">NATURE OF DEFECT</font>
                  </b></td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="middle" height="18" align="center" id="SPR203">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR204">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR205">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR206">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="5" valign="middle" align="center" id="SPR207">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="4" valign="middle" align="center" id="SPR208">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR209">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="middle" align="center" id="SPR210">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR211">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="middle" align="center" id="SPR212">
                  <font color="#000000"><br></font>
                </td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="middle" height="18" align="center" id="SPR213">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR214">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR215">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR216">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="5" valign="middle" align="center" id="SPR217">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="4" valign="middle" align="center" id="SPR218">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR219">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="middle" align="center" id="SPR220">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR221">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="middle" align="center" id="SPR222">
                  <font color="#000000"><br></font>
                </td>
              </tr>

              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="middle" height="18" align="center" id="SPR223">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR224">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR225">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR226">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="5" valign="middle" align="center" id="SPR227">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="4" valign="middle" align="center" id="SPR228">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR229">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="middle" align="center" id="SPR230">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR231">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="middle" align="center" id="SPR232">
                  <font color="#000000"><br></font>
                </td>
              </tr>
             
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="middle" height="18" align="center" id="SPR253">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR254">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR255">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR256">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="5" valign="middle" align="center" id="SPR257">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="4" valign="middle" align="center" id="SPR258">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR259">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="8" valign="center" align="center"><b>
                    <font size="1" face="Arial">PRODUCTION SUMMARY</font>
                  </b></td>
              </tr>
              
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="middle" height="18" align="center" id="SPR260">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR261">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR262">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR263">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="5" valign="middle" align="center" id="SPR264">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="4" valign="middle" align="center" id="SPR265">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR266">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="8" rowspan="3" valign="center" align="center" id="SPR267">
                  <font color="#000000"><br></font>
                </td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="middle" height="18" align="center" id="SPR282">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR283">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR284">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR285">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="5" valign="middle" align="center" id="SPR286">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="4" valign="middle" align="center" id="SPR287">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR288">
                  <font color="#000000"><br></font>
                </td>
              </tr>

              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="3" valign="middle" height="18" align="center" id="SPR289">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR290">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  valign="middle" align="center" id="SPR291">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR292">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="5" valign="middle" align="center" id="SPR293">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="4" valign="middle" align="center" id="SPR294">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" valign="middle" align="center" id="SPR295">
                  <font color="#000000"><br></font>
                </td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="2" rowspan="3" valign="middle" height="53" align="left"><b>
                    <font size="1" face="Arial">SIGNATURE WITH DATE</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="8" valign="middle" align="center" id="SPR296">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="8" valign="middle" align="center" id="SPR297">
                  <font color="#000000"><br></font>
                </td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="8" valign="middle" align="center" id="SPR298">
                  <font color="#000000"><br></font>
                </td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="8" valign="center" align="left"><b>
                    <font size="1" face="Arial">TEAM LEADER : 
                      <span class="TEAM LEADER"></span>
                    </font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="8" valign="center" align="left"><b>
                    <font size="1" face="Arial">GROUP LEADER :
                      <span class="GROUP LEADER"></span>
                    </font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="8" valign="center" align="left"><b>
                    <font size="1" face="Arial">DEPARTMENT HEAD : 
                      <span class="DEPARTMENT HEAD"></span>
                    </font>
                  </b></td>
              </tr>
              <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="8" valign="center" align="left"><b>
                    <font size="1" face="Arial">PREPARED BY</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="8" valign="center" align="left"><b>
                    <font size="1" face="Arial">CHECKED BY</font>
                  </b></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                  colspan="8" valign="center" align="left"><b>
                    <font size="1" face="Arial">APPROVED BY</font>
                  </b></td>
              </tr>
              
            </tbody>
          </table>
          
</body>

<script src="{{url_for('static',filename='socket.js')}}"></script>   
    
<script>
var socket=io.connect('http://'+document.domain+":"+location.port)


var shift_date = '{{shift_date}}'
var shift_id = '{{shift_id}}'
var machine = "{{machine}}"

to_send = {
  "SHIFT ID": shift_id,
  "SHIFT DATE" : shift_date,
  "MACHINE": machine,
}

//socket.emit("get_SPR_data", to_send)



socket.on("send_SPR_data",function(data){


console.log("SPR Data Received !");

console.log(data);
console.log("==============================");

 SPR_FIELDS = [
            "DATE",
            "SHIFT",
            "MACHINE",
            "TEAM LEADER",
            "TEAM MEMBERS",
            "DEPARTMENT HEAD",
            "TEAM LEADER",
            "TEAM MEMBERS",
            "DEPARTMENT HEAD",
            "GROUP LEADER",
            ]

for (var i=0; i < SPR_FIELDS.length ; i ++ ){
  if (SPR_FIELDS[i] in data){
    console.log(SPR_FIELDS[i])
    elements = document.getElementsByClassName(SPR_FIELDS[i])
    for (var j= 0; j < elements.length;j++){
      elements[j].innerHTML = data[SPR_FIELDS[i]];
    }
  
  }
}





});



</script> 


</html>             
        
            
   

