
{% extends "template.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }


  .Rectangle {

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
   .Rectangle_without_color {

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;

  }

.dataTables_scrollHeadInner{  width:100% !important; }
.dataTables_scrollHeadInner table{  width:100% !important; }


</style>




  <style>


    @media (min-width: 300px) {
  .crk {
    height:140vh;
    overflow-y: auto;
  }
}

@media (min-width: 700px) {
  .crk {
    height:100vh;

  }
}


@media (min-width: 500px) {
  .crk1 {
    height:78vh;

  }
}

@media (min-width: 700px) {
  .crk1 {
    height:73vh;
    margin-left:55px;
    margin-top:-45px;
  }
}

@media (min-width: 1024px) {
  .crk {
    height:110vh;
    overflow-y: auto;
  }
}
    .frame {
       overflow-x: auto;
       line-height: 1em;
       overflow-y:auto;
       max-height: 90vh;
   }



   .frame::-webkit-scrollbar {
       -webkit-appearance: none;
   }

   .frame::-webkit-scrollbar:vertical {
       width: 10px;
   }

   .frame::-webkit-scrollbar:horizontal {
       height: 20px;
   }

   .frame::-webkit-scrollbar-thumb {
       border-radius: 8px;
       border: 2px solid white; /* should match background, can't be transparent */
       background-color: rgba(0, 0, 0, .5);
   }

    </style>


   <div class="tx-dark tx-15 tx-bold pb-2"> SHIFT PRODUCTION REPORT </div>

      <div class="row">


        <div class="col-12 col-lg-6 p-2 mg-2">


    <div class='row '>

            <div class='col-lg-4 col-12'>

                <div class="form-group">
                <label for="Shift Date" class="tx-black"> Shift Date </label>
                <input type="date" class="form-control form-control-sm" id='Shift Date' placeholder="-">
               </div>

          </div>

          <div class='col-lg-4 col-md-12'>
                    <div class="form-group">
                        <label for="reasonlist" class="tx-black">Shift ID</label>
                        <select class="form-control  form-control-sm" data-placeholder="A" id="Shift ID"></select>
                       </div>



                       <script language="javascript" type="text/javascript">

                            //  var reason = ["Startup Rejection" ,"SILVER", "SHORT MOLDING","POWER CUT REJECTION","SINK MARK","BURN MARK","OIL MARK","FLOW MARK","WILDLINE","BLACK MARK","BLACK FLOW","MOISTURE","SCRETCH","PIN MARK","PATCH MARK","BLACK DOT","GAS MARK","AIR BUBBLE"];
                            var reason =["A","B","C"]
                            var reasonvar = document.getElementById('Shift ID');
                            for (var i = 0; i <= reason.length - 1; i++) {
                                var opt = document.createElement('option');
                                opt.innerHTML = reason[i];
                                opt.value = reason[i];
                                reasonvar.appendChild(opt);
                            }
                        </script>
                    </div>


        </div>


<script>
function get_shift_records(){

  //SPR/<machine>/<shift_date>/<shift_number>

  machine = document.getElementById("mac_name").innerText;
  shift_date = document.getElementById('Shift Date').value;
  shift_id = document.getElementById('Shift ID').value;



  var iframe = document.getElementById('FrameId');

  document.getElementById("console").innerHTML =  'Shift Production Report Not Generated or Found.Please search after the shift is complete.';




  temp = shift_date.split("-");
  //2020-10-03
  shift_date = temp[2] +"-"+temp[1]+"-"+temp[0]

  //"/SPR_template/27-09-2020/A/JSW 550T-I"
  iframe.src = "SPR_template/" +shift_date + "/"+ shift_id + "/" + machine;

  document.getElementById("console").innerHTML = "SPR_template/" +shift_date + "/"+ shift_id + "/" + machine
  document.getElementById("console").innerHTML = "SPR_template/" +shift_date + "/"+ shift_id + "/" + machine

}
function print_SPR(){
  window.frames["FrameId"].focus();
  window.frames["FrameId"].print();

}

</script>


</div>


 <div class="col-12 col-lg-6 mg-2">


    <div class='row '>
      <div class='col-lg-4 col-12'>

            <div class='btn-primary btn-block btn Rectangle_without_color' onclick="get_shift_records()" > SEARCH </div>
           </div>
</div>

    <div class='row '>
      <div class='col-12'>

            <small id='console' class="tx-dark" > Please search SPR (Shift Production Report) Post Shift Completion. </small>
           </div>



</div>

   <div class='row '>
      <div class='col-lg-4 col-12'>
         <div class="btn-primary btn-block btn Rectangle_without_color" onclick="print_SPR()"> PRINT </div>
      </div>
</div>



</div>






        <div class="col-12">

           <nav class="navbar   navbar-dark bg-dark pt-2 pd-x-10 pd-sm-x-20  pd-sm-t-10 d-flex justify-content-between">

                   <div>
            <div class="btn-group">
              <button type="button" class="btn Rectangle_without_color btn-primary">MACHINES</button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split Rectangle_without_color btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 550T-I</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 550T-II</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 450T-I</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 450T-II</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 450T-III</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 650T</a>
                <a class="dropdown-item" href="#" onclick="local_storage_machin(this)">JSW 350T</a>
            </div>
          </div>
        </div>


                <div>
                    <h6 class="card-title tx-uppercase tx-12 mg-b-0 tx-white">
                      <span>Machine Name: &nbsp;<span id="mac_name">None</span></span>
                    </h6>
              </div>
            </nav>


        </div>
        <div class="col-12">
          <iframe id="FrameId"  name="FrameId" src="/SPR_template/27-09-2020/A/JSW 550T-I" height="680px" width="100%" style="overflow-x: auto; overflow-y: auto" ></iframe>

          <!--<iframe  id='FrameId' src="SPR/JSW 550T-I/2020-09-28/B" height="680px" width="100%" style="overflow-x: auto;" ></iframe> -->

        </div>






    <!-- br-mainpanel -->
    <div id="modal4" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content tx-size-sm ">
          <div class="modal-header pd-x-20 bg-gray-300">
           <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold tx-white">Approve</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pd-20 ht-300 ht-md-500 ht-lg-500 wd-300 wd-md-400 wd-lg-800" style="height: 50vh;">
            <div><span class="tx-danger">* Warning</span>&nbsp;<br><span class="tx-dark">Are You Sure?</span></div>
               </div><!-- modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-warning tx-size-xs" data-dismiss="modal" onclick="CountRows()">Approve</button>
            <button type="button" class="btn btn-danger tx-size-xs" data-dismiss="modal">Decline</button>
          </div>
        </div>
      </div><!-- modal-dialog -->
    </div><!-- modal -->
    <div id="modal5" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content tx-size-sm ">
          <div class="modal-header pd-x-20 bg-gray-300">
           <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold tx-white">Report</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pd-20 ht-300 ht-md-500 ht-lg-500 wd-300 wd-md-400 wd-lg-800" style="height: 80vh;">
            <!--<iframe src="/home/cipl/Desktop/kpcl_testing/sample.pdf" style="height:100%;width:100%"></iframe>

               </div><!-- modal-body -->

          <div class="modal-footer">
            <button type="button" class="btn btn-warning tx-size-xs" data-dismiss="modal" >Approve</button>
            <button type="button" class="btn btn-danger tx-size-xs" data-dismiss="modal">Decline</button>
          </div>
        </div>
      </div><!-- modal-dialog -->
    </div><!-- modal -->
<script>
</script>
<script>
  //alert(h);
  //document.getElementById('FrameID').contentWindow.location.reload(true);
  </script>
    <!-- ########## END: MAIN PANEL ########## -->
    <!--<script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{url_for('static',filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{url_for('static',filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{url_for('static',filename='lib/moment/moment.js')}}"></script>
    <script src="{{url_for('static',filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{url_for('static',filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{url_for('static',filename='lib/peity/jquery.peity.js')}}"></script>
    <script src="{{url_for('static',filename='js/bracket.js')}}"></script>-->

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
</body>
</html>
<script>
  var socket=io.connect('http://'+document.domain+":"+location.port)
  var date_time;
  var machine_name;
  var date_shift;
function local_storage_machin(x){
  mac_name = x.innerText
  machine_name = mac_name
  socket.emit("mac_name",String(mac_name))

}

socket.emit("get_current_shift_SPR_page");

//get_current_shift_SPR_page


socket.on("shift_details_SPR_page",function(data){


  console.log("shift_details_SPR_page");
  console.log(data);

  //03/10/2020
  temp = data["SHIFT DATE"].split("/");
  //2020-10-03
  shift_date = temp[2] +"-"+temp[1]+"-"+temp[0]
  document.getElementById('Shift Date').value = shift_date ;
  document.getElementById('Shift ID').value = data["SHIFT ID"];

 machine = document.getElementById("mac_name").innerText;
  shift_date = document.getElementById('Shift Date').value;
  shift_id = document.getElementById('Shift ID').value;



  var iframe = document.getElementById('FrameId');

  temp = shift_date.split("-");
  //2020-10-03
  shift_date = temp[2] +"-"+temp[1]+"-"+temp[0]

  //"/SPR_template/27-09-2020/A/JSW 550T-I"
  iframe.src = "SPR_template/" +shift_date + "/"+ shift_id + "/" + machine;

  document.getElementById("console").innerHTML = "SPR_template/" +shift_date + "/"+ shift_id + "/" + machine
  document.getElementById("console").innerHTML = "SPR_template/" +shift_date + "/"+ shift_id + "/" + machine



})



socket.on("get_date",function(x){
  console.log(x)
  date_time = x;
  str1 = '<div class="btn-group">\
                <button type="button" class="btn btn-primary btn-sm">Date</button>\
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                  <span class="sr-only">Toggle Dropdown</span>\
                </button>\
                <div class="dropdown-menu">'
                for(key in date_time){
                 str1 +='<a class="dropdown-item" href="#" onclick="local_time(this)">'+key+'</a>'
                }
             str1+= '</div>\
            </div>'
  document.getElementById("date").innerHTML = str1
})
function local_time(x){
  date_shift = String(x.innerText)

  str2 = '<div class="btn-group">\
                <button type="button" class="btn btn-primary btn-sm">Time</button>\
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                  <span class="sr-only">Toggle Dropdown</span>\
                </button>\
                <div class="dropdown-menu">'
                  for(var j = 0; j < date_time[x.innerText].length; j++){
                    str2 +='<a class="dropdown-item" href="#" onclick="spr_table(this)">'+date_time[x.innerText][j][0]+' To '+date_time[x.innerText][j][1]+'</a>'
                  }
             str2+= '</div>\
            </div>'

  document.getElementById('time').innerHTML = str2

}

function spr_table(x){
  spr_time = (x.innerText).split(" To ")
  socket.emit("spr_report",[String(machine_name),String(date_shift),[parseFloat(spr_time[0]),parseFloat(spr_time[1])]])
  console.log("emmited")
}
socket.on("received_spr",function(x){
  console.log(x["xx"][2])
  jj = x["xx"][2]
  jj = Object.values(jj)
  console.log(jj)

  jj.sort(function(a, b){
    return a.rejectednos-b.rejectednos
})
jj = jj.slice(jj.length-5,jj.length)
jj.reverse();
rr = {}
for(kk = 0; kk < 5; kk++){
  rr["partname"+String(kk+1)] = jj[kk]
}
x["xx"][2] = rr
console.log(x["xx"])
  demodict = x["xx"]
  datapass()
})




$( document ).ready(function() {
  if(window.localStorage.getItem('machine_name') != null){
    flag_machine_name = window.localStorage.getItem('machine_name')
    //document.getElementById("machine_name").value = flag_machine_name
    document.getElementById("mac_name").innerText = flag_machine_name


    console.log("Get Production Order By Machine");
    socket.emit("get_production_order_details_by_machine",flag_machine_name);




  }else{
    alert("Please Select a Machine")
  }
})

function local_storage_machin(machine){
  window.localStorage.setItem('machine_name', String(machine.innerText));
  flag_machine_name = window.localStorage.getItem('machine_name')
  //document.getElementById("machine_name").value = flag_machine_name
  document.getElementById("mac_name").innerText = flag_machine_name

  console.log("Get Production Order By Machine");
  socket.emit("get_production_order_details_by_machine",flag_machine_name);

}


</script>






{% endblock %}
