<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
   <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
  <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="Cyronics">

    <title>Workplace Security</title>

    
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
  
  
  
  
  <style>
:root {
  --windows-blue: #365ec8;
  --bluish: #3091c9;
  --warm-blue: #5460dc;
  --white: #ffffff;
  --dusk-blue: #28499f;
  --bluey-grey: #85a5c2;
  --light-sky-blue: #d4e3f0;
  --lipstick: #bb166b;
  --bluish-grey-20: rgba(115, 137, 156, 0.2);
  --topaz: #16b8bb;
  --aquamarine: #00d7af;
  --metallic-blue: #546593;
  --bluish-grey: #73899c;
  --very-light-pink: #d7d7d7;
  --gray-medium: rgba(205, 205, 210, 0.5);
  --text: #77777a;
  ---style: #002251;
} 

  
.Rectangle {
  
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);
  
   font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--white);
  
}
  
.transparent-input {
   background-color: rgba(0, 0, 0, 0);
   border:none;
   
   font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--light-sky-blue);
   
   }
   
   
.div_bottom_border{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border:none;
  border-bottom: 2px solid white;
}   
      
input[readonly].transparent-input{
  background-color:transparent;
  border:none;
  
   font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--light-sky-blue);
  
}
.form-control:focus {
  background-color:transparent;
  color: white;
  
   font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--light-sky-blue);
}

.transparent-input.EDIT {
  font-family: Manrope;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--light-sky-blue);
}


.Forgot-Password {
  font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: var(--white);
}

.Your-account-is-pend {
  font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}


.form-control.base {
  border-radius: 5px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  background-color: #fbfbfb;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--windows-blue)
  
  }
  
      

.form-control:focus {
  background-color:transparent;
  color: white;
  
   font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--light-sky-blue);
}

.transparent-input.EDIT {
  font-family: Manrope;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--light-sky-blue);
}




.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}
.text-line {
        background-color: transparent;
        color: #eeeeee;
        outline: none;
        outline-style: none;
        outline-offset: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid #eeeeee 1px;
        padding: 3px 10px;
    }

::placeholder {
  color: white;
}

.error
{
  color: white;
  size: 80%
}
.hidden
{
  display:none;
}
  </style>
  
  
  </head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <body >

      <div class="d-flex align-items-center justify-content-center ht-100v bg-dark" >
        <div class="login-wrapper wd-300 wd-xs-350 pd-15 pd-xs-40 ">
       
      <a href="/epass" class="signin-logo tx-center tx-28 tx-bold tx-inverse pd-b-20"><span class="tx-normal"><img src="/static/img/cyronics_iot_logo_white.png" width="80%" style="margin-bottom: 410px; margin-left: 560px; margin-right: 100%;" ></span></a> 


        </div> 
  


          <div class="form-group pt-2" style=" margin-right: 600px;margin-bottom: 40px;margin-left: 150px;margin-top: 175px">
             <p id="Message" style="color: white;"></p>
           
            
            <input type="text" id="name" class="text-line" placeholder=" Enter Name" style="width: 150%;height: 38px;"  required>
            

          
            <br><br>
            <input type="text"  id="no"  class="text-line"  placeholder="Phone Number" style="width: 150%; height: 38px;" pattern="^\d{10}$" required >
        <div id="phone_error" class="error hidden">Please enter a valid phone number</div>

            <br><br>
            <input type="text" id="organization"  class="text-line" placeholder="Organization" style="width: 150%; height: 38px;" required>

            <br><br>
            <input type="text" id="message"  class="text-line" placeholder="Message" style="width: 150%;height: 38px;" required>
            <p id="m1" style="color: white"></p>
 
       
    
        <br><br>
           <div class="row">
            <a class="btn btn-block mg-t-10 tx-white Rectangle tx-center Forgot-Password " href="/login" style="width: 30%;margin-left: 18px " >BACK</a>
    
                    <button onclick="create()" class="btn btn-block mg-t-10 tx-white Rectangle tx-center Forgot-Password" style="margin-left:11px;;width: 30%;margin-top: 10px;line-height: 1.00;" > SUBMIT </button>  
          </div>
    
        <div class="row">
          
            <div class="row pt-10" style=" margin-left:300px;margin-top: 5px; " >
              <div class="">
              </div>
            </div>
        
       </div>

      
        <div  id ="divinfo" class="Alert-font" style="margin-left: 100px;">
       
        </div>
    
      <div class="row p-4 Alert-font tx-white" >
    
      Contact Details :
    
       <br>
       <br>
      Center for Industry 4.0<br>
      Mail : info@c4if.org<br>
    </div>
       
 
</div>  
                  
    <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/highlightjs/highlight.pack.js')}}"></script>
    <script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>
  

  <script>



    var socket=io.connect('http://'+document.domain+":"+location.port)


function validatePhoneNumber(input_str) {
    var re = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im;

    return re.test(input_str);
}


    function create(){
   
   var name=document.getElementById("name").value;
   var no=document.getElementById("no").value;
    var  organization=document.getElementById("organization").value;
      var message=document.getElementById("message").value;

if (!validatePhoneNumber(no)) {
        document.getElementById('phone_error').classList.remove('hidden');
        return false
    } 




  if (name == "" || no== "" || organization== "" || message== "" ) {
    //alert("ALL Info must be filled out");
    document.getElementById("m1").innerHTML="please fill the all info ...!";
    return false
  }
           
          
    data={
      "name":document.getElementById("name").value,
      "no":document.getElementById("no").value,
      "organization":document.getElementById("organization").value,
      "message":document.getElementById("message").value
    }

  
    console.log(data);
    socket.emit("FAQ_data" ,data)


  }

  socket.on("support_FAQ_data",function(data){

  if (data == "1"){
    document.getElementById("Message").innerHTML = "Your Message is recorded please refresh <br>to record a new msg...!";  
    document.getElementById("name").value = '';
    document.getElementById("no").value = '';
     document.getElementById("organization").value = '';
      document.getElementById("message").value = '';

document.getElementById('phone_error').innerHTML='';
document.getElementById('m1').innerHTML='';
  } 

});




  </script>

  </body>
</html>
