<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
	<!--	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
	 <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Cyronics</title>

	<!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket_epass.css')}}">

    <!----data tables-->
     <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css')}}"> -->

	
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

	<style>
.br-active-item {

background-color: #ef6c00 !important ; 
color:#FFFFFF !important;

}



    .LOGO-Header {

        width: 181px;
        height: 45px;
        object-fit: contain;

}

.images {

        width: 79px;

        height: 20px;

        object-fit: contain;

}

.header {

width: 1440px;

height: 60px;


}

.Hello-Firstname {
  width: 258.5px;
  height: 26.4px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: right;
  color: white;
}

.My-Pass {
  width: 83px;
  height: 19px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: white;
}
.My-Pass-Icon {

width: 24px;

height: 24px;

object-fit: contain;

}

.Created-By {
width: 92px;
height: 11px;
font-family: Montserrat;
font-size: 10px;
font-weight: 300;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: 1.2px;
color: blue;
}

.Cyronics-Logo-Web {
width: 122px;
height: 18px;
object-fit: contain;
opacity: 0.9;
font-family: Montserrat;
font-size: 14.4px;
font-weight: 300;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: 1.8px;
color: blue;
}

.Cyronics-Logo-Web .text-style-1 {
font-size: 8.4px;
letter-spacing: 1.2px;
}

.My-Pass-Icon {
width: 24px;
height: 24px;
object-fit: contain;
}

.Scan {
width: 24px;
height: 24px;
object-fit: contain;
background-color: #000000;
}

.Admin-Dashboard-Icon {
width: 24px;
height: 24px;
object-fit: contain;
}

.Notifications-Icon {
width: 21px;
height: 24px;
object-fit: contain;
}

.My-History-Icon {
width: 28px;
height: 24px;
object-fit: contain;
}

.Social-Distancing-Icon {
width: 24px;
height: 24px;
object-fit: contain;
}

.Contact-Tracing-Icon {
width: 24px;
height: 24px;
object-fit: contain;
}

.My-Account-Icon {
width: 24px;
height: 24px;
object-fit: contain;
border: solid 0.2px var(--white);
}

.Help-FAQ-Icon {
width: 24px;
height: 24px;
object-fit: contain;
}
.Log-Out-Icon {
width: 29px;
height: 24px;
object-fit: contain;
}

.Hamburger {
  width: 58px;
  height: 9px;
  object-fit: contain;
}

.-Jun-2020 {
  width: 112px;
  height: 19px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: right;
  color: var(--dusk-blue);
}

.CLOSE {
  
  font-family: Manrope;
  font-size: 9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.35px;
  color: #28499f;
  margin-left: -10px;
}

.Close-Menu {

      width: 12px;

      height: 12px;

      object-fit: contain;

}
  </style>
	<!--<style>
      .goog-te-banner-frame,.custom-translate {
              display: none;
      }
      
      body {
              top: 0 !important;
          }
      .goog-tooltip {
          display: none !important;
      }
      .goog-tooltip:hover {
          display: none !important;
      }
      .goog-text-highlight {
          background-color: transparent !important;
          border: none !important; 
          box-shadow: none !important;
      }
      
      
      </style>-->

	
  </head>

  <body id="body_id" class="">
<!--rgb(57, 12, 161)-->
   <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo bg-dark pr-0 tx-white" id="logo_change"> <img src="/static/img/cyronics_iot_logo_white.png" width="80px" class="LOGO-Header"></div>
    <div class="br-sideleft" >


	
	
	
	 <div class="br-sideleft-menu" style="height:90hv !important; overflow-y:sxroll !important;">
       
	    {% if 'Employee' == role or 'Admin' == role or "Security" == role or 'Super-Admin' == role %}
      <a href="/trace" id="trace" class="br-menu-link">
        <div class="br-menu-item mg-t-10">
    <div class="col-2"><i class="fa fa-connectdevelop fa-2x" style="color:607d8b;"></i></div>
        <div class="col-10 "><span class="menu-item-label"> Trace </span></div>
        </div><!-- menu-item -->
      </a><!-- br-menu-link -->
		 {% endif %}
		
     {% if "Security" == role or 'Super-Admin' == role %}
     <a href="/events" id="events" class="br-menu-link ">
      <div class="br-menu-item mg-t-10">
  <div class="col-2"><i class="fa fa-calendar fa-2x " style="color:#607d8b;"></i></div>
      <div class="col-10 "><span class="menu-item-label"> Bin Locations </span></div>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
		{% endif %}
		
    <!-- {% if 'Employee' == role or 'Admin' == role or "Security" == role or 'Super-Admin' == role %}
     <a href="/declaration" id="declaration" class="br-menu-link ">
      <div class="br-menu-item mg-t-10">
  <div class="col-2"><img src="/static/img/my-account-icon.png" width="90px" class="My-Pass-Icon"></div>
      <div class="col-10 "><span class="menu-item-label">Self Declaration</span></div>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
	<!--	{% endif %} -->
	
   
   <!-- {% if 'Admin' == role or "Security" == role or 'Super-Admin' == role %}
    <a href="/admin" id="admin" class="br-menu-link ">
      <div class="br-menu-item mg-t-10">
  <div class="col-2"><img src="/static/img/admin-dashboard-icon.png" width="90px" class="Admin-Dashboard-Icon"></div>
      <div class="col-10 "><span class="menu-item-label">Admin Dashboard</span></div>
      </div>
    </a>
		{% endif %} -->
		
  	
    {% if 'Employee' == role or 'Admin' == role or "Security" == role or 'Super-Admin' == role %}
    <a href="/assets" id="assets" class="br-menu-link ">
      <div class="br-menu-item mg-t-10">
  <div class="col-2"><i class="fa fa-map-marker fa-2x" style="color:#607d8b;"></i></div>
      <div class="col-10 "><span class="menu-item-label "> Empty Trolley Storage </span></div>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
		{% endif %}
		
	 {% if 'Admin' == role or 'Super-Admin' == role %}
    <a href="/empty_bin" id="empty_bin" class="br-menu-link ">
      <div class="br-menu-item mg-t-10">
  <div class="col-2"><i class="fa fa-map-marker fa-2x " style="color:#fff;"></i></div>
      <div class="col-10 "><span class="menu-item-label "> Empty Bin Storage  </span></div>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
		{% endif %}


  {% if 'Admin' == role or 'Super-Admin' == role %}
    <a href="/plant_details" id="plant_details" class="br-menu-link ">
      <div class="br-menu-item mg-t-10">
  <div class="col-2"><i class="fa fa-map-marker fa-2x " style="color:#607d8b;" ></i></div>
      <div class="col-10 "><span class="menu-item-label"> FG Storage </span></div>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    {% endif %}
 		

   {% if 'Admin' == role or 'Super-Admin' == role %}
    <a href="/hierarchy" id="hierarchy" class="br-menu-link ">
      <div class="br-menu-item mg-t-10">
  <div class="col-2"><i class="fa fa-map-marker fa-2x " style="color:#607d8b;"></i></div>
      <div class="col-10 "><span class="menu-item-label"> Dispatch Preparation </span></div>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    {% endif %}


  {% if 'Admin' == role or 'Super-Admin' == role %}
    <a href="/graphs" id="graphs" class="br-menu-link ">
      <div class="br-menu-item mg-t-10">
  <div class="col-2"><i class="fa fa-map-marker fa-2x " style="color:#607d8b;"></i></div>
      <div class="col-10 "><span class="menu-item-label"> In - transit </span></div>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    {% endif %}

  {% if 'Admin' == role or 'Super-Admin' == role %}
    <a href="/pqcr" id="pqcr" class="br-menu-link ">
      <div class="br-menu-item mg-t-10">
  <div class="col-2"><i class="fa fa-dashboard -o fa-2x " style="color:#607d8b;"></i> </div>
      <div class="col-10 "><span class="menu-item-label"> Dashboard </span></div>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    {% endif %}

     {% if 'Admin' == role or 'Super-Admin' == role %}
    <a href="/pqcr" id="pqcr" class="br-menu-link ">
      <div class="br-menu-item mg-t-10">
  <div class="col-2"><i class="fa fa-superpowers -o fa-2x " style="color:#607d8b;"></i> </div>
      <div class="col-10 "><span class="menu-item-label"> Analytics </span></div>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    {% endif %}


 	
  <hr>


  {% if 'Admin' == role or 'Super-Admin' == role %}
    <a href="/applications" id="applications" class="br-menu-link ">
      <div class="br-menu-item mg-t-10">
  <div class="col-2"><i class="fa fa-address-book fa-2x " style="color:#607d8b;" ></i></div>
      <div class="col-10 "><span class="menu-item-label">Applications</span></div>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    {% endif %}   


     {% if 'Employee' == role or 'Admin' == role or "Security" == role or 'Super-Admin' == role %}
    <a href="/notifications" id="notifications" class="br-menu-link ">
      <div class="br-menu-item mg-t-10">
  <div class="col-2"><i class="fa fa-bell fa-2x " style="color:#607d8b;"></i></div>
      <div class="col-10 "><span class="menu-item-label">Alerts & Notifications</span></div>
      </div>
    </a>
    {% endif %}
  



  <!-- {% if 'Admin' == role or 'Super-Admin' == role %}
  <a href="/manual_all" id="manual" class="br-menu-link ">
    <div class="br-menu-item mg-t-10">
  <div class="col-2"><img src="/static/img/notifications-icon.png" width="90px" class="Help-FAQ-Icon "></div>
    <div class="col-10 "><span class="menu-item-label"> No-Smartphone Pass </span></div>
    </div><!-- menu-item -->
  <!-- </a> --> <!-- br-menu-link -->
 <!-- {% endif %} -->  

	
<!--	 {% if 'Super-Admin' == role %}
  <a href="/settings" id="settings" class="br-menu-link ">
    <div class="br-menu-item mg-t-10">
<div class="col-2"><img src="/static/img/admin-dashboard-icon.png" width="90px" class="Help-FAQ-Icon "></div>
    <div class="col-10 "><span class="menu-item-label">General Settings</span></div>
    </div><!-- menu-item -->
 <!-- </a><!-- br-menu-link -->
	<!-- {% endif %}	-->
	
 {% if 'Super-Admin' == role %}
  <a href="/questions" id="questions" class="br-menu-link ">
    <div class="br-menu-item mg-t-10">
<div class="col-2"><i class="fa fa-gear fa-2x " style="color:#607d8b;"></i></div>
    <div class="col-10 "><span class="menu-item-label"> Sign Up Settings</span></div>
    </div><!-- menu-item -->
  </a><!-- br-menu-link -->
	{% endif %}	
	

	{% if 'Employee' == role or 'Admin' == role or "Security" == role or 'Super-Admin' == role %}
  <a href="/profile" id="profile" class="br-menu-link ">
    <div class="br-menu-item mg-t-10">
<div class="col-2"><i class="fa fa-id-card fa-2x " style="color:#607d8b;"></i></div>
    <div class="col-10 "><span class="menu-item-label">My Account</span></div>
    </div>
  </a>
  {% endif %}   
  

  {% if 'Employee' == role or 'Admin' == role or "Security" == role or 'Super-Admin' == role %}
  <a href="/contact" id="contact" class="br-menu-link ">
    <div class="br-menu-item mg-t-10">
  <div class="col-2"><i class="fa fa-question fa-2x " style="color:#607d8b;"></i></div>
    <div class="col-10 "><span class="menu-item-label">Help</span></div>
    </div><!-- menu-item -->
  </a><!-- br-menu-link -->
  {% endif %} 
	
	
  {% if 'Employee' == role or 'Admin' == role or "Security" == role or 'Super-Admin' == role %}
  <a  onclick='logout()' id="login" class="br-menu-link" >
    <div class="br-menu-item mg-t-10">
<div class="col-2"><i class="fa fa-sign-out fa-2x " style="color:#607d8b;"></i></div>
    <div class="col-10 "><span class="menu-item-label tx-gray-900">Log Out</span></div>
    </div><!-- menu-item -->
  </a><!-- br-menu-link -->
	{% endif %}	


  
	<!--<hr>-->
  <!--<center><div class="Created-By mg-t-20">CREATED BY</div></center>	

   <center><img src="static/img/c4i4logo.png" style="width:80%;height:80%" alt=""></center>
   <center><img src="static/img/logo2.png" style="width:60%;height:70%" alt=""></center>-->	

	  <!--<hr>
	  <div class="row br-menu-link">
	  <center>
	   Hello , {{ name }} !
     </center>
	  </div>
	
	  <button onclick="logout()" class="btn btn-warning btn-block">Logout</button>-->
  
  
      </div>
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header pl-0 bg-dark" >
      <div class="br-header-left ">
        <!--<div class="navicon-left hidden-md-down"><a id="btnLeftMenu"  href=""><i class=" tx-white icon ion-navicon-round" ></i></a></div>-->
        <!--<div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile"  href=""><i class="tx-white icon ion-navicon-round" ></i></a></div>-->
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile"  href=""><img src="static/img/hamburger.png" class="Hamburger" alt=""></a></div>

       
      </div><!-- br-header-left -->
      <div class="br-header-right">
        <div class="dropdown">
          <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
            <span class="logged-name hidden-md-down tx-black tx-6" id="user"></span>
             
			
			 <!--<img src="/static/img/white_logo.svg" width="90px">-->
			 <!--<img src="/static/img/kpcl.png" width="30px" >	-->		 
			
			<div class="row" class="d-flex content-align-center" >
        <div class="Hello-Firstname" id="change_class">Hello,{{name}} !</div>
       <!-- <img src="/static/img/white_logo.svg" width="90px">&nbsp;&nbsp;-->
       <span id="google_translate_element" class="pd-x-20"></span>
      </div>

			
          </a>
          <div class="dropdown-menu dropdown-menu-header wd-200">
            <ul class="list-unstyled user-profile-nav">
            
    
            </ul>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
       </div>
     
    </div><!-- br-sideright -->
    <!-- ########## END: RIGHT PANEL ########## --->
    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel " id="main_panel">
	<div class="ht-1 bd bg-gray-100 pd-x-15 d-flex align-items-center justify-content-between mg-t-20">
    </div><!-- ht-65 -->

      <div class="br-pagebody">
<!--google translate script -->
<!--<script type="text/javascript" 
 src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
</script>-->
<!--<script>
document.getElementById("google_translate_element").addEventListener('change',function(){
     lang = document.getElementById(":0.targetLanguage").getElementsByTagName("select")[0].selectedIndex
     a = document.querySelector("#google_translate_element select");
        a.selectedIndex=lang;
        a.dispatchEvent(new Event('change'));
}) 
function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
</script> --> 


	  
	  <script src="{{url_for('static',filename='socket.js')}}"></script>   
    <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>

    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>                  
    
	<script src="{{ url_for('static', filename='echarts_js/echarts.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/echarts-gl.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/ecStat.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/dataTool.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/china.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/bmap.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/simplex.js')}}"></script> 
    <script type="text/javascript" src="http://www.gstatic.com/charts/loader.js"></script>
	
	<script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>   

    <!---------data_tables-->
    <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.15/api/row().show().js"></script>

    <!--<script src="//code.jquery.com/jquery-3.5.1.js"></script>-->
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	 <script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js" ></script>


    <!--custom script -->
	
<script type="text/javascript">
ht=window.screen.availWidth;
if(ht<768) {
  document.getElementById("change_class").className="images"
  document.getElementById("change_class").innerHTML='<img src="/static/img/cyronics_iot_logo.png" class="images">';
  document.getElementById("logo_change").className='br-logo  pr-0  bg-white'

  document.getElementById("logo_change").innerHTML='<div class="row ">\
                                                  <div class="col-8 d-flex justify-content-end mg-t-15"><img src="/static/img/close-menu.png"  class="Close-Menu"></div>\
                                                  <div class="col-4 CLOSE mg-t-15 d-flex justify-content-start">CLOSE</div>\
                                                  </div>';


 

}
//alert(window.screen.availHeight);
console.log( '{{ role }}' );

console.log( '{{ active_page }}' );

var element = document.getElementById('{{ active_page }}');
if(element){
	element.classList.add("br-active-item");
} 
</script>	

<script>
function logout(){
socket.emit("logout");
console.log('logout');
location.href = "/login";
Logout.showToast();

}

</script>	  
       {% block content %}
	   
	   
	   {% endblock %}
	
    <!-- ########## END: MAIN PANEL ########## -->
  </div>
  
	</div>
	   
	
       





	   </body>
</html>
