<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
   <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
  <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="Cyronics">

    <title>Workplace Security</title>

    
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
  
  
  
  
  <style>
:root {
  --windows-blue: #365ec8;
  --bluish: #3091c9;
  --warm-blue: #5460dc;
  --white: #ffffff;
  --dusk-blue: #28499f;
  --bluey-grey: #85a5c2;
  --light-sky-blue: #d4e3f0;
  --lipstick: #bb166b;
  --bluish-grey-20: rgba(115, 137, 156, 0.2);
  --topaz: #16b8bb;
  --aquamarine: #00d7af;
  --metallic-blue: #546593;
  --bluish-grey: #73899c;
  --very-light-pink: #d7d7d7;
  --gray-medium: rgba(205, 205, 210, 0.5);
  --text: #77777a;
  ---style: #002251;
} 

  
.Rectangle {
  
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);
  
   font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--white);
  
}
  
.transparent-input {
   background-color: rgba(0, 0, 0, 0);
   border:none;
   
   font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--light-sky-blue);
   
   }
   
   
.div_bottom_border{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border:none;
  border-bottom: 2px solid white;
}   
      
input[readonly].transparent-input{
  background-color:transparent;
  border:none;
  
   font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--light-sky-blue);
  
}
.form-control:focus {
  background-color:transparent;
  color: white;
  
   font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--light-sky-blue);
}

.transparent-input.EDIT {
  font-family: Manrope;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--light-sky-blue);
}


.Forgot-Password {
  font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: var(--white);
}

.Your-account-is-pend {
  font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}


.form-control.base {
  border-radius: 5px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  background-color: #fbfbfb;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--windows-blue)
  
  }
  
      

.form-control:focus {
  background-color:transparent;
  color: white;
  
   font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--light-sky-blue);
}

.transparent-input.EDIT {
  font-family: Manrope;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--light-sky-blue);
}




.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}
.text-line {
        background-color: transparent;
        color: #eeeeee;
        outline: none;
        outline-style: none;
        outline-offset: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid #eeeeee 1px;
        padding: 3px 10px;
    }

::placeholder {
  color: white;
}

.error
{
  color: white;
  size: 80%
}
.hidden
{
  display:none;
}

  </style>
  
     
       
    
  </head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <body>

      <!--<div class="ht-100v bg-primary" style="background-image: linear-gradient(to bottom, #3b76ef 0%, #211b4e 100%);" >

     <br><br>
     <a href="/epass" class="d-flex  justify-content-center "><span class="tx-normal"><img src="/static/img/logo-small.png"  width="60%" style="margin-left: 30px"></span></a> 
       
      <br><br><br>
      <p style="font-size: 27px;text-align: center;margin-right: 42px;">Terms and Conditions</p>
      
      <br><br>
      <div style="margin-left: 200px">
            <b style="font-size: 20px">Data</b>   
            <p style="font-size: 18px">We understand the nature and sensitivity of data and have taken measures to ensure that your data is not compromised.</p><br> 

            <b style="font-size: 20px">Device Location</b>
          <p style="font-size: 18px">It is recommended to set your "Location Settings" to "Always".</p><br> 
            
            <b style="font-size: 20px">Bluetooth</b>
            <p  style="font-size: 18px">It monitors the device's proximity to another device. Please keep bluetooth on at all times.</p>
  
        </div>
        <br><br>
           
              <a class="btn btn-block mg-t-10 tx-white Rectangle" style="width: 6%;height: 35px;line-height: 1.50;margin-left: 600px" href="/login" >BACK</a>
                    
      </div>-->


      <div class="d-flex align-items-center justify-content-center ht-100v bg-dark"  >
      <div class="login-wrapper wd-300 wd-xs-350 pd-15 pd-xs-40 ">
       
    <a href="/epass" class="signin-logo tx-center tx-28 tx-bold tx-inverse pd-b-20"><span class="tx-normal"><img src="/static/img/cyronics_iot_logo_white.png"  width="80%"  style="margin-left: 40px"></span></a> 
       <!-- <div class="tx-center mg-b-30">Ensuring Workplace Safety</div> -->
<br>
    
      <p  class="tx-12 d-block mg-t-5  tx-center Forgot-Password " style="">Terms and Conditions</p>
    

        <b class="tx-12 d-block mg-t-5  tx-center Forgot-Password ">Data</b>   
            <p  class="tx-12 d-block mg-t-5  tx-center Forgot-Password " style="">We understand the nature and sensitivity of data and have taken measures to ensure that your data is not compromised.</p><br> 

            <b class="tx-12 d-block mg-t-5  tx-center Forgot-Password " style="">Device Location</b>
          <p class="tx-12 d-block mg-t-5  tx-center Forgot-Password " style="">It is recommended to set your "Location Settings" to "Always".</p><br> 
            
            <b class="tx-12 d-block mg-t-5  tx-center Forgot-Password " style="">Bluetooth</b>
            <p  class="tx-12 d-block mg-t-5  tx-center Forgot-Password " style="">It monitors the device's proximity to another device. Please keep bluetooth on at all times.</p>
  <br>

 <a class="btn btn-block mg-t-10 tx-white Rectangle tx-center Forgot-Password " href="/login" >BACK</a>
     
    
    
     
<br>
    <h5 style="font-size: 10px; color: white;" class="tx-12 d-block mg-t-5  tx-center ">Server=<small id="server_name" style="font-size: 10px; color: white;margin-left: 5px"></small></h5>

    <h5 style="font-size: 10px;color: white;" class="tx-12 d-block mg-t-5  tx-center " >Version = 1.0.6</h5>
    
   <!--<div class="signin-logo tx-center tx-15 tx-bold tx-inverse pd-b-20"><span class="tx-normal"><img src="/static/img/Logo_C4i4.png" width="55%"></span></div> -->
      
   
   
   
   
   </div><!-- login-wrapper -->
   
   
    </div><!-- d-flex -->

  

  <div class="modal" tabindex="-1" role="dialog" id="forgotpassword">
  <div class="modal-dialog" role="document">
    <div class="modal-content round-0">
        
    
    
    </div>
  </div>
</div>
 

   
                  
    <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/highlightjs/highlight.pack.js')}}"></script>
    <script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>
  

  <script>
    
document.getElementById("server_name").innerHTML= location.hostname;;

  </script>

  </body>
</html>
