{% extends "template.html" %}

{% block content %}
<style>

:root {
  --windows-blue: #365ec8;
  --bluish: #3091c9;
  --warm-blue: #5460dc;
  --white: #ffffff;
  --dusk-blue: #28499f;
  --bluey-grey: #85a5c2;
  --light-sky-blue: #d4e3f0;
  --lipstick: #bb166b;
  --bluish-grey-20: rgba(115, 137, 156, 0.2);
  --topaz: #16b8bb;
  --aquamarine: #00d7af;
  --metallic-blue: #546593;
  --bluish-grey: #73899c;
  --very-light-pink: #d7d7d7;
  --gray-medium: rgba(205, 205, 210, 0.5);
  --text: #77777a;
  ---style: #002251;
}
	
	
.CARD_HEADER_FONT {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.93px;
  text-align: center;
  color: var(--windows-blue);
}
.Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  background-color: var(--windows-blue);

  }
  .Alert-font {
  font-family: Manrope;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.61;
  letter-spacing: 0.38px;
  color: var(--dusk-blue);
}

.Have-you-experien {

	font-family: Manrope;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.14;
	letter-spacing: 0.38px;
	color: #28499f;

}

.YES {
								
								font-family: Manrope;
								font-size: 12px;
								font-weight: normal;
								font-stretch: normal;
								font-style: normal;
								line-height: 0.92;
								letter-spacing: 0.5px;
								color: #546593;
								background-color: ;
								}

.Oval-Copy {
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--bluish-grey-20);
}

.I-have-read-the-term {
  font-family: Manrope;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.3px;
  color: var(--dusk-blue);
}
.form-control.base {
  border-radius: 5px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  background-color: #fbfbfb;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--windows-blue)
  
  }

.form-control.base::-webkit-input-placeholder {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--windows-blue);
   border:none;
}

	</style>


       
	<div class="row no-gutters  mg-t-10">
		<div class="col-sm-12 col-lg-12">
          <div class="card">
              <div class="card-header CARD_HEADER_FONT">
                CONTACT TRACE
              </div><!-- card-header -->
              <div class="card-body Alert-font" >
					
				  <p>Search by:</p>
				  <form>
					<label class="radio-inline pr-1">
					  <input type="radio" name="optradio" id="searchby" checked>&nbsp; Name
					</label>
					<label class="radio-inline pr-1 ">
					  <input type="radio" name="optradio"> &nbsp; Phone Number
					</label>
				  </form>
					
					
					<form>
					  <div class="row">
						
						  <div class="form-group col-8">
							<input type="text" class="form-control base" id="search"  placeholder="Enter Name / Number ">
						  </div>
							<div class="col-4">
						  <button type="button" class="btn btn-block Rectangle" onclick="trace()"> <i class="fa fa-search tx-white" aria-hidden="true"></i></button>
						</div>
					  </div>
					</form>
					<div id="info"></div> 
						<hr>
						
						<div class="row p-2 CARD_HEADER_FONT" style="font-size: 12px;">
						 RECORD
						</div>
<table class="table">
  <thead>
    <tr>
	  <th scope="col" class="Rectangle" style="color: #fff;font-style: normal;">Name</th>
	  <th scope="col" class="Rectangle" style="color: #fff;font-style: normal;" >Number</th>
      <th scope="col" class="Rectangle" style="color: #fff;font-style: normal;">Timestamp</th>
    </tr>
  </thead>
  <tbody id="table">
   
  </tbody>
</table>
<div class="Alert-font pd-20"  style="font-size: 10px;">
 Last trace sync on <strong> 00:00:00. (Today)</strong> Notifications for extreme cases will be sent to super-admin.
</div>

<hr>
					
	<div class="row">
	<!--<div class="col-12">
		<button type="button" class="btn btn-warning btn-block">Export as CSV</button>
	</div>-->	
	</div>		
		</div>
		</div>
		</div>
	</div>
	 
	<link href="{{url_for('static',filename='lib1/jt.timepicker/jquery.timepicker.css')}}" rel="stylesheet">
	<script src="{{url_for('static',filename='lib/jt.timepicker/jquery.timepicker.js')}}"></script>
	<script src="{{url_for('static',filename='lib/jquery.maskedinput/jquery.maskedinput.js')}}"></script>

<script>
var socket=io.connect('http://'+document.domain+":"+location.port)

function trace(){

var searchby = 0;
if (document.getElementById('searchby').checked) {
		searchby = 'name';
	}
else{
	searchby= 'number';
	}
	console.log(searchby);
	
	var search = document.getElementById("search").value

	socket.emit("trace",{"searchby" : searchby , "search": search })
}

socket.on("trace_data",function(data){
	console.log(data[0]["name"])
	document.getElementById("info").innerHTML = "Data Found !";
	
	str =""
	for(i=0;i<data.length;i++){
		str += '<tr>\
				<td>'+data[i]["name"]+'</td>\
				<td>'+data[i]["number"]+'</td>\
				<td>'+data[i]["timestamp"]+'</td>\
			</tr>'
	} 
	document.getElementById("table").innerHTML = str;
})


socket.on("trace_data_status",function(data){
	console.log(data[0]["name"])
	document.getElementById("info").innerHTML = "No record Found !";
	document.getElementById("table").innerHTML = "";
})

</script>


{% endblock %}


  