{% extends "template_fleet.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
</style>
    <div class="br-pagebody">



     
    <div class="br-pagebody">
      <div class="card col-12 col-md-12 col-lg-12 ht-600 bg-white" style="max-height:600px;overflow-y: auto;">
<!--navbaar code here--->
<div class="row">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ht-45 col-12 col-md-12 col-lg-12">   
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>	
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">		
      <a href="#" class="nav-item nav-link active ">Realtime Tracking</a>
      <a href="#" class="nav-item nav-link " >Schedule</a>
      <a href="#" class="nav-item nav-link ">Forecast</a>
      
    </div>
  </div>
  
  <div class="btn-group pl-lg-5" role="group" >
    <a href="#"  class="btn btn-outline-light rounded-0 "><i class="fa fa-chevron-left"></i></a>
    <a href="#"  class="btn btn-outline-light rounded-0" ><i class="fa fa-chevron-right"></i></a>
  </div>
</nav>

</div>




<!--navbaar code here--->

<div class="row">
  <div class="col-4 col-md-4 col-lg-4 ht-50 bd bd-0 ">
    <h6 class="tx-dark mg-t-20">Live Tracking</h6>
    <!--map div here-->
  </div>
    <div class="col-4 col-md-4 col-lg-4 ht-50 bd bd-0 d-flex  justify-content-end">
        
      <h6 class="tx-dark mg-t-20">Trip Detail</h6>
     
      </div>
      <div class="col-4 col-md-4 col-lg-4 ht-50 bd bd-0 d-flex  justify-content-end">
        <a href="/" class="btn btn-danger btn-sm  ht-30 mg-t-10" style="">Back</a>    

      </div>
      
  
  </div>





        <div class="row">
          
  <div class="col-6 col-md-6 col-lg-6 ht-500 bd bd-2 bd-dark">
    <!--map div here-->
    <div id="mapCanvas"  style="height:68vh;overflow-y:auto" class="col-lg-12"></div>
  </div>
    <div class="col-6 col-md-6 col-lg-6 ht-500 bd bd-2 bd-dark" style="max-height:500px;overflow-y: auto;">
       
      <!--table code here-->
      <div class="row mg-t-10">
          <h6 class="tx-dark mg-l-20"> Trip ID:xxxxxx</h6>
      </div>
      <div class="row mg-t-10">
        <h6 class="tx-dark mg-l-20" id="Capacity"> Capacity: 80%</h6>
    </div>

    <div class="row mg-t-10 justify-content-center">
        <center>
        <img src="/static/img/capacity.jpg" style="height:250px">
      </center>
    </div>

    <div class="row mg-t-30">
        <h6 class="tx-dark mg-l-20" > Orders</h6>
    </div>

    <div class="row mg-t-5">
        <div class="col-12 col-md-12 col-lg-12 ht-200 bd bd-1 bd-dark" style="max-height:200px;overflow-y: auto;" id="orders">
          <div class="table-wrapper">
            <table id="datatable2" class="table display responsive nowrap tx-dark table-sm">
              <thead class='thead-colored thead-dark'>
                <tr>
                  <th class="wd-5p  text-center">Sr.</th>

                  <th class="wd-20p  text-center">Order Numbers</th>
                 
                 
                </tr>
              </thead>
              <tbody id="orders_fill">
                <!----------------------first row-------------------------->
      
              </tbody>
            </table>
          </div><!-- table-wrapper -->
        
        
        
        </div>
    </div>

    <div class="row mg-t-30">
        <h6 class="tx-dark mg-l-20"> Material</h6>
    </div>

    <div class="row mg-t-5">
        <div class="col-12 col-md-12 col-lg-12 ht-200 bd bd-1 bd-dark" style="max-height:200px;overflow-y: auto;">
          <div class="table-wrapper">
            <table id="datatable2" class="table display responsive nowrap tx-dark table-sm">
              <thead class='thead-colored thead-dark'>
                <tr>
                  <th class="wd-5p  text-center">Sr.</th>
                  <th class="wd-20p  text-center">Material Name</th>
                  <th class="wd-20p  text-center">Quantity</th>
                 
                 
                </tr>
              </thead>
              <tbody id="material_fill">
                <!----------------------first row-------------------------->
      
              </tbody>
            </table>
          </div><!-- table-wrapper -->
        
        </div>
    </div>

    <div class="row mg-t-30">
        <h6 class="tx-dark mg-l-20"> Vehicle Details</h6>
    </div>

    <div class="row mg-t-5">
        <div class="col-12 col-md-12 col-lg-12 ht-200 bd bd-1 bd-dark" style="max-height:200px;overflow-y: auto;">
          <div class="table-wrapper">
            <table id="datatable2" class="table display responsive nowrap tx-dark table-sm">
              <thead class='thead-colored thead-dark'>
                <tr>
                  <th class="wd-5p  text-center">Vehicle</th>

                  <th class="wd-20p  text-center">Detail</th>
                 
                 
                </tr>
              </thead>
              
              <tbody id="vehicle_fill">
                <!----------------------first row-------------------------->
                <tr>
                  <td class="text-center">Vehicle Number</td>
                  <td class="text-center" id="v_number"></td>
                  </tr>
                  <tr>
                    <td class="text-center">Vehicle Owner</td>
                    <td class="text-center" id="v_owner"></td>
                    </tr>
                    <div id="v_docs">
                      
                    
                    </div>
      
              </tbody>
            </table>
          </div><!-- table-wrapper -->

        </div>
    </div>
     
      
    <div class="row mg-t-30">
        <h6 class="tx-dark mg-l-20"> Driver Details</h6>
    </div>

    <div class="row mg-t-5">
        <div class="col-12 col-md-12 col-lg-12 ht-200 bd bd-1 bd-dark" style="max-height:200px;overflow-y: auto;">
          <div class="table-wrapper">
            <table id="datatable2" class="table display responsive nowrap tx-dark table-sm">
              <thead class='thead-colored thead-dark'>
                <tr>
                  <th class="wd-5p  text-center">Driver</th>

                  <th class="wd-20p  text-center">Detail</th>
                 
                 
                </tr>
              </thead>
              
              <tbody id="vehicle_fill">
                <!----------------------first row-------------------------->
                <tr>
                  <td class="text-center">Driver Name</td>
                  <td class="text-center" id="d_name"></td>
                  </tr>
                  <tr>
                    <td class="text-center">Licence Number</td>
                    <td class="text-center" id="l_number"></td>
                    </tr>

                    <tr>
                    <td class="text-center">Company Name</td>
                    <td class="text-center" id="c_name"></td>
                    </tr>

                    <tr>
                    <td class="text-center">Cumulative Trips</td>
                    <td class="text-center" id="c_trips"></td>
                    </tr>
                    <tr>
                      <td class="text-center">Ratings</td>
                      <td class="text-center" id="rate"></td>
                      </tr>
      
              </tbody>
            </table>
          </div><!-- table-wrapper -->


        </div>
    </div>

    <div class="row mg-t-30">
        <h6 class="tx-dark mg-l-20"> Stops</h6>
    </div>

    <div class="row mg-t-5">
        <div class="col-12 col-md-12 col-lg-12 ht-200 bd bd-1 bd-dark" style="max-height:200px;overflow-y: auto;">
          <div class="table-wrapper">
            <table id="datatable2" class="table display responsive nowrap tx-dark table-sm">
              <thead class='thead-colored thead-dark'>
                <tr>
                  <th class="wd-5p  text-center">Duration</th>

                  <th class="wd-20p  text-center">Stop Point</th>
                  <th class="wd-5p  text-center">Driver Comments</th>

                  <th class="wd-20p  text-center">Reason</th>
                  <th class="wd-20p  text-center">Scheduled Duration</th>
                  
                 
                 
                </tr>
              </thead>
              
              <tbody id="stops_fill">
                <!----------------------first row-------------------------->
                
      
              </tbody>
            </table>
          </div><!-- table-wrapper -->


        </div>
    </div>

    </div>
  </div>

  
                 


        </div>
     
      </div>
    
    
</div>
  
    <!-- ########## END: MAIN PANEL ########## -->
  <footer class="br-footer">
    <div class="footer-left">
      <div class="mg-b-1">Copyright &copy; 2020.Cyronics. All Rights Reserved.</div>
    </div>
  </footer>
  </div>
  
 

    <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/echarts.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/echarts-gl.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/ecStat.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/dataTool.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/china.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/bmap.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/simplex.js')}}"></script> 
    <script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{url_for('static',filename='koel_js/dashboard.js')}}"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>  
    <script src="{{ url_for('static', filename='js/script1.js')}}"></script>                  
                

   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>



    
	
</body>
</html>
<script>
            
  
  var socket=io.connect('http://'+document.domain+":"+location.port)
  var color;
  var start_longi;
  var start_text;
  var end_text;
  var arr;
  socket.emit("req_trip_data")
  socket.on("response_trip_data",function(get_trip){
    trip = JSON.parse(get_trip);
    console.log(trip);
    color=trip[0]['color'];
    
    arr=trip[0]['route_kml'];
    console.log("nooooooooooooo");
    console.log(typeof(arr));

    sp=trip[0]['start_point']
    ep=trip[0]['end_point']
    start_longi=sp['long']
    start_lati=sp['lat']
    end_longi=ep['long']
    end_lati=ep['lat']
    start_text=sp['text']
    end_text=ep['text']
   
    
    for(var i=0;i<trip.length;i++){
       //fill capacity
       document.getElementById("Capacity").innerText="Capacity:- "+trip[i]['capacity']+"%";
      //fill orders

      orders_array=trip[i]['order_number'];
      str="<tr>"
      for(j=0;j<orders_array.length;j++){
        str+='<td class="text-center">'+(j+1)+'</td>';
        str+='<td class="text-center">'+orders_array[j]+'</td>';
        str+='</tr>';

      }
       document.getElementById("orders_fill").innerHTML=str;

       //fill material
       material_array=trip[i]['material_details'];
       str1="<tr>";
       for(k=0;k<material_array.length;k++){
           str1+='<td class="text-center">'+(k+1)+'</td>';
           str1+='<td class="text-center">'+material_array[k]['name']+'</td>';
           str1+='<td class="text-center">'+material_array[k]['quantity']+'</td></tr>';



       }
       document.getElementById("material_fill").innerHTML=str1;

    //fill vehicle
    vehicle=trip[i]['vehicle_details'];
       str2="<tr>";
       str2+='<td class="text-center">Vehicle Number</td><td class="text-center"> '+vehicle['number']+'</td></tr>';
       //str2+='<tr><td class="text-center"> '+vehicle['number']+'</td></tr>';
       str2+='<tr><td class="text-center"> Vehicle Owner </td><td class="text-center"> '+vehicle['owner']+'</td></tr>';
      // str2+='<td class="text-center"> Vehicle Owner:-'+vehicle['owner']+'</td></tr>';
       docs=vehicle['documents']
       for(var r=0 ;r<docs.length;r++){
        str2+='<tr><td class="text-center"> Document Name </td>';
         str2+='<td class="text-center">'+docs[r]['name']+'&nbsp;&nbsp;<a href="'+docs[r]['link']+'">(Detail link)</a></td></tr>';

       }
       
       document.getElementById("vehicle_fill").innerHTML=str2;
       

     //fil driver detail
     driver=trip[i]['driver_details'];
     document.getElementById("d_name").innerText=driver['name'];
     document.getElementById("l_number").innerText=driver['license_number'];
     document.getElementById("c_name").innerText=driver['company_name'];
     document.getElementById("c_trips").innerText=driver['cumulative_trips'];
     document.getElementById("rate").innerText=driver['rating'];

    
    
    //fill stop 
    stop=trip[i]['stops'];
    var str3="";
    str3+="<tr>"
    for(var n=0;n<stop.length;n++){
      st_pt=stop[n]['stop_point']
      
      str3+='<td class="text-center">'+stop[n]['duration']+' min.</td>';
      str3+='<td class="text-center">'+st_pt['text']+'</td>';
      str3+='<td class="text-center">'+stop[n]['driver_comments']+'</td>';
      str3+='<td class="text-center">'+stop[n]['reason']+'</td>';
      str3+='<td class="text-center">'+stop[n]['scheduled_duration']+' min.</td>';
      str3+='</tr>';
       

    }
    document.getElementById("stops_fill").innerHTML=str3;
    

    }
    
   
  });
/*var arr=[77.39105,28.5355,
            77.39043,28.53526,
            77.38909,28.53474,
            77.38901,28.5347,
            77.38895,28.53467,
            77.3889,28.53462,
            77.38886,28.53458,
            77.38841,28.53409,
            77.38838,28.53406,
            77.38733,28.53279,
            77.38722,28.53267,
            77.38681,28.53216,
            77.38661,28.53193,
            77.3862,28.53141,
            77.38513,28.53013,
            77.38449,28.52937,
            77.38397,28.5287,
            77.38368,28.52837,
            77.3836,28.52829,
            77.3831,28.52766,
            77.38217,28.52653,
            77.38212,28.52647,
            77.38181,28.52609,
            77.38136,28.52554,
            77.38069,28.52472,
            77.37975,28.52362,
            77.37965,28.52368,
            77.37887,28.52416,
            77.3788,28.52414,
            77.37875,28.52413,
            77.37866,28.52413,
            77.37859,28.52412,
            77.37853,28.52413,
            77.37849,28.52413,
            77.37825,28.52416,
            77.37776,28.52429,
            77.37742,28.52441,
            77.37704,28.52455,
            77.37689,28.52459,
            77.37684,28.52461,
            77.37672,28.52461,
            77.37653,28.52461,
            77.37636,28.52459,
            77.37614,28.52454,
            77.37601,28.52451,
            77.3759,28.52446,
            77.37573,28.52438,
            77.37559,28.52428,
            77.37536,28.52407,
            77.37503,28.52376,
            77.37476,28.52357,
            77.37462,28.5235,
            77.37448,28.52343,
            77.37431,28.52336,
            77.37415,28.52331,
            77.37401,28.52327,
            77.37483,28.52286,
            77.37521,28.52266,
            77.37526,28.52251,
            77.37547,28.52205,
            77.37555,28.52192,
            77.37567,28.52173,
            77.3757,28.52169,
            77.37574,28.52158,
            77.37602,28.5214,
            77.37617,28.5213,
            77.37624,28.52125,
            77.37625,28.52121,
            77.37626,28.52119,
            77.37658,28.52087,
            77.37672,28.52071,
            77.37673,28.52068,
            77.37674,28.52064,
            77.37691,28.52049,
            77.37699,28.52039,
            77.37704,28.52034,
            77.37706,28.52032,
            77.37713,28.52024,
            77.3775,28.51988,
            77.37837,28.51908,
            77.37851,28.51894,
            77.37883,28.51862,
            77.37977,28.51777,
            77.3809,28.51674,
            77.38276,28.51502,
            77.3838,28.51404,
            77.38408,28.51378,
            77.38495,28.51295,
            77.38592,28.51203,
            77.38596,28.51198,
            77.38624,28.5117,
            77.38678,28.51113,
            77.38722,28.51063,
            77.38799,28.50969,
            77.38853,28.50901,
            77.38867,28.50884,
            77.38886,28.50863,
            77.38909,28.50841,
            77.38935,28.50817,
            77.38969,28.50788,
            77.3902,28.5075,
            77.39058,28.50725,
            77.39093,28.50706,
            77.39115,28.50693,
            77.39137,28.50681,
            77.39167,28.50665,
            77.39189,28.50654,
            77.39333,28.50591,
            77.39465,28.50535,
            77.39595,28.50481,
            77.3965,28.50458,
            77.39734,28.50424,
            77.39853,28.50377,
            77.40125,28.5027,
            77.40247,28.50222,
            77.40594,28.50083,
            77.40636,28.50066,
            77.40653,28.50059,
            77.4067,28.50052,
            77.40795,28.50003,
            77.40809,28.49998,
            77.40822,28.49993,
            77.4089,28.49967,
            77.4102,28.49913,
            77.4127,28.49815,
            77.41412,28.4976,
            77.4149,28.49728,
            77.4154,28.49707,
            77.41652,28.49654,
            77.41802,28.49585,
            77.4185,28.49564,
            77.41888,28.49547,
            77.41946,28.4952,
            77.42005,28.49491,
            77.42049,28.49466,
            77.4209,28.4944,
            77.42105,28.4943,
            77.42117,28.49421,
            77.42133,28.4941,
            77.42146,28.494,
            77.42161,28.49388,
            77.42172,28.49379,
            77.42185,28.49369,
            77.42201,28.49356,
            77.42254,28.49313,
            77.42303,28.49272,
            77.42364,28.49222,
            77.42519,28.49094,
            77.42615,28.49017,
            77.4265,28.48989,
            77.42707,28.48946,
            77.43171,28.48631,
            77.43214,28.48599,
            77.43248,28.48575,
            77.43286,28.48546,
            77.43323,28.48515,
            77.43348,28.48494,
            77.43397,28.48453,
            77.43447,28.4841,
            77.43505,28.48363,
            77.43611,28.48273,
            77.43649,28.48246,
            77.43668,28.48231,
            77.43693,28.48214,
            77.43705,28.48205,
            77.43715,28.48197,
            77.43797,28.4814,
            77.43823,28.48122,
            77.4387,28.4809,
            77.43951,28.48033,
            77.43994,28.48001,
            77.44027,28.47976,
            77.44074,28.47935,
            77.44165,28.47856,
            77.44228,28.478,
            77.44274,28.47758,
            77.4436,28.47684,
            77.44422,28.47628,
            77.44453,28.47601,
            77.44492,28.47566,
            77.44496,28.47562,
            77.44531,28.47529,
            77.44587,28.47472,
            77.44612,28.47445,
            77.44647,28.47408,
            77.44735,28.47315,
            77.44756,28.47294,
            77.44766,28.47285,
            77.44777,28.47275,
            77.44797,28.47258,
            77.44821,28.47239,
            77.44848,28.47218,
            77.44872,28.47201,
            77.44901,28.47181,
            77.44955,28.47146,
            77.44992,28.47122,
            77.45026,28.471,
            77.45088,28.4706,
            77.45139,28.47027,
            77.45192,28.46993,
            77.45251,28.46955,
            77.45304,28.46921,
            77.45339,28.46898,
            77.45363,28.46882,
            77.45398,28.4686,
            77.45433,28.46837,
            77.45474,28.46812,
            77.45522,28.46781,
            77.45558,28.46758,
            77.45622,28.46716,
            77.45668,28.46685,
            77.45669,28.46684,
            77.45704,28.46662,
            77.45729,28.46644,
            77.45742,28.46633,
            77.45765,28.46615,
            77.4578,28.46603,
            77.45792,28.46593,
            77.45806,28.46581,
            77.45817,28.46571,
            77.45831,28.46557,
            77.45837,28.46552,
            77.45849,28.46539,
            77.45865,28.46522,
            77.45876,28.46511,
            77.45884,28.465,
            77.45885,28.46499,
            77.45905,28.46476,
            77.45934,28.46442,
            77.45959,28.46415,
            77.45995,28.46375,
            77.46022,28.46346,
            77.46042,28.46325,
            77.46067,28.46301,
            77.46086,28.46284,
            77.46118,28.46259,
            77.46128,28.4625,
            77.46208,28.46184,
            77.46262,28.46137,
            77.4632,28.4609,
            77.4637,28.46044,
            77.4642,28.45995,
            77.46452,28.45965,
            77.46524,28.45897,
            77.46596,28.45832,
            77.46648,28.45785,
            77.4665,28.45783,
            77.46732,28.45714,
            77.46785,28.45666,
            77.46819,28.45638,
            77.46866,28.45598,
            77.469,28.45568,
            77.4692,28.45549,
            77.46996,28.45476,
            77.47018,28.45454,
            77.4704,28.4543,
            77.47131,28.45332,
            77.47142,28.4532,
            77.47218,28.45238,
            77.47246,28.45206,
            77.47296,28.4515,
            77.47321,28.4512,
            77.47325,28.45115,
            77.47345,28.45091,
            77.47376,28.45051,
            77.47398,28.45023,
            77.47426,28.44984,
            77.47476,28.44916,
            77.47494,28.44891,
            77.47515,28.44861,
            77.47581,28.44769,
            77.47582,28.44767,
            77.47624,28.44713,
            77.47644,28.44685,
            77.47676,28.44644,
            77.47688,28.44631,
            77.477,28.44617,
            77.47717,28.44601,
            77.47746,28.44576,
            77.47768,28.44559,
            77.47789,28.44542,
            77.4781,28.44528,
            77.47828,28.44517,
            77.47847,28.44505,
            77.47876,28.4449,
            77.47899,28.4448,
            77.47926,28.44469,
            77.47989,28.44446,
            77.48017,28.44439,
            77.48045,28.44432,
            77.48062,28.44429,
            77.48089,28.44425,
            77.48111,28.44422,
            77.4813,28.44419,
            77.48159,28.44418,
            77.48188,28.44416,
            77.48211,28.44416,
            77.4823,28.44417,
            77.48244,28.44418,
            77.48259,28.44419,
            77.48278,28.44422,
            77.48295,28.44424,
            77.48313,28.44427,
            77.48337,28.44431,
            77.48357,28.44436,
            77.48385,28.44443,
            77.48424,28.44455,
            77.48462,28.44468,
            77.48499,28.44484,
            77.48537,28.44503,
            77.48549,28.4451,
            77.4856,28.44517,
            77.48575,28.44526,
            77.48593,28.44537,
            77.48612,28.44549,
            77.48665,28.44589,
            77.48692,28.44609,
            77.48725,28.44635,
            77.48754,28.44658,
            77.48779,28.44677,
            77.48809,28.447,
            77.48846,28.44728,
            77.48907,28.44777,
            77.48943,28.44807,
            77.4898,28.44835,
            77.49024,28.44869,
            77.49026,28.4487,
            77.4905,28.44892,
            77.49093,28.44931,
            77.49099,28.44937,
            77.49138,28.44967,
            77.49155,28.4498,
            77.49161,28.44985,
            77.49195,28.45006,
            77.49209,28.45019,
            77.49249,28.45052,
            77.49299,28.45092,
            77.49425,28.45193,
            77.49481,28.45237,
            77.49505,28.45255,
            77.49535,28.45279,
            77.4963,28.45352,
            77.49681,28.45394,
            77.49747,28.45447,
            77.49772,28.45465,
            77.49778,28.4547,
            77.49842,28.45522,
            77.49876,28.45548,
            77.4989,28.45559,
            77.49938,28.45595,
            77.49973,28.45622,
            77.50011,28.45651,
            77.50045,28.45678,
            77.50081,28.45706,
            77.501,28.4572,
            77.50114,28.45731,
            77.50128,28.45742,
            77.50153,28.45764,
            77.50176,28.45782,
            77.50204,28.45806,
            77.50251,28.45843,
            77.50291,28.45875,
            77.50345,28.45919,
            77.50368,28.45937,
            77.50402,28.45964,
            77.50442,28.45997,
            77.50479,28.46026,
            77.50516,28.46054,
            77.50549,28.46079,
            77.50581,28.46104,
            77.50598,28.46118,
            77.50704,28.46202,
            77.50738,28.4623,
            77.50775,28.46259,
            77.50817,28.46292,
            77.50901,28.46358,
            77.50966,28.46408,
            77.50978,28.46417,
            77.5099,28.46427,
            77.5101,28.46442,
            77.51032,28.46459,
            77.51058,28.4648,
            77.51073,28.46492,
            77.51076,28.46495,
            77.5108,28.46499,
            77.51084,28.46504,
            77.51094,28.46516,
            77.51093,28.4652,
            77.51093,28.46523,
            77.51093,28.46526,
            77.51093,28.46529,
            77.51094,28.46532,
            77.51094,28.46535,
            77.51095,28.46537,
            77.51097,28.46539,
            77.51098,28.46542,
            77.511,28.46544,
            77.51101,28.46546,
            77.51103,28.46548,
            77.51106,28.4655,
            77.51108,28.46551,
            77.51104,28.4656,
            77.511,28.46568,
            77.51095,28.46575,
            77.51091,28.4658,
            77.51027,28.46643,
            77.51014,28.46655,
            77.50953,28.46716,
            77.50944,28.46725,
            77.50905,28.46762,
            77.50878,28.46787,
            77.50868,28.46797,
            77.50864,28.46803,
            77.5086,28.46809,
            77.50857,28.4681,
            77.50854,28.46811,
            77.50851,28.46813,
            77.50849,28.46814,
            77.50847,28.46816,
            77.50845,28.46818,
            77.50843,28.4682,
            77.50841,28.46823,
            77.50827,28.46837,
            77.50813,28.46852,
            77.50804,28.46862,
            77.50799,28.46869,
            77.50659,28.47057,
            77.50592,28.47148,
            77.50554,28.47199,
            77.50521,28.47244,
            77.50519,28.47247,
            77.50451,28.47339,
            77.50438,28.47356,
            77.50388,28.47424,
            77.50379,28.47435,
            77.50395,28.47443,
            77.50399,28.47439];*/
    var position = [28.5355, 77.3910];
   // var position = [arr[1],arr[0]];
   console.log("jjjjjjjjjjjjjj");
    
    console.log(arr);

   
    var myOptions;
    function initMap() {
        var directionsRenderer = new google.maps.DirectionsRenderer({
            polylineOptions: {
              strokeColor: String(color)
            }
        });
        var directionsService = new google.maps.DirectionsService;
        var directionsRenderer2 = new google.maps.DirectionsRenderer;
        var latlng = new google.maps.LatLng(position[0], position[1]);
        var myOptions = {
            zoom: 16,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };


        



        map = new google.maps.Map(document.getElementById("mapCanvas"), myOptions);
        directionsRenderer.setMap(map);
       
        calculateAndDisplayRoute(directionsService, directionsRenderer);
        marker1 = new google.maps.Marker({
            position: latlng,
            map: map,
            title: "Latitude:" + position[0] + " | Longitude:" + position[1],
            'icon':'http://labs.google.com/ridefinder/images/mm_20_green.png',
        });
        
       
       
        
        function calculateAndDisplayRoute(directionsService, directionsRenderer) {
          var start = start_text;
          var end = end_text;
            directionsService.route({
                origin: start,
                destination: end,
                travelMode: 'DRIVING'
            }, function (response, status) {
                if (status === 'OK') {
                    directionsRenderer.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }


      




        moveMarker();
    

    }

    //Load google map
    google.maps.event.addDomListener(window, 'load', initMap);


    var delay = 100;






    var i = 0;
    var j = 1;

    function moveMarker() {
        position[0] = arr[j];
        position[1] = arr[i];
        leng = arr.length;
       // position2[0] = arr2[j];
       // position2[1] = arr2[i];
        var latlng = new google.maps.LatLng(position[0], position[1]);
      //  var latlng2 = new google.maps.LatLng(position2[0], position2[1]);
        marker1.setTitle("Latitude:" + position[0] + " | Longitude:" + position[1]);
        marker1.setPosition(latlng);
      //  marker2.setPosition(latlng2);
        map.center = latlng;

        if (i != arr.length) {
            i += 2;
            j += 2;
            //console.log(position);
            setTimeout(moveMarker, delay);
        }
    }

      
    
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh2sgKfwvLeTx36tIEj81_BVEC6hv0JkA&callback=initMap"
async defer></script>

<!----*************************************End Of Google Map Code ***********************************************************************-->


{% endblock %}
