{% extends "template_fleet.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }
</style>
    <div class="br-pagebody">




	<style>
     .frame {
      overflow-x: auto;
      line-height: 1em;
      overflow-y: auto;
      max-height: 90vh;
    }



    .frame::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    .frame::-webkit-scrollbar:vertical {
      width: 10px;
    }

    .frame::-webkit-scrollbar:horizontal {
      height: 20px;
    }

    .frame::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid white;
      /* should match background, can't be transparent */
      background-color: rgba(0, 0, 0, .5);
    }

.block {
  display: block;
  width: 100%;
  border: none;
  
  padding: 5px 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1E68EB ; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1E68EB ; 
}
    </style>
	
  </head>



<div class="br-section-wrapper col-12 col-md-12 col-lg-12  bg-white" >
<!--navbaar code here--->
<div class="row " style="margin-top:-14px ;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ht-45 col-12 col-md-12 col-lg-12">   
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>	
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">		
      <a href="#" class="nav-item nav-link active ">Realtime Tracking</a>
      <a href="#" class="nav-item nav-link " >Schedule</a>
      <a href="#" class="nav-item nav-link ">Forecast</a>
      
    </div>
  </div>
  
  <div class="btn-group pl-lg-5" role="group" >
    <a href="#"  class="btn btn-outline-light rounded-0 "><i class="fa fa-chevron-left"></i></a>
    <a href="#"  class="btn btn-outline-light rounded-0" ><i class="fa fa-chevron-right"></i></a>
  </div>
</nav>

</div>




<!--navbaar code here--->

<div class="row">
  <div class="col-6 col-md-6 col-lg-6 ht-50 bd bd-0 ">
    <h6 class="tx-dark mg-t-25">Live Tracking</h6>
    <!--map div here-->
  </div>
    <div class="col-6 col-md-6 col-lg-6 ht-50 bd bd-0">
      <h6 class="tx-dark mg-t-25">Live</h6>
      
      
    </div>
  </div>





        <div class="row">
          
  <div class="col-6 col-md-6 col-lg-6 ht-500 bd bd-2 bd-dark">
    <!--map div here-->
  </div>
    <div class="col-6 col-md-6 col-lg-6 ht-500 bd bd-2 bd-dark">

      <!--table code here-->
      
      <div class='frame'>
        <div class="table-wrapper">
          <table id="datatable2" class="table display responsive nowrap tx-dark table-sm">
            <thead class='thead-colored thead-dark'>
              <tr>
                <th class="wd-10 text-center"> Color</th>
                <th class="wd-20p  text-center">Order Numbers</th>
                <th class="wd-20p text-center">Vehicle Number</th>
                <th class="wd-20p text-center">Transporter</th>
                <th class="wd-20p text-center"> Status</th>
                <th class="wd-10p text-center"> Details</th>
               
              </tr>
            </thead>
            <tbody id="table_fill">
              <!----------------------first row-------------------------->
    
            </tbody>
          </table>
        </div><!-- table-wrapper -->
        
    
    
      </div>
      
      
    </div>
  </div>

  
                 


        </div>
     
      </div>
    
    
</div>
  
  
 

    <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/echarts.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/echarts-gl.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/ecStat.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/dataTool.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/china.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/bmap.min.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/world.js')}}"></script>                  
    <script src="{{ url_for('static', filename='echarts_js/simplex.js')}}"></script> 
    <script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{url_for('static',filename='koel_js/dashboard.js')}}"></script>

                 
  <script>
  
  var socket=io.connect('http://'+document.domain+":"+location.port)
  socket.emit("req_all_trips");
  socket.on("response_all_trips",function(all_trips){
    trips = JSON.parse(all_trips);
//fill table
   var str="<tr>"

    for(var i=0;i<trips.length;i++){
      str+='<td class="text-center"><i class="fa fa-circle" style="font-size:25px;color:'+trips[i]['color']+'"></i></td>';

      orders=trips[i]['order_number'];

      str+="<td>";
      //fill orders array
      for(j=0;j<orders.length;j++){
          str+=orders[j];
          str+=',';
      }
      str = str.slice(0, -1); 
      str+='</td>';
      //filling completed for orders

      //fill vehicle number
      vehicle= trips[i]['vehicle_details'];
      str+='<td>'+vehicle['number']+'</td>';
      str+='<td>'+vehicle['partner_company']+'</td>';
      status_comp=trips[i]['completion_state']
      status_comp_given = status_comp.slice(0, -1);
     
      if(parseInt(status_comp_given)<50){
        

            str+='<td><div class="progress">\
              <div class="progress-bar progress-bar-danger progress-bar-striped bg-danger" role="progressbar"\
              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:'+trips[i]['completion_state']+'">'+trips[i]['completion_state']+'</div></div></td>';
      }
      if(parseInt(status_comp_given)>50){

            str+='<td><div class="progress">\
                   <div class="progress-bar progress-bar-warning progress-bar-striped bg-warning" role="progressbar"\
                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:'+trips[i]['completion_state']+'">'+trips[i]['completion_state']+'</div></div></td>';
       }

      if(parseInt(status_comp_given)==100){

                str+='<td><div class="progress">\
                       <div class="progress-bar progress-bar-success progress-bar-striped bg-success" role="progressbar"\
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:'+trips[i]['completion_state']+'">'+trips[i]['completion_state']+'</div></div></td>';
      }


      str+='<td><a href="/trip_detail" class="btn btn-danger btn-sm " id="'+vehicle['number']+'" onclick="get_trip_detail(this)">View</a></td>';    


     str+='</tr>';
    }

    document.getElementById("table_fill").innerHTML=str;
  });
  
  function get_trip_detail(x){
    vehicle_dict={}
    vehicle_dict['vehicle_number']=x.id;
    socket.emit("get_trip_data",JSON. stringify(vehicle_dict))
  }
</script>

{% endblock %}
