<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
   <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
	<meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="Cyronics">

   <title>Cyronics IOT</title>

    
	<link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
	
	
	
	
	<style>
:root {
  --windows-blue: #365ec8;
  --bluish: #3091c9;
  --warm-blue: #5460dc;
  --white: #ffffff;
  --dusk-blue: #28499f;
  --bluey-grey: #85a5c2;
  --light-sky-blue: #d4e3f0;
  --lipstick: #bb166b;
  --bluish-grey-20: rgba(115, 137, 156, 0.2);
  --topaz: #16b8bb;
  --aquamarine: #00d7af;
  --metallic-blue: #546593;
  --bluish-grey: #73899c;
  --very-light-pink: #d7d7d7;
  --gray-medium: rgba(205, 205, 210, 0.5);
  --text: #77777a;
  ---style: #002251;
}	

	
.Rectangle {
  
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);
  
   font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--white);
  
}
	
.transparent-input {
   background-color: rgba(0, 0, 0, 0);
   border:none;
   
   font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--light-sky-blue);
   
   }
   
   
.div_bottom_border{
	background-color: rgba(0, 0, 0, 0);
	color: white;
	border:none;
	border-bottom: 2px solid white;
}   
      
input[readonly].transparent-input{
	background-color:transparent;
	border:none;
	
	 font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--light-sky-blue);
	
}
.form-control:focus {
	background-color:transparent;
	color: white;
	
	 font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--light-sky-blue);
}

.transparent-input.EDIT {
  font-family: Manrope;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--light-sky-blue);
}


.Forgot-Password {
  font-family: Manrope;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: var(--white);
}

.Your-account-is-pend {
  font-family: Manrope;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}


	</style>
	
	
	</head>

  <body style="background-image: linear-gradient(to bottom, #3b76ef 0%, #211b4e 100%);">

    <div class="d-flex align-items-center justify-content-center ht-100v bg-primary" style="background-image: linear-gradient(to bottom, #3b76ef 0%, #211b4e 100%);" >
      <div class="login-wrapper wd-300 wd-xs-350 pd-15 pd-xs-40 ">
       
	  <div class="signin-logo tx-center tx-28 tx-bold tx-inverse pd-b-20"><span class="tx-normal"><img src="/static/img/logo-small.png" width="60%"></span></div> 
       <!-- <div class="tx-center mg-b-30">Ensuring Workplace Safety</div> -->
	
		
		<div class="pt-2 pb-2 Your-account-is-pend" id="Message" >
		1. ANZEN App requires an update. Please click on the button below to <strong><u>copy the link</u></strong> to the latest APK.
		<br>
    <br>
    2. Please <strong><u> delete </u></strong> the current ANZEN Application after copying the link.
    <br>
    
		<br>
		<br>
		In case of errors, please manually copy and paste the following link in your browser.
		
		</div>

      <div class="input-group mb-3 pl-2 pr-2 div_bottom_border pt-2">
      <div class="input-group-prepend">
        
        </div>
        <input type="text" id="phone" class="form-control transparent-input"  value="http://koel.anzensafetyapp.com/Documents/Anzen_update.apk"  readonly>
          <div class="input-group-append">
        
          </div>
    </div>

		
		<div  id ="success" class="tx-14 tx-white tx-center"></div>
		
	
	
		
		
		
        <button onclick="redirect_download()" class="btn btn-block mg-t-10 tx-white Rectangle" >COPY LINK  </button>

        
		 
		  <div  id ="error" class="pt-2 tx-14 tx-white tx-center Your-account-is-pend"></div>
  
		
	 
	 
	 
	 
	 </div><!-- login-wrapper -->
	 
	 
    </div><!-- d-flex -->

	


	
	
	
	
   
	  <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/highlightjs/highlight.pack.js')}}"></script>
    <script src="{{url_for('static',filename='socket.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>

		<script>

    function redirect_download(){
      
  var copyGfGText = document.getElementById("phone"); 
  
  /* Select the text field */
  copyGfGText.select(); 
  
  /* Copy the text inside the text field */
  document.execCommand("copy"); 
  
  /* Alert the copied text */
  //alert("Copied the text: " + copyGfGText.innerHTML); 
   document.getElementById("error").innerHTML = "Copied ! Please open your browser and paste this link. " 
    }


		// app window
		/*function openInChrome(url) {
		  chrome.runtime.sendMessage({action: "openURL", url: url});
		}

		// background
		chrome.runtime.onMessage.addListener(function(message, sender, sendResponse) {
		  if(message.action == "openURL") window.open(message.url);
		});
			*/
		</script>


  </body>
</html>
