{% extends "template.html" %}

{% block content %}


<style>
  :root {
    --windows-blue: #365ec8;
    --bluish: #3091c9;
    --warm-blue: #5460dc;
    --white: #ffffff;
    --dusk-blue: #28499f;
    --bluey-grey: #85a5c2;
    --light-sky-blue: #d4e3f0;
    --lipstick: #bb166b;
    --bluish-grey-20: rgba(115, 137, 156, 0.2);
    --topaz: #16b8bb;
    --aquamarine: #00d7af;
    --metallic-blue: #546593;
    --bluish-grey: #73899c;
    --very-light-pink: #d7d7d7;
    --gray-medium: rgba(205, 205, 210, 0.5);
    --text: #77777a;
    ---style: #002251;
  }

  .Rectangle {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  background-color: var(--windows-blue);

  }

  .Rectangle_without_color {
  
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #b9b9b9;
  
  }



</style>
          <div class="pt-3">
            <div class="tx-dark tx-15 tx-bold"> NEW PRODUCTION PLAN - SHIFT ANALYSIS  </div>
          </div>

<div class="d-flex justify-content-end mg-t-10">
  <!--<div class="p-2 btn btn-sm Rectangle" onclick="myCreateFunction()" >IMPORT</div>&nbsp;-->
    <div class="p-2 btn btn-sm Rectangle" onclick="go_back()">BACK </div> &nbsp;&nbsp;&nbsp;
  <div class="p-2 btn btn-sm Rectangle" onclick="save_to_production_plan()">PROCEED </div>
</div>


<div class="modal" id="exampleModal1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pr-1">{{ file_status }} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <!-- <form action="http://192.168.1.61/file_upload" method="POST" enctype="multipart/form-data"> -->
      
  
      <div class="modal-body">

     <div class="p-2" >
        <form enctype="multipart/form-data" method="post" name="fileinfo">
          
          <input id="file_name" type="file" name="file" required />
          <br>
          <br>
          <input class="btn btn-primary btn-block Rectangle_without_color" type="submit" value="Upload EXCEL" aria-describedby="upload_help" />
          <small id="upload_help" class="form-text text-muted">Choose the file to upload.</small>
        </form>

        <div class="form-group pt-2">
        <label for="sheet_name" class="tx-black">Sheet Name </label>
        <input type="text" class="form-control" id="sheet_name" aria-describedby="sheet_name_help" placeholder="Sheet" readonly>
        <small id="sheet_name_help" class="form-text text-muted">Please enter the sheet name within the Excel File</small>
      </div>

              
     </div>

      <div class="modal-footer">
        
          <button class="btn btn-primary Rectangle_without_color" onclick="proceed_import()" > IMPORT </button>
        

        <button type="button" class="btn btn-secondary Rectangle_without_color" data-dismiss="modal">CLOSE</button>
      </div>
    <!-- </form> -->
    </div>
  </div>
</div>
</div>





<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
  <div id="table_button">

  </div>

    <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
       <div class="input-group">
         <input type="text" id="datatable1_search" class="form-control" placeholder="Search" >
        </div>
   </div>

       
  <table id="datatable1" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
              
 </table>
 
 <hr>



<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
  <div id="table_button2">

  </div>

    <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
       <div class="input-group">
         <input type="text" id="datatable2_search" class="form-control" placeholder="Search" >
        </div>
   </div>

       
  <table id="datatable2" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
              
 </table>
 
 <hr>
 




<script>
//var socket=io.connect('http://127.0.0.1:5000/')
var socket=io.connect('http://'+document.domain+":"+location.port)


var valid_orders = [];


socket.emit("get_temp_production_orders")

socket.on("sent_temp_production_orders",function(data){

  console.log(data);
  
  valid_orders = data ;
  var str="";


str +='<thead class="bg-dark tx-white">\
            <tr>\
              <th >SR.NO.</th>\
              <th >MACHINE</th>\
              <th >DATE</th>\
              <th >TIME</th>\
              <th >PART NUMBER</th>\
              <th >ORDER NUMBER (RIGHT)</th>\
              <th >ORDER NUMBER (LEFT)</th>\
              <th >PART NAME</th>\
              <th >CHILD PARTS </th>\
              <th >TAB TAPE</th>\
              <th >DA TAPE </th>\
            </tr>\
          </thead>'

//Application Code,Issue Date,Job Name,PICKMOID,Qty,Status,Time
str+="<tbody>";
//alert(phrase_id);
try {
for(var i=0;i<data.length;i++){
  //console.log(jobs[i]["_id"]);

        str+="<tr>";
        str+='<td>'+(i+1).toString(10)+'</td>'; 
        str+='<td>'+data[i]['MACHINE']+'</td>'; 
        str+='<td>'+data[i]['DATE']+'</td>';
        str+='<td>'+data[i]['TIME']+'</td>';
        str+='<td>'+data[i]['PART NUMBER']+'</td>';
        str+='<td>'+data[i]['ORDER NUMBER (RIGHT)']+'</td>';
        str+='<td>'+data[i]['ORDER NUMBER (LEFT)']+'</td>';
        str+='<td>'+data[i]['PART NAME']+'</td>';
        
        str+='<td>'+data[i]['child_parts']+'</td>';
        str+='<td>'+data[i]['TAB_TAPE']+'</td>';
        str+='<td>'+data[i]['DA_TAPE']+'</td>';
        
        str+="</tr>";
}

}
catch(e){

}

str+="</tbody>";
document.getElementById("datatable1").innerHTML=str;

 var table = $('#datatable1').DataTable( {
        "scrollX": true,
        lengthChange: false,
        "dom": 'lrtip',
        


buttons: [
            {
                extend: 'collection',
                text: 'Export',
                autoClose: true,
                buttons: [
                {
                extend:    'copy',
                text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                titleAttr: 'Copy'
                },
                {
                extend:    'excel',
                text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                titleAttr: 'Excel'
                },
                {
                extend:    'pdf',
                text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                titleAttr: 'PDF'
                },
                {
                extend:    'print',
                text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                titleAttr: 'PDF'
                },
                {
                extend:    'csv',
                text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                titleAttr: 'CSV'
                },
                {
                extend:    'colvis',
                text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                titleAttr: 'Columns'
                },
                ]
            }
        ]


    } );
    table.buttons( 0, null ).containers().appendTo( '#table_button' );

 // #myInput is a <input type="text"> element
$('#datatable1_search').on( 'keyup', function () {
    table.search( this.value ).draw();
    console.log("working")
} );

 
  
});




// =====================================================================================

socket.on("uploaded_sheet_status",function(data){

  //console.log(data);
document.getElementById("sheet_name_help").innerHTML = data;
console.log(data);

});



function save_to_production_plan() {

socket.emit("proceed_to_production_plan_3",valid_orders)

setTimeout(function() { go_back_to_production_plan(); }, 1000);

}


function go_back_to_production_plan(){
window.location.href="/upload_production_plan_3";
}



function proceed_import(){
  data = {"sheet_name" : document.getElementById("sheet_name").value ,
          "file_name" :   filename_global} 
  //window.location.href = "/temp_plan/"+data["file_name"] +"/"+data["sheet_name"];
  socket.emit("sheet_name_oee",data)

}



</script>


<script>
var filename_global = "";
var form = document.forms.namedItem("fileinfo");
form.addEventListener('submit', function(ev) {
  var oData = new FormData(form);
  var oReq = new XMLHttpRequest();
  oReq.open("POST", "/file_upload", true);
  oReq.onload = function(oEvent) {
    if (oReq.status == 200) {
      //document.getElementById('resultimg').setAttribute('src', JSON.parse(oReq.responseText).result_image_location);
      console.log("Uploaded!")
      console.log("YYYYYAAAAAAYYYYYYYYYY !");
      document.getElementById("sheet_name").readOnly = false;
      document.getElementById("upload_help").innerHTML = "File Uploaded Successfully ! "
      console.log(JSON.parse(oReq.responseText).file_upload_successful)
      filename_global = JSON.parse(oReq.responseText).file_upload_successful ;

    } else {
      //alert("Error " + oReq.status + " occurred when trying to upload your file")
      document.getElementById("upload_help").innerHTML = "Error  occured in uploading file! "
    }
  };
  oReq.send(oData);
  ev.preventDefault();
}, false);

</script>



<script>


socket.on("update_bar_graph",function(data1){

  //console.log(data);
console.log(data1);
console.log("==========================")

             
 //=================================================Bar Chart Downtime Reason ==================================================== 
            var dom = document.getElementById("Barchart1");
                      var myChart = echarts.init(dom);
                      var app = {};
                      option = null;
                      option = {

                        responsive: true,

                        title: {
                          text: '',
                        },
                        tooltip: {
                          trigger: 'axis'
                        },
                        legend: {
                                        data: []
                          },
                        
                        calculable: true,
                        xAxis: [
                          {
                            type: 'category',
                            data: ['Vaild Orders', 'Invalid Quantity', 'Invalid Part Number', 'Invalid Machine', 'Orders Used '],
                          }
                        ],
                        yAxis: [
                          {
                            type: 'value'
                          }
                        ],
                        series: [
                          {
                            name: 'Production Orders',
                            color: '#05b080',
                            type: 'bar',
                            data: data1,//["10","20","30","40","50"],
                            markPoint: {
                              data: [
                                { type: 'max', name: 'h1' },
                                { type: 'min', name: 'h2' }
                              ]
                            },
                            markLine: {
                              data: [
                                { type: 'average', name: 'h3' }
                              ]
                            }
                          },
                       
                        ]
                      };
                      ;
                      if (option && typeof option === "object") {
                        myChart.setOption(option, true);
                      }
//=============================================================================================================================    





});



socket.on("update_round_graph",function(data1){

  //console.log(data);
console.log(data1);
console.log("==========================")



//========================================= Runtime Analysis===================================================================                            

                      var dom2 = document.getElementById("donught1");
                      var myChart2 = echarts.init(dom2);
                      var app = {};
                      option2 = null;
                      app.title = '';
                      
                      option2 = {
                        responsive:true,
                          tooltip: {
                              trigger: 'item',
                              formatter: "{a} <br/>{b}: {c} ({d}%)"
                          },

                          grid: {
                              left: '0',
                              right: '0',
                              bottom: '0',
                              top:'0',
                              containLabel: true
                          },
                        
                          series: [
                              {
                                  name:'Production Orders',
                                  type:'pie',
                                  radius: ['30%', '70%'],
                                  avoidLabelOverlap: true,
                                  label: {
                                      normal: {
                                          show: true,
                                          position: 'outside'
                                      },
                                      emphasis: {
                                          show: true,
                                          textStyle: {
                                              fontSize: '10',
                                              fontWeight: 'bold'
                                          }
                                      }
                                  },
                                  labelLine: {
                                      normal: {
                                          show: true
                                      }
                                  },
                                  data:[
                                      {value:data1[1], name:'Invalid Orders'},
                                      {value:data1[0], name:'Total Orders'},
                                      {value:data1[2], name:'Valid Orders'},
                                      
                                  ]
                              }
                          ]
                      };
                      
          myChart2.setOption(option2, true);

               




});


</script>           


{% endblock %}
  
 
   
