{% extends "template.html" %}

{% block content %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>


<nav class="navbar navbar-light bg-light" style=" margin-bottom: 80px;">
  <div class="container-fluid">
  	 <a class="navbar-brand text-dark bg-light"><h5>Forklifts Database</h5> 

		<div style="display: flex; align-items: center; padding: 20px 10px;">
			<img src="/static/img/status/forklift.png" alt="Active Vehicle" style="object-fit:contain;
            width:70px;
            height:60px;
            border: solid 1px #CCC"/>
		</div>



  	 </a>
    <form class="d-flex"> 

<input type="date" id="birthday" name="birthday">
<input type="submit">

  <div class="dropdown" style="margin-left:10px ">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-expanded="false">
   Add New Vehicles
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item active" href="#">Forklift 1</a></li>
    <li><a class="dropdown-item" href="#">Forklift 2</a></li>
    <li><a class="dropdown-item" href="#">Forklift 3</a></li>
  </ul>
</div>


    </form>
  </div>
</nav>



<div class="container-fluid" >
	<div class="row">
		<div class="col-md-12">
			<div class="card" style="width: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
  <div class="card-body">
    
   
   <table class="table table-striped table-hover">
     
     <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Runing Time</th>
      <th scope="col">Idle Timing</th>
      <th scope="col">Alarms</th>
      <th scope="col">Ranking</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Rajesh</td>
      <td>02:00</td>
      <td>Idle</td>
      <td>No</td>
      <td>2</td>
      <td>Runing Time</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Sonal</td>
      <td>00:00</td>
      <td>Maintenance</td>
      <td>Yes</td>
      <td>5</td>
      <td>Maintenance</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Aditya</td>
      <td>09:00</td>
      <td>Live</td>
      <td>No</td>
      <td>1</td>
      <td>Idle</td>
    </tr>
  </tbody>

</table>



  </div>
</div>
		</div>
	</div>
</div>

<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
{% endblock %}