{% extends "template.html" %}

{% block content %}
	<div class="row no-gutters  mg-t-10">
		<div class="col-sm-12 col-lg-12">
          <div class="card">
              <div class="card-header tx-black tx-bold tx-uppercase">
                E-PASS 
              </div><!-- card-header -->
              <div class="card-body" >
				<div class="alert alert-success alert-dismissible fade show" role="alert">
				  <strong>Accepted !</strong> Last record on : 26/05/2020 22:42:01.
				  
				</div>
				<div class="row">
				<img src="{{ src }}" height="200px" class="rounded mx-auto d-block" alt="...">
					
				</div>
			   <div class="row">
				<div class="col-12">
					<button onclick="show()" class="btn btn-warning btn-block"> Retry </button>	
				</div>		
			</div>
			
		</div>
		</div>
		</div>
	</div>
<script>     
function show()
{
  location.href = "/declaration";
} 
</script>

<script>
var socket=io.connect('http://'+document.domain+":"+location.port)
socket.emit("Declaration Page");
 
</script>

{% endblock %}


