{% extends "template.html" %}

{% block content %}

<nav class="navbar navbar-light bg-light" style=" margin-bottom: 80px;">
  <div class="container-fluid">
  	 <a class="navbar-brand text-dark bg-light"><h5>Work Allocation</h5> 

		<div style="display: flex; align-items: center; padding: 20px 10px;">
      <i class="fa fa-briefcase fa-4x" aria-hidden="true"></i>
			
		</div>



  	 </a>
    <form class="d-flex"> 
      
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" style="margin-right: 100px;">
  New
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Work Allocation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

<div class="form-group" >
            <label for="tasks_number" class="col-form-label">Task No.</label>
            <input type="text" class="form-control" id="tasks_number">
          </div>

 <div class="form-group">
    <label for="exampleFormControlSelect1"> Forklifts</label>
    <select class="form-control" id="exampleForklifts">
      <option value="Forklift 1"> Forklift 1</option>
      <option value="Forklift 2"> Forklift 2</option>
      <option value="Forklift 3"> Forklift 3</option>
      <option value="Forklift 4"> Forklift 4</option>
      <option value="Forklift 5"> Forklift 5</option>
    </select>
  </div>


 <div class="form-group">
    <label for="exampleFormControlSelect1"> Task</label>
    <select class="form-control" id="exampletask">
      <option value="Loading"> Loading </option>
      <option value="Unloading">  Unloading</option>
      <option value="Stacking"> Stacking</option>
    
    </select>
  </div>

          <div class="form-group" >
            <label for="idle_time" class="col-form-label">Idle Time(min)</label>
            <input type="number" class="form-control" id="exampleIdle_time">
          </div>


          <div class="form-group">
    <label for="exampleFormControlTextarea1">Details</label>
    <textarea class="form-control" id="exampleTextarea1" rows="3"></textarea>
  </div>
</form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button  id="sendbutton" class="btn btn-primary " onclick="modal_inputs()">Save</button>
      </div>
    </div>

  </div>
</div>
</nav>



<div class="container-fluid" >
	<div class="row">
		<div class="col-md-12">
			<div class="card" style="width: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
  <div class="card-body">
    <h5>Live Tasks</h5>


<div class="btn-toolbar justify-content-between pt-2" role="toolbar" aria-label="Toolbar with button groups">
          <div id="rejection_table_button">

          </div>

    <!-- <input type="text" class="form-control" placeholder="Search" id="search_table"> -->
       <div class="input-group">
         <input type="text" id="rejection_table_search" class="form-control" placeholder="Search" >
        </div>
      </div> 

       
        <table id="rejection_table" class="table table-sm table-striped table-bordered pt-2 pb-2" style="width:100%" >
              
              

          </table>  

   
   

  </div>
</div>
		</div>
	</div>
</div>

<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

<script>
var socket=io.connect('http://'+document.domain+":"+location.port)


//task_table//

 socket.emit('task_data');

  socket.on('task_table', function(data) {
  
    console.log(data);
  
  //   var text ="";
  //   var i=0;
  //   for( i=0;i< data.length;i++){
 
  //     text += data[i].email + "<br>";
        
  // }
  // document.getElementById("example").innerHTML=text;

    str= "";
str +='<thead class="bg-dark tx-white">\
            <tr>\
              <th >SR.NO.</th>\
              <th >TASK NO.</th>\
              <th >FORKLIFTS</th>\
              <th >STATUS</th>\
              <th >ACTION</th>\
              <th >START-TIME</th>\
              <th >STOP-TIME</th>\
              <th >TASK-TYPE</th>\
              <th >IDEAL-TIME</th>\
              <th> ASSIGNED-BY </th>\
              <th> DETAILS </th>\
              \
            </tr>\
          </thead>'

//Application Code,Issue Date,Job Name,PICKMOID,Qty,Status,Time
str+="<tbody>";
//alert(phrase_id);
try {
for(var i=0;i<data.length;i++){
  //console.log(jobs[i]["_id"]);
        str += "<tr>";
        str+='<td>'+(i+1)+'</td>'; 
        str+='<td>'+data[i]['task_no']+'</td>';
        str+='<td>'+data[i]['forklifts']+'</td>'; 
        str+='<td>'+data[i]['status']+'</td>';
      str += '<td><button type="button" class="btn Rectangle_without_color btn-success">START</button></td>'

         str+='<td>'+data[i]['start_time']+'</td>'
         str+='<td>-</td>';
         str+='<td>'+data[i]['task_type']+'</td>';
         str+='<td>'+data[i]['idle_time']+'</td>';
         str+='<td>Supervisor 1</td>';
         str+='<td>'+data[i]['details ']+'</td>';
        //str+='<td>'+data[i]['Mode']+'</td>';
        
        
        

        str+="</tr>";
}

}
catch(e){

}

str+="</tbody>";
document.getElementById("rejection_table").innerHTML=str;

 var line_rejection_table = $('#rejection_table').DataTable( {
        //"scrollX": true,
        lengthChange: false,
        "dom": 'lrtip',
        //scrollCollapse: true,
        //"autoWidth": false,
 "initComplete": function (settings, json) {  
    $("#rejection_table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");            
  },

        


buttons: [
            {
                extend: 'collection',
                text: 'Export',
                autoClose: true,
                buttons: [
                {
                extend:    'copy',
                text:      '<img src="/static/img/ICONS/copy.png" style="height:24px"></img> Copy ',
                titleAttr: 'Copy'
                },
                {
                extend:    'excel',
                text:      '<img src="/static/img/ICONS/excel.png" style="height:24px"></img> Excel ',
                titleAttr: 'Excel'
                },
                {
                extend:    'pdf',
                text:      '<img src="/static/img/ICONS/pdf.png" style="height:24px"></img> PDF ',
                titleAttr: 'PDF'
                },
                {
                extend:    'print',
                text:      '<img src="/static/img/ICONS/print.png" style="height:24px"></img> Print ',
                titleAttr: 'PDF'
                },
                {
                extend:    'csv',
                text:      '<img src="/static/img/ICONS/csv.png" style="height:24px"></img> CSV ',
                titleAttr: 'CSV'
                },
                {
                extend:    'colvis',
                text:      '<img src="/static/img/ICONS/columns.png" style="height:24px"></img> Columns ',
                titleAttr: 'Columns'
                },
                ]
            }
        ]

    } );
    line_rejection_table.buttons( 0, null ).containers().appendTo( '#rejection_table_button' );

 // #myInput is a <input type="text"> element
$('#rejection_table_search').on( 'keyup', function () {
    line_rejection_table.search( this.value ).draw();
    console.log("working")
} );




  
  });








//task form //

function modal_inputs(){

  console.log("in function")
  var task_no = document.getElementById("tasks_number").value;
  var forklifts = document.getElementById('exampleForklifts').value;
  var task_type = document.getElementById('exampletask').value;
  var idle_time = document.getElementById('exampleIdle_time').value;
  var details = document.getElementById('exampleTextarea1').value;

  var list = {};

  list["task_no"] =  task_no;
  list["forklifts"] =  forklifts;
  list["task_type"] =  task_type;
  list["idle_time"] =  idle_time;
  list["details "] =  details ;
  list["status"] = "scheduled";
  list["start_time"] = 1;
  list["stop_time"] = 2;
  list["assigned_by"] = "none"; 

    console.log(list)
    socket.emit("savedetails",list);

 }





</script>


{% endblock %}